{#include file="sys/admin_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
 <script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#selectAll").click(function()
	{	
		$("form :checkbox").attr("checked",true);
		setbg();
	});
	$("#uncheckAll").click(function()
	{	
		$("form :checkbox").attr("checked",false);
		setbg();
	});
	$("#opposite").click(function()
	{	
		$("form :checkbox").each(function()
		{
		$(this).attr("checked")?$(this).attr("checked",false):$(this).attr("checked",true);
		});
		setbg();
	});	
	//日期
	$(function() { 
	$(".date_input").date_input(); 
	});
	//点击批量删除
	$("#ButPidel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});

	
});
</script>
<div class="admin_main_nr_dbox">

<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>

<div class="toptip">
	<h2>提示：		请输入筛选条件,删除后将不可恢复,谨慎操作！</h2>

</div>
<div class="toptit">日志类型
	  &nbsp;&nbsp;&nbsp;
	  <span id="selectAll" style="color:#0066CC; cursor:pointer">[全选]</span>
	  &nbsp;&nbsp;&nbsp;
	  <span id="uncheckAll" style="color:#0066CC; cursor:pointer">[全不选]</span>
	  &nbsp;&nbsp;&nbsp;
	  <span id="opposite" style="color:#0066CC; cursor:pointer">[反选]</span>
</div>

  <form id="form1" name="form1" method="post" action="?act=pidel_memberslog_del">
  {#$inputtoken#}
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  >
        <tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1000" checked="checked"/>注册</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1001" checked="checked"/>登录</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1003" checked="checked"/>修改帐号状态</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1004" checked="checked"/>修改密码</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1005" checked="checked"/>修改个人资料</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1006" checked="checked"/>修改个人头像</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2001" checked="checked"/>添加职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2002" checked="checked"/>修改职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2003" checked="checked"/>删除职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2004" checked="checked"/>刷新职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2005" checked="checked"/>修改职位状态</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2006" checked="checked"/>查看职位申请</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2007" checked="checked"/>延期职位</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3001" checked="checked"/>增加订单</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3002" checked="checked"/>取消订单</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3003" checked="checked"/>付款完成</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3004" checked="checked"/>职位推广</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3005" checked="checked"/>延长推广时间</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3006" checked="checked"/>取消推广</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="4001" checked="checked"/>下载简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="4002" checked="checked"/>删除下载简历</label></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="5001" checked="checked"/>添加到人才库</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="5002" checked="checked"/>删除人才库</label></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="6001" checked="checked"/>发起面试邀请</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="6002" checked="checked"/>删除面试邀请</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7001" checked="checked"/>添加反馈</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7002" checked="checked"/>删除反馈</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7003" checked="checked"/>举报信息</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8001" checked="checked"/>修改企业信息</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8002" checked="checked"/>上传营业执照</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8003" checked="checked"/>上传logo</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8004" checked="checked"/>删除logo</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8005" checked="checked"/>开通电子地图</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8006" checked="checked"/>设置电子地图坐标</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8007" checked="checked"/>修改企业模版</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9001" checked="checked"/>积分操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9002" checked="checked"/>服务套餐操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1401" checked="checked"/>预定招聘会展位</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  >
        <tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1101" checked="checked"/>创建简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1102" checked="checked"/>刷新简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1103" checked="checked"/>删除简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1104" checked="checked"/>设置简历隐私</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1105" checked="checked"/>修改简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1106" checked="checked"/>设置简历模版</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1107" checked="checked"/>申请高级人才</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1108" checked="checked"/>查看邀请面试</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1201" checked="checked"/>添加职位收藏</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1202" checked="checked"/>删除职位收藏</label></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1301" checked="checked"/>申请职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1302" checked="checked"/>删除职位申请</label></li>
			
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1401" checked="checked"/>个人会员申请课程</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1501" checked="checked"/>创建经理人简历</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1502" checked="checked"/>修改经理人简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1503" checked="checked"/>刷新经理人简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1504" checked="checked"/>删除经理人简历</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1505" checked="checked"/>设置经理人简历</label></li>
 			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	  
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8100" checked="checked"/>完善机构信息</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8101" checked="checked"/>修改机构信息</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8102" checked="checked"/>上传机构营业执照</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8103" checked="checked"/>上传机构logo</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8104" checked="checked"/>删除机构logo</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8105" checked="checked"/>开通机构电子地图</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8106" checked="checked"/>标注机构电子地图</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8107" checked="checked"/>添加讲师</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8108" checked="checked"/>修改讲师</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8109" checked="checked"/>删除讲师</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8201" checked="checked"/>添加课程</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8202" checked="checked"/>修改课程</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8204" checked="checked"/>删除课程</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8203" checked="checked"/>刷新课程</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8205" checked="checked"/>更改课程状态</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8206" checked="checked"/>查看课程申请</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8207" checked="checked"/>删除课程申请</label></li>
 			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	  
	  
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9101" checked="checked"/>培训会员积分操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9102" checked="checked"/>培训会员套餐操作</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3101" checked="checked"/>培训会员增加订单</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3102" checked="checked"/>培训会员取消订单</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9201" checked="checked"/>猎头顾问积分操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9202" checked="checked"/>猎头顾问套餐操作</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3201" checked="checked"/>猎头顾问增加订单</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3202" checked="checked"/>猎头顾问取消订单</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8500" checked="checked"/>完善顾问资料</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8501" checked="checked"/>修改顾问资料</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8502" checked="checked"/>顾问发布职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8504" checked="checked"/>顾问刷新职位</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8503" checked="checked"/>顾问修改职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8505" checked="checked"/>顾问删除职位</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8506" checked="checked"/>顾问设置职位状态</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
 
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  class="link_lan">
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 开始时间：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="starttime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 结束时间：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="endtime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
    </table>
<span id="OpPi"></span>
  </form>
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
		<input name="" type="button" class="admin_submit" id="ButPidel"  value="批量删除"/>
		<input name="" type="button" class="admin_submit" id="goback"  value="取消" onClick="window.history.go(-1)"/>
		</td>
    </tr>
  </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>