{#include file="sys/admin_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
 <script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#selectAll").click(function()
	{	
		$("form :checkbox").attr("checked",true);
		setbg();
	});
	$("#uncheckAll").click(function()
	{	
		$("form :checkbox").attr("checked",false);
		setbg();
	});
	$("#opposite").click(function()
	{	
		$("form :checkbox").each(function()
		{
		$(this).attr("checked")?$(this).attr("checked",false):$(this).attr("checked",true);
		});
		setbg();
	});	
	//日期
	$(function() { 
	$(".date_input").date_input(); 
	});
	//点击批量删除
	$("#ButPidel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});

	
});
</script>
<div class="admin_main_nr_dbox">

<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>

<div class="toptip">
	<h2>ヒント：、フィルタ条件を入力し、削除を復元しませんが、十分に注意してください！</h2>

</div>
<div class="toptit">日志类型
	  &nbsp;&nbsp;&nbsp;
	  <span id="selectAll" style="color:#0066CC; cursor:pointer">[全部選択]</span>
	  &nbsp;&nbsp;&nbsp;
	  <span id="uncheckAll" style="color:#0066CC; cursor:pointer">[選択解除]</span>
	  &nbsp;&nbsp;&nbsp;
	  <span id="opposite" style="color:#0066CC; cursor:pointer">[逆選択]</span>
</div>

  <form id="form1" name="form1" method="post" action="?act=pidel_memberslog_del">
  {#$inputtoken#}
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  >
        <tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1000" checked="checked"/>登録</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1001" checked="checked"/>ログイン</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1003" checked="checked"/>アカウントの状態を変更します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1004" checked="checked"/>パスワードの変更</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1005" checked="checked"/>プロファイルの編集</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1006" checked="checked"/>個人写真の変更</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2001" checked="checked"/>ポストを追加します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2002" checked="checked"/>仕事編集</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2003" checked="checked"/>投稿を削除</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2004" checked="checked"/>ポストを更新</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2005" checked="checked"/>編集ジョブの状態</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2006" checked="checked"/>仕事のアプリケーション</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="2007" checked="checked"/>仕事延期</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3001" checked="checked"/>受注の増加</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3002" checked="checked"/>注文のキャンセル</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3003" checked="checked"/>お支払い完了</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3004" checked="checked"/>求人推進</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3005" checked="checked"/>促進時間の延長</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3006" checked="checked"/>プロモーションをキャンセル</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="4001" checked="checked"/>履歴書のダウンロード</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="4002" checked="checked"/>ダウンロードバイオを削除します</label></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="5001" checked="checked"/>人材庫に追加</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="5002" checked="checked"/>人材データの削除</label。></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="6001" checked="checked"/>面接ぼ招待を送信する</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="6002" checked="checked"/>面接招待を削除する</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7001" checked="checked"/>フィードバックの追加</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7002" checked="checked"/>フィードバックの削除</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="7003" checked="checked"/>レポート情報</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8001" checked="checked"/>ビジネス情報を変更します。</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8002" checked="checked"/>ビジネスライセンスをアップロードする</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8003" checked="checked"/>ロゴのアップロード</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8004" checked="checked"/>ロゴを削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8005" checked="checked"/>電子地図の開通</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8006" checked="checked"/>電子地図座標を設定します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8007" checked="checked"/>企業のテンプレートを変更する</span></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9001" checked="checked"/>積分動作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9002" checked="checked"/>パッケージの操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1401" checked="checked"/>ジョブフェアブースの予定</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  >
        <tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1101" checked="checked"/>プロフィールを作成</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1102" checked="checked"/>履歴書の更新</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1103" checked="checked"/>履歴書を削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1104" checked="checked"/>履歴書プライバシーの設定</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1105" checked="checked"/>履歴書修正</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1106" checked="checked"/>テンプレートセットCV </label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1107" checked="checked"/>上級職員の申請</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1108" checked="checked"/>面接招待を調べる</label></li>
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1201" checked="checked"/>気に入り仕事を追加する</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1202" checked="checked"/>ポストの収集を削除します</label></li>
		
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1301" checked="checked"/>職位申請</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1302" checked="checked"/>職位申請の削除</label></li>
			
			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1401" checked="checked"/>個々のメンバーシップのアプリケーションプログラム</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1501" checked="checked"/>経理人履歴書の作成</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1502" checked="checked"/>マネージャーの履歴書を変更します。</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1503" checked="checked"/>マネージャの履歴書の更新/label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1504" checked="checked"/>マネージャー履歴書を削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="1505" checked="checked"/>マネージャ履歴書の設置</label></li>
 			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	  
  	  <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8100" checked="checked"/>情報の組織化を向上させる</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8101" checked="checked"/>機構情報の修正</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8102" checked="checked"/>代理店営業許可のアップロード</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8103" checked="checked"/>代理店のロゴアップロード</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8104" checked="checked"/>代理店のロゴを削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8105" checked="checked"/>電子地図のためのメカニズムを開く</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8106" checked="checked"/>マーク代理店の地図</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8107" checked="checked"/>講師の追加</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8108" checked="checked"/>講師の変更</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8109" checked="checked"/>講師を削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8201" checked="checked"/>コースの追加</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8202" checked="checked"/>コースを変更する</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8204" checked="checked"/>コースを削除します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8203" checked="checked"/>リフレッシュコース</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8205" checked="checked"/>コースの状態を変更する</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8206" checked="checked"/>コース申請を調べる</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8207" checked="checked"/>コースアプリケーションを削除します</label></li>
 			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	  
	  
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9101" checked="checked"/>会員研修ポイント操作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9102" checked="checked"/>メンバーのトレーニングパッケージの操作</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3101" checked="checked"/>研修員の注文増加</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3102" checked="checked"/>研修メンバー注文をキャンセルする</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9201" checked="checked"/>エグゼクティブサーチコンサルタント積分動作</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="9202" checked="checked"/>エグゼクティブサーチコンサルタントパッケージの操作</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3201" checked="checked"/>エグゼクティブサーチのコンサルタントの受注が増加した</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="3202" checked="checked"/>エグゼクティブサーチのコンサルタントが、ご注文をキャンセル</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
	    <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  ><tr>
          <td  bgcolor="#FFFFFF" style="  padding-left:30px;">
			<ul style="margin:0px; padding:3px; list-style:none">
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8500" checked="checked"/>コンサルタント資料の完成</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8501" checked="checked"/>コンサルタントのデータを変更します</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8502" checked="checked"/>コンサルタント求人ポスティング</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8504" checked="checked"/>コンサルタントは求人を更新します</label></li>
 			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8503" checked="checked"/>コンサルタントはジョブズを変更します</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8505" checked="checked"/>コンサルタントは、投稿を削除する</label></li>
			<li  class="user_box_li"><label><input name="log_type[]" type="checkbox"  value="8506" checked="checked"/>コンサルタントは、仕事状態の設定</label></li>
  			<li class="clear" style="list-style:none; display:none"></li>
			</ul>	
		  </td>
        </tr>
      </table>
 
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  class="link_lan">
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 開始時間：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="starttime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 終了時刻：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="endtime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
    </table>
<span id="OpPi"></span>
  </form>
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
		<input name="" type="button" class="admin_submit" id="ButPidel"  value="批量删除"/>
		<input name="" type="button" class="admin_submit" id="goback"  value="取消" onClick="window.history.go(-1)"/>
		</td>
    </tr>
  </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
