{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="locoyspider/admin_locoyspider_nav.htm"#}
  <div class="clear"></div>
</div>
    <div class="toptip">
	<h2>提示：</h2>
	<p>火车头采集规则请到论坛下载！</p>
	</div>
	 <form action="?act=set_save" method="post"  name="form1" id="form1">
	{#$inputtoken#}
    <div class="toptit">企业信息采集设置</div>
    <table width="100%" border="0" cellpadding="1" cellspacing="10" style=" margin-bottom:3px; margin-top:10px;">
      <tr>
        <td width="180" align="right">默认企业认证状态：</td>
        <td >
		  <label><input name="company_audit"  type="radio" value="1" {#if $show.company_audit eq "1"#}checked="checked"{#/if#} />认证通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <label><input name="company_audit"  type="radio" value="2" {#if $show.company_audit eq "2"#}checked="checked"{#/if#} />等待认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <label><input name="company_audit"  type="radio" value="3" {#if $show.company_audit eq "3"#}checked="checked"{#/if#} />认证未通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   <label><input name="company_audit"  type="radio" value="0" {#if $show.company_audit eq "0"#}checked="checked"{#/if#} />未认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
      </tr>
	 
      <tr>
        <td align="right">企业性质无法匹配则为：</td>
        <td>
	<div>
	{#qishi_get_classify set="类型:QS_company_type,列表名:li"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.company_nature#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="company_nature_cn" id="company_nature_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_nature" id="company_nature" type="hidden" value="{#$show.company_nature#}" />
		<div id="menu1" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	</td>
      </tr>
<tr>
        <td align="right">企业行业无法匹配则为：</td>
        <td>
		<div>
		{#qishi_get_classify set="列表名:li,类型:QS_trade"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.company_trade#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="company_trade_cn" id="company_trade_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_trade" id="company_trade" type="hidden" value="{#$show.company_trade#}" />
		<div id="menu2" class="dmenu shadow">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	</td>
      </tr>
	  <tr>
        <td align="right">企业所在地区无法匹配则为：</td>
        <td>
		<div>
		{#qishi_get_classify set="列表名:li,类型:QS_district"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.company_district#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="company_district_cn" id="company_district_cn" class="input_text_200 input_text_selsect"/>
		<input name="district" id="district" type="hidden" value="" />
		<input name="company_district" id="company_district" type="hidden" value="{#$show.company_district#}" />
		<div id="menu3" class="dmenu shadow">
			<ul>
			{#qishi_get_classify set="列表名:c_province,类型:QS_district,id:0"#}
			{#foreach from=$c_province item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		<div id="menu3_s" class="dmenu shadow" style="display:none"></div>
		  </div>
	 </td>
      </tr>
	    <tr>
        <td align="right">企业规模无法匹配则为：</td>
        <td>
	<div>
	{#qishi_get_classify set="类型:QS_scale,列表名:li"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.company_scale#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="company_scale_cn" id="company_scale_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_scale" id="company_scale" type="hidden" value="{#$show.company_scale#}" />
		<div id="menu4" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	
	</td>
      </tr>
	  <tr>
        <td align="right">注册资金无法匹配则为：</td>
        <td >
		<input name="company_registered" type="text"  class="input_text_200" id="company_registered"   value="{#$show.company_registered#}" style="width:80px;"/>&nbsp;万
		<label><input name="company_currency"  type="radio" value="人民币" {#if $show.company_currency eq "人民币"#}checked="checked"{#/if#} />人民币</label>&nbsp;&nbsp;
		 <label><input name="company_currency"  type="radio" value="美元" {#if $show.company_currency eq "美元"#}checked="checked"{#/if#} />美元</label>&nbsp;&nbsp;</td>
      </tr>
	  <tr>
        <td align="right">&nbsp;</td>
        <td height="50"><span style="font-size:14px;">
          <input name="submit2222" type="submit" class="admin_submit"    value="保存修改"/>
        </span></td>
      </tr>
    </table>
  </form>
	 
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>