{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="locoyspider/admin_locoyspider_nav.htm"#}
  <div class="clear"></div>
</div>
    <div class="toptip">
	<h2>ヒント：</h2>
	<p>機関車コレクションのルールはフォーラムにダウンロードに行きます！</p>
	</div>
	<div class="toptit">ベーシックセット</div>
	 <form action="?act=set_save" method="post"  name="form1" id="form1">
	 {#$inputtoken#}
    <table width="700" border="0" cellspacing="5" cellpadding="1" style=" margin-bottom:3px;">
    <tr>
      <td width="180" align="right">コレクションインタフェースをオープンする：</td>
      <td ><label for="label">
        <input name="open" type="radio" id="label" value="1"  {#if $show.open=="1"#}checked="checked"{#/if#}/>
        开启</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label for="label2">
<input type="radio" name="open" value="0" id="label2"  {#if $show.open=="0"#}checked="checked"{#/if#}/>
关闭 </label></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td height="50"><span style="font-size:14px;">
        <input name="submit2" type="submit" class="admin_submit"    value="保存修改"/>
      </span></td>
    </tr>
  </table>
  </form>
  <div class="toptit">ファジーマッチしきい値</div>
	 <form action="?act=set_save" method="post"  name="form1" id="form1">
	 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="1" style=" margin-bottom:3px; margin-top:10px;">
    <tr>
      <td width="180" align="right">ファジーマッチのしきい値：</td>
      <td >
	  <input name="search_threshold" type="text" class="input_text_200" id="search_threshold" value="{#$show.search_threshold#}" maxlength="3"/>
	  <span style="color:#666666">（範囲：50~80：1-100、完全一致と比較して100、それに推奨されます）</span></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td height="50"><span style="font-size:14px;">
        <input name="submit2" type="submit" class="admin_submit"    value="保存修改"/>
      </span></td>
    </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
