{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="locoyspider/admin_locoyspider_nav.htm"#}
  <div class="clear"></div>
</div>
    <div class="toptip">
	<h2>ヒント：</h2>
	<p>機関車コレクションのルールはフォーラムにダウンロードに行きます！</p>
	</div>
	
	   <form action="?act=set_save" method="post"  name="form1" id="form1">
	   {#$inputtoken#}
	  <div class="toptit">ジョブ取得の設定</div>
	   <table border="0" cellspacing="10" cellpadding="1" >
	       <tr>
        <td width="180" align="right"> 採用情報デフォルトの状態：</td>
        <td >
		   <label><input name="jobs_display"  type="radio" value="1" {#if $show.jobs_display eq "1"#}checked="checked"{#/if#} />招聘中</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <label><input name="jobs_display"  type="radio" value="2" {#if $show.jobs_display eq "2"#}checked="checked"{#/if#} />暂停招聘</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
      </tr>
	       <tr>
        <td width="180" align="right"> デフォルトの位置の承認ステータス：</td>
        <td >
		  <label><input name="jobs_audit"  type="radio" value="1" {#if $show.jobs_audit eq "1"#}checked="checked"{#/if#} />审核通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <label><input name="jobs_audit"  type="radio" value="2" {#if $show.jobs_audit eq "2"#}checked="checked"{#/if#} />审核中</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		   <label><input name="jobs_audit"  type="radio" value="3" {#if $show.jobs_audit eq "3"#}checked="checked"{#/if#} />审核未通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
      </tr>
	    
	  <tr>
        <td width="180" align="right"> デフォルトの位置候補は、通知メール：</td>
        <td >
	
		  <label><input name="jobs_notify"  type="radio" value="1" {#if $show.jobs_notify =="1"#}checked="checked"{#/if#} />通知</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      <label><input name="jobs_notify"  type="radio" value="0" {#if $show.jobs_notify =="0"#}checked="checked"{#/if#} />不通知</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
      </tr>
	     <tr>
        <td width="180" align="right"> ジョブタイプが一致していませんでした。</td>
        <td >
{#highway_get_classify set="列表名:nature,类型:HW_jobs_nature"#}
{#foreach from=$nature item=list#}
<label><input type="radio" name="jobs_nature" value="{#$list.id#}"  {#if $show.jobs_nature == $list.id#}checked="checked"{#/if#} >{#$list.categoryname#}</label>
{#/foreach#}
</td>
      </tr>
	  <tr>
        <td width="180" align="right">性別は一致していませんでした。</td>
        <td >
		   <label><input name="jobs_sex"  type="radio" value="1" {#if $show.jobs_sex =="1"#}checked="checked"{#/if#}/>男</label>&nbsp;&nbsp;&nbsp;
		   <label><input name="jobs_sex"  type="radio" value="2" {#if $show.jobs_sex =="2"#}checked="checked"{#/if#}/>女</label>&nbsp;&nbsp;&nbsp;
		   <label><input name="jobs_sex"  type="radio" value="0" {#if $show.jobs_sex =="0"#}checked="checked"{#/if#}/>随机<span style="color:#666666">（ランダム範囲：男性、女性）</span></label>
	    </td>
      </tr>
	  <tr>
        <td width="180" align="right"> 雇用が一致することができませんでした：</td>
        <td >
 <input name="jobs_amount_min" type="text"  class="input_text_200" id="jobs_amount_min"   value="{#$show.jobs_amount_min#}" maxlength="3"  style="width:50px;"/>&nbsp;-&nbsp;<input name="jobs_amount_max" type="text"  class="input_text_200" id="jobs_amount_max"   value="{#$show.jobs_amount_max#}" maxlength="3"  style="width:50px;"/>
 随机人数</td>
      </tr>
	  <tr>
        <td width="180" align="right"> デフォルトの日数：</td>
        <td >
 <input name="jobs_days_min" type="text"  class="input_text_200" id="jobs_days_min"   value="{#$show.jobs_days_min#}" maxlength="3"  style="width:50px;"/>&nbsp;-&nbsp;<input name="jobs_days_max" type="text"  class="input_text_200" id="jobs_days_max"   value="{#$show.jobs_days_max#}" maxlength="3"  style="width:50px;"/>
 随机天数
		</td>
      </tr>
	  <tr>
        <td width="180" align="right"> デフォルトの位置の分類一致を比較することはできません。</td>
        <td>
 
<div>
		{#highway_get_classify set="列表名:li,类型:HW_jobs,id:"|cat:$show.jobs_category#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.jobs_subclass#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="jobs_category_cn" id="jobs_category_cn" class="input_text_200 input_text_selsect"/>
		<input name="jobs_category" id="jobs_category" type="hidden" value="{#$show.jobs_category#}" />
		<input name="jobs_subclass" id="jobs_subclass" type="hidden" value="{#$show.jobs_subclass#}" />
		<div id="menu5" class="dmenu shadow">
			<ul>
			{#highway_get_classify set="列表名:jobs,类型:HW_jobs"#}
			{#foreach from=$jobs item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		<div id="menu5_s" class="dmenu shadow" style="display:none"></div>
		  </div>



		</td>
      </tr>
	    <tr>
        <td align="right">作業領域は一致することはできません：</td>
        <td>
	<div>
		{#highway_get_classify set="列表名:li,类型:HW_district"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.jobs_district#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="jobs_district_cn" id="jobs_district_cn" class="input_text_200 input_text_selsect"/>
		<input name="sdistrict" id="sdistrict" type="hidden" value="" />
		<input name="jobs_district" id="jobs_district" type="hidden" value="{#$show.jobs_district#}" />
		<div id="menu6" class="dmenu shadow">
			<ul>
			{#highway_get_classify set="列表名:c_province,类型:HW_district,id:0"#}
			{#foreach from=$c_province item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		<div id="menu6_s" class="dmenu shadow" style="display:none"></div>
		  </div>
	</td>
      </tr>
	  <tr>
        <td align="right">学術要件は一致することができませんでした：</td>
        <td>
	<div>
	{#highway_get_classify set="类型:HW_education,列表名:li"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.jobs_education#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="jobs_education_cn" id="jobs_education_cn" class="input_text_200 input_text_selsect"/>
		<input name="jobs_education" id="jobs_education" type="hidden" value="{#$show.jobs_education#}" />
		<div id="menu7" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	</td>
      </tr>
	  <tr>
        <td align="right">仕事の経験だったと一致することはできません。</td>
        <td>
 
	<div>
	{#highway_get_classify set="类型:HW_experience,列表名:li"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.jobs_experience#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="jobs_experience_cn" id="jobs_experience_cn" class="input_text_200 input_text_selsect"/>
		<input name="jobs_experience" id="jobs_experience" type="hidden" value="{#$show.jobs_experience#}" />
		<div id="menu8" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	</td>
      </tr>
	  <tr>
        <td align="right">給与は一致していませんでした。</td>
        <td>
	<div>
	{#highway_get_classify set="类型:HW_wage,列表名:li"#}
		<input type="text" value="{#foreach from=$li item=list#}{#if $list.id==$show.jobs_wage#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="jobs_wage_cn" id="jobs_wage_cn" class="input_text_200 input_text_selsect"/>
		<input name="jobs_wage" id="jobs_wage" type="hidden" value="{#$show.jobs_wage#}" />
		<div id="menu9" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	
	</td>
      </tr>
	        <tr>
        <td align="right">&nbsp;</td>
        <td height="50"><span style="font-size:14px;">
          <input name="submit2222" type="submit" class="admin_submit"    value="保存修改"/>
        </span></td>
      </tr>
    </table>
	 </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
