{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="nav/admin_nav_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
<h2>提示：</h2>
<p>
自定义分类调用名不能以 “QS_”开头
</p>
</div>
 <div class="toptit">修改导航分类 <span style="color:#0033CC">{#$list.categoryname#}</span></div>
 <form id="form1" name="form1" method="post" action="?act=site_navigation_category_edit_save">
 {#$inputtoken#}
                <table border="0" cellspacing="5" cellpadding="1" >
                  <tr>
                    <td width="120" align="right">分类名称(必填)：</td>
                    <td><input name="categoryname" type="text"  class="input_text_200" id="categoryname" value="{#$list.categoryname#}" maxlength="30"/></td>
                  </tr>
                  <tr id="show_url">
                    <td align="right">调用名称(必填)：</td>
                    <td><input name="alias" type="text"  class="input_text_200" id="alias" value="{#$list.alias#}" maxlength="180"/>
                    </td>
                  </tr>
                  <tr>
                    <td align="right"><input name="id" type="hidden" id="id" value="{#$list.id#}" /></td>
                    <td  >
					<input type="submit" name="Submit3" value="确定修改" class="admin_submit"   />
        <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		</td>
                  </tr>
                </table>
</form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>