<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
    <tr>
		<td width="120" align="right">简历名称：</td>
		<td>{#$title#}</td>
    </tr>
	<tr>
		<td align="right">公开状态：</td>
		<td><label><input type="radio" name="display" value="1" title="公开"/>&nbsp;公开</label>&nbsp;<label style="margin-left:28px;"><input type="radio" name="display" value="2" title="保密"/>&nbsp;保密</label></td>
	</tr>
	<tr>
		<td align="right">姓名显示：</td>
		<td><label><input type="radio" name="display_name" value="1"/>&nbsp;公开</label>&nbsp;<label style="margin-left:28px;"><input type="radio" name="display_name" value="3"/>&nbsp;{#$lastname#}</label>&nbsp;<label style="margin-left:28px;"><input type="radio" name="display_name" value="2"/>&nbsp;编号</label></td>
	</tr>
	<tr>
		<td align="right">照片显示：</td>
		<td><label><input type="radio" name="photo_display" value="1" />&nbsp;公开</label>&nbsp;<label style="margin-left:28px;"><input type="radio" name="photo_display" value="2"/>&nbsp;保密</label>
		</td>
	</tr>
    <tr>
		<td></td>
		<td>
			<input type="button" name="Submit" id="submit" value="保存"  class="but95cheng submit DialogClose"/>
			<input type="button" name="cancel" value="取消" class="but95hui DialogClose"/>
		</td>
    </tr>
</table>
<input type="hidden" name="pid" id="pid" value="{#$resumeid#}">
<table width="100%" border="0" style="border-top:1px #CCCCCC dotted;background-color: #EEEEEE; line-height: 230%;padding: 15px; margin-top: 10px; "  >
    <tr>
    	<td class="dialog_bottom">
	    	<span class="dialog_tip"></span><span class="dialog_text">公开：允许所有企业查看您的简历。如果不想被某些企业查看到，请在<b>屏蔽企业</b>中设置<br/>保密：所有企业都不能搜索到您的简历，但您仍可用此简历申请职位。</span>
	    	<div class="clear"></div>
	    </td>
    </tr>
</table>
<script type="text/javascript">
$(document).ready(function(){
	$("input[name=display]:radio[value={#$privacy_display#}]").attr("checked","checked");
	$("input[name=display_name]:radio[value={#$privacy_display_name#}]").attr("checked","checked");
	$("input[name=photo_display]:radio[value={#$privacy_photo_display#}]").attr("checked","checked");
	$(".submit").click(function(){
		var pid=$("input[name=pid]").val();
		var display=$("input[name=display]:radio:checked").val();
		var display_name=$("input[name=display_name]:radio:checked").val();
		var photo_display=$("input[name=photo_display]:radio:checked").val();
		var display_cn=$("input[name=display]:radio:checked").attr("title");
		$.post("{#$site_dir#}user/personal/personal_resume.php?act=save_resume_privacy",{pid:pid,display:display,display_name:display_name,photo_display:photo_display},function(result){
				$(".FloatBox").css("display","none");
				$(".FloatBg").css("display","none");
				$("#view_display_"+pid).html(display_cn);
				// 简历详细页
				$("#showDisplayName").html(display_cn);
		});
	});
});
</script>