<div class="del-dialog">
	<div class="tip-block"><span class="del-tips-text">删除后无法恢复，您确定要删除吗？</span></div>
</div>
<div class="center-btn-wrap">
	<input type="button" value="确定" class="btn-65-30blue btn-big-font DialogSubmit" />
	<input type="button" value="取消" class="btn-65-30grey btn-big-font DialogClose" />
</div>
<input type="hidden" name="pid" id="pid" value="{#$resumeid#}">
<input type="hidden" name="id" id="id" value="{#$id#}">
<input type="hidden" name="pid" id="pid" value="{#$resumeid#}">
<input type="hidden" name="id" id="id" value="{#$id#}">