<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_personal.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
//简历列表更多操作展开
$(".morebox").hover(
  function () {
    $(this).find(".morelist").slideDown("fast");
  },
  function () {
    $(this).find(".morelist").slideUp("fast");
  }
);
$(".resume_privacy").live("click",function(){
	var pid = $(this).attr("pid");
	var url = "personal_ajax.php?act=privacy&pid="+pid;
	var myDialog = dialog();
	myDialog.content("加载中...");
    myDialog.title('隐私设置');
    myDialog.width('550');
    myDialog.showModal();
    $.get(url, function(data){
        myDialog.content(data);
        /* 关闭 */
        $(".DialogClose").live('click',function() {
          myDialog.close().remove();
        });
    });
});
$(".tpl").live("click",function(){
	var pid = $(this).attr("pid");
	var url = "personal_ajax.php?act=tpl&pid="+pid;
	var myDialog = dialog();
	myDialog.content("加载中...");
    myDialog.title('更换模板');
    myDialog.showModal();
    $.get(url, function(data){
	    myDialog.content(data);
	    /* 关闭 */
	    $(".DialogClose").live('click',function() {
	      myDialog.close().remove();
	    });
	});
});
$(".del_resume").live("click",function(){
	var pid = $(this).attr("pid");
	var url = "personal_ajax.php?act=del_resume&pid="+pid;
	var myDialog = dialog();
	myDialog.content("加载中...");
    myDialog.title('删除简历');
    myDialog.width('350');
    myDialog.showModal();
    $.get(url, function(data){
        myDialog.content(data);
        /* 关闭 */
        $(".DialogClose").live('click',function() {
          myDialog.close().remove();
        });
    });
});
$(".refresh_resume").live("click",function(){
	var pid = $(this).attr("pid");
	$.get("personal_ajax.php?act=refresh_resume&id="+pid,function(result){
		if(result=="1"){
			dialog({
			  title: '系统提示',
			  content: "刷新成功",
			  width:'300px'
			}).showModal();
		}else{
			dialog({
			  title: '系统提示',
			  content: ""+result+"",
			  width:'300px'
			}).showModal();
		}
	});
});
});
</script>
</head>

<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 我的简历</div>

<div class="usermain">
  <div class="leftmenu link_bk">
  {#include file="member_personal/left.htm"#}	
  </div>
<div class="rightmain">
  
	<div class="bbox1">
	
	  <div class="resumelist">
				<div class="titleH1">
				  <div class="h1-title f-left">我的简历</div>
				  {#if $resume_list#}<div class="h1-title-num f-right">共可创建 <span>{#$QISHI.resume_max#}</span> 份简历，您已创建 <span>{#$total#}</span> 份</div>{#/if#}
				  <div class="clear"></div>
				</div>
			{#if $resume_list#}
			{#foreach from=$resume_list item=list#}	
			<div class="relist">
				
			  <div class="toptitle">
				<div class="t">
					<span class="h2-title">{#$list.title#}</span>
					<span class="date">刷新时间：{#$list.refreshtime|date_format:"%Y-%m-%d %H:%M"#}</span>
				</div>
			  </div>
				<div class="fbox">
					审核状态：{#if $list.audit=="1"#}<span style="color: #009900">审核通过</span>{#elseif $list.audit=="2"#}<span style="color: #FF6600">审核中</span>{#elseif $list.audit=="3"#}<span style="color: #FF0000">审核未通过</span>{#/if#}<br />简历等级：{#if $list.talent=="2"#}<span style="color:#FF6600">高级</span>{#elseif $list.talent=="3"#}高级待审{#else#}普通{#/if#}</div>
				  <div class="fbox">完整度：{#$list.complete_percent#}%<span style="color:#FF0000">({#if $list.level=="1"#}差{#elseif $list.level=="2"#}良{#else#}优{#/if#})</span><br /> 公开状态：<span style="cursor:pointer;" class="resume_privacy" pid="{#$list.id#}" id="view_display_{#$list.id#}">{#if $list.display=="1"#}公开{#elseif $list.display=="2"#}保密{#/if#}</span></div>
				  <div class="fbox">面试/申请：<a href="personal_apply.php?act=interview">{#$list.countinterview#}</a>/<a href="personal_apply.php?act=apply_jobs">{#$list.countapply#}</a><br />下载/浏览：<a href="personal_apply.php?act=attention_me">{#$list.countdown#}</a>/<a href="personal_apply.php?act=attention_me">{#$list.click#}</a></div>
			  <div class="fbox last">					 	
				 	<div class="buts"><input type="button" class="refresh_resume but100_30lan" value="刷新简历" pid="{#$list.id#}"/></div>			 	   
				   		<div class="buts"><input type="button"  class="but100_30hui" value="修改简历" onclick="javascript:location.href='?act=edit_resume&pid={#$list.id#}' "/></div>
						<div class="clear"></div>
					<div class="buts"><input type="button"  class="but100_30hui" value="预览简历" onclick="javascript:window.open('{#$list.resume_url#}')"/></div>
						<div class="buts">
								<div class="morebox" id="morebox">
									<div class="more">更多操作</div>						
										<div class="morelist link_bk">
											{#if $list.talent=="1"#}<div><a href="?act=talent_save&pid={#$list.id#}">升级简历</a></div>{#/if#}
												<div><a class="tpl" pid="{#$list.id#}" href="javascript:void(0);">更换模板</a></div>
												<div class="resume_privacy" pid="{#$list.id#}"><a  href="javascript:void(0);">隐私设置</a> </div>
												<div><a class="del_resume" pid="{#$list.id#}" href="javascript:void(0);">删除简历</a></div>
										</div>
										<script>
											$(document).ready(function() {
												$(".morelist div").hover(function() {
													$(this).addClass('hover');
												}, function() {
													$(this).removeClass('hover');
												});
											});
										</script>
								</div>
					</div>
						<div class="clear"></div>
			  </div>
				  <div class="clear"></div>
			  
			</div>
			{#/foreach#}
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		    {#/if#}
			 <div class="addbut">
			 <input type="button" name="submitsave" id="submitsave" value="新增简历" onclick="javascript:location.href='personal_resume.php?act=make1'"  class="but100lan"/>
			 </div>
			 
	         <div class="bottomtip">
		 	   <div class="tp h2-title">小贴士</div>
			   刷新简历：刷新简历完全免费，刷新后时间会变成最新，企业在搜索简历的时候会优先显示，提供应聘机会。<br />
企业屏蔽：如果您的简历不想被某个公司看到，可以在更多操作中屏蔽该公司。<br />
委托简历：设置委托后，在三天内我们会主动向适合您职位的公司投递您的简历，提高面试效果。
			 </div> 
			{#else#}
			<div style="width:780px;height:1px;background:#cccccc;margin:15px 20px 0px 20px;"></div>
			<div class="no-rec-box">
				<p>
					简历是求职的利器，填写简历才能更快找到好工作！<br />
					去填写一份优质的简历吧，认真的人，才能让认真的企业找上你！
				</p>
				<input type="button" value="创建简历" class="creat-resume" onclick="window.location.href='personal_resume.php?act=make1'"/><span style="margin-left:20px;font-family:'SimSun';color:#666;">共可创建 <span style="color:#0180cf;">3</span> 份简历，您已创建 <span style="color:#0180cf;">{#$total#}</span> 份</span>
			</div>
			{#/if#}
	  </div>	  
	</div>
  </div>
  
  </div>

<div class="clear"></div>


 {#include file="user/footer.htm"#}
</body>
</html>
