<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{#$QISHI.site_template#}css/user_personal.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="{#$QISHI.site_template#}js/jquery.personal.selectlayer.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
$("#Form1 input, #Form1 textarea, #Form1 select").each(function(index, el) {
	$(this).attr('_value', jQuery(this).val());
});
//绑定beforeunload事件
function is_form_changed() {
	//检测页面是否有保存按钮
	var t_save = $("#submitsave");
	if(t_save.length>0) {
		var is_changed = false;
		$("#Form1 input, #Form1 textarea, #Form1 select").each(function(index, el) {
			var _v = $(this).attr('_value');
			if(typeof(_v) == 'undefined') {
				_v = '';
			}
			if(_v != jQuery(this).val()) {
				is_changed = true;
			}
		});
		return is_changed;
	}
	return false;
}
if ($.browser.msie){
    window.onunload = function(){
        return "您正在编辑的内容尚未保存，确定要离开此页吗？";
    }
}
else{
    window.onbeforeunload = function(){
        if (is_form_changed()) {
			return '您正在编辑的内容尚未保存，确定要离开此页吗？';
		}
    }
}
// 验证邮箱
auditEmail_dialog('.audit_email',"personal_ajax.php?act=user_email");
//验证手机
editMobile_dialog(".audit_mobile","personal_ajax.php?act=old_mobile");

allaround("{#$QISHI.site_dir#}");
// 期望职位填充数据 
job_filldata("#job_list", QS_jobs_parent, QS_jobs, "#result-list-job", "#aui_outer_job", "#job_result_show", "#intention_jobs_id", "{#$QISHI.site_dir#}");
// 期望行业填充数据
trade_filldata("#trad_list", QS_trade, "#aui_outer", "#result-list-trade", "#trade_result_show", "#trade", "{#$QISHI.site_dir#}");
// 工作地区填充数据
city_filldata("#city_list", QS_city_parent, QS_city, "#result-list-city", "#aui_outer_city", "#city_result_show", "#district", "{#$QISHI.site_dir#}");
// 所学专业填充数据
major_filldata("#major_list", QS_major_parent, QS_major, "#major_tabnav", "#aui_outer_major", "#result-list-major", "#major_result_show", "#major", "{#$QISHI.site_dir#}");
//填写基本信息,打开选填项按钮效果
$("#displaymore").hover(
  function () {
    $(this).css("background-color","#F6F6F6");
  },
  function () {
    $(this).css("background-color","#FFFFFF");
  }
);
//工作性质单选
var nature_obj = $("#nature_radio .input_radio").first();
$("#nature").val(nature_obj.attr("id"));
$("#nature_cn").val(nature_obj.text());
$("#nature_radio .input_radio").click(function(){
		$("#nature").val($(this).attr('id'));
		$("#nature_cn").val($(this).text());
		$("#nature_radio .input_radio").removeClass("select");
		$(this).addClass("select");
});
//简历公开设置
 $("#publicitydiv").hover(
  function () {
     $("#publicitydiv .selbox").slideDown('fast');
  },
  function () {
    $("#publicitydiv .selbox").slideUp('fast');
  }
);
//简历公开设置-菜单效果
$("#publicitydiv .selbox div").hover(
  function () {
     $(this).css("background-color","#F6F6F6");
  },
  function () {
     $(this).css("background-color","#FFFFFF");
  }
);
//简历公开设置-点击执行填充表单
$("#publicitydiv .selbox div").click(function(){
		$("#display_name").val($(this).attr('id'));
		$("#display_name_cn").text($(this).text());
		$("#publicitydiv .selbox").slideUp('fast');
});

//性别单选
$("#sex_radio .input_radio").click(function(){
		$("#sex").val($(this).attr('id'));
		$("#sex_cn").val($(this).text());
		$("#sex_radio .input_radio").removeClass("select");
		$(this).addClass("select");
});

//婚姻状况单选
$("#marriage_radio .input_radio").click(function(){
		$("#marriage").val($(this).attr('id'));
		$("#marriage_cn").val($(this).text());
		$("#marriage_radio .input_radio").removeClass("select");
		$(this).addClass("select");
});

//下拉菜单
menuDown("#education_menu","#education","#education_cn","#menu1","218px");
menuDown("#experience_menu","#experience","#experience_cn","#menu2","218px");
menuDown("#wage_menu","#wage","#wage_cn","#menu3","218px");
menuDown("#current_menu","#current","#current_cn","#menu5","218px");
menuDown("#major_menu","#major","#major_cn","#menu_major","218px");
function menuDown(menuId,input,input_cn,menuList,width){
	$(menuId).click(function(){
		$(menuList).css("width",width);
		$(menuList).slideDown('fast');
		//生成背景
		$(menuId).parent("div").before("<div class=\"menu_bg_layer\"></div>");
		$(".menu_bg_layer").height($(document).height());
		$(".menu_bg_layer").css({ width: $(document).width(), position: "absolute", left: "0", top: "0" , "z-index": "0", "background-color": "#ffffff"});
		$(".menu_bg_layer").css("opacity","0");
		$(".menu_bg_layer").click(function(){
			$(".menu_bg_layer").remove();
			$(menuList).slideUp("fast");
			$(menuId).parent("div").css("position","");
		});
	});

	$(menuList+" li").click(function(){
		var id = $(this).attr("id");
		var title = $(this).attr("title");
		$(input).val(id);
		$(input_cn).val(title);
		$(menuId).html(title);
		$(menuList).slideUp('fast');
		$(".menu_bg_layer").remove();
	});
}
//验证
$(document).ready(function() {
var myDate = new Date();
var y=myDate.getFullYear();
// 手机号码验证   
jQuery.validator.addMethod("isPhoneNumber", function(value, element) {   
    var tel = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|18[0-9]{9}|17[0-9]{9}$/;
    return this.optional(element) || (tel.test(value));
}, "请正确填写手机号码");
 $("#Form1").validate({
   rules:{
   fullname: "required",
   birthdate: "required",
   residence: "required",
   education: "required",
   experience: "required",
   major_cn: "required",
   mobile: {
	   required:true,
	   isPhoneNumber:true
	},
   email: {
	   required:true,
	   email:true
	},
	current:"required",
	intention_jobs:"required",
	trade_cn:"required",
	district:"required",
	wage: "required"
   {#if $verify_resume=="1" && $resume_basic.fullname==""#}
   ,
	postcaptcha:{
	IScaptchastr: true,
	required: true,
	remote:{     
	url:"{#$QISHI.site_dir#}include/imagecaptcha.php",     
	type:"post",    
	data:{"postcaptcha":function (){return $("#postcaptcha").val()},"act":"verify","time":function (){return new Date().getTime()}}     
	}
   }
   {#/if#}  
	},
    messages: {
    fullname: {
    required: jQuery.format("请输入真实姓名")
   },
   birthdate: {
    required: jQuery.format("请选择出生年份")
   },
   residence: {
    required: jQuery.format("请填写现居住地")
   },
   education: {
    required: jQuery.format("请选择你的学历")
   },
   major_cn: {
    required: jQuery.format("请选择你的专业")
   },
   experience: {
    required: jQuery.format("请选择工作经验")
   },
   mobile: {
    required: jQuery.format("请填写手机号"),
    isPhoneNumber: jQuery.format("请正确填写手机号码")
   },
   email: {
    required: jQuery.format("请填写电子邮箱"),
	email: jQuery.format("请正确填写电子邮箱")
   },
   current:"请选择目前状态",
   intention_jobs:"请选择期望职位",
   trade_cn:"请选择期望行业",
   district: {
    required: jQuery.format("请选择工作地区")
   },
   wage: {
    required: jQuery.format("请选择期望薪资")
   }
   {#if $verify_resume=="1" && $resume_basic.fullname==""#}
   ,
    postcaptcha: {
    required: "请填写验证码",
	remote: jQuery.format("验证码错误")	
   }
    {#/if#}
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.closest("td").next());
	},
	submitHandler: function(form) {
		window.onbeforeunload = null;
		form.submit();
	}
    });
	jQuery.validator.addMethod("IScaptchastr", function(value, element) {
	var str="点击获取验证码";
	var flag=true;
	if (str==value)
	{
	flag=false;
	}
	return  flag || this.optional(element) ;
	}, "请填写验证码");
	/////验证码部分
	{#if $verify_resume=="1" && $resume_basic.fullname==""#}
	function imgcaptcha(inputID,imgdiv)
	{
		$(inputID).focus(function(){
			if ($(inputID).val()=="点击获取验证码")
			{
			$(inputID).val("");
			$(inputID).css("color","#333333");
			}
			$(inputID).parent("div").css("position","relative");
			//设置验证码DIV
			$(imgdiv).css({ position: "absolute", left:  $(inputID).width(), "bottom": "0px" , "z-index": "10", "background-color": "#FFFFFF", "border": "1px #A3C8DC solid","display": "none","margin-left": "25px"});
			$(imgdiv).show();
			if ($(imgdiv).html()=='')
			{
			$(imgdiv).append("<img src=\"{#$QISHI.site_dir#}include/imagecaptcha.php?t={#$random#}\" id=\"getcode\" align=\"absmiddle\"  style=\"cursor:pointer; margin:3px;\" title=\"看不请验证码？点击更换一张\"  border=\"0\"/>");
			}
			$(imgdiv+" img").click(function()
			{
				$(imgdiv+" img").attr("src",$(imgdiv+" img").attr("src")+"1");
				$(inputID).val("");
				$("#Form1").validate().element("#postcaptcha");	
			});
			$(document).click(function(event)
			{
				var clickid=$(event.target).attr("id");
				if (clickid!="getcode" &&  clickid!="postcaptcha")
				{
				$(imgdiv).hide();
				$(inputID).parent("div").css("position","");
				}			
			});
		});
	}
	imgcaptcha("#postcaptcha","#imgdiv");
	//验证码结束
{#/if#}
});
	// 头像保存
	$("#resumePhotosButton").die().live('click', function(event) {
		var elem = $("#altContent");
		var myDiag = dialog();
		myDiag.title('简历头像裁剪');
		myDiag.content($("#altContent"));
		myDiag.showModal();
	});
});
</script>
</head>

<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 创建简历</div>

<div class="usermain">
  <div class="leftmenu link_bk">
  {#include file="member_personal/left.htm"#}	
  </div>
  <div class="rightmain">
  
	<div class="bbox1">	
	  <div class="addresume">
		
	    <div class="titleH1">
	      <div class="h1-title">创建简历</div>
        </div>
	    <div class="titleH2"><span>基本信息</span></div>
		<form id="Form1" name="Form1" method="post" action="?act=make1_save" >
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  <tr>
			<td width="125" align="right">简历名称：</td>
			<td width="230"><input name="title" type="text" class="input_text_200" id="title" maxlength="80"   value=""/></td>
<!-- 			<td style="position: relative;">
				<div class="leftbox" style="position: absolute;right: 110px;top:5px">
					<div>
					  	<img name="" src="{#$QISHI.site_template#}images/06.jpg" width="100" height="100" alt="" id="img_src"/>
					</div>
					<a href="javascript:;"  class="edit" id="resumePhotosButton" style="background-color: #c0c0c0;color: #666666;display: block;font-size: 12px;height: 28px;line-height: 28px;text-align: center;text-decoration: none;width: 100px;">简历照片</a>
					<input name="photo" type="hidden" id="photo" value="" />
		  		</div>
			</td> -->
		  </tr>
		  <tr>
			<td align="right"><span class="nec">姓名</span>：</td>
			<td><input name="fullname" type="text" class="input_text_200" id="fullname" maxlength="6"   value="{#$userprofile.realname#}" /> </td>
			<td>
			<input name="display_name" id="display_name" type="hidden" value="{#$QISHI.resume_privacy#}" />
			  <span class="publicity" id="publicitydiv" style="display:block;float:left;">
			    <div class="input_text_70_bg" id="display_name_cn">{#if $QISHI.resume_privacy=="1"#}完全公开{#elseif $QISHI.resume_privacy=="2"#}显示编号{#elseif $QISHI.resume_privacy=="3"#}隐藏名字{#/if#}</div>
					<div class="selbox">
						<div class="div" id="1">完全公开</div>
						<div class="div" id="2">显示编号</div>
						<div class="div" id="3">隐藏姓名</div>
					</div>
			  </span>&nbsp;&nbsp;&nbsp;&nbsp;
		    </td>
		  </tr>
		  <tr>
			<td align="right"><span class="nec">性别</span>：</td>
			<td>
			<div id="sex_radio">
			<input name="sex" id="sex" type="hidden" value="{#$userprofile.sex|default:1#}" />
			<input name="sex_cn" id="sex_cn" type="hidden" value="{#$userprofile.sex_cn|default:'男'#}" />
			  <div class="input_radio{#if $userprofile.sex==1||$userprofile.sex==""#} select{#/if#}" id="1">男</div>
			  <div class="input_radio{#if $userprofile.sex==2#} select{#/if#}" id="2">女</div>			  
			  <div class="clear"></div>
			  </div>
		    </td>
			<td></td>
		  </tr>
		  <tr>
			<td align="right"><span class="nec">出生年份</span>：</td>
			<td class="infoContent">
			<div class="timeSel">
			 <div class="input_text_200_bg date_input">{#if $userprofile.birthday#}{#$userprofile.birthday#}{#else#}请选择{#/if#}</div>
              <input name="birthdate" id="birthdate" type="hidden" value="{#$userprofile.birthday#}" />
              <div class="setBox" id="">
                <i class="prevIcon"></i>
                <i class="nextIcon"></i>
                <ul class="bYear" index="1"></ul>
              </div>
            </div>
            <script type="text/javascript">
            	$(".date_input").click(function(event) {
            		if (!$(this).hasClass('aui_is_show')) {
						$('.setBox').hide();
						$(".date_input").removeClass('aui_is_show');
						$(this).addClass('aui_is_show');
						$(this).parent().find('.setBox').show();
					} else {
						$(this).removeClass('aui_is_show');
						$(this).parent().find('.setBox').hide();
					}
            	});
            	$(document).delegate("body", "click", function(e){
					var _con = $(".date_input"), _caui = $(".setBox");
					if(!_con.is(e.target) && _caui.has(e.target).length === 0){
						$('.setBox').hide();
						$(".date_input").removeClass('aui_is_show');
					}
				});
            	var myDate = new Date(),htm = '';
				var y=myDate.getFullYear();
					y=y-16;
				var ymin=y-59;
				for (i=y;i>=ymin;i--)
				{
				htm+='<li><a href="javascript:void(0);">'+i+'</a></li>';
				}
				$(".bYear").html(htm);
				$('.bYear li:gt(19)').hide();
				$(".prevIcon").click(function(event) {
					var ind = $(".bYear").attr('index');
					if (ind == 1) {
						$('.bYear li:gt(19)').show();
						$('.bYear li:lt(20)').hide();
						$('.bYear li:gt(39)').hide();
						$(".bYear").attr('index',2);
						$(".nextIcon").show();
					} else {
						$('.bYear li:gt(39)').show();
						$('.bYear li:lt(40)').hide();
						$(".bYear").attr('index',3);
						$(".prevIcon").hide();
					}
				});
				$(".nextIcon").click(function(event) {
					var ind = $(".bYear").attr('index');
					if (ind == 3) {
						$('.bYear li:gt(19)').show();
						$('.bYear li:lt(20)').hide();
						$('.bYear li:gt(39)').hide();
						$(".bYear").attr('index',2);
						$(".prevIcon").show();
					} else {
						$('.bYear li:lt(20)').show();
						$('.bYear li:gt(19)').hide();
						$(".bYear").attr('index',1);
						$(".nextIcon").hide();
					}
				});
				$('.bYear li a').click(function(event) {
					var birYeay = $(this).html();
					$(".date_input").html(birYeay);
					$("#birthdate").val(birYeay);
					$('.setBox').hide();
					$(".date_input").removeClass('aui_is_show');
				});
            </script>
			</td>
			<td>&nbsp;</td>
		  </tr>
		 <tr class="jobmain">
			<td align="right"><span class="nec">现居住地</span>：</td>
			<td><input name="residence" type="text" class="input_text_200" id="residence"  value="{#$userprofile.residence#}" /> </td>
			<td>&nbsp;</td>
		  </tr>
		   <tr>
			<td align="right"><span class="nec">最高学历</span>：</td>
			<td>
				<div style="position:relateve;">
             	 	<div id="education_menu" class="input_text_200_bg">{#if $userprofile.education#}{#$userprofile.education_cn#}{#else#}请选择{#/if#}</div>	
             	 	<div class="menu" id="menu1">
	              		<ul>
	              			{#qishi_get_classify  set="类型:QS_education,列表名:c_education"#}
	              			{#foreach from=$c_education item=list#}
	              			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
	              			{#/foreach#}
	              		</ul>
	              	</div>
	            </div>				
             	 <input name="education" type="hidden" id="education" value="{#$userprofile.education#}" />
             	 <input name="education_cn" type="hidden" id="education_cn" value="{#$userprofile.education_cn#}" />
			</td>
			<td>&nbsp;</td>
		  </tr>
		  <tr>
			<td align="right"><span class="nec">所学专业</span>：</td>
			<td style="position:relative;z-index:2;">
				<div class="input_text_200_bg ucc-default" id="majorText">{#if $userprofile.major#}{#$userprofile.major_cn#}{#else#}请选择{#/if#}</div>
				<!-- 所学专业弹出框 -->
				<div class="aui_outer" id="aui_outer_major">
					<table class="aui_border">
						<tbody>
							<tr>
								<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td class="aui_main">
														<div class="aui_content">
															<div class="items jquery-localdata">
																<div class="selector-header"><span class="selector-title">所学专业</span><div></div><span class="selector-close">X</span><div class="clear"></div></div>
																<ul class="tabnav" id="major_tabnav"></ul>

																<div class="item-table majorbb">
																	<table class="options-table options-table-7">
																		<tbody class="item-list"><tr><td class="bno"><table id="major_list"></table></td></tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 所学专业弹出框 End-->	
			    <input name="major" type="hidden" id="major" value="{#$userprofile.major#}" />
             	<input name="major_cn" type="hidden" id="major_cn" value="{#$userprofile.major_cn#}" />
			</td>
			<td>&nbsp;</td>
		   </tr>
		   <tr>
			<td align="right"><span class="nec">工作经验</span>：</td>
			<td>
				<div style="position:relateve;">
             	 	<div id="experience_menu" class="input_text_200_bg">{#if $userprofile.experience#}{#$userprofile.experience_cn#}{#else#}请选择{#/if#}</div>	
             	 	<div class="menu" id="menu2">
	              		<ul>
	              			{#qishi_get_classify  set="类型:QS_experience,列表名:c_experience"#}
	              			<li id="-1" title="应届生">应届生</li>
	              			{#foreach from=$c_experience item=list#}
	              			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
	              			{#/foreach#}
	              		</ul>
	              	</div>
	            </div>				
             	 <input name="experience" type="hidden" id="experience" value="{#$userprofile.experience#}" />
             	 <input name="experience_cn" type="hidden" id="experience_cn" value="{#$userprofile.experience_cn#}" />
			</td>
			<td>&nbsp;</td>
		  </tr>
		  <tr>
			<td align="right"><span class="nec">手机</span>：</td>
			<td>
				{#if $user.mobile_audit=="1"#}
				{#$user.mobile#} <a href="javascript:;" class="audit_mobile">修改</a>
				<input name="mobile" id="mobile" type="hidden" class="input_text_200" value="{#$user.mobile#}" />
				{#else#}
				<input name="mobile" id="mobile" type="text" class="input_text_200" value="{#$user.mobile#}" />
				{#/if#}
			</td>
			<td><label></label></td>
		  </tr>
	    </table>

		  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  <tr>
			<td width="125" align="right"><span class="nec">邮箱</span>：</td>
			<td>
				{#if $user.email_audit=="1"#}
				{#$user.email#} <a href="javascript:;" class="audit_email">修改</a>
				<input name="email" id="email" type="hidden" class="input_text_200" value="{#$user.email#}" />
				{#else#}
				<input name="email" id="email" type="text" class="input_text_200" value="{#$user.email#}" />
				{#/if#}&nbsp;<label><input name="email_notify" type="checkbox" value="1" checked="checked"/>接收面试邀请</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		  </tr>
		</table>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall" id="displaymorediv">
		  <tr>
			<td width="125" align="right">身高：</td>
			<td width="220"><input name="height" type="text" class="input_text_200_bgsg" value="{#$userprofile.height#}" /> </td>
			<td>&nbsp;</td>
		  </tr>
		  <tr class="jobmain">
			<td width="125" align="right">籍贯：</td>
			<td><input name="householdaddress" type="text" class="input_text_200" id="householdaddress"  value="{#$userprofile.householdaddress#}" /> </td>
			<td>&nbsp;</td>
		  </tr>
		  <tr>
			<td align="right">婚姻状况：</td>
			<td>
			<div id="marriage_radio">
			<input name="marriage" id="marriage" type="hidden" value="{#$userprofile.marriage|default:'1'#}" />
			<input name="marriage_cn" id="marriage_cn" type="hidden" value="{#$userprofile.marriage_cn|default:'未婚'#}" />
			  <div class="input_radio{#if $userprofile.marriage==1||$userprofile.marriage==''#} select{#/if#}" id="1">未婚</div>
			  <div class="input_radio{#if $userprofile.marriage==2#} select{#/if#}" id="2">已婚</div>
			  <div class="clear"></div>
			  </div>
		    </td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		<div class="titleH2"><span>求职意向</span></div>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall" >
			<!-- 目前状态  开始-->
			<tr>
				<td width="127" align="right"><span class="nec">目前状态：</span></td>
				<td >
					<div style="position:relateve;">
			             	 	<div id="current_menu" class="input_text_200_bg">请选择</div>	
			             	 	<div class="menu" id="menu5">
				              		<ul>
				              			{#qishi_get_classify  set="类型:QS_current,列表名:c_current"#}
				              			{#foreach from=$c_current item=list#}
				              			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
				              			{#/foreach#}
				              		</ul>
				              	</div>
				            </div>				
			             	 <input name="current" type="hidden" id="current" value="" />
			             	 <input name="current_cn" type="hidden" id="current_cn" value="" />
				</td>
				<td></td>
			  </tr>
			<!-- 目前状态 结束 -->
		  <tr class="jobmain">
			<td width="127" align="right" valign="top" style="padding-top:16px;"><span class="nec">期望职位：</span></td>
			<td  id="jobsSort" style="position:relative">
				<div class="input_text_200_bg ucc-default" id="jobText">请选择</div>
				<!-- 期望职位弹出框 -->
				<div class="aui_outer" id="aui_outer_job">
					<table class="aui_border">
						<tbody>
							<tr>
								<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td class="aui_main">
														<div class="aui_content" style="padding: 0px;">
															<div class="LocalDataMultiC">
																<div class="selector-header"><span class="selector-title">职位选择</span><div></div><span id="jb-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="ars" class="text-warning">0</strong> 项</div><div id="result-list-job" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																<div class="data-row-list data-row-main" id="job_list">
																	<!-- 列表内容 -->
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 期望职位弹出框 End-->
			    <input name="intention_jobs" id="intention_jobs" type="hidden" value="" />
			    <input name="intention_jobs_id" id="intention_jobs_id"  type="hidden" value="" />
			</td>
			<td></td>
		  </tr>
		  <tr class="jobmain">
			<td width="127" align="right" valign="top" style="padding-top:16px;"><span class="nec">期望行业：</span></td>
			<td  id="jobsTrad" style="position:relative;z-index:2;">
				<div class="input_text_200_bg ucc-default" id="tradText">请选择</div>
				<!-- 期望行业弹出框 -->
				<div class="aui_outer" id="aui_outer">
					<table class="aui_border">
						<tbody>
							<tr>
								<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td class="aui_main">
														<div class="aui_content">
															<div class="items jquery-localdata">
																<div class="selector-header"><span class="selector-title">行业选择</span><div></div><span id="tr-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arstrade" class="text-warning">0</strong> 项</div><div id="result-list-trade" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																<div class="item-table">
																	<table class="options-table options-table-7">
																		<tbody class="item-list"><tr><td class="bno"><table><tbody id="trad_list">
																			<!-- 列表内容 -->
																		</tbody></table></td></tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 期望行业弹出框 End-->
			    <input name="trade_cn" id="trade_cn" type="hidden" value="" />
			    <input name="trade" id="trade" type="hidden" value="" />
			</td>
			<td></td>
		  </tr>
		  
		   <tr class="jobmain">
			<td width="127" align="right"><span class="nec">工作地区：</span></td>
			<td  id="jobsCity" style="position:relative">
				<div class="input_text_200_bg ucc-default" id="cityText">请选择</div>
				<!-- 工作地区弹出框 -->
				<div class="aui_outer" id="aui_outer_city">
					<table class="aui_border">
						<tbody>
							<tr>
								<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td class="aui_main">
														<div class="aui_content" style="padding: 0px;">
															<div class="LocalDataMultiC" style="width:623px;">
																<div class="selector-header"><span class="selector-title">地区选择</span><div></div><span id="ct-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																<div class="data-row-head"><div class="data-row"><div class="data-row-side data-row-side-c">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arscity" class="text-warning">0</strong> 项</div><div id="result-list-city" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																<div class="data-row-list data-row-main" id="city_list">
																	<!-- 列表内容 -->
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 工作地区弹出框 End-->
			    <input name="district" id="district" type="hidden" value="" />
			    <input name="district_cn" id="district_cn"  type="hidden" value="" />
			</td>
			<td></td>
		  </tr>
		  
		   <tr>
			<td width="127" align="right"><span class="nec">工作性质：</span></td>
			<td colspan="2">
			<div id="nature_radio">
			<input name="nature" id="nature" type="hidden" value="" />
			<input name="nature_cn" id="nature_cn" type="hidden" value="" />
			{#qishi_get_classify  set="类型:QS_jobs_nature,列表名:c_nature"#}
			{#section name=list loop=$c_nature#}
			  <div class="input_radio {#if $smarty.section.list.index==0#}select{#/if#}" id="{#$c_nature[list].id#}">{#$c_nature[list].categoryname#}</div>
			  {#/section#}			  
			  <div class="clear"></div>
			  </div>			  </td>
		  </tr>


 		<tr>
			<td width="127" align="right"><span class="nec">期望薪资：</span></td>
			<td>
				<div style="position:relateve;">
             	 	<div id="wage_menu" class="input_text_200_bg">请选择</div>	
             	 	<div class="menu" id="menu3">
	              		<ul>
	              			{#qishi_get_classify  set="类型:QS_wage,列表名:c_wage"#}
	              			{#foreach from=$c_wage item=list#}
	              			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
	              			{#/foreach#}
	              		</ul>
	              	</div>
	            </div>				
             	 <input name="wage" type="hidden" id="wage" value="" />
             	 <input name="wage_cn" type="hidden" id="wage_cn" value="" />
			</td>
			<td></td>
		  </tr>
		  {#if $verify_resume=="1" && $resume_basic.fullname==""#}
		  <tr>
			<td width="125" align="right">验证码：</td>
			<td width="230">
				<div>
					<div id="imgdiv"></div>
					<input  class="input_text_200" name="postcaptcha" id="postcaptcha" type="text" value="点击获取验证码" style="color:#999999"/>
				</div></td>
		  </tr>
		  {#/if#}
		   <tr>
			<td width="127" align="right"> </td>
			<td colspan="2"><input type="submit" name="submitsave" id="submitsave" value="保存"  class="but220lan" onclick="$(window).unbind('beforeunload');"/>			</td>
		  </tr>
		</table>
	</form>

	  </div>
	</div>
  </div>
  <div class="clear"></div>
</div>
 {#include file="user/footer.htm"#}
</body>
</html>
