<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/user_personal.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
//验证
$(document).ready(function() {
 $("#Form1").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   oldpassword:{
    required: true,
	minlength:6,
    maxlength:18
   },
   password:{
    required: true,
	minlength:6,
    maxlength:18,
	NOequalTo:"#oldpassword"
   },
   password1:{
	 equalTo:"#password"
   }
	},
    messages: {
    oldpassword: {
    required: "请输入旧密码",
    minlength: jQuery.format("旧密码不能小于{0}个字符"),
	maxlength: jQuery.format("旧密码不能大于{0}个字符")
   },
   password: {
    required: "请输入新密码",
    minlength: jQuery.format("新密码不能小于{0}个字符"),
	maxlength: jQuery.format("新密码不能大于{0}个字符")
   },
   password1: {
    equalTo: "两次输入的密码不同"
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
	}
    });
	jQuery.validator.addMethod("NOequalTo", function(value, element,param) {
	var toval=$(param).val();
    return this.optional(element) || (toval!=value);
}, "新密码不可以和旧密码相同");
});
</script>
</head>

<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}

<div class="page_location link_bk">現在の位置：<のhref = “{#$HIGHWAY.site_dir#}”>首页</a> > <a href="{#$userindexurl#}">会員センター</a> >パスワードの変更 </div>

<div class="usermain">
  <div class="leftmenu link_bk">
   {#include file="member_personal/left.htm"#}
  </div>
<div class="rightmain">
  
	<div class="bbox1">
	
	  <div class="pwd link_bk">
			
 	    <div class="topnav">
			  
				 	<div class="titleH1">
					  <div class="h1-title">アカウント管理</div>
					</div>
					
			  <div class="navs link_bk">
				<a href="?act=userprofile">基本情報</a>
				  <a href="?act=password_edit" class="se">パスワードの変更</a>
				  <a href="?act=authenticate">安全認証</a>
				  <a href="?act=avatars">写真</a>
				  <a href="?act=pm">メッセージ{#if $total#}<span class="h">({#$total#})</span>{#/if#}</a>
				   <a href="?act=login_log">登録日誌</あ>
				   <a href="?act=binding">アカウント結合します</a>
				  <div class="clear"></div>
			</div>
					
	  	</div>
		
			 
		<form id="Form1" name="Form1" method="post" action="?act=save_password" >	 
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall" style="margin-top:15px;">
		  <tr>
			<td width="165" align="right"><span class="nec">旧密码</span>：</td>
			<td width="424"><input name="oldpassword" type="password" class="input_text_200" id="oldpassword"/> </td>
			<td width="389">			</td>
		  </tr>
			<tr>
			<td width="165" align="right"><span class="nec">新密码</span>：</td>
			<td width="424"><input name="password" type="password" class="input_text_200" id="password" /> </td>
			<td>
			</td>
			</tr>
			<tr>
			<td width="165" align="right"><span class="nec">确认新密码</span>：</td>
			<td width="424"><input name="password1" type="password" class="input_text_200" id="password1" /> </td>
			<td>
			</td>
			</tr>
		   <tr>
			<td align="right"> </td>
			<td colspan="2"><input type=“submit” name=“submitsave” id=“submitsave” value=“保存”  class=“but220lan” onclick=“$(window).unbind(‘beforeunload’);”/>
			</td>
		  </tr>
		</table>
		</form>
		
			  
	  </div>
	</div>
  </div>
	</div>
</div>

<div class="clear"></div>
</div>

{#include file="user/footer.htm"#}
</body>
</html>
