<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_personal.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.cookie.js" type='text/javascript'></script>
<script type="text/javascript">
$(document).ready(function()
{	
	// 第一次注册进入会员中心，显示引导
	var mode = $.cookie('isFirstReg');
	if (mode == 1) {
		$("#mask").height($(document).height());
		$('#mask, #searchTip, #searchTip div:eq(0)').show();
		var topL0 = $("#searchTip div:eq(0)").offset().top;
		$(document).scrollTop(topL0);
		$('#searchTip div a').click(function(){
			var currentStep=$(this).parent();
			currentStep.hide();
			currentStep.next().show();
			var topLn = currentStep.next().offset().top;
			$("body,html").animate({scrollTop:topLn - 50}, 500);
		});
		$('#searchTip div a.p').unbind().click(function(){
			$('#searchTip div').hide();
			var currentStep=$(this).parent();
			currentStep.hide();
			currentStep.prev().show();
			var topLp = currentStep.prev().offset().top;
			$("body,html").animate({scrollTop:topLp - 50}, 500);
		});
		$('#searchTip div a:last, #searchTip div span').unbind().click(function(){
			$('#mask, #searchTip').hide();
			$("body,html").animate({scrollTop:0}, 500);
			return false;
		});
		$.cookie('isFirstReg',0);
	};
	// 显示第一条提醒，其余的先隐藏
	$(".company-index-tip .index-tip").eq(0).show().siblings('.index-tip').hide();
	// 操作顶部提醒代码
	$(".ctip_close").die().live('click', function(event) {
		$(this).closest('.index-tip').addClass('istip').slideUp(600);
		var leng = $(".company-index-tip .index-tip").not(".istip").length;
		if (leng > 0) {
			setTimeout(function () { 
				$(".company-index-tip .index-tip").not(".istip").eq(0).slideDown(600);
		    }, 600);
		} else if (leng == 0) {
			setTimeout(function () { 
				$(".company-index-tip").slideUp(600);
				$(".bbox1 .lin").hide();
		    }, 600);
		}
	});
//个人资料已申请职位鼠标感应
$(".mli .imgbox").hover(
	function () {
		$(this).addClass("h");
	},
	function () {
		$(this).removeClass("h");
	}
	);
$(".imgbox").click(function(){
	window.location.href="personal_apply.php?act="+$(this).attr("mark");
});
$.get("?act=ajax_get_interest_jobs&pid="+$(".myresume").first().attr("pid"), function(result){
	$("#interest_jobs_list").html(result);
});
//隐私设置
$(".resume_privacy").click(function(){
	var pid = $(this).attr("pid");
	var url = "personal_ajax.php?act=privacy&pid="+pid;
	var myDialog = dialog();
	myDialog.content("加载中...");
    myDialog.title('隐私设置');
    myDialog.width('550');
    myDialog.showModal();
    $.get(url, function(data){
        myDialog.content(data);
        /* 关闭 */
        $(".DialogClose").live('click',function() {
          myDialog.close().remove();
        });
    });
});
$(".del_resume").click(function(){
	var pid = $(this).attr("pid");
	var url = "personal_ajax.php?act=del_resume&pid="+pid;
	var myDialog = dialog();
	myDialog.content("加载中...");
    myDialog.title('删除简历');
    myDialog.width('350');
    myDialog.showModal();
    $.get(url, function(data){
        myDialog.content(data);
        /* 关闭 */
        $(".DialogClose").live('click',function() {
          myDialog.close().remove();
        });
    });
});
$(".refresh_resume").click(function(){
	var pid = $(this).attr("pid");
	$.get("personal_ajax.php?act=refresh_resume&id="+pid,function(result){
		if(result=="1"){
			dialog({
			  title: '温馨提示',
			  content: "刷新成功",
			  width:'300px'
			}).showModal();
			location.reload();
		}else{
			dialog({
			  title: '温馨提示',
			  content: ""+result+"",
			  width:'300px'
			}).showModal();
		}
	});
});
	// 下拉
	$('.resume-choose').on('click', function(e){
		$(this).find('.resume-choose-list').stop().slideToggle('fast');
		$(this).find('.choose-span').toggleClass('beselect');
		$(document).one("click",function(){
			$('.choose-span').removeClass('beselect');
			$('.resume-choose-list').slideUp('fast');
		});
		e.stopPropagation();
	});
	$(".resume-choose-list li").click(function(){
		var id = $(this).attr("id");
		var title = $(this).attr("title");
		$(".choose-span").html(title);
		$(this).find('.resume-choose-list').stop().slideToggle('fast');
		$(".myresume").css("display","none");
		$("#resume_box_"+$(this).attr("id")).css("display","block");
		$.get("?act=ajax_get_interest_jobs&pid="+id, function(result){
			$("#interest_jobs_list").html(result);
		});
	});
});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<!-- 引导 -->
<div id="mask"></div>
<div id="searchTip">
	<div class="stepD"><a>下一步</a><span title="关闭">关闭</span></div>
    <div class="stepE"><a class="p">上一步</a><a>下一步</a><span title="关闭">关闭</span></div>
    <div class="stepF"><a class="p">上一步</a><a>下一步</a><span title="关闭">关闭</span></div>
</div>
<!-- 引导 end-->
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a></div>
<div class="usermain">
  <div class="leftmenu link_bk">
  	 {#include file="member_personal/left.htm"#}
  </div>
  <div class="rightmain">
  	<div class="bbox1">	
  		{#if $message#}
  		<div class="company-index-tip">
  			{#foreach from=$message item=list#}
			<div class="index-tip">
				{#$list#}<i class="close-icon ctip_close"></i>
			</div>
			{#/foreach#}
		</div>
		<div class="lin"></div>
		{#/if#}
		  <div class="pindex-info">
		  		<div class="leftbox">
				  <div class="">
				  	{#if $user.avatars==""#}
				  	<img name="" src="{#$QISHI.site_template#}images/06.jpg" width="100" height="100" alt="" />
				  	{#else#}
				  	<img name="" src="{#$QISHI.site_dir#}data/avatar/100/{#$user.avatars#}?rand={#$rand#}" width="100" height="100" alt="" />
				  	{#/if#}
				  </div>
				  <a href="personal_user.php?act=avatars"  class="edit">修改头像</a>
		  		</div>
				<div class="cbox">
				  	<div class="name  h1-title">{#$user.username#}<span>(uid:{#$user.uid#})</span><a href="personal_user.php?act=userprofile" class="personal-edit">编辑</a></div>
					<div class="txt">
					{#if $sms.open=="1"#}
						{#if $user.mobile_audit=="1"#}
						<span class="m">手机认证：</span>&nbsp;<span style="color:#009900">已认证</span>&nbsp;{#else#}<span class="m n">手机认证：</span>&nbsp;<a href="personal_user.php?act=authenticate"><span style="color:#FF0000">未认证</span></a>&nbsp;
						{#/if#}{#$user.mobile#}<br />
					{#/if#}
					{#if $user.email_audit=="1"#}
					<span class="e">邮箱认证：</span>&nbsp;<span style="color:#009900">已认证</span>&nbsp;{#else#}<span class="e n">邮箱认证：</span>&nbsp;<a href="personal_user.php?act=authenticate"><span style="color:#FF0000">未认证</span></a>&nbsp;{#/if#}{#$user.email#}<br />
					
					{#if $user.weixin_openid#}
					<span class="w">微信邦定：</span>&nbsp;<span style="color:#009900">已绑定</span>&nbsp;{#else#}<span class="w n">微信绑定：</span>&nbsp;<a href="personal_user.php?act=authenticate"><span style="color:#FF0000">未绑定</span></a>&nbsp;{#/if#}<br />

 					系统消息：未读{#if $msg_total1>0#}<span><a style="color:#FF0000" href="personal_user.php?act=pm&msgtype=1">({#$msg_total1#})</a></span>{#else#}<a style="color:#FF0000" href="personal_user.php?act=pm&msgtype=1">(0)</a>{#/if#}&nbsp;已读{#if $msg_total2>0#}<span><a style="color:#666666" href="personal_user.php?act=pm&msgtype=1">({#$msg_total2#})</a></span>{#else#}<a style="color:#666666" href="personal_user.php?act=pm&msgtype=1">(0)</a>{#/if#}<br />
					</div>
				</div>
				<div class="rbox">
				  <div class="mli">
				  	<div class="imgbox" mark="apply_jobs">
					  <div class="count">{#$count_apply#}</div>
					  <div class="txt">已申请职位</div>
					</div>
				  </div>
				  <div class="mli">
				  	<div class="imgbox" mark="interview">
					  <div class="count">{#$count_interview#}</div>
					  <div class="txt">面试邀请</div>
					</div>
				  </div>
				  <div class="clear"></div>
				</div>
				<div class="clear"></div>
	</div>
	{#if $my_resume#}
	{#section name=list loop=$my_resume#}
  <div class="myresume" pid="{#$my_resume[list].id#}" id="resume_box_{#$my_resume[list].id#}" {#if $smarty.section.list.index>0#}style="display:none"{#/if#}>
  	<div class="lbox">
        <div class="clearfix">
        	<div class="resume-choose f-left">
        		<span class="choose-span">{#$my_resume[list].title#}</span>
        		<ul class="resume-choose-list">
        			{#foreach from=$my_resume item=li#}
          			<li id="{#$li.id#}" title="{#$li.title#}">{#$li.title#}</li>
          			{#/foreach#}
        		</ul>
        	</div>
        </div>
	<div class="txt">
		公开状态：{#if $my_resume[list].display=="1"#}公开{#else#}保密{#/if#}<br>
		真实姓名：{#$my_resume[list].fullname#}<br />
		更新时间：{#$my_resume[list].refreshtime|date_format:"%Y-%m-%d %H:%M"#}<br />
	  	审核状态：{#if $my_resume[list].audit=="1"#}<span style="color:#009900">审核通过</span>{#elseif $my_resume[list].audit=="2"#}<span style="color:#FF0000">审核中</span>{#else#}<span style="color:#FF0000">审核未通过</span>{#/if#}<br />
	  </div>
	</div>
	<div class="cbox">
		<div class="imgbox1-{#$my_resume[list].complete_percent#}"></div><!--imgbox1-40 是40%   imgbox1-55是55%-->	
	    <div class="imgboxtit">简历完整度：{#$my_resume[list].complete_percent#}%</div>
	</div>
	<div class="cbox">
		<div class="imgbox2-{#$my_resume[list].level#}"></div><!--imgbox2-1 是差   imgbox2-2 良  imgbox2-3 优-->		
	    <div class="imgboxtit">简历质量</div>
	</div>
	<div class="rbox">
		<div class="but">
			<a class="refresh_resume" pid="{#$my_resume[list].id#}" href="javascript:void(0);">刷新简历</a>
			<a href="personal_resume.php?act=edit_resume&pid={#$my_resume[list].id#}">修改简历</a>
			<a target="_blank" href="{#"QS_jobslist,jobcategory:$my_resume[list].interestjobs"|qishi_url#}" class="o">匹配职位</a>
		</div>	
	    <div class="bottomlink link_lan"><a target="_blank" href="{#$my_resume[list].resume_url#}">预览简历</a><a class="resume_privacy" pid="{#$my_resume[list].id#}" href="javascript:void(0);">隐私设置</a><a url="personal_ajax.php?act=del_resume&pid={#$my_resume[list].id#}" href="javascript:void(0);" class="del_resume" pid="{#$my_resume[list].id#}">删除简历</a></div>
	</div>
	<div class="clear"></div>
</div>
{#/section#}
{#else#}
<div class="no-rec-box">
	<p>
		简历是求职的利器，填写简历才能更快找到好工作！<br />
		去填写一份优质的简历吧，认真的人，才能让认真的企业找上你！
	</p>
	<input type="button" value="创建简历" class="creat-resume" onclick="window.location.href='personal_resume.php?act=make1'"/>
</div>
{#/if#}
	<div class="personal-rec-jobs">
		<div class="p-rec-job-top clearfix">
			<h2 class="f-left">推荐职位</h2>
			<a target="_blank" href="{#"QS_jobslist"|qishi_url#}" class="underline f-right">查看更多>></a>
		</div>
		<div class="p-rec-data">
			<div id="interest_jobs_list"></div>
		</div>
	</div>
</div>
  </div>
  <div class="clear"></div>
</div>
 {#include file="user/footer.htm"#}
</body>
</html>
