{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
您可以根据网站的数据量来选择搜索方式。<br />
全文搜索效率更高，like搜索更加精准。<br />
like只能搜索职位名称和公司名称。<br />
全文搜索能搜索更多的内容，但搜索关键字取决于关键字的字典，字典位置：include/word.txt， 您可以调整字典词语来优化全文搜索。<br />
搜索时间设置完成后将会根据您设置的时间范围经行搜索(仅用于职位搜索和简历搜索,默认不限时间)。
</p>
</div>
<div class="toptit">搜索时间设置</div>
<form action="?act=search_save" method="post"  name="form1" id="form1">
  {#$inputtoken#}
  <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="120" align="right">选择搜索时间范围：</td>
      <td>
        <label><input name="search_time" type="radio"  value="0"  {#if $config.search_time=="0" || $config.search_time==""#}checked="checked"{#/if#}/>不限时间</label>
        &nbsp;&nbsp;&nbsp;&nbsp; 
        <label ><input type="radio" name="search_time" value="1"  {#if $config.search_time=="1"#}checked="checked"{#/if#}/>一月内数据</label>
        <label ><input type="radio" name="search_time" value="3"  {#if $config.search_time=="3"#}checked="checked"{#/if#}/>三月内数据</label>
        <label ><input type="radio" name="search_time" value="6"  {#if $config.search_time=="6"#}checked="checked"{#/if#}/>六月内数据</label>
        <label ><input type="radio" name="search_time" value="9"  {#if $config.search_time=="9"#}checked="checked"{#/if#}/>九月内数据</label>
        <label ><input type="radio" name="search_time" value="12"  {#if $config.search_time=="12"#}checked="checked"{#/if#}/>一年内数据</label>
      </td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td height="50"> 
      <input name="submit" type="submit" class="admin_submit"    value="保存"/>             </td>
    </tr>
  </table>
</form>
<div class="toptit">职位搜索</div>
  <form action="?act=search_save" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="120" align="right">允许关键字搜索：</td>
      <td>
	   <label><input name="jobsearch_purview" type="radio"  value="1"  {#if $config.jobsearch_purview=="1"#}checked="checked"{#/if#}/>任何用户</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="jobsearch_purview" value="2"  {#if $config.jobsearch_purview=="2"#}checked="checked"{#/if#}/>仅已登录会员</label>	  </td>
    </tr>
	 <tr>
      <td width="120" align="right">搜索模式：</td>
      <td>
	   <label><input name="jobsearch_type" type="radio"  value="1"  {#if $config.jobsearch_type=="1"#}checked="checked"{#/if#}/>全文搜索</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="jobsearch_type" value="2"  {#if $config.jobsearch_type=="2"#}checked="checked"{#/if#}/>like</label>	  </td>
    </tr>
	 
	      
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存"/>             </td>
      </tr>
  </table>
  </form>

{#if $_PLUG.hunter.p_install==2#}
<div class="toptit">高级职位搜索</div>
  <form action="?act=search_save" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="120" align="right">允许关键字搜索：</td>
      <td>
	   <label><input name="hunterjobsearch_purview" type="radio"  value="1"  {#if $config.hunterjobsearch_purview=="1"#}checked="checked"{#/if#}/>任何用户</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="hunterjobsearch_purview" value="2"  {#if $config.hunterjobsearch_purview=="2"#}checked="checked"{#/if#}/>仅已登录会员</label>	  </td>
    </tr>
	 <tr>
      <td width="120" align="right">搜索模式：</td>
      <td>
	   <label><input name="hunterjobsearch_type" type="radio"  value="1"  {#if $config.hunterjobsearch_type=="1"#}checked="checked"{#/if#}/>全文搜索</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="hunterjobsearch_type" value="2"  {#if $config.hunterjobsearch_type=="2"#}checked="checked"{#/if#}/>like</label>	  </td>
    </tr>
	 
	      
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存"/>             </td>
      </tr>
  </table>
  </form>
  {#/if#}
  <div class="toptit">简历搜索</div>
  <form action="?act=search_save" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="120" align="right">允许关键字搜索：</td>
      <td>
	   <label><input name="resumesearch_purview" type="radio"  value="1"  {#if $config.resumesearch_purview=="1"#}checked="checked"{#/if#}/>任何用户</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="resumesearch_purview" value="2"  {#if $config.resumesearch_purview=="2"#}checked="checked"{#/if#}/>仅已登录会员</label>	  </td>
    </tr>
	 <tr>
      <td width="120" align="right">搜索模式：</td>
      <td>
	   <label><input name="resumesearch_type" type="radio"  value="1"  {#if $config.resumesearch_type=="1"#}checked="checked"{#/if#}/>全文搜索</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="resumesearch_type" value="2"  {#if $config.resumesearch_type=="2"#}checked="checked"{#/if#}/>like</label>	  </td>
    </tr>
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存"/>
			   </td>
      </tr>
  </table>
  </form>

{#if $_PLUG.train.p_install==2#}
  <div class="toptit">课程搜索</div>
  <form action="?act=search_save" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="120" align="right">允许关键字搜索：</td>
      <td>
	   <label><input name="courseearch_purview" type="radio"  value="1"  {#if $config.courseearch_purview=="1"#}checked="checked"{#/if#}/>任何用户</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="courseearch_purview" value="2"  {#if $config.courseearch_purview=="2"#}checked="checked"{#/if#}/>仅已登录会员</label>	  </td>
    </tr>
	 <tr>
      <td width="120" align="right">搜索模式：</td>
      <td>
	   <label><input name="courseearch_type" type="radio"  value="1"  {#if $config.courseearch_type=="1"#}checked="checked"{#/if#}/>全文搜索</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="courseearch_type" value="2"  {#if $config.courseearch_type=="2"#}checked="checked"{#/if#}/>like</label>	  </td>
    </tr>
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存"/>
			   </td>
      </tr>
  </table>
  </form>
  {#/if#}
</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>