/*微招聘页面*/
.rec_banner{height:320px;width:100%;margin-top:15px;}
.rec_banner p{font-size:18px;color:#fff;line-height:35px;font-family: "microsoft yahei";}
.rec_banner.resume{background:url(../images/simple.jpg) top left no-repeat;}
.wei_left .wei_tit{height:48px;border-bottom:2px solid #0180CF;_width:742px;}
.wei_left .wei_tit a{display:block;width:123px;height:47px;line-height:47px;float:left;text-align:center;color:#666666;font-size:16px;cursor:pointer;border:1px solid #ccc;border-bottom:0;margin-right:5px;text-decoration:none;}
.wei_left .wei_tit a:hover{background-color:#F5F5F5;color:#0180CF;}
.wei_left .wei_tit a.select{background-color:#0180CF;border-color:#0180CF;color:#fff;}
.wei_left{width:936px;float:left;/*border:1px solid #ccc;*/margin-bottom:10px;/*_width:700px;*/_margin-right:5px;}
.wei_left .sreach{padding-top:15px;padding-left:15px;padding-bottom:15px;background-color:#F5F5F5;border:1px solid #ccc;border-top:0; _margin-right:-40px;_width:725px;}
.wei_left .sreach .box{width:208px;height:30px;line-height:30px;font-size:14px;color:#ACACAC;border:1px solid #cccccc;background-color:#FFFFFF;padding-left:15px;position:relative;float:left;margin-right:10px;cursor:pointer;}
.wei_left .sreach .box span{display:block;width:180px;height:30px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.wei_left .sreach .box i{position:absolute;right:15px;top:13px;width:0;height:0;font-size:0;line-height:0;border-color:#ccc transparent transparent transparent;_border-color:#ccc #ffffff #ffffff #ffffff;border-style:solid;border-width:6px;cursor:pointer;}
.wei_left .sreach .keybox{width:300px;height:32px;line-height:32px;font-size:14px;color:#ACACAC;border:1px solid #cccccc;background-color:#FFFFFF;padding-left:15px;position:relative;float:left;margin-left:0px;}
.wei_left .sreach .keybox input{width:300px;height:30px;line-height:30px;font-size:14px;color:#ACACAC;border:0;padding-left:0px;}
.wei_left .sreach .input_text_214_bg{margin-right:10px;}
.wei_left .sreach .but100lan{position:relative;top:0px;left:10px;_top:-1px;height:34px;line-height:34px;}
.wei_left .sreach .wei_nav{font-size:14px;margin-bottom:15px;font-weight:bold;}
.wei_left .sreach .wei_nav a.select{color:#0180CF;}
.wei_left .sreach .wei_nav a:hover{color:#0180CF;text-decoration:none;}
.wei_list{padding-left:10px;padding-right:10px;font-family:"microsoft yahei";border:1px solid #ccc;border-top:0;padding-bottom:15px;}
.wei_list a{color:#0180CF;}
.wei_list .wei_l_content{position:relative;padding-top:15px;padding-bottom:15px;padding-left:5px;background:url(../images/11.jpg) repeat-x bottom;_width:690px;color:#666;}
.wei_list .wei_l_content h4{font-size:16px;font-family:"microsoft yahei";margin-bottom:10px;font-weight:normal;}
.wei_list .wei_l_content h4 a{text-decoration:none;}
.wei_list .wei_l_content .date{position:absolute;top:17px;right:0;_right:10px;}
.wei_list .wei_l_content ul{+margin-bottom: -15px;color:#666;}
.wei_list .wei_l_content li{display:inline-block;line-height:25px;margin-right:30px;+float: left;}
.wei_list .wei_l_content p{line-height:25px;}
.wei_list .wei_l_content .add{float:left;}
.wei_list .wei_l_content .edit{float:right;}
.wei_list .wei_l_content .edit a{color:#656565;}
.wei_right{width:220px;float:right;border:1px solid #ccc;padding:20px 15px;_float:left;}
.wei_right input{margin-bottom:15px;width: 220px;}
.wei_right p{font-size:14px;font-family:"microsoft yahei";line-height:28px;text-indent:2em;color:#666;}
.wei_right p a{color:#0180CF;}

/*微招聘弹出框*/
.wei_job_dialog{font-size:14px;font-family:"microsoft yahei";background-color:#fff;padding:20px 36px;}
.wei_job_dialog table tr{height:45px;}
.wei_job_dialog table tr span{color:#A5A5A5;padding-left:3px;margin-right: 10px;}
.wei_job_dialog table tr .valid{color:#656565;}
.wei_job_dialog table tr textarea{resize:none;width:300px;height:80px;border:1px solid #ccc;padding:4px;font-size:12px;color:#666666;font-family:"microsoft yahei";}
.wei_job_dialog table tr a{display:block;float:left;padding:7px 13px;color:#A5A5A5;background-color:#fff;border:1px solid #ccc;}
.wei_job_dialog table tr a:hover{color:#A5A5A5;text-decoration:none;}
.wei_job_dialog table tr .but95_35lan{margin-right:0px;}
.wei_jobs_tip{padding-left:53px;padding-top:19px;padding-bottom:19px;border-top:1px dashed #ccc;background-color:#F5F5F5;font-size:12px;font-family:"microsoft yahei";}
.wei_jobs_tip p{line-height:22px;}

.menu {height: 185px; overflow: auto;background-color: #FFFFFF;border:1px solid #CCCCCC;display: none;position: absolute;width: 218px;z-index: 88;}
.menu li {cursor: pointer;line-height: 27px;padding-left: 10px;}
.menu li:hover{background-color: rgb(218,236,245);}

.input_text_100_bg {color:#666666; background: url("../images/13.gif") no-repeat scroll 100px -58px rgba(0, 0, 0, 0);border: 1px solid #CCCCCC;cursor: pointer;font-size: 14px;line-height: 16px;padding: 9px;width: 100px;}
