/*企业会员中 首页*/
.cominfo{}
.cominfo .lbox{width:454px; float: left; padding-left:30px; margin-bottom:18px; margin-top:20px; border-right:1px #CCCCCC solid}
.cominfo .lbox .username{ font-size:14px;}
.cominfo .lbox .logobox{ margin-top:10px;}
.cominfo .lbox .logobox .limg{ width:260px; float:left;}
.cominfo .lbox .logobox .limg img{ width:245px; height:80px;}
.cominfo .lbox .logobox .rtxt{ width:190px; float:left;}
.cominfo .lbox .logobox .rtxt .cname{ font-size:16px;}
.cominfo .lbox .logobox .rtxt .txt{ font-size:12px; padding-top:10px; padding-bottom:10px; color:#999999}
.cominfo .lbox .logobox .rtxt a.edit{ color:#0066CC;text-decoration:none;padding-left:20px;background:url(../images/07.jpg) no-repeat left -103px; font-size:14px;}
.cominfo .lbox .logobox .rtxt a:hover.edit{ color:#009900; text-decoration:underline}
.cominfo .lbox .certification{ padding-top:15px; padding-bottom:13px;}
.cominfo .lbox .certification a{color: #666666;text-decoration:none;padding-left:25px; padding-right:18px;font-size:14px;}
.cominfo .lbox .certification a.m{background:url(../images/07.jpg) no-repeat 5px 1px; }
.cominfo .lbox .certification a.m.no{background:url(../images/07.jpg) no-repeat 5px -25px;}
.cominfo .lbox .certification a.e{background:url(../images/07.jpg) no-repeat 5px -50px;}
.cominfo .lbox .certification a.e.no{background:url(../images/07.jpg) no-repeat 5px -73px;}
.cominfo .lbox .certification a.c{background:url(../images/07.jpg) no-repeat 5px -176px;}
.cominfo .lbox .certification a.c.no{background:url(../images/07.jpg) no-repeat 5px -211px;}
.cominfo .lbox .certification a.w{ padding-right:20px; background:url(../images/07.jpg) no-repeat 5px -320px; padding-bottom:5px; padding-top:2px;}
.cominfo .lbox .certification a.w.no{background:url(../images/07.jpg) no-repeat 5px -261px;}
.cominfo .rbox{width:295px; padding-top:8px; float: left; padding-top:40px; padding-left:80px;}
/*企业会员中 首页 积分模式*/
.cominfo .rbox .mode1{}
.cominfo .rbox .mode1 .titcount{font-size:16px; font-weight:bold}
.cominfo .rbox .mode1 .titcount span{ color:#FF3300; font-size:22px; font-weight: normal}
.cominfo .rbox .mode1 .titcount u{ text-decoration:none; font-size:14px;font-weight: normal; padding-left:25px;}
.cominfo .rbox .mode1 .pay{ padding-top:22px; font-size:12px;}
.cominfo .rbox .mode1 .msg{ padding-top:18px; font-size:14px;}
.cominfo .rbox .mode1 .msg a { color:#666666}
.cominfo .rbox .mode1 .msg a span{ color:#FF0000}
/*企业会员中 首页 积分模式结束*/
/*企业会员中 首页 套餐模式*/
.cominfo .rbox .mode2{}
.cominfo .rbox .mode2 .cmname{font-size:16px; font-weight:bold}
.cominfo .rbox .mode2 .cmname span{ color:#FF3300; font-size:22px; font-weight: normal}
.cominfo .rbox .mode2 .cmname u{ text-decoration:none; font-size:16px;font-weight: normal; padding-left:25px;}
.cominfo .rbox .mode2 .cmname u a{ color:#FF3300}
.cominfo .rbox .mode2 .cmtxt{ padding-top:12px; font-size:14px;}
.cominfo .rbox .mode2 .msg{ padding-top:12px; font-size:14px;}
.cominfo .rbox .mode2 .msg a { color:#666666}
.cominfo .rbox .mode2 .msg a span{ color:#FF0000}
/*企业会员中 首页 套餐模式结束*/
/*企业会员中 首页 混合模式*/
.cominfo .rbox .mode3{}
.cominfo .rbox .mode3 .cmname{font-size:16px; font-weight:bold}
.cominfo .rbox .mode3 .cmname span{ color:#FF3300; font-size:22px; font-weight: normal}
.cominfo .rbox .mode3 .cmname u{ text-decoration:none; font-size:16px;font-weight: normal; padding-left:25px;}
.cominfo .rbox .mode3 .cmname u a{ color:#FF3300}
.cominfo .rbox .mode3 .cmtxt{ padding-top:9px; font-size:14px;}
.cominfo .rbox .mode3 .potxt{ font-size:16px; font-weight:bold; padding-top:9px;}
.cominfo .rbox .mode3 .potxt span{ color:#FF3300; font-size:22px; font-weight: normal}
.cominfo .rbox .mode3 .potxt u{ text-decoration:none; font-size:16px;font-weight: normal; padding-left:25px;}
.cominfo .rbox .mode3 .potxt u a{ color:#FF3300}
.cominfo .rbox .mode3 .msg{ padding-top:9px; font-size:14px;}
.cominfo .rbox .mode3 .msg a { color:#666666}
.cominfo .rbox .mode3 .msg a span{ color:#FF0000}
/*企业会员中 首页 混合模式结束*/
/*企业会员中 首页 管理列表*/
.commanage{ margin-top:8px;border-top:1px #CCCCCC solid; padding-top:30px; margin-left:30px; margin-right:30px; }
.commanage .list{ float:left; width:456px; border-right:1px #CCCCCC solid; text-align:center}
.commanage .list.last{ border:0px;}
.commanage .list .t{font-size:16px; font-weight:bold; padding-top:5px; padding-bottom:10px;}
.commanage .list .p{ font-size:14px; color: #666666; line-height:200%;}
.commanage .list .p a{ color:#FF6600; text-decoration:none; font-size:20px;}
.commanage .list .but{ padding-left:26px; padding-top:15px; padding-bottom:15px;}
/*企业会员中 首页 推荐的人才*/
.myrec{font-size:14px;padding-top:20px; padding-bottom:20px; margin-top:30px;border-top:1px #CCCCCC solid; margin-right:30px; margin-left:30px;}
.myrec .tit{ float:left; width:260px; height:40px;}
.myrec .more{ float:right; width:60px; height:40px; line-height:30px;  padding-right:5px;}
.myrec .listtit{ background-color:#F5F5F5;height:40px; line-height:40px; color:#666666; }
.myrec .listtit .listt1{float:left;width:80px; padding-left:30px;}
.myrec .listtit .listt2{float:left;width:80px;}
.myrec .listtit .listt3{float:left;width:80px;text-align:center}
.myrec .listtit .listt4{float:left;width:80px;text-align:center}
.myrec .listtit .listt5{float:left;width:300px;text-align:center;padding-left:20px;}
.myrec .listtit .listt6{float:left;width:80px;text-align:center}
.myrec .listtxt{color:#666666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}
.myrec .listtxt .listc1{float:left; width:80px; padding-left:30px;}
.myrec .listtxt .listc2{float:left; width:80px;}
.myrec .listtxt .listc3{float:left; width:80px;text-align:center;}
.myrec .listtxt .listc4{float:left; width:80px;text-align:center;}
.myrec .listtxt .listc5{float:left; width:300px; color:#009900; padding-left:20px;}
.myrec .listtxt .listc6{float:left; width:80px;text-align:center;}
/*个人会员中心 添加简历-第一步基本信息*/
.addjob{ font-size:14px;}
.addjob .titleH1{ margin-top:0px; padding-left:30px;}
.addjob .titleH2{margin-left:18px;height:38px; line-height:38px; background-color:#F5F5F5; padding-left:15px; margin-right:15px; font-size:14px;font-family:"microsoft yahei","microsoft yahei"; margin-top:15px; margin-bottom:15px; border-bottom:1px #CCCCCC dotted}
.addjob .titleH2 span{background:url(../images/13.gif) no-repeat 15px -43px; padding-left:25px;}
.addjob .righttip{background:url(../images/13.gif) no-repeat left -98px; height:25px; line-height:25px; padding-left:23px; color:#999999}
.addjob .nec{background:url(../images/13.gif) no-repeat 15px -45px; padding-left:25px;}
.addjob .redtip{ color:#FF0000;padding-left: 16px;background-image: url(../images/05.gif);background-repeat: no-repeat;background-position: left 
center;margin-left:5px;}
.addjob .input_radio{ float:left; padding-left:15px; padding-right:16px;border:2px #E3E3E3 solid; height:28px; line-height:28px; font-size:14px; background-color:#E3E3E3; color:#666666; margin-right:15px; cursor:pointer}
.addjob .input_radio.select{ border-color:#4095EF; background-color:#FFFFFF;background:url(../images/13.gif) no-repeat right -230px; color:#4095EF}
.addjob .input_checkbox{float:left; padding-left:12px; padding-right:7px; height:32px; line-height:32px; font-size:14px;background-color:#E3E3E3; margin-right:15px; margin-bottom:10px;white-space: nowrap;}
.addjob .input_checkbox span{background:url(../images/13.gif) no-repeat right -272px;color:#666666;cursor:pointer;padding-right:18px;}
.addjob .input_checkbox.h{ background-color:#EFEFEF}
.addjob .input_checkbox_add{float:left; padding-left:12px; padding-right:7px; height:32px; line-height:32px; font-size:14px;background-color:#E3E3E3; margin-right:15px;}
.addjob .input_checkbox_add span{background:url(../images/13.gif) no-repeat right -308px;color:#0180CF;cursor:pointer;padding-right:14px;}
.addjob .input_checkbox_add.h{ background-color:#EFEFE7F}
.addjob .emailsend{ width:100px; height:35px; line-height:35px; text-align:center; background-color:#80C0E6; color:#FFFFFF; cursor:pointer}
/*企业会员中心 管理职位*/
/*大多数表格的母本*/
.manage_list{font-size:14px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:"microsoft yahei";position:relative;}
.manage_list .mlist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.manage_list .mlist_tit .mlistt1{float:left;width:150px;text-align:left;margin-left: 15px;}
.manage_list .mlist_tit .mlistt2{float:left;width:180px;text-align:left;}
.manage_list .mlist_tit .mlistt3{float:left;width:130px;text-align:left;}
.manage_list .mlist_tit .mlistt4{float:left;width:100px;text-align:left;}
.manage_list .mlist_tit .mlistt5{float:left;width:70px;text-align:left;}
.manage_list .mlist_tit .mlistt7{float:left;width:70px;text-align:left;margin-left:20px;}
.manage_list .mlist_tit .mlistt7.s{margin-left:40px;}
.manage_list .mlist_txt{color:#666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}
.manage_list .mlist_txt.s{height:70px;position: relative;}
.manage_list .mlist_txt.s p{position: absolute;top:30px;left:50px;color:#9B9B9B;font-size: 12px;}
.manage_list .mlist_txt.last{background:none;margin-top:10px;}
.manage_list .mlist_txt .mlistc1{float:left;width:150px;text-align:left;margin-left: 15px;}
.manage_list .mlist_txt .mlistc2{float:left;width:180px;text-align:left;}
.manage_list .mlist_txt .mlistc3{float:left;width:130px;text-align:left;}
.manage_list .mlist_txt .mlistc3 span{display:inline-block;width:11px;height:11px;background:url(../images/24.jpg);cursor:pointer;}
.manage_list .mlist_txt .mlistc4{float:left;width:100px;text-align:left;}
.manage_list .mlist_txt .mlistc5{float:left;width:70px;text-align:left;}
.manage_list .mlist_txt .mlistc7{float:left;width:70px;text-align:left;position:relative; margin-left: 20px;}
.manage_list .mlist_txt .mlistc7.s{margin-left:40px;}
.manage_list .mlist_txt .mlistc7.s .spread_link{margin-top: -15px;}
.manage_list .mlist_txt .mlistc7 ul{position:absolute;width:60px;padding:5px 0px;list-style:none;border:1px solid #ccc;z-index:9999;}
.manage_list .mlist_txt .mlistc7 ul li{background-color:#fff;}
.manage_list .mlist_txt .mlistc7 ul li a{text-decoration:none;color:#666;}
.manage_list .mlist_txt .mlistc5 ul{position:absolute;width:60px;padding:5px 0px;list-style:none;border:1px solid #ccc;z-index:9999;}
.manage_list .mlist_txt .mlistc5 ul li{background-color:#fff;}
.manage_list .mlist_txt .mlistc5 ul li a{text-decoration:none;color:#666;}
.manage_list .mlist_txt .mlist_but{display:inline-block;margin-right:15px;}
.reason{display:inline-block;width:14px;height:13px;margin-top:15px;background:url(../images/25.jpg) top left no-repeat;cursor:pointer;}
/*企业会员中心 我的账户*/
.my_account{padding-top:20px;padding-left:15px;padding-right:15px;}
.my_account .title_h1{font-size:20px;font-family:"microsoft yahei";color:#323232;}
.my_account .balance{margin-left: 30px;margin-right: 30px; position:relative;margin-top:20px;margin-bottom:21px;padding-top:15px;padding-bottom:15px;padding-left:30px;background-color:#F5F5F5;}
.my_account .balance .bal_text{font-size:14px;}
.my_account .balance .bal_text a{color:#0180cf;}
.my_account .balance .bal_text.bal_text_s{margin-top:10px;}
.my_account .balance .bal_text span{font-size:20px;color:#EC8319;}
.my_account .balance .bal_text .small{font-size:12px;font-family:"microsoft yahei";color:#656565;}
.my_account .balance .bal_but{position:absolute;top:11px;right:20px;}
.my_account .balance .bal_but.bal_but_s{top:50px;left:185px;}
.my_account .account_title{padding-left:30px;padding-bottom:10px;font-size:16px;font-family:"microsoft yahei";font-weight:bold;border-bottom:1px solid #ccc;}
.my_account .account_list{font-size:14px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:"microsoft yahei";position:relative;}
.my_account .alist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.my_account .alist_tit .alistt1{float:left;width:120px;text-align:left;margin-left:15px;}
.my_account .alist_tit .alistt2{float:left;width:100px;text-align:left;}
.my_account .alist_tit .alistt3{float:left;width:100px;text-align:left;}
.my_account .alist_tit .alistt4{float:left;width:180px;text-align:left;}
.my_account .alist_tit .alistt5{float:left;width:200px;text-align:left;margin-left: -20px;}
.my_account .alist_txt{color:#666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}
.my_account .alist_txt.last{background:none;margin-top:10px;}
.my_account .alist_txt .alistc1{float:left;width:120px;text-align:left;margin-left: 15px;}
.my_account .alist_txt .alistc2{float:left;width:700px;text-align:left;}
.my_account .alist_txt .alistc3{float:left;width:100px;text-align:left;}
.my_account .alist_txt .alistc4{float:left;width:180px;text-align:left;}
.my_account .alist_txt .alistc5{float:left;width:200px;text-align:left;margin-left: -20px;}
.my_account .minus{color:#FF4F4F;}
.my_account .add{color:#0181CF;}
.my_account .alist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.my_account .alist_tit .alistt1.s{float:left;width:240px;text-align:left;}
.my_account .alist_tit .alistt2.s{float:left;width:144px;text-align:left;}
.my_account .alist_tit .alistt3.s{float:left;width:300px;text-align:left;}
.my_account .alist_tit .alistt4.s{float:left;width:144px;text-align:left;}
.my_account .alist_txt{color:#666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}
.my_account .alist_txt.last{background:none;margin-top:10px;}
.my_account .alist_txt .alistc1.s{float:left;width:240px;text-align:left;}
.my_account .alist_txt .alistc2.s{float:left;width:144px;text-align:left;}
.my_account .alist_txt .alistc3.s{float:left;width:300px;text-align:left;}
.my_account .alist_txt .alistc4.s{float:left;width:144px;text-align:left;}
.my_account .alist_tit .alistt2.p{float:left;width:144px;text-align:left;}
.my_account .alist_txt .alistc2.p{float:left;width:144px;text-align:left;}
.my_account .alist_tit .alistt4.p{float:left;width:228px;text-align:left;}
.my_account .alist_txt .alistc4.p{float:left;width:228px;text-align:left;}
.my_account .account_navs{height:40px;}

/*两列模式重写*/
.account_model{padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-size:14px;font-family:"microsoft yahei";}
.account_model .slist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.account_model .slist_tit .lavet1{float: left;width:240px;text-align: left;margin-left: 8px;}
.account_model .slist_tit .lavet2{float: left;width:168px;text-align: center;}
.account_model .slist_tit .lavet3{float: left;width:240px;text-align: left;margin-left: 40px;_margin-left:30px;}
.account_model .slist_tit .lavet4{float: left;width:168px;text-align: center;}
.account_model .slist_txt{float:left;color:#666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}
.account_model .slist_txt .lavec1{float:left;width:240px;text-align:left;margin-left:8px;}
.account_model .slist_txt .lavec2{float: left;width:168px;text-align: center;}
.account_model .slist_txt .lavec1.smo{float: left;width:240px;text-align: left;margin-left: 40px;_margin-left:30px;}
.account_model .slist_txt .lavec2.smo{float: left;width:168px;text-align: center;}

/*企业会员中心 充值订单*/
.intrgration{}
.intrgration .bar{margin:0 auto 40px auto;height:29px;width:721px;background:url(../images/26.jpg) top left no-repeat;}
.intrgration .bar div{display:inline-block;height:29px;*float:left;}
.intrgration .bar div p{padding-top:40px;text-align:center;color:#EC8319;}
.intrgration .bar .bar_step1{background:url(../images/27.jpg) top left no-repeat;width:240px;}
.intrgration .bar .bar_step2{background:url(../images/28.jpg) top left no-repeat;width:240px;margin-left:-4px;}
.intrgration .bar .bar_step3{background:url(../images/29.jpg) top left no-repeat;width:240px;margin-left:-4px;}
.intrgration .bar .bar_step1.hui{background:url(../images/30.jpg) top left no-repeat;width:240px;}
.intrgration .bar .bar_step2.hui{background:url(../images/31.jpg) top left no-repeat;width:240px;}
.intrgration .bar .bar_step3.hui{background:url(../images/32.jpg) top left no-repeat;width:240px;}
.intrgration .intrgration_box{padding-top:20px;padding-left:30px;padding-bottom:30px;background-color:#F8F8F8;}
.intrgration .intrgration_box img{padding-top:10px;}
.intrgration .intrgration_box p{font-size:12px;font-family:"microsoft yahei";color:#7D7D7D;line-height:30px;}
.intrgration .intrgration_box textarea{margin-top:20px;line-height:100%;}
.intrgration .intrgration_box span{color:#EC8319;}
.intrgration .intrgration_box .del{color:#656565;text-decoration:line-through;}
.intrgration .intrgration_but{margin-left:100px;margin-top:30px;}
.intrgration .package_tab{margin-top:30px;margin-left:35px;}
.intrgration .package_tab th{color:#fff;font-size:16px;font-weight:normal;}
.intrgration .package_tab div{font-size:12px;margin:0 auto;}
.intr_list{font-size:14px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:"microsoft yahei";position:relative;}
.intr_list .ilist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.intr_list .ilist_tit .ilistt1{float:left;width:100px;text-align:center;}
.intr_list .ilist_tit .ilistt2{float:left;width:100px;text-align:center;}
.intr_list .ilist_tit .ilistt3{float:left;width:100px;text-align:center;}
.intr_list .ilist_tit .ilistt4{float:left;width:100px;text-align:center;}
.intr_list .ilist_tit .ilistt5{float:left;width:150px;text-align:center;}
.intr_list .ilist_tit .ilistt6{float: left;width:100px; text-align: center;}
.intr_list .ilist_tit .ilistt7{float:left;width:100px;text-align:center;}
.intr_list .ilist_txt{color:#666;height:42px;line-height:42px;/*background:url(../images/11.jpg) repeat-x bottom;*/ border-bottom: 1px dashed #ccc;}
.intr_list .ilist_txt.last{background:none;margin-top:10px;}
.intr_list .ilist_txt .ilistc1{float:left;width:100px;text-align:center;height:42px;overflow:hidden;}
.intr_list .ilist_txt .ilistc2{float:left;width:100px;text-align:center;}
.intr_list .ilist_txt .ilistc3{float:left;width:100px;text-align:center;}
.intr_list .ilist_txt .ilistc4{float:left;width:100px;text-align:center;}
.intr_list .ilist_txt .ilistc5{float:left;width:150px;text-align:center;}
.intr_list .ilist_txt .ilistc6{float: left;width:100px;text-align: center;}
.intr_list .ilist_txt .reason{display:inline-block;width:14px;height:13px;margin-top:15px;background:url(../images/25.jpg) top left no-repeat;cursor:pointer;}
.intr_list .ilist_txt .ilistc7{float:left;width:100px;text-align:center;position:relative;}
.intr_list .ilist_txt .no_intr{color:#EC6F47;}


/*企业会员中心 广告位*/
.add_list {font-size:14px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:"microsoft yahei";}
.add_list .adlist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.add_list .adlist_tit .adlistt1, .add_list .adlist_txt .adlistc1{float: left;width: 129px;text-align: left;}
.add_list .adlist_tit .adlistt2, .add_list .adlist_txt .adlistc2{float: left;width: 147px;text-align: left;}
.add_list .adlist_tit .adlistt3, .add_list .adlist_txt .adlistc3{float: left;width: 135px;text-align: left;}
.add_list .adlist_tit .adlistt4, .add_list .adlist_txt .adlistc4{float: left;width: 101px;text-align: left;}
.add_list .adlist_txt .adlistc4 span{color:#EC6F47;}
.add_list .adlist_tit .adlistt5, .add_list .adlist_txt .adlistc5{float: left;width: 159px;text-align: left;}
.add_list .adlist_tit .adlistt6, .add_list .adlist_txt .adlistc6{float: left;width: 77px;text-align: left;}
.add_list .adlist_txt{float:left;color:#666;height:42px;line-height:42px;background:url(../images/11.jpg) repeat-x bottom;}

/*企业会员中心 职位发布成功页面*/
.step1succeed{font-family:"microsoft yahei","microsoft yahei";}
.step1succeed .tip{ padding-top:60px; font-size:14px;}
.step1succeed .tip .left{background:url(../images/14.gif) no-repeat right top;float:left; width:260px; height:180px;}
.step1succeed .tip .right{ float:left; padding-left:25px; padding-top:10px;}
.step1succeed .tip .right .txt{ line-height:250%; padding-top:10px; color:#666666; position:relative}
.step1succeed .tip .right .txt p{font-size: 16px; color:#656565;line-height: 25px;margin-bottom: 20px;}
.step1succeed .tip .right .txt p.link{font-size: 12px;font-family: "microsoft yahei";line-height: 20px;margin-bottom: 5px;}
.step1succeed .tip .right .txt p.link a{text-decoration: none;color:#017FCF;}
.step1succeed .tip .right .txt p.link a:hover{text-decoration: underline;}
.step1succeed .tip .right .txt span{ color:#FF0000; padding-left:10px; padding-right:10px; font-size:25px;}
.step1succeed .butbox{ padding-left:140px; border-bottom:1px #CCCCCC dotted; height:96px;}
.step1succeed .recommend{ padding-top:48px; font-size:14px; font-family:"microsoft yahei"}
.step1succeed .recommend .title{ padding-left:100px; height:30px;}
.step1succeed .recommend .l1{ width:122px; float:left; height:38px; line-height:38px; padding-left:100px;}
.step1succeed .recommend .l2{ width:122px; float:left; height:38px; line-height:38px;}
.step1succeed .recommend .l3{ width:122px; float:left; height:38px; line-height:38px;}
.step1succeed .recommend .l4{ width:122px; float:left; height:38px; line-height:38px;}
.step1succeed .recommend .l5{ width:102px; float:left; height:38px; line-height:38px; text-align:left;margin-left: 20px;}
.step1succeed .recommend .more{ padding-right:80px; padding-bottom:50px; padding-top:15px; text-align:right}
/*企业新闻列表*/
.data{padding:43px;}
.data .left{padding-left:20px;}
.data .data_content{background:url(../images/11.jpg) repeat-x bottom;}
/*企业风采*/
.pic{padding-top:20px;margin-left:15px;margin-right:15px;}
.pic .pic_title{font-size:14px;font-weight:bold;padding-bottom:10px;border-bottom:1px solid #ccc;}
.pic .pic_txt{font-size:12px;padding-top:10px;line-height:2;padding-left: 18px;background-image: url(../images/13.gif);background-repeat: no-repeat;background-position: left -89px;}
.pic .upload{margin-top:30px;}
.but_samll{width:59px;height:36px;line-height:35px;font-size:14px;color:#656565;background-color:#fff;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-family:"microsoft yahei","microsoft yahei";text-align:center;vertical-align:middle;margin-top:-2px;margin-left:-2px;cursor:pointer;}
.but_upload{width:70px;height:36px;line-height:35px;font-size:14px;color:#FFF;background-color:#0180CF;border:1px solid #0180CF;font-family:"microsoft yahei","microsoft yahei";text-align:center;vertical-align:middle;cursor:pointer;}
.but_upload.s{margin-left:50px;}
.pic .logo_img{padding-top:30px;position:relative;}
.pic .logo_img .img{width:245px;height:80px;background-color:#F5F5F5;border:1px solid #ccc;}
.pic .logo_img .ximg{position:relative;width:380px;height:159px;margin-bottom:30px;background-color:#F5F5F5;border:1px solid #ccc;float:left;}
.pic .logo_img .ximg .close{position:absolute;top:5px;right:5px;width:14px;height:14px;background:url(../images/21.gif) 0px -20px no-repeat;cursor:pointer;}
.pic .logo_img .ximg.s{margin-left:23px;}
.pic .logo_img a{position:absolute;top:93px;left:255px;text-decoration:none;color:#017FCF;}
/*地图标注*/
.map{padding-top:26px;padding-left:44px;}
.map p{font-size:14px;font-family:"microsoft yahei";color:#656565;margin-bottom:10px;}
/*弹出框*/
.data_dialog{background-color:#fff;padding:59px 68px 53px 56px;overflow:hidden;}
.data_dialog .left{width:184px;height:149px;background:url(../images/14.gif) top left no-repeat;float:left;}
.data_dialog .right{float:left;}
.data_dialog .right h5{margin:0px;font-size:25px;font-weight:normal;}
.data_dialog .right p{font-size:16px;line-height:24px;color:#656565;padding-top:22px;}
.data_dialog .right .but_group{margin-top:22px;}
.data_dialog .right .but_group div{float:left;}
.data_dialog .right .but_group .but_right{margin-left:110px;}
/*简历管理*/
.resume{padding:20px;}
.resume .reason{display:inline-block;width:14px;height:13px;margin-top:0px;margin-left:17px;background:url(../images/25.jpg) top left no-repeat;cursor:pointer;}
/*职位管理*/
.jobs{}
.jobs .bal_text{color:#656565;}
.jobs .balance .bal_but{position: absolute; top:8px;right:20px;}
/*企业会员中心 消息*/
.message{}
.message .main{margin-top:30px;padding-left:30px; padding-right:30px;}
.message .main .list{ padding-top:10px; padding-bottom:10px;  border-bottom:1px #CCCCCC dotted}
.message .main .list .title{ float:left; width:500px;}
.message .main .list .title span{ padding-left:20px; font-size:12px; color:#999999}
.message .main .list .title u{ text-decoration:none; color:#FF0000; font-size:12px; padding-left:20px;}
.message .main .list .del{ float:right; width:40px;font-size:12px;}
.message .main .list p{ font-size:12px; font-family:"microsoft yahei"; line-height:180%;}
/*企业会员中心 密码修改*/
.pwd{}
.pwd .nec{background:url(../images/13.gif) no-repeat 15px -45px; padding-left:25px;}
/*企业会员中心 安全认证*/
.authenticate{}
.authenticate .main{margin-top:30px;padding-left:15px;padding-right:15px;}
.authenticate .nt{margin-top:0px;}
.authenticate .main .toptipp{ padding-left: 18px;background-image: url(../images/13.gif);background-repeat: no-repeat;background-position: left -101px;margin-left:10px;}
.authenticate .mail_authenticate{height:75px;border-top:1px solid #E0E0E0;margin-top:30px;padding-top:25px;padding-left:31px;padding-right:31px;padding-bottom:20px; margin-left:15px; margin-right:15px;border-bottom: 1px solid #E0E0E0;}
.authenticate .phone_authenticate{height:75px;padding-top:25px;padding-left:31px;padding-right:31px;padding-bottom:20px;margin-left:15px; margin-right:15px;border-bottom: 1px solid #E0E0E0;}
.authenticate .mail_authenticate .mail_img{width:62px;height:44px;float:left;margin-right:100px;margin-top:15px;background:url(../images/19.jpg) 0px 0px no-repeat;}
.authenticate .mail_authenticate .mail_img.not_certified{background:url(../images/19.jpg) 0px -46px no-repeat;}
.authenticate .phone_authenticate .phone_img{width:62px;height:64px;float:left;margin-right:100px;margin-top:5px;background:url(../images/19.jpg) right -99px no-repeat;}
.authenticate .phone_authenticate .phone_img.not_certified{background:url(../images/19.jpg) 0px -167px no-repeat;}
.authenticate .mail_authenticate .mail_content{float:left;}
.authenticate .phone_authenticate .phone_content{float:left;}
.authenticate .mail_authenticate .mail_content h4{padding-bottom:14px;}
.authenticate .phone_authenticate .phone_content h4{padding-bottom:14px;}
.authenticate .mail_authenticate .mail_content .warning{color:#656565;}
.authenticate .phone_authenticate .phone_content .warning{color:#656565;}
.authenticate .mail_authenticate .mail_content p{font-size:12px;padding-bottom:10px;}
.authenticate .phone_authenticate .phone_content p{font-size:12px;padding-bottom:10px;}
.authenticate .mail_authenticate .mail_content p span{font-weight:bold;color:#12B409;}
.authenticate .phone_authenticate .phone_content p span{font-weight:bold;color:#12B409;}
.authenticate .mail_authenticate .mail_content p span.no_authenticate{font-weight:bold;color:#FF0101;}
.authenticate .phone_authenticate .phone_content p span.no_authenticate{font-weight:bold;color:#FF0101;}
.authenticate .mail_authenticate .mail_content p a{display:inline-block;padding-left:10px;color:#017FCF;font-weight:bold;}
.authenticate .phone_authenticate .phone_content p a{display:inline-block;padding-left:10px;color:#017FCF;font-weight:bold;}
.authenticate .mail_authenticate input{float:right;margin-top:15px;}
.authenticate .phone_authenticate input{float:right;margin-top:15px;}
.authenticate .phone_authenticate .weixin_img{width:62px;height:64px;float:left;margin-right:100px;margin-top:5px;background:url(../images/19.jpg) 0px -395px no-repeat;}
.authenticate .phone_authenticate .weixin_img.not_certified{background:url(../images/19.jpg) 0px -305px no-repeat;}
/*企业个人中心 推广弹窗*/
.spread_dialog{padding-top:31px;padding-left:49px;padding-bottom:21px;background-color:#fff;overflow:hidden;border-bottom:1px dashed #ccc;}
.spread_dialog h5{margin-top:0;font-weight:400;font-size:16px;color:#656565;}
.spread_dialog table td{font-size:16px;position:relative;}
.spread_dialog table td.s{font-size:12px;}
.spread_dialog p{padding-top:20px;color:#017FCF;}
.spread_but_box{background-color:#fff;padding-top:23px;padding-left:129px;padding-bottom:23px;}
.spread_but_box input{margin-right:30px;}

/*礼品卡*/
.gifts_list{font-size:14px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:"microsoft yahei";position:relative;}
.gifts_list .ilist_tit{background-color:#F5F5F5;height:40px;line-height:40px;color:#666;font-weight:bold;}
.gifts_list .ilist_tit .ilistt1{float:left;width:200px;text-align:center;}
.gifts_list .ilist_tit .ilistt2{float:left;width:200px;text-align:center;}
.gifts_list .ilist_tit .ilistt3{float:left;width:200px;text-align:center;}
.gifts_list .ilist_tit .ilistt4{float:left;width:100px;text-align:center;}
.gifts_list .ilist_txt{color:#666;height:42px;line-height:42px; border-bottom: 1px dashed #ccc;}
.gifts_list .ilist_txt.last{background:none;margin-top:10px;}
.gifts_list .ilist_txt .ilistc1{float:left;width:200px;text-align:center;}
.gifts_list .ilist_txt .ilistc2{float:left;width:200px;text-align:center;}
.gifts_list .ilist_txt .ilistc3{float:left;width:200px;text-align:center;}
.gifts_list .ilist_txt .ilistc4{float:left;width:100px;text-align:center;}
.gifts_list .ilist_txt .no_intr{color:#EC6F47;}

/*企业模板*/
.resume_model{padding:33px 20px 0px 48px;background-color:#fff;overflow:hidden;}
.resume_model h5{margin-top:0px;font-weight:normal;font-size:16px;color:#656565;}
.resume_model table td{font-size:16px;}
.resume_model .resume_bbox{width:840px;}
.resume_model .resume_box{float:left;padding:10px;}
.resume_model .resume_box .img{width:225px;height:136px;overflow:hidden;}
.resume_model .resume_box p{padding-top:20px;text-align:center;}
.usermain .rightmain .bbox1{min-height: 573px;}



.log{font-size:12px;}
.log .toptitle{ margin-left:30px; margin-right:30px; background-color:#F5F5F5; line-height:40px; margin-top:25px; font-weight:bold;}
.log .toptitle .t1{ width:288px; height:40px; float:left; padding-left:35px;}
.log .toptitle .t2{ width:288px; height:40px; float:left;text-align:center}
.log .toptitle .t3{ width:288px; height:40px; float:left;text-align:center}
.log .ilist{ margin-left:30px; margin-right:30px;  line-height:40px; border-bottom:1px #CCCCCC dotted}
.log .ilist .t1{ width:288px; height:40px; float:left; padding-left:35px;}
.log .ilist .t2{ width:288px; height:40px; float:left; text-align:center}
.log .ilist .t3{ width:288px; height:40px; float:left;text-align:center}



/*新的课程管理页面*/
.all_class{margin:0 30px;padding:20px 0;}
.all_class .class_manage th{font-size: 14px;color:#666;height:40px;}
.all_class .class_manage .manage_first{padding-left: 10px;}
.all_class .class_manage td{height:64px;color:#333;font-size: 14px;border-bottom:1px dotted #ccc;}
.all_class .class_manage .class_shenhe{font-size: 12px;color:#666;padding-left: 15px;}
.all_class .class_manage td .but_a{font-size: 14px;color:#0180CF;}
.class_detail{font-size: 12px;color:#999;padding-top: 5px;padding-left: 17px;}
.class_detail a{color:#999;}
.class_detail .f5{color:#0180CF;}
.class_detail .f5:hover{color:#0180CF;}

/*新订单页*/
.new_order{margin:0 30px;padding:20px 0;}
.new_order th{font-size: 14px;color:#666;height:40px;}
.new_order .n_order_first{padding-left: 10px;}
.new_order td{height:64px;color:#333;font-size: 14px;border-bottom: 1px dotted #ccc;}
.n_order_span{font-size: 12px;color:#999;padding-top: 5px;}
.n_order_span .pay{color:#333;}
.n_order_span .nopay{color:#FF0000;}
.new_order td .but_a{color:#0180CF;}

/*新的新闻页*/
.new_news{margin:0 30px;padding:20px 0;}
.new_news th{font-size: 14px;color:#666;height:40px;}
.n_news_first{padding-left: 10px;}
.new_news td{font-size: 14px;color:#333;height:64px;border-bottom: 1px dotted #ccc;}
.n_news_span{font-size: 12px;color:#999;padding-top: 5px;padding-left: 15px;}
.new_news td .but_a{color:#0180CF;}
.new_news td .but_a:hover{color:#0180CF;}

/*新的绑定页面*/
.new_bindding{margin:0 30px;padding:20px 0;}
.new_bindding .bindding_first{padding-left: 10px;}
.new_bindding .new_bindding_table{font-size: 14px;color:#666;height:40px;width: 100%;}
.new_bindding .new_bindding_table th{font-size: 14px;color:#666;height:40px;}
.new_bindding .new_bindding_table td{height:58px; border-bottom: 1px dotted #ccc;font-size: 14px;color:#666;}
.bind_icon{padding-left: 19px;background-image: url(../images/new_bindding.png);background-repeat: no-repeat;}
.qq_bind{background-position: left 2px;}
.taobao_bind{background-position: left -53px;}
.sina_bind{background-position: left -106px;}
.qq_no_bind{background-position: left -26px;}
.taobao_no_bind{background-position: left -79px;}
.sina_no_bind{background-position: left -133px;}
.new_bindding .new_bindding_table td a{color:#0180CF;}


/*新的讲师列表*/
.new_teacher_list{margin:0 30px;padding:20px 0;}
.new_teacher_list th{font-size: 14px;color:#666;height:40px;}
.new_teacher_list .n_teacher_first{padding-left:10px;}
.new_teacher_list td{font-size: 14px;color:#333;height:64px;border-bottom: 1px dotted #ccc}
.teacher_school{font-size: 12px;color:#666;margin-left: 15px;}
.n_teacher_detail{font-size: 12px;color:#999;padding-top:5px;padding-left: 15px;}
.new_teacher_list td .but_a{color:#0180CF;}

/*新的收到的课程申请*/
.new_apply_course{margin:0 30px;padding:20px 0;}
.new_apply_course .n_apply_table th{font-size: 14px;color:#666;height:40px;}
.new_apply_course .n_apply_table .n_apply_first{padding-left: 10px;}
.new_apply_course .n_apply_table td{font-size: 14px;color:#333;height:58px;border-bottom: 1px dotted #ccc;}

.but_upload.hover{background-color: #0070BD;border:1px solid #0070BD;}

.train_user_name{color:#009900;}

#payment_name{position: relative;top:-7px;}

/*新添加我的账户页面样式*/
.page_main{width:780px;margin-left:20px;}
.my_accountnew{text-align:left;}
.my_accountnew .row{padding:20px 5px;border-bottom:1px solid #E7E7E7;}
.my_accountnew .rowpdno{padding-top:0px;}
.my_accountnew .rowpdt{padding-top:10px;}
.my_accountnew .rownb{border-bottom:none;}
.my_accountnew .row dl{line-height:25px;padding:6px 0;position:relative;}
.my_accountnew .row dt{float:left;width:80px;color:#666666;font-size:14px;font-weight:bold;font-family:"SimSun"}
.my_accountnew .row dd{float:left;-webkit-margin-start:10px;font-size:12px;}
.my_accountnew .row dd.remark{font-family:"SimSun"}
.my_accountnew .row dd.field_value b{font-size:14px;font-weight:bold;color:#666666;}
.my_accountnew .row dd.field_value .verified{padding-left:20px;position:relative;_zoom:1;color:#7CB615;_display:inline;}
.my_accountnew .row dd.field_value .verified.mpdl{padding-left:0px;}
.my_accountnew .row dd.field_value .verified.mpdl a{color:#0180cf;}
.my_accountnew .row dd.field_value .verified i{height:16px;width:16px;display:block;background:url(../images/ico_warn.png) no-repeat 0 0;position:absolute;top:4px;left:0;}
.my_accountnew .row dd.field_value .unverified{padding-left:20px;position:relative;*zoom:1;color:#D49922;*display:inline;}
.my_accountnew .row dd.field_value .unverified i{height:16px;width:16px;display:block;background:url(../images/ico_warn.png) no-repeat 0 -100px;position:absolute;top:4px;left:0;}
.my_accountnew .row dd.msg_box{position:absolute;top:6px;right:70px;text-align:right;color:#999999;font-family:"SimSun";font-size:12px;}
.my_accountnew .row dd.msg_boxle{left:70px;}
.my_accountnew .row dd.btn{float:right;width:47px;height:25px;text-align:center;color:#3F5161;}
.my_accountnew .row dd.btn a{color:#666666;text-decoration:none;width:47px;height:25px;display:block;background:url(../images/btn02.png) no-repeat -150px -100px;}
.my_accountnew .row dd.btn a:hover{background-position:-150px -150px;}
.my_accountnew .row dd.verified a{color:#B2B9BE;}
.my_accountnew .row dd.verified a:hover{background-position:-150px -100px;}
.my_accountnew .row .password_level{height:16px;line-height:16px;width:220px;padding-top:4px;}
.my_accountnew .row .password_level em{float:left;font-style:normal;color:#636363;height:16px;line-height:16px;padding-right:3px;}
.my_accountnew .row .password_level i{float:left;width:56px;height:11px;overflow:hidden;margin-top:3px;margin-top:1px\9;_margin-top:3px;background:url(../images/07.png) no-repeat;}
.my_accountnew .row .password_level span{float:left;font-size:14px;font-weight:bold;padding-left:3px;height:16px;line-height:16px;}
.my_accountnew .row .password_level.low i{background-position:0 -100px;}
.my_accountnew .row .password_level.low span{color:#ED5816;}
.my_accountnew .row .password_level.middle i{background-position:0 -50px;}
.my_accountnew .row .password_level.middle span{color:#F79F14;}
.my_accountnew .row .password_level.advanced i{background-position:0 0;}
.my_accountnew .row .password_level.advanced span{color:#6BB247;}
.my_accountnew .row.binding li{float:left;padding-right:10px;margin-bottom:20px;}
.my_accountnew .row.binding li.mt{margin-top:20px;}
.my_accountnew .row.binding li .status{height:74px;width:196px;border:1px solid #D5DADF;border-radius:5px;}
.my_accountnew .row.binding li .success .box{padding:10px;}
.my_accountnew .row.binding li .success .pic{width:80px;height:55px;position:relative;overflow:visible;padding-top:0px;margin-left:0px;margin-right:0px;}
.my_accountnew .row.binding li .success .pic.qq{background:url(../images/06.png) no-repeat;background-position:-15px -510px;}
.my_accountnew .row.binding li .success .pic.sina{background:url(../images/06.png) no-repeat;background-position:-15px -410px;}
.my_accountnew .row.binding li .success .pic.weixin{background:url(../images/06.png) no-repeat;background-position:-15px -610px;}
.my_accountnew .row.binding li .success .pic.taobao{background:url(../images/06.png) no-repeat;background-position:-15px -710px;}
.my_accountnew .row.binding li .success .info{width:86px;margin:6px 0px 0px 10px;}
.my_accountnew .row.binding li .success .info .name{width:86px;font-size:14px;color:#656565;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.my_accountnew .row.binding li .success .info a{color:#44659E;font-size:14px;}
.my_accountnew .row.binding li .failure .box{padding:10px;}
.my_accountnew .row.binding li .failure .pic{width:80px;height:55px;position:relative;overflow:visible;padding-top:0px;margin-left:0px;margin-right:0px;}
.my_accountnew .row.binding li .failure .pic.qq{background:url(../images/06.png) no-repeat;background-position:-15px -110px;}
.my_accountnew .row.binding li .failure .pic.sina{background:url(../images/06.png) no-repeat;background-position:-15px -10px;}
.my_accountnew .row.binding li .failure .pic.weixin{background:url(../images/06.png) no-repeat;background-position:-15px -210px;}
.my_accountnew .row.binding li .failure .pic.taobao{background:url(../images/06.png) no-repeat;background-position:-15px -310px;}
.my_accountnew .row.binding li .failure .info{width:86px;margin:6px 0px 0px 10px;}
.my_accountnew .row.binding li .failure .info .mt{margin-top:11px;}
.my_accountnew .row.binding li .failure .info .name{width:86px;font-size:14px;color:#656565;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.my_accountnew .row.binding li .failure .info a{color:#44659E;font-size:14px;}
.my_accountnew .row.binding li a:hover{text-decoration:none;}
.my_accountnew .row.binding li a span{padding-left:96px;color:#44659E;font-size:14px;}
.my_accountnew .row.binding {color:#A4A4A4;}
.field_value_up{height:30px;line-height:30px;font-size:14px;font-weight:bold;color:#444;}
.unbindBox{padding:10px 20px 20px 20px;display:none;}
.unbindBoxs{display:block;}
.unbindBox .con{font-size: 14px;line-height: 1.8;}
.unbindBox .tex{width:380px;}
.unbindBox .tex span.co{color: #ff861f;margin:0 5px;}
.unbindBox .sclosePd{float:right;margin:10px 10px 10px 0px;}
.unbindBox a.sclose{color:#666666;text-decoration:none;width:47px;height:25px;line-height:25px;display:block;background:url(../images/btn02.png) no-repeat -150px -100px;text-align:center;font-size:12px;text-decoration:none;}
.unbindBox a.sclosem{margin-left:10px;}
.unbindBox a.sclose:hover{background-position:-150px -150px;}


/*3.6修正*/
.new_news_table,
.new_order_list,
.n_teacher_table,
.n_apply_table,
.class_manage{width: 100%;}
