<h4>メンバーログイン</h4>
<div class="haslogin">
	<div class="has-login-top clearfix">
		<div class="has-user f-left">おかえり、<hREF = “{#$user_url#}” クラスは= “underline”>{#$username#}</a></div>
		<a href="{#$logout_url#}" class="exit-link underline f-right">[ログイン]</a>
	</div>
	<div class="core-function-list clearfix">
		{#$count#}
	</div>
	<a href="{#$user_url#}" class="enter-user-center">会員センターに入る</a>
	<p class="last-log">{#$last_login_time#}</p>
	<p class="hot-line">カスタマーサービスホットライン：{#$site_tel#} </p>
</div>
