{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
  <div class="toptip">
	<h2>ヒント：</h2>
	<p>データの復元を実行する場合、アップグレードするか、キャッシュを再生成するために、この機能を使用することができたときに異常動作が発生します。キャッシュを更新する、それがサーバーの負荷が増加する可能性があり、時間のメンバーは訪問のピークを避けるようにしてみてください<br />
数据缓存：更新网站设置、积分规则、邮件设置等缓存 <br />
模板缓存：更新模板、风格等缓存文件，当您修改了模板或者风格，但是没有立即生效的时候使用 </p>
  </div>
<div class="toptit">更新option</div>
  <form id="form1" name="form1" method="post" action="?act=clear_cache"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="4">
      <td height="60" style=" line-height:220%; color:#666666;">
	  <table width="600" height="100" border="0" cellpadding="2" cellspacing="2" id="selecttplcache">
        <tr>
          <td height="45" align="center"><label ><input  type="checkbox" checked="checked" value="datacache" name="type[]" />
        数据缓存</label> <label >
        <input id="tplcache" type="checkbox"   value="tplcache" name="type[]" checked="checked"  />
       模板缓存</label></td>
        </tr>
        <tr>
          <td height="45" align="center"><input name="submit" type="submit" class="admin_submit"    value=“確定” onclick="document.getElementById('selecttplcache').style.display='none';document.getElementById('hide').style.display='block';"/></td>
        </tr>
      </table>      
        <table width="600" height="100" border="0" cellpadding="5" cellspacing="0" id="hide" style="display:none">
          <tr>
            <td align="center" valign="bottom"><img src="images/ajax_loader.gif"  border="0" /></td>
          </tr>
          <tr>
            <td align="center" valign="top" style="color: #009900">キャッシュを更新する、 お待ちください……</td>
          </tr>
        </table></td>
    </tr>
  </table>
  </form>  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
