{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit">Highwayns人材システム管理センター</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
请可以后通过“系统 > セキュリティの設定 > CSRF防御”来关闭此功能。
</p>
</div>
<div class="toptit">提出危険</div>
	<div  style="color: #666666; padding:24px;" class="link_lan">システムは、違法な残業の提出または提出が提出を検出します。してください<ahref="javascript:history.go(-1);">返回上一页</a> 改めて提出する</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
