<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<title>Powered by 74CMS</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
$("li").first().addClass("hover");
$("li>a").click(function(){
	$("li").removeClass("hover");
	$(this).parent().addClass("hover");
	$(this).blur();
	})
})
</script>
</head>
<body>
<div  class="admin_left_box">
<ul>
<li><a href="admin_article.php"  target="mainFrame" >新闻资讯</a></li>
<li><a href="admin_explain.php"  target="mainFrame" >说明页</a></li>
<li><a href="admin_notice.php"  target="mainFrame" >公告</a></li>
{#if $_PLUG.hrtools.p_install==2#}
<li><a href="admin_hrtools.php"  target="mainFrame" >HR工具箱</a></li>
{#/if#}
<li><a href="admin_help.php"  target="mainFrame" >帮助</a></li>
<li><a href="admin_feedback.php?act=report_list"  target="mainFrame"  >举报信息</a></li>
<li><a href="admin_feedback.php?act=suggest_list"  target="mainFrame"  >意见与建议</a></li>
</ul>
</div>
</body>
</html>