{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="sms/admin_sms_nav.htm"#}
  <div class="clear"></div>
</div>
	<div class="toptip">
	<h2>ヒント：</h2>
		<p>SMSテンプレートのhTMLを追加しないでください。<br />
短信内容不能超过60个字符，超过将会自动删除多余字符。
</p>
		</div>
	<div class="toptit">メール送信のルール</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
       <tr>
        <td height="30" style="font-size:12px;padding-left:20px;">
		<form action="admin_mail.php?act=email_config_save" method="post"   name="form1" id="form1">
		<table width="242" border="0" cellspacing="7" cellpadding="1" style=" margin-bottom:3px;" class="link_lan">
            <tr>
              <td align="right" width="137">職位申請：</td>
              <td><a href="?act=edit_tpl&templates_name=set_applyjobs&thisname=職位”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">面接を招待：</td>
              <td><a href="?act=edit_tpl&templates_name=set_invite&thisname=面接の招待。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">新規受注：</td>
              <td><a href="?act=edit_tpl&templates_name=set_order&thisname=チャージ申請”>[新增订单]</a></td>
            </tr>
            <tr>
              <td align="right">チャージ成功：</td>
              <td><a href="?act=edit_tpl&templates_name=set_payment&thisname =チャージ成功”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">パスワードを変更します：</td>
              <td><a href="?act=edit_tpl&templates_name=set_editpwd&thisname=パスワードの変更”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ジョブの承認：</td>
              <td><a href="?act=edit_tpl&templates_name=set_jobsallow&thisname=仕事審査合格”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">職位審査未通過：</td>
              <td><a href="?act=edit_tpl&templates_name=set_jobsnotallow&thisname=職位審査未通過”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスの承認：</td>
              <td><a href="?act=edit_tpl&templates_name=set_licenseallow&thisname=ビジネスライセンスの承認。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスのレビューに失敗しました：</td>
              <td><a href="?act=edit_tpl&templates_name=set_licensenotallow&thisname =ビジネスライセンス監査に合格しませんでした。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">電子地図を開通する</td>
              <td><a href="?act=edit_tpl&templates_name=set_addmap&thisname= =オープンマップ。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">履歴審査通過</td>
              <td><hREF = “？= edit_tpl＆templates_name = set_resumeallow＆thisname =履歴書審査通過”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">履歴書審査未通過：</td>
              <td><a href="?act=edit_tpl&templates_name=set_resumenotallow&thisname=履歴書審査未通過”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td height="55" align="right">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
		  </form>		  </td>
      </tr>
    </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
