<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="templates/css/css.css" rel="stylesheet" type="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<title>セットアップウィザード - highwayns人材システム（www.highwayns.com）</title>
</head>
<body>
	<div class="install_box">
		{#include file="header.htm"#}
		<div class="install_tips">
			<p>ヒント：このソフトウェアは海威人材専用システムです。ビジネスご利用なら、海威人材にご連絡してください。</P>
			<p>免責事項：ビジネス研究とテスト目的のために認可されておらず、商業目的、または法的責任のための二次開発を許可していません。</P>
		</div>
		<div class="install_content">
			<div class="content">
				<h2>個人のライセンス契約は、個人ユーザーに適用される</h2>
				<p>著作権所有; 2017,highwayns.comすべての権利を保有します。 <br/>
海威人材日本： <a href="http://jp.highwayns.com" target="_blank">jp.highwayns.com</a> 海威人材中国：<a href="http://cn.highwayns.com/" target="_blank"> cn.highwayns.com</a><br/>
本システムを合法的にご利用するため，下記の条約を読んでください。：<br/>
<strong>まず、海威人材は本ライセンス契約の最終な解釈権利を持っています。</strong><br/>
<strong>第二、契約により許可権限</strong> <br/>
1、本条約完全守る上に、本システム商用することができます。 <br/>
2、本条約完全守る上に、本システムのソースコード及び設計ステルスを修正することができます。 <br/>
3、本システムを使って、ウェブシステム構築することができますが、ただ各地の法律を守ること。<br/>		  
4、商用ライセンスを取得した後、あなたが技術サポート期間中に指定した方法で得られた指定された範囲内で、購入の時点以降、決定し、購入したライセンスの種類に基づいて、技術サポートの内容ながら、商用目的のために、このソフトウェアを使用することができます技術サポートサービス。ビジネス承認されたユーザーがコメントを反映して作成する力を持って、関連するコメントが第一に考慮されますが、必ずしも約束または保証を受け入れられません。<br/>	
<strong>第三、制約と制限が所定の条約</strong> <br/>		    
1、事業が許可されている前に、どのような目的もこのソフトウェアを使用することはできません。最新の手順については、商用ライセンスを購入してから提供します。<br/>	
2、本システムを抵当、再配布すること許しません。<br/>	
3、本システム部分使用しても ，全体使用しても，ホームページのトップページに(www.highwayns.com)リンクを必要です。<br/>	
4、本条約を違反する場合、法律責任を追求します。 <br/>	
<strong>第四、限定保証および免責事項</strong> <br/>
1、本システムのソースの提供だけ、責任を負いません。 	<br/>		  
2、本システムに関する改造は、有料サービスとして提供します。 <br/>	
3、電子協議を認めます、本システム一旦使うと、本協議を同意する。<br/>	
条約配布時間： 2017年5月20日	<br/></p>
			</div>
		</div>
		<div class="next">
			<form action="index.php" method="get">
			<input name="act" type="hidden" value="2" />
			<input type="submit" value="同意" class="up" />
			<input type="button" value="拒否" class="down" onclick="javascript:self.close()"/>
			</form>
		</div>
		<div class="copyright">
			Copyright @ 2017 highwayns.com All Right Reserved
		</div>
	</div>
</body>
</html>
