.h1 {
	border-width: 1px; border-style: solid none none; border-color: rgb(51, 102, 204); padding: 5px; font-size: medium; margin-top: 5px; margin-bottom: 2px; background-color: rgb(229, 236, 249);
}
.h2 {
	padding: 3px; width: 600px; font-size: smaller; font-weight: normal; margin-top: 5px; margin-bottom: 0px; background-color: rgb(229, 236, 249);
}
.table {
	border-width: 0px 2px 2px; border-style: none solid solid; border-color: rgb(229, 236, 249); padding: 1px; width: 600px; font-size: smaller; margin-bottom: 10px;
}
.copyright {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(51, 102, 204); text-align: center; color: rgb(153, 153, 153); padding-top: 10px; font-size: smaller;
}
.navi {
	padding: 0px 0px 2px; margin-top: 0px; margin-bottom: 2px;
}
.gray {
	color: rgb(102, 102, 102); font-weight: normal;
}
.menutitle {
	width: 600px; color: rgb(142, 173, 230); padding-top: 1px; padding-bottom: 1px; font-size: smaller; font-weight: normal; margin-top: 0px; margin-bottom: 0px; background-color: rgb(229, 236, 249);
}
.menutable {
	border-width: 0px 2px 2px; border-style: none solid solid; border-color: rgb(229, 236, 249); padding: 1px; width: 600px; color: rgb(102, 102, 102); font-size: smaller;
}
.line {
	width: 2px; height: 600px; margin-left: 5px; background-color: rgb(229, 236, 249);
}
.topad {
	width: 600px; margin-top: 5px; background-color: rgb(255, 249, 221);
}
.small {
	font-size: smaller;
}
.sponsored {
	color: rgb(102, 102, 102); font-size: smaller; font-weight: normal;
}
