{#include file="sys/admin_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
//日期
	$(function() { 
	$(".date_input").date_input(); 
	}); 
}); 
</script>
<script type="text/javascript" >
$(document).ready(function()
{
//验证文字广告
	$("#sub1").click(function()
	{
	 if ($("#title").val()==""){alert ("请填写广告标题"); return false;}
	 if ($("#text_content").val()==""){alert ("请填写文字");return false;}
	 $("#FormData").submit();
	});
	//图片
	$("#sub2").click(function()
	{
	 if ($("#title").val()==""){alert ("请填写广告标题"); return false;}
	 if ($("#img_file").val()=="" && $("#img_path").val()==""){alert ("请上传图片或填写图片路径");return false;}
	 $("#FormData").submit();
	});	
	//代码
	$("#sub3").click(function()
	{
	 if ($("#code_content").val()==""){alert ("请填写输入广告代码"); return false;}
	 $("#FormData").submit();
	});	
	//FLASH
	$("#sub4").click(function()
	{
	  if ($("#title").val()==""){alert ("请填写广告标题"); return false;}
	 if ($("#flash_file").val()=="" && $("#flash_path").val()==""){alert ("请上传FLASH或填写FLASH路径");return false;}
	 if ($("#flash_width").val()=="" || $("#flash_height").val()==""){alert ("请填写宽和高");return false;}
	 $("#FormData").submit();
	});	
	
//浮动
	$("#sub5").click(function()
	{
	  if ($("#title").val()==""){alert ("请填写广告标题"); return false;}
	 if ($("#floating_file").val()=="" && $("#floating_path").val()==""){alert ("请上传F或填写路径");return false;}
	 if ($("#floating_width").val()=="" || $("#floating_height").val()==""){alert ("请填写宽和高");return false;}
	  if ($("#floating_left").val()=="" && $("#floating_right").val()==""){alert ("请填写左距或者右距");return false;}
	  if ($("#floating_top").val()==""){alert ("请填写顶距");return false;}
	  if ($("#floating_top").val()>800){alert ("顶距超过了800，多数情况下无法正确显示，推荐设置在300内");return false;}
	 $("#FormData").submit();
	});	
	//视频
	$("#sub6").click(function()
	{
	  if ($("#title").val()==""){alert ("请填写广告标题"); return false;}
	 if ($("#video_file").val()=="" && $("#video_path").val()==""){alert ("请上传或填写路径");return false;}
	 if ($("#video_width").val()=="" || $("#video_height").val()==""){alert ("请填写宽和高");return false;}
	 $("#FormData").submit();
	});		
	
}); 
</script>
<script type="text/javascript" >
$(document).ready(function()
{
	selChange("{#$ad.category_id#},{#$ad.type_id#},{#$ad.alias#}");
	$("#category").change(function(){
	 selChange($(this).val());
	});
	function selChange(obj)
	{
	var str=obj.split(",");
	$("#category_id").val(str[0]);
	$("#type_id").val(str[1]);
	$("#alias").val(str[2]);
	$(".adshow").hide();
	$("#show"+str[1]).show();
	}
	$(":radio[name=floating_type]").click(function(){
	if ($(":radio[name=floating_type][checked]").val()=="1")
	{
	$("#show_url").show();
	}
	else
	{
	$("#show_url").hide();
	}
	});
	///
	if ($(":radio[name=floating_type][checked]").val()=="1")
	{
	$("#show_url").show();
	}
	else
	{
	$("#show_url").hide();
	}
	
}); 
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="ads/admin_ad_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
上传大文件建议通过FTP上传
在填写路径的时候，建议使用“/”或“http:// ”  开头的绝对路径。
</p>
</div>
<div class="toptit">広告編集<span style="color:#0033CC">{#$ad.title#} </span></div>
<form action="?act=ad_edit_save" method="post" enctype="multipart/form-data"  name="FormData" id="FormData" >
<input name="id" type="hidden" value="{#$ad.id#}" /><input name="url" type="hidden" value="{#$url#}" />
<table width="100%" border="0" cellpadding="3" cellspacing="3">
              <tr>
                <td width="100" align="right">広告のtitle（必須）：</td>
                <td><input name="title" type="text" class="input_text_400" id="title" maxlength="100"  value="{#$ad.title#}"/> <span class="admin_note">見出しが異なる広告の唯一のエントリが識別される説明し、広告でが表示されませんの</span></td>
              </tr>
			  <tr>
                <td align="right">ディスプレイのステータス：</td>
                <td>
				<label>
                  <input name="is_display" type="radio" value="1" {#if $ad.is_display=="1"#}checked="checked"{#/if#}/>
                  正常</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>
                  <input type="radio" name="is_display" value="0" {#if $ad.is_display=="0"#}checked="checked"{#/if#} />
停止 </label></td>
              </tr>
              <tr>
                <td align="right">選択されたカテゴリ：</td>
                <td><select name="category"   id="category"  >           
  					{#foreach from=$ad_category item=li#}		
                  <option value="{#$li.id#},{#$li.type_id#},{#$li.alias#}"  {#if $li.id==$ad.category_id#}selected="selected"{#/if#}>{#$li.categoryname#}</option>
				 {#/foreach#}
                </select>
				<input name="category_id" id="category_id" type="hidden" value="{#$ad.category_id#}" />
				<input name="type_id" id="type_id" type="hidden" value="{#$ad.type_id#}" />
				<input name="alias" id="alias" type="hidden" value="{#$ad.alias#}" />				</td>
              </tr>
              <tr>
                <td align="right">表示順序：</td>
                <td><input name="show_order" type="text" class="input_text_200" id="show_order"  value="{#$ad.show_order#}" maxlength="3" />                   <span class="admin_note">数字が大きければトップに行けます</span></td>
              </tr>
  <tr>
    <td align="right">開始時間：</td>
    <td>
      <input name="starttime" type="text" class="input_text_200 date_input"   maxlength="10"  value="{#$ad.starttime#}"  /> <span class="admin_note">设置广告起始生效的时间，格式 yyyy-mm-dd，留空为不限制起始时间</span></td>
    </tr>
  <tr>
    <td align="right">終了時刻：</td>
    <td>
      <input name="deadline" type="text" class="input_text_200 date_input" id="deadline" maxlength="10"  value="{#$ad.deadline#}"/> <span class="admin_note">设置广告广告结束的时间，格式 yyyy-mm-dd，留空为不限制结束时间</span></td>
    </tr>
  <tr>
    <td align="right">注：</td>
    <td><textarea name="note" id="note" style="width:300px; height:50px; font-size:12px; line-height:180%">{#$ad.note#}</textarea></td>
    </tr>
    </table>
<div class="adshow" id="show1">
 <div class="toptit">テキスト広告</div>
 <table width="100%" border="0" cellpadding="3" cellspacing="3" >
                <tr>
                  <td width="100" align="right">テキスト（必須）：</td>
                  <td><input name="text_content" type="text" class="input_text_400" id="text_content" maxlength="250" value="{#$ad.text_content#}"/> <span class="admin_note">テキスト広告の内容を表示します</span></td>
                </tr>
                <tr>
                  <td align="right">テキストリンク：</td>
                  <td><input name="text_url" type="text" class="input_text_400" id="text_url" maxlength="250" value="{#$ad.text_url#}"/>                     <span class="admin_note">以下のような：のhttp：//www.highwayns.com </span></td>
                </tr>
                <tr>
                  <td align="right">テキストの色：</td>
                  <td>
				  
				  <div class="color_layer">	
		<div id="color_box" onclick="color_box_display()" ></div><input type="hidden" name="tit_color" id="tit_color"  value="{#$ad.text_color#}">
		{#include file="sys/admin_select_color.htm"#}		</div>				  </td>
                </tr>
      </table>
	  <div style="padding-left:110px; padding-top:10px;">
	  <input type="button"  id="sub1" value="确定提交" class="admin_submit"   />
      <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
	  </div>
     
	</div>
<div class="adshow" id="show2">			
	 <div class="toptit">ピクチャー広告</div>
	
	<table width="100%" border="0" cellpadding="3" cellspacing="3">
	
				<tr>
                  <td width="100" align="right">ローカルのアップロード：</td>
                  <td >
				 <input name="img_file" type="file"   id="img_file" style="font-size:12px; height:24px; width:273px;" />
				  <span class="admin_note">（フォーマットを許可する：gif/jpg/bmp/png，文件大小：1000KB)</span></td>
                </tr>
                <tr>
                  <td width="100" align="right">または絵：</td>
                  <td ><input name="img_path" type="text" class="input_text_200" id="img_path" maxlength="250" value="{#$ad.img_path#}"/>                     <span class="admin_note">以下のような：/images/logo.gifまたはhttp://www.baidu.com/img/baidu_logo.gif</span></td>
                </tr>
                <tr>
                  <td align="right">画像リンク：</td>
                  <td><input name="img_url" type="text" class="input_text_200" id="img_url" maxlength="250"  value="{#$ad.img_url#}"/><span class="admin_note">以下のような：のhttp：//www.highwayns.com </span></td>
                </tr>
                <tr>
                  <td align="right">写真説明：</td>
                  <td><input name="img_explain" type="text" class="input_text_200" id="img_explain" maxlength="250" value="{#$ad.img_explain#}"/></td>
                </tr>
				<tr>
                  <td align="right">メンバーのUID：</td>
                  <td>
				  
				  <input name="img_uid" type="text" class="input_text_200" id="img_uid" maxlength="10" value="{#$ad.img_uid#}"/>
				  
				  <span class="admin_note">メンバーを設定した後、マウスを画像の上にあるUIDは、関連の仕事やビジネスの情報が表示されます</span>
				  </td>
                </tr>
      </table>
		  <div style="padding-left:110px; padding-top:10px;">
		  <input type="button"  id="sub2" value="确定提交" class="admin_submit"   />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		  </div>
	</div>
	<div class="adshow" id="show3">	
		 <div class="toptit">広告コード</div>
		<table width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr>
                  <td width="100" align="right" valign="top"> コード（必須）：</td>
                  <td><textarea name="code_content" id="code_content" style="width:300px; height:50px; font-size:12px; line-height:180%">{#$ad.code_content#}</textarea>               <span class="admin_note">请直接输入需要展现的广告代码</span></td>
                </tr>
      </table>
	   	<div style="padding-left:110px; padding-top:10px;">
		  <input type="button"  id="sub3" value="确定提交" class="admin_submit"   />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
	  </div>
	</div>
		<div class="adshow" id="show4">
		
		 <div class="toptit">Flash広告</div>
		
		<table width="100%" border="0" cellpadding="3" cellspacing="3">
		<tr>
                  <td width="100" align="right">ローカルのアップロード：</td>
          <td >
				 <input name="flash_file" type="file"   id="flash_file" style="font-size:12px; height:24px; width:273px;" />
			 <span class="admin_note">（ファイル：swf，テキストサイズ：1000KB）</span></td>
          </tr>
                <tr>
                  <td width="100" align="right">或いはFlashアドレス：</td>
                  <td><input name="flash_path" type="text" class="input_text_200" id="flash_path" maxlength="250"  value="{#$ad.flash_path#}"/>               <span class="admin_note">以下のような：/images/123.swfまたはhttp://www.highwayns.com/123.swf</span></td>
                </tr>
                <tr>
                  <td align="right">フラッシュ幅（必須）：</td>
                  <td><input name="flash_width" type="text" class="input_text_200" id="flash_width" maxlength="5"   value="{#$ad.flash_width#}"/>
                  px</td>
                </tr>
                <tr>
                  <td align="right">フラッシュ高さ（必須）：</td>
                  <td><input name="flash_height" type="text" class="input_text_200" id="flash_height" maxlength="5"   value="{#$ad.flash_height#}"/>
                  px</td>
                </tr>
          </table>
		  <div style="padding-left:110px; padding-top:10px;">
		  <input type="button"  id="sub4" value="确定提交" class="admin_submit"   />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		  </div>
	</div>
					<div class="adshow" id="show5">
					<div class="toptit">動き広告</div>
				<table width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr>
                  <td width="100" align="right">タイプ：</td>
                  <td><label>
                    <input name="floating_type" type="radio" value="1" {#if $ad.floating_type=="1"#}checked="checked"{#/if#} />
图片</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                    <input type="radio" name="floating_type" value="2" {#if $ad.floating_type=="2"#}checked="checked"{#/if#} />
Flash </label></td>
                  </tr>
				  <tr>
                  <td width="100" align="right">ローカルのアップロード：</td>
                  <td >
				 <input name="floating_file" type="file" id="floating_file" style="font-size:12px; height:24px; width:273px;" />
                 <span class="admin_note">（フォーマットを許可する：GIF / JPG / BMP / PNG / SWFファイルサイズ：1000KB）</span></td>
                </tr>
                <tr>
                  <td align="right">またはパス：</td>
                  <td><input name="floating_path" type="text" class="input_text_200" id="floating_path"  value="{#$ad.floating_path#}"/></td>
                  </tr>
                <tr id="show_url">
                  <td align="right" >リンクアドレス：</td>
                  <td><input name="floating_url" type="text" class="input_text_200" id="floating_url" value="{#$ad.floating_url#}"/></td>
                  </tr>
                <tr>
                  <td align="right">幅（必須）：</td>
                  <td><input name="floating_width" type="text" class="input_text_200" id="floating_width" value="{#$ad.floating_width#}" />
                  px</td>
                  </tr> 
                <tr>
                  <td align="right">高さ（必須）：</td>
                  <td><input name="floating_height" type="text" class="input_text_200" id="floating_height" value="{#$ad.floating_height#}" />
                  px</td>
                  </tr>
                   <tr>
                  <td align="right">左から（記入自由）</td>
                  <td><input name="floating_left" type="text" class="input_text_200" id="floating_left"   value="{#$ad.floating_left#}" maxlength="5"   />
  px(左距与右距选填一个，如左距设置为0，则此浮动将在左侧浮动，如设置为100，则此浮动将在距离浏览器左侧100像素处浮动。)</td>
                  </tr>
				   <tr>
                  <td align="right">右から（記入自由）</td>
                  <td><input name="floating_right" type="text" class="input_text_200" id="floating_right"    value="{#$ad.floating_right#}"  maxlength="5"  />
  px(左距与右距选填一个，如右距设置为0，则此浮动将在右侧浮动，如设置为100，则此浮动将在距离浏览器右侧100像素处浮动。)</td>
                  </tr>
				   <tr>
                  <td align="right">トップ距離（必須）：</td>
                  <td><input name="floating_top" type="text" class="input_text_200" id="floating_top"  value="{#$ad.floating_top#}" maxlength="5"  />
  px(此浮动距离浏览器顶端的距离，如有多个浮动，请设置不同的顶距，以免被遮盖)</td>
                  </tr>
            </table>
				 <div style="padding-left:110px; padding-top:10px;">
		  <input type="button"  id="sub5" value="确定提交" class="admin_submit"   />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		  </div>
				</div>	
				<div class="adshow" id="show6">			
	 <div class="toptit">動画広告</div>
	
	<table width="100%" border="0" cellpadding="3" cellspacing="3">
	
				<tr>
                  <td width="100" align="right">ローカルのアップロード：</td>
                  <td >
				 <input name="video_file" type="file"   id="video_file" style="font-size:12px; height:24px; width:273px;" />
                <span class="admin_note">（可フォーマット：SWF / FLV / F4V、ファイルサイズ：5000キロバイト、FTPから大きなファイルをアップロードしてください）</span></td>
                </tr>
                <tr>
                  <td width="100" align="right">またはパスを入力する：</td>
                  <td ><input name="video_path" type="text" class="input_text_200" id="video_path"   value="{#$ad.video_path#}"/> <span class="admin_note">以下のような：/images/logo.swfまたはhttp://www.baidu.com/img/baidu_logo.swf</span></td>
                </tr>
               <tr>
                  <td align="right">動画の幅（必須）：</td>
                  <td><input name="video_width" type="text" class="input_text_200" id="video_width" maxlength="5"   value="{#$ad.video_width#}"/>
                  px</td>
                </tr>
                <tr>
                  <td align="right">ビデオの高さ（必須）：</td>
                  <td><input name="video_height" type="text" class="input_text_200" id="video_height" maxlength="5"  value="{#$ad.video_height#}"  />
                  px</td>
                </tr>
      </table>
	  {#$inputtoken#}
		  <div style="padding-left:110px; padding-top:10px;">
		  <input type="button"  id="sub6" value="确定提交" class="admin_submit"   />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		  </div>
	</div>
 
</form>
</div>
<script type="text/javascript" >
var rgb="{#$ad.text_color#}";
document.FormData.tit_color.value= rgb;
document.getElementById('tit_color').style.background=rgb;
document.getElementById('color_box').style.background=rgb;
</script>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
