{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="ads/admin_ad_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
 自定义广告位调用名不可以以 “QS_”开头
</p>
</div>
<div class="toptit">修改广告位：<span style="color:#006699">{#$ad_category.categoryname#}</span></div>
  <form action="?act=ad_category_edit_save" method="post"  name="form1" id="form1">
     
    <table width="100%" border="0" cellspacing="0" cellpadding="4" class="link_lan"  >
      
      <tr>
        <td style=" line-height:220%; color:#666666;"><table width="700" border="0" cellspacing="4" cellpadding="4">
          <tr>
            <td width="181" align="right">广告位名称：</td>
            <td width="498">
              {#if $ad_category.admin_set=="1"#}
              {#$ad_category.categoryname#}
              {#else#}
              <input name="categoryname" type="text" class="input_text_200" id="categoryname" maxlength="50" value="{#$ad_category.categoryname#}"/>
              {#/if#}
            </td>
          </tr>
		  <tr>
            <td width="181" align="right">调用名称：</td>
            <td width="498">
              {#if $ad_category.admin_set=="1"#}
              {#$ad_category.alias#}
              {#else#}
			<input name="alias" type="text" class="input_text_200" id="alias" maxlength="50" value="{#$ad_category.alias#}"/>
           <span style="color: #999999"> 调用名称用于在模板中调用此广告位</span>
           {#/if#}
			</td>
          </tr>
          <tr>
            <td align="right">所属类型：</td>
            <td>
              {#if $ad_category.admin_set=="1"#}
              {#$type#}
              {#else#}
			 <label><input type="radio" name="type_id" value="1" {#if $ad_category.type_id=="1"#}checked="checked"{#/if#}/>文字</label>
&nbsp;&nbsp;&nbsp;&nbsp;
 <label><input name="type_id" type="radio" value="2" {#if $ad_category.type_id=="2"#}checked="checked"{#/if#}/>
 图片</label>
&nbsp;&nbsp;&nbsp;&nbsp;
 <label><input type="radio" name="type_id" value="3" {#if $ad_category.type_id=="3"#}checked="checked"{#/if#}/>代码</label>
&nbsp;&nbsp;&nbsp;&nbsp;
 <label><input type="radio" name="type_id" value="4" {#if $ad_category.type_id=="4"#}checked="checked"{#/if#}/>FLASH</label>
&nbsp;&nbsp;&nbsp;&nbsp;
 <label><input type="radio" name="type_id" value="5" {#if $ad_category.type_id=="5"#}checked="checked"{#/if#}/>浮动</label>
&nbsp;&nbsp;&nbsp;&nbsp;
 <label><input type="radio" name="type_id" value="6" {#if $ad_category.type_id=="6"#}checked="checked"{#/if#}/>视频</label>
&nbsp;&nbsp;&nbsp;&nbsp;
      {#/if#}
		  </td>
          </tr>
          <tr>
            <td width="181" align="right">售价：</td>
            <td width="498"><input name="expense" type="text" class="input_text_200" id="expense" maxlength="5" value="{#$ad_category.expense#}"/> 积分
           <span style="color: #999999"> 0为免费</span>
      </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td height="60">
			{#$inputtoken#}
			<input name="id" type="hidden" value="{#$ad_category.id#}" />
      <input name="admin_set" type="hidden" value="{#$ad_category.admin_set#}" />
			<input type="submit" name="Submit3" value="确定提交" class="admin_submit"   />
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
			</td>
          </tr>
        </table></td>
      </tr>
    </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>