{#include file="sys/admin_header.htm"#}
<script type="text/javascript" charset="gbk" src="ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="gbk" src="ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="gbk" src="ueditor/lang/zh-cn/zh-cn.js"></script>


<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="explain/admin_explain_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptit">修改说明页</div>
  <form action="?act=editsave" method="post" enctype="multipart/form-data" name="FormData" id="FormData"  >
  {#$inputtoken#}
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="admin_table">
      <tr>
        <td width="67" align="right"  style=" border:0px">页面名称：</td>
        <td width="400"style=" border:0px" > 
		<input name="title" type="text"  class="input_text_400" value="{#$edit_article.title#}" maxlength="45"/>		</td>
        <td style=" border:0px">
		<input type="text" name="tit_color" id="tit_color"  style=" display:none">
		<div class="color_layer">	
		<div id="color_box" onclick="color_box_display()" ></div>
		{#include file="sys/admin_select_color.htm"#}
		</div>
		</td>
      </tr>
      <tr>
        <td align="right" >所属分类：</td>
        <td colspan="2" ><select name="type_id" id="type_id">
          <option value="">请选择所属分类：</option>
		  {#foreach from=$get_explain_category item=list#}
          <option value="{#$list.id#}"  {#if $list.id==$edit_article.type_id#} selected="selected" {#/if#}>{#$list.categoryname#}</option>
{#/foreach#}        
        </select></td>
      </tr>
    </table>
    <table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <script id="editor" name="content" type="text/plain" style="width:700px;height:300px;">{#$edit_article.content#}</script>
          <script type="text/javascript">
          var ue = UE.getEditor('editor');
          </script>
        </td>
      </tr>
      <tr>
        <td height="50" align="center" ><input type="submit" name="Submit" value="确定提交" class="admin_submit"   />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="reset" name="Submit2" value="重置表单" class="admin_submit"   /></td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="admin_table">
      <tr>
        <td width="120" height="30" align="right" >是否显示：</td>
        <td width="180" ><input name="is_display" type="radio" value="1"  {#if $edit_article.is_display==1#} checked="checked"{#/if#} />
显示
<input type="radio" name="is_display" value="0" {#if $edit_article.is_display==0#} checked="checked"{#/if#} /> 
不显示</td>
        <td width="120" align="right" >文章排序：</td>
        <td ><input name="show_order" type="text"  class="input_text_150" id="show_order" style="width:50px;" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" value="{#$edit_article.show_order#}" maxlength="8"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;数字越大越靠前</span></td>
      </tr>
      <tr>
        <td height="30" align="right" >外部链接：</td>
        <td ><input name="is_url" type="text" class="input_text_150" id="is_url" value="{#$edit_article.is_url#}" maxlength="100"/></td>
        <td align="right" >标题加粗：</td>
        <td ><input name="tit_b" type="checkbox" id="tit_b" value="1"  {#if $edit_article.tit_b==1#} checked="checked"{#/if#} />
        加粗</td>
      </tr>
	  <tr>
	  </tr>
      <tr>
        <td height="30" align="right" >keywords：</td>
        <td colspan="3" ><input name="seo_keywords" type="text" class="input_text_400" id="keywords"  maxlength="30"    value="{#$edit_article.seo_keywords#}"/></td>
      </tr>
      <tr>
        <td height="30" align="right" valign="top" >description：</td>
        <td colspan="3" ><textarea name="seo_description" class="input_textarea_400" id="description">{#$edit_article.seo_description#}</textarea>
<input name="id" type="hidden" id="id" value="{#$edit_article.id#}" /></td>
      </tr>
    </table>
  </form>
</div>
{#if $edit_article.tit_color#}
<script type="text/javascript" >
var rgb="{#$edit_article.tit_color#}";
document.FormData.tit_color.value= rgb;
document.getElementById('tit_color').style.background=rgb;
document.getElementById('color_box').style.background=rgb;
</script>
{#/if#}
{#include file="sys/admin_footer.htm"#}
</body>
</html>