{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="notice/admin_notice_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptit">修改分类</div>
<form id="form1" name="form1" method="post" action="?act=edit_category_save">
{#$inputtoken#}

<table width="100%" border="0" cellspacing="6" cellpadding="0" style="border-bottom:1px #96B7E2 dashed">
  <tr>
    <td width="120" align="right">分类名称:</td>
    <td><input name="categoryname" type="text" class="input_text_200"  value="{#$category.categoryname#}"/></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td width="120"> </td>
    <td>
	<input name="id" type="hidden" value="{#$category.id#}" />
	<input type="submit" name="addsave" value="保存" class="admin_submit" />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location='?act=category'"/>
	
	</td>
  </tr>
</table>
 </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>