{#include file="sys/admin_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
 <script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	//点击批量删除
	$("#ButPidel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
	//日期
	$(function() { 
	$(".date_input").date_input(); 
	});
	
});
</script>
<div class="admin_main_nr_dbox">

<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>

<div class="toptip">
	<h2>提示：请输入筛选条件,删除后将不可恢复,谨慎操作！</h2>

</div>
  <form id="form1" name="form1" method="post" action="?act=pidel_syslog_del">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  class="link_lan">
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 错误类型：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="l_type[]" type="checkbox"  checked="checked" value="1"/>MYSQL 
			<input name="l_type[]" type="checkbox"  checked="checked"  value="2"/>MAIL 
		  </td>
        </tr>
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 开始时间：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="starttime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
		<tr width="300">
          <td height="30" width="90" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 结束时间：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
			<input name="endtime" type="text"  class="input_text_150 date_input"  value=""/>
		  </td>
        </tr>
    </table>
<span id="OpPi"></span>
  </form>
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
		<input name="" type="button" class="admin_submit" id="ButPidel"  value="批量删除"/>
		<input name="" type="button" class="admin_submit" id="goback"  value="取消" onClick="window.history.go(-1)"/>
		</td>
    </tr>
  </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>