{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit">{#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
您可以通过错误日志查看系统运行错误信息。 
</p>
</div>
<div class="seltpye_x">
		<div class="left">日志类型</div>	
		<div class="right">
		<a href="{#"type_id:,l_type:"|qishi_parse_url#}" {#if $smarty.get.l_type==""#}class="select"{#/if#}>不限</a>
		<a href="{#"type_id:,l_type:1"|qishi_parse_url#}" {#if $smarty.get.l_type=="1"#}class="select"{#/if#}>MYSQL</a>
		<a href="{#"type_id:,l_type:2"|qishi_parse_url#}" {#if $smarty.get.l_type=="2"#}class="select"{#/if#}>MAIL</a> 
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
</div>
 <div class="seltpye_x">
		<div class="left">创建时间</div>	
		<div class="right">
		<a href="{#"settr:"|qishi_parse_url#}" {#if $smarty.get.settr==""#}class="select"{#/if#}>不限</a>
		<a href="{#"settr:3"|qishi_parse_url#}" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"settr:7"|qishi_parse_url#}" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"settr:30"|qishi_parse_url#}" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>一月内</a>
		<a href="{#"settr:180"|qishi_parse_url#}" {#if $smarty.get.settr=="180"#}class="select"{#/if#}>半年内</a>
		<a href="{#"settr:360"|qishi_parse_url#}" {#if $smarty.get.settr=="360"#}class="select"{#/if#}>一年内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  <form id="form1" name="form1" method="post" action="?act=del_syslog">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td height="26" width="90"  class="admin_list_tit admin_list_first" >
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>类型</label></td>
      <td width="120"  align="center"   class="admin_list_tit">创建时间</td>
      <td width="100" align="center"  class="admin_list_tit"> IP </td>
      <td width="100" align="center"  class="admin_list_tit"> IP归属地</td>
      <td width="300"     class="admin_list_tit">文件</td>
      <td   class="admin_list_tit" >错误描述</td>
    </tr>
	  {#foreach from=$list item=li#}
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="id[]" type="checkbox" id="id" value="{#$li.l_id#}"/>
		{#$li.l_type_name#}
 	    </td>
		 <td  align="center" class="admin_list" >
		 {#$li.l_time|date_format:"%Y-%m-%d %H:%M"#}
	    </td>
        <td align="center"  class="admin_list">{#$li.l_ip#}</td>
        <td align="center"  class="admin_list">
			{#if $li.l_address#}
			{#$li.l_address#}
			{#else#}	
				未知
			{#/if#}	
		</td>
         <td  class="admin_list vtip"   title="{#$li.l_page#}">{#$li.l_page#}</td>
        <td   class="admin_list vtip"  title="{#$li.l_str#}">{#$li.l_str#}</td>
      </tr>
      {#/foreach#}
    </table>
	{#if !$list#}
	<div class="admin_list_no_info">没有任何信息！</div>
	{#/if#}	
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
		<input name="ButDel" type="submit" class="admin_submit" id="ButDel"  value="删除所选"/>
				
		<input name="" type="button" class="admin_submit" id="ButPidel"  value="批量删除" onClick="window.location='?act=pidel_syslog'"/>
				</td>
        <td width="305" align="right">
	    </td>
      </tr>
  </table>
  </form>
<div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>