{#include file="sys/admin_header.htm"#}
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function()
{
showmenulayer("#district_cn","#menu2","#district","#sdistrict","",QS_city);
$("#FormData").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   jobname:{
    required: true,
	minlength:2,
    maxlength:30
   },
   amount: {
	range:[0,999]
   },
   comname: "required",
   contact: "required",
   tel:{
   required: true,
   digits:true, 
	minlength:7
   },
   pwd:{
   minlength:6
   }
   ,
   detailed:{
   required: true,
   ISdetailed:true,
   maxlength:300
   }
	},
    messages: {
    jobname: {
    required: "请输入职位名称",
    minlength: jQuery.format("职位名称不能小于{0}个字符"),
	maxlength: jQuery.format("职位名称不能大于{0}个字符")
   },
   amount: {
    range: jQuery.format("请输入一个介于 {0} 和 {1} 之间的值")
   },
   comname: {
    required: "请输入公司名称"
   },
   contact: {
    required: "请输入联系人"
   },
   tel: {
    required: "请输入联系电话",
	digits: "联系电话必须是数字",
    minlength: jQuery.format("电话不能<{0}位数")
   },
    pwd: {
	minlength: jQuery.format("密码不能小于{0}个字符")
   }
   ,
    detailed: {
    required: jQuery.format("请输入具体要求"),
	maxlength: jQuery.format("具体要求不能大于{0}个字符")
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
	else if ( element.is("textarea") )
        error.appendTo ( $("#textareaerr"));
    else
        error.appendTo(element.parent());
	}
    });
	 //具体要求
	jQuery.validator.addMethod("ISdetailed", function(value, element) {
	var str="请填写招聘的具体要求，如：性别，学历，年龄，工作经验，工资待遇等相关信息";
	var flag=true;
	if (str==value)
	{
	flag=false;
	}
	return  flag || this.optional(element) ;
	}, "请填写具体要求");
	/////验证码部分
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  {#include file="simple/admin_simple_nav.htm"#}
  <div class="clear"></div>
</div>
<form action="?act=simple_edit_save" method="post"   name="FormData" id="FormData" >
<div class="toptit">修改微招聘</div>

  {#$inputtoken#}
<table width="100%" border="0" cellspacing="8" cellpadding="0">
  <tr>
    <td width="100" align="right"><strong  style="color:#FF0000">*</strong>招聘职位：</td>
    <td><input name="jobname" type="text" class="input_text_200" id="jobname" maxlength="20"  value="{#$show.jobname#}"></td>
  </tr>
  <tr>
    <td align="right">招聘人数：</td>
    <td><input name="amount" type="text" id="amount" class="input_text_200" style="width:60px;" value="{#$show.amount#}" maxlength="3">
	<span class="admin_note">填写数字，"0"为若干</span>	</td>
  </tr>
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>公司名称：</td>
    <td><input name="comname" type="text" class="input_text_200" id="comname" maxlength="20"  value="{#$show.comname#}"></td>
  </tr>
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>联系人：</td>
    <td><input name="contact" type="text" class="input_text_200" id="contact" maxlength="15" value="{#$show.contact#}"></td>
  </tr>
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>联系电话：</td>
    <td><input name="tel" type="text" class="input_text_200" id="tel" maxlength="25" value="{#$show.tel#}"></td>
  </tr>
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>联系地址：</td>
    <td>
		<div>
		<input type="text" value="{#$show.district_cn#}"  readonly="readonly" name="district_cn" id="district_cn" class="input_text_200 input_text_selsect"/>
		<input name="district" id="district" type="hidden" value="{#$show.district#}" />
		<input name="sdistrict" id="sdistrict" type="hidden" value="{#$show.sdistrict#}" />
		<div id="menu2" class="dmenu shadow">
			<ul>
			{#qishi_get_classify set="列表名:c_province,类型:QS_district,id:0"#}
			{#foreach from=$c_province item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		<div id="menu2_s" class="dmenu shadow" style="display:none"></div>
		  </div>
	</td>
  </tr>
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>具体要求：</td>
    <td><textarea name="detailed" id="detailed" class="input_text_400" style="height:60px;">{#$show.detailed#}</textarea></td>
  </tr>
    <tr>
    <td align="right"> </td>
    <td>不能大于300字符
	<span id="textareaerr"></span>
	</td>
  </tr>
   <tr>
    <td align="right">有效期截至：</td>
    <td>
	{#if $show.deadline=="0"#}
	长期有效
	{#else#}
	{#$show.deadline|date_format:"%Y-%m-%d"#}	
	<span class="admin_note">到期后系统将自动删除</span>
	{#/if#}
	</td>
  </tr>
  {#if $show.deadline!="0"#}
  <tr>
    <td align="right">延长有效期：</td>
    <td>
	<input name="days" type="text" class="input_text_200" id="days" style="width:100px;" maxlength="3" value="0">
	天
	<span class="admin_note">0为不延长</span>
	<input name="olddeadline" type="hidden" value="{#$show.deadline#}" />
	</td>
  </tr>
  {#/if#}
  <tr>
    <td align="right"><strong  style="color:#FF0000">*</strong>管理密码：</td>
    <td><input name="pwd" type="text" class="input_text_200" id="pwd" style="width:100px;" maxlength="25">
	<span class="admin_note">留空为不修改管理密码</span>	</td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td height="60"  >
	<input name="id" type="hidden" value="{#$show.id#}" />
	 <input type="submit" name="Submit3" value="提交" class="admin_submit"   />
 <input name="submit22" type="button" class="admin_submit"    value="返回" onclick="Javascript:window.history.go(-1)"/>
	</td>
  </tr>
</table>
</form>

</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>