<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gbk">
<title>{#$title#}</title>
<link rel="stylesheet" href="{#$QISHI.site_template#}css/reg.css" />
<script src="{#$QISHI.site_template#}js/jquery.js"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script>
$(function() {
	$('.member-type').live('click', function(){
		$(this).addClass('select').siblings('.member-type').removeClass('select');
		var utype=$(this).attr("member-type");
		$(".utype").val(utype);
	})
	//验证码随机
	$("#getcode").live('click',function(){
		$(this).attr('src','{#$QISHI.site_dir#}include/imagecaptcha.php?t='+Math.random()+'');
	});
	// 表单验证
	$("#Form1").validate({
		success: function(lable) {
				lable.text(" ").addClass("ver-success");
			},
		rules:{	
			password:
			{
				required: true,
				minlength:6,
				maxlength:18
			},
			rpassword:
			{
				required: true,
				equalTo:"#password"
			},
			mobile:
			{
				required: true,
				ismobile : true,
				remote:{     
					url:"{#$QISHI.site_dir#}plus/ajax_user.php",     
					type:"post",    
					data:{"mobile":function (){return $("#mobile").val()},"act":"check_mobile","time":function (){return new Date().getTime()}}     
				}
			},
			email:
			{
				required: true,
				email:true,
				remote:{     
					url:"{#$QISHI.site_dir#}plus/ajax_user.php",     
					type:"post",    
					data:{"email":function (){return $("#email").val()},"act":"check_email"}     
				}
			}
		},
		messages: {
			password: 
			{
				required: "请填写密码",
				minlength: jQuery.format("填写不能小于{0}个字符"),
				maxlength: jQuery.format("填写不能大于{0}个字符")
			},
			rpassword: {
				required: "请填写密码",
				equalTo: "两次输入的密码不同"
			},
			mobile: {
				required: "请填写手机号",
				remote: jQuery.format("手机号已被注册")
			},
			email:
			{
				required: "请输入邮箱",
				email: "请输入正确格式的邮箱",
				remote: jQuery.format("该邮箱已经被注册过！")	
			}
		},
		errorPlacement: function(error, element) {
		if ( element.is(":radio") )
		    error.appendTo( element.parent().next().next() );
		else if ( element.is(":checkbox") )
		    error.appendTo ( element.next());
		else
		    error.appendTo(element.parent().next());
		}
	});
	// 手机
	jQuery.validator.addMethod("ismobile", function(value, element) { 
	var tel = /^(13|14|15|18|17)\d{9}$/;
	var $cstr= false;
	if (tel.test(value)) $cstr= true;
	return $cstr || this.optional(element); 
	}, "请输入正确的手机号");
	//绑定 表单验证
	$("form[id=pcLogin]").submit(function(e) {
	e.preventDefault();
		if ($("#username").val()=="" || $("#username").val()=="用户名/邮箱/手机号")
		{			
			$(".login_err").html("请填写：用户名 / 邮箱 / 手机号");	
			$(".login_err").show();
		}
		else if($("#login_password").val()=="")
		{	
		$(".login_err").html("请填写密码！");
		$(".login_err").show();
		}
		else if($("#postcaptcha").val()=="")
		{	

			$(".login_err").html("请填写验证码！");
			$(".login_err").show();
		}
		else
		{
			$("#login").hide();
			$("#waiting").show();
			var url='{#$QISHI.site_domain#}{#$QISHI.site_dir#}/user/login.php';
			$.post("{#$QISHI.site_dir#}plus/ajax_user.php", {"username": $("#username").val(),"password": $("#login_password").val(),"url":url,"postcaptcha":$("#postcaptcha").val(),"time": new Date().getTime(),"act":"do_login","binding":"1","nickname":"{#$nickname#}","openid":"{#$openid#}","bindtype":"{#$bindtype#}"},
		 	function (data,textStatus)
		 	 {
				if (data=="err" || data=="errcaptcha" || data=='status_err')
				{			
					$("#login").show();
					$("#waiting").hide();
					$("#password").attr("value","");
					$(".login_err").show();	
					if (data=="err")
					{
					errinfo="帐号或者密码错误";
					}
					else if(data=="errcaptcha")
					{
					$("#imgdiv img").attr("src",$("#imgdiv img").attr("src")+"1");
					errinfo="验证码错误";
					}
					else if(data=="status_err")
					{
					errinfo="账号已经被暂停，请联系管理员！";
					}
					$(".login_err").html(errinfo);
				}
				else
				{
					$("body").append(data);
				}
		 	 })		
		}
		return false;
	});
});
</script>
</head>
<body>
	<!-- 头部 -->
	{#include file="user/reg_header.htm"#}
	<!-- main -->
	<div class="container">
		<div class="third-reg-wrap">
			<h1>只差一步，即可完成登录设置</h1>
			<p class="t-reg-tips">欢迎使用{#$third_name#}帐号登录{#$QISHI.site_name#}<br />完成账号创建后可直接登录哦！</p>
			<div class="t-reg-main clearfix">
				<div class="reg-left-form f-left">
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">	{#$third_name#}昵称</div>
						<div class="reg-form-content f-left">
							<span class="third-form-text">{#$nickname#}</span>
						</div>
					</div>
					<form action="?act=reg_save" id="Form1" method="post">
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">	注册类型</div>
						<div class="reg-form-content f-left">
							<div class="member-type-wrap clearfix">
								<div class="member-type select f-left" member-type="2"><i class="member-icon m-icon1"></i>个人</div>
								<div class="member-type f-left" member-type="1"><i class="member-icon m-icon2"></i>企业</div>
							</div>
						</div>
					</div>
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">	密码</div>
						<div class="reg-form-content f-left">
							<input type="password" name="password" id="password" class="text text-lg span350" placeholder="密码" />
						</div>
						<div class="verification f-left" style="width: 110px;overflow: hidden;"></div>
					</div>
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">	确认密码</div>
						<div class="reg-form-content f-left">
							<input type="password" name="rpassword" id="rpassword" class="text text-lg span350" placeholder="重新输入密码" />
						</div>
						<div class="verification f-left"  style="width: 110px;overflow: hidden;"></div>
					</div>
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">	手机</div>
						<div class="reg-form-content f-left">
							<input type="text" name="mobile" id="mobile" class="text text-lg span350" placeholder="请输入您的手机号码" />
						</div>
						<div class="verification f-left"  style="width: 110px;overflow: hidden;"></div>
					</div>
					<div class="reg-form-item clearfix">
						<div class="reg-form-type f-left">邮箱</div>
						<div class="reg-form-content f-left">
							<input type="text" name="email" id="email" class="text text-lg span350" placeholder="请输入您的邮箱" />
						</div>
						<div class="verification f-left"  style="width: 110px;overflow: hidden;"></div>
					</div>
					<div class="reg-form-item special clearfix">
						<div class="reg-form-type f-left">&nbsp;</div>
						<div class="reg-form-content f-left">
							<input type="hidden" name="utype" class="utype" value="2"/>
							<input type="hidden" name="nickname" value="{#$nickname#}" />
							<input type="hidden" name="act" value="reg_save" />
							<input type="submit" value="完成" class="btn btn-lg blue span1" />
						</div>
					</div>
					</form>
				</div>
				<div class="third-reg-right f-right">
					<form method="post" id="pcLogin">
					<h2>已有账号？直接绑定</h2>
					<div class="s-bind">
						<div class="bind-item">
							<div class="login-ver-box error login_err" style="display: none;"></div>
							<div class="bind-content">
								<input type="text" name="username" id="username" class="text text-lg span300" placeholder="请输入您的用户名/手机/邮箱" />
							</div>
						</div>
						<div class="bind-item">
							<div class="bind-content">
								<input type="password" name="password" id="login_password" class="text text-lg span300" placeholder="请输入密码" />
							</div>
						</div>
						<div class="bind-item">
							<div class="bind-content clearfix">
								<div class="bind-ver f-left">
									<input type="text" name="postcaptcha" id="postcaptcha" class="text text-lg span190" placeholder="请输入验证码" />
								</div>
								<div class="bind-ver-img f-left">
									<img src="{#$QISHI.site_dir#}include/imagecaptcha.php?t={#$random#}" id="getcode" align="absmiddle"  style="cursor:pointer;width: 100px;height: 38px;" title="看不请验证码？点击更换一张"  border="0" />
								</div>
							</div>
						</div>
						<div class="bind-submit-item">
							<input type="submit" name="submitlogin" id="login" value="绑定账号" class="btn btn-small blue span3" />
							<input type="text"  id="waiting" value="正在绑定..." class="btn btn-small blue span3"  style="display: none;" disabled/>
							<a href="{#$QISHI.site_dir#}user/user_getpass.php" class="f-right">忘记密码？</a>
						</div>
						<p class="bind-tips">绑定后，您可以使用{#$third_name#}直接登录</p>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{#include file="user/footer.htm"#}
</body>
</html>