<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/reg.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- 头部 -->
	{#include file="user/reg_header.htm"#}
	<!-- main -->
	<div class="container">
		<div class="step_wrap">
			<div class="three-step-bar clearfix">
				<div class="step tstep1 f-left"><i class="step-icon">1</i>ログイン設定</div>
				<div class="step tstep2 f-left"><i class="step-icon">2</i>アカウント情報を入力してください</div>
				<div class="step tstep3 f-left active"><i class="step-icon">3</i>登録成功</div>
			</div>
		</div>
		<div class="common-status" style="padding:120px 0px">
			<div class="status-main">
				<span><img src=“{#$HIGHWAY.site_template#}images/icon-success.png” alt=“成功” /></span>ご登録おめでとうござい{#if $user.utype==1#}企業{#elseif $user.utype==2#}個人{#/if#}ユーザー</div>
			<p>すぐ入る<a href = “{#$user.url#}”>会员中心</a> または<hREF = “{#$HIGHWAY.site_dir#}”>返回首页</a></p>
		</div>
	</div>
{#include file="user/footer.htm"#}
</body>
</html>
