	<div id="reg-head"{#if $header_nav=="login"#}style="margin:0"{#/if#}>
		<div class="container">
			<div class="logo-box f-left">
				<a href="{#$HIGHWAY.site_dir#}" class="logo f-left"><img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.web_logo#}" alt="{#$HIGHWAY.site_name#}" width="261" height="70" border="0"/></a>
				<a href="{#$HIGHWAY.site_dir#}" class="back-index f-left"></a>
			</div>
			<div class="reg-tips f-left">{#ifの$ header_nav == “GETPaSS” #}パスワード回復{#elseif $header_nav=="login”#ログインようこそ{#else#}無料登録{#/if#}</div>
			<div class="top-right f-right">
				{#if $header_nav=="login"#}
				<p class="f-left">まだアカウント無しか？</P>
				<div class="f-left"><a href="user_reg.php" class="btn login-btn blue" style="color:#FFFFFF">立即注册</a></div>
				{#else#}
				<p class="f-left">私は登録した，今は</p>
				<div class="f-left"><a href="login.php?act=login" class="btn login-btn blue" style="color:#FFFFFF">登录</a></div>
				{#/if#}
			</div>
		</div>
	</div>
