{#include file="sys/admin_header.htm"#}
<script type="text/javascript">
$(document).ready(function()
{
	//点击批量删除	
	$("#ButDlete").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
		
});
</script>
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="link/admin_link_nav.htm"#}
  <div class="clear"></div>
</div>
 <div class="seltpye_x">
		<div class="left">链接状态</div>	
		<div class="right">
		<a href="{#"alias:"|qishi_parse_url#}" {#if $smarty.get.alias==""#}class="select"{#/if#}>不限</a>
		 {#foreach from=$get_link_category item=li#}
		<a href="{#"alias:"|cat:$li.c_alias|qishi_parse_url#}" {#if $smarty.get.alias==$li.c_alias#}class="select"{#/if#}>{#$li.categoryname#}</a>
		 {#/foreach#}
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
</div>
 <div class="seltpye_x">
		<div class="left">添加类型</div>	
		<div class="right">
		<a href="{#"type_id:"|qishi_parse_url#}" {#if $smarty.get.type_id==""#}class="select"{#/if#}>不限</a>
		<a href="{#"type_id:1"|qishi_parse_url#}" {#if $smarty.get.type_id=="1"#}class="select"{#/if#}>非自助申请</a>
		<a href="{#"type_id:2"|qishi_parse_url#}" {#if $smarty.get.type_id=="2"#}class="select"{#/if#}>自助申请</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
</div>
 <form id="form1" name="form1" method="post" action="?act=del_link">
 {#$inputtoken#}
   <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td width="30%" class="admin_list_tit admin_list_first">
      <label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />链接标题</label>	  </td>
      <td class="admin_list_tit"> 地址 </td>
      <td   align="center" class="admin_list_tit">顺序</td>
      <td   align="center"  class="admin_list_tit">位置</td>
      <td   align="center"   class="admin_list_tit">状态</td>
      <td width="130" align="center"  class="admin_list_tit" >操作</td>
    </tr>
	 {#foreach from=$link item=list#}
    <tr>
      <td   class="admin_list admin_list_first">
	  <input name="id[]" type="checkbox"  value="{#$list.link_id#}" />
	  <a href="{#$list.link_url#}" target="_blank"  {#if $list.display<>"1"#}style="color:#CCCCCC"{#/if#}>{#$list.link_name#}</a>	
	   {#if $list.Notes<>""#}
	  <img src="images/comment_alert.gif" border="0"  class="vtip" title="{#$list.Notes#}" />
	  {#/if#}
	   {#if $list.link_logo<>""#}
	  <span style="color:#FF6600" title="<img src={#$list.link_logo#} border=0/>" class="vtip">[logo]</span>
	  {#/if#}
	  {#if $list.display<>"1"#}
	  <span style="color: #999999">[不显示]</span>
	  {#/if#}
      </td>
      <td  class="admin_list">
	    <a href="{#$list.link_url#}" target="_blank">{#$list.link_url#}</a>	  </td>
      <td align="center"  class="admin_list">{#$list.show_order#}</td>
      <td align="center"  class="admin_list">
	  {#$list.categoryname#}
	  </td>
      <td align="center"   class="admin_list">
	  {#if $list.type_id=="1"#}非自助{#/if#}
	  {#if $list.type_id=="2"#}自助申请{#/if#}
	  </td>
      <td align="center"   class="admin_list">
	  <a href="?act=edit&id={#$list.link_id#}">修改</a> <a href="?act=del_link&id={#$list.link_id#}&{#$urltoken#}" onclick="return confirm('你确定要删除吗？')">删除</a>	  </td>
    </tr>
	 {#/foreach#}
  </table>
  </form>
  {#if !$link#}
<div class="admin_list_no_info">没有任何信息！</div>
{#/if#}
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
<input type="button" class="admin_submit" id="ButAudit" value="添加"  onclick="window.location='?act=add'"/>
<input type="button" class="admin_submit" id="ButDlete" value="删除"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"标题"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="标题">标题</li>
														<li id="2" title="URL">URL</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="list" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		  <script type="text/javascript">$(document).ready(function(){showmenu("#key_type_cn","#sehmenu","#key_type");});	</script>

	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>