/**
*** 姝ゆ牱寮忔枃浠朵负3.6鐗堟湰绠€鍘嗘ā鏉挎牱寮忥紝鐙珛浜庡叾浠栨牱寮忔枃浠讹紝涓嶄笌鍏朵粬鏍峰紡鏂囦欢鍐茬獊
***/
/*CSS reset*/
body, html{ margin:0px;font-family:Arial,"SimSun",sans-serif; font-size:12px; color:#000000; height:100%;width: 100%;}
h1,h2,h3,h4,h5,form,p,ul{ margin:0px; padding:0px;font-weight: normal;}
ul, ol{list-style: none;}
input,textarea {font-family:Arial,"瀹嬩綋",sans-serif;font-size:14px; color: #666666;outline: none;border:0;margin:0;padding:0;}
li {padding:0px; margin:0px;list-style-type:none;}
a{text-decoration:none;}
img{border:0;vertical-align: middle;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.f-left{float: left;}
.f-right{float: right;}
label{cursor: pointer;}
textarea{border:0;resize:none;overflow: auto;}
input.checkbox{position: relative;top:2px;margin-right: 7px;}
input.radio{position: relative;top:2px;margin-right: 5px;}
.container{width: 1000px;margin:0 auto;}
a.underline:hover{text-decoration: underline;}

/*鐨偆*/
body.default{background: #f6f6f6;}
body.tpl-one{background: url(../images/tpl-bg1.jpg) no-repeat top center #eef9f1;}
body.tpl-two{background: url(../images/tpl-bg2.png) no-repeat top center #afdbdf;}
body.tpl-three{background: url(../images/tpl-bg3.jpg) no-repeat top center #fff8e6;}

/*header*/
#header{width: 100%;padding:16px 0;}
#header .header-wrap{width: 900px;margin:0 auto;}
/*main*/
#wrap{width: 900px;margin:0 auto;font-family: "SimSun";font-size: 12px;overflow: hidden;}
#wrap .left-main{width: 710px;background-color: #fff;border:1px solid #ccc;padding:20px;padding-bottom: 0;min-height:500px;}
#wrap .fix-control{position: fixed;margin-left: 772px;width: 127px;overflow: hidden;*margin-left:20px;}
.fix-control .fix-wrap{width: 127px;min-height:30px;text-align: center;padding:16px 0;}
.fix-control .fix-wrap .code-box{margin-bottom: 10px;}
.fix-control .fix-wrap .download{width: 127px;height: 65px;line-height: 65px;}
.fix-control .fix-wrap .download .download-btn{display: block;width: 127px;height: 65px;line-height: 65px;background-color: #f60;color:#fff;font-size: 18px;font-family: "Microsoft Yahei";}
.fix-control .fix-wrap .download .download-btn:hover{background-color: #ff7700;}
.fix-control .fix-wrap .ctrl-text{width: 127px;margin-top: 12px;height:35px;background: url(../images/control-text.png) no-repeat center center;}
.fix-control .fix-wrap .resume-ctrl{display: block;margin-bottom: 5px;width: 127px;height: 40px;font-size: 14px;background-color: #e7e7e7;color:#333;line-height: 40px;text-align: center;}
.fix-control .fix-wrap .resume-ctrl:hover{background-color: #0180cf;color:#fff;}

.left-main .top-streamer{position: relative;padding-left: 20px;height:35px;line-height: 35px;color:#666;font-size: 12px;background-color: #fbeedd;margin-bottom: 30px;}
.left-main .top-streamer .streamer-angle{position: absolute;top:0;left:-6px;width: 0;height: 0;border-width:3px;border-color:transparent #ebd9c3 #ebd9c3 transparent;border-style:dashed solid solid dashed;}
.left-main .personal-info{margin-bottom: 30px;padding-left: 20px;}
.left-main .personal-info .personal-pic{width: 160px;height: 178px;overflow: hidden;border:1px solid #c5c5c5;}
.left-main .personal-info .info-text{padding-left: 22px;width: 490px;position: relative;}
.left-main .personal-info .info-text h2{font-family: "Microsoft Yahei";color:#333;font-size: 24px;font-weight: normal;margin-bottom:15px;}
.left-main .personal-info .info-text h2 span{font-size: 18px;}
.left-main .personal-info .info-text .resume-time{position: absolute;top:0;right:3px;font-size: 12px;color:#666;}
.left-main .personal-info .info-text .resonal-auth{margin-bottom: 10px;}
.left-main .personal-info .info-text .resonal-auth .auth-item{font-size: 12px;margin-right:12px;padding-left: 25px;color:#999;background: url(../images/tpl-resume-icon.png) no-repeat;height:20px;line-height: 20px;}
.left-main .personal-info .info-text .resonal-auth .auth-item.phone{background-position: 0px -47px;padding-left: 22px;}
.left-main .personal-info .info-text .resonal-auth .auth-item.weichat{background-position: 0px -87px;}
.left-main .personal-info .info-text .resonal-auth .auth-item.email{background-position: 0px -124px;}
.left-main .personal-info .info-text .resonal-auth span{color:#0000ff;line-height: 20px;}
.left-main .personal-info .info-text .info-detail{line-height: 200%;color:#999;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.left-main .personal-info .info-text .info-detail span{color:#333;}
.left-main .personal-info .info-text .personal-tag{margin-top: 10px;}
.left-main .personal-info .info-text .personal-tag .tag-item{position: relative;margin-right: 19px;height: 29px;line-height: 29px;border-left: 2px solid #80a7e5;color:#38588c;background: #e0ecff;border-bottom: 1px solid #c9d4e5;padding:0 10px;}
.left-main .personal-info .info-text .personal-tag .tag-item .tag-angle{position: absolute;width: 11px;height: 29px;top:0;right:-11px;background: url(../images/tpl-resume-icon.png) no-repeat 0px 0px;}
.left-main .job-item{background-color: #f6f7f9;padding:0 20px;position: relative;margin-bottom: 30px;}
.left-main .job-item .right-top-angle{position: absolute;top:0;right:0;width: 23px;height: 25px;background: url(../images/angle.jpg) no-repeat 0px 0px;}
.left-main .job-item h3{line-height: 36px;height:36px;color:#333;border-bottom:1px solid #e2e2e2;font-size: 14px;}
.left-main .job-item .percent-block{width: 330px;padding:20px 0;}
.left-main .job-item .percent-block.last{width: 340px;}
.left-main .job-item .percent-block .percent-star{padding-right: 100px;font-size: 14px;color:#333;background: url(../images/tpl-resume-icon.png) no-repeat right -279px;margin-top: 26px;}
.left-main .job-item .percent-block .percent-star.star-1{background-position: right -279px;}
.left-main .job-item .percent-block .percent-star.star-2{background-position: right -304px;}
.left-main .job-item .percent-block .percent-star.star-3{background-position: right -330px;}
.left-main .job-item .percent-block .percent-star.star-4{background-position: right -354px;}
.left-main .job-item .percent-block .percent-star.star-5{background-position: right -377px;}
.left-main .job-item .percent-block .star-state{padding-left: 30px;background: url(../images/tpl-resume-icon.png) no-repeat 0px -167px;height: 73px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.left-main .job-item .percent-block .star-state p{margin-bottom:14px;color:#333;}
.left-main .job-item .percent-block .star-state p span{color:#ff9900;}
.left-main .contact-block{margin-bottom: 30px;padding-left: 20px;}
.left-main .contact-block .contact-text{font-size: 14px;color:#333;margin-bottom: 15px;}
.left-main .contact-block .contact-text span{font-size: 16px;color:#ee2828;font-family: "Microsoft Yahei";}
.left-main .contact-block .contact-text span em{font-style: normal;color:#999;margin:0 12px;font-size: 14px;}
.left-main .contact-block .contact-text span a{color:#0180cf;margin:0 12px;font-size: 14px; display: inline-block;}
.left-main .contact-block .contact-text span a:hover{text-decoration:underline;}
.contact-btn{width: 130px;height: 32px;background-color: #ff6600;color:#fff;font-size: 12px;font-family: "SimSun";cursor: pointer;border:0;margin-right: 22px;}
.contact-btn:hover{background-color: #ff7700;}
.interview-state{height: 32px;border:1px solid #d9d9d9;background-color: #fff;margin-right:8px;padding:0 15px;font-size: 12px;color:#666;cursor: pointer;}
.interview-state:hover{background-color: #f5f5f5;}
.interview-state.selected{background-color: #ffeee3;border:1px solid #ff6600;height:30px;color:#666666;}
.resume-title{padding-left: 20px;line-height: 30px;height:30px;font-size: 14px;color:#333;background-color: #f7f7f7;border-bottom:1px solid #e6e6e6;font-weight: bold;margin-bottom: 20px;}
.resume-block-detail{padding-bottom: 20px;line-height: 220%;padding-left: 20px;width: 665px;}
.resume-block-detail .rb-content{color:#333;width: 665px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.resume-block-detail .rb-content-more{color:#333;}
.resume-block-detail .rb-content span{color:#999;margin:0 12px;}
.resume-block-detail .work-item{color:#333;border-bottom: 1px dotted #ccc;padding: 10px 0;}
.resume-block-detail .folder-item{max-width: 316px;max-height: 316px;background-color: #fff;border:1px solid #ccc;margin:0 28px 28px 0;overflow: hidden;display: table;text-align: center;}
.resume-block-detail .folder-item span{display: table-cell;vertical-align: middle;}
.resume-block-detail .folder-item img{max-width: 314px;max-height: 314px;overflow: hidden;}
/*footer*/
#footer{width: 100%;padding:16px 0;line-height: 180%;color:#999;text-align: center;}
/*绠€鍘嗕妇鎶?/
input.radio{position: relative;top:2px;margin-right: 3px;}
.report-dialog{font-family: "SimSun";font-size: 12px;color:#666;}
.report-dialog .report-item{line-height: 30px;margin-bottom: 10px;}
.report-dialog .report-item label{display: block;color:#333;}
.report-dialog .report-item label span{color:#999;}
.report-dialog .report-item .report-type{width: 60px;white-space: nowrap;}
.report-dialog .report-item textarea{border:1px solid #ddd;height: 85px;resize:none;overflow: auto;outline: none;font-size: 12px;color:#333;padding:7px;width: 270px;font-family: "SimSun";}
.report-dialog .report-item .del-info{padding-left: 24px;color:#333;background: url(../images/user-icon36.png) no-repeat 0px -245px;}
.report-dialog .center-btn-box{text-align: center;}
.report-dialog .r-all-row{line-height: 30px;}
.report-dialog .jubao-tip{color:#999;margin-top:20px;}
.btn-65-30blue{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-65-30blue:hover{background-color: #0070bd;}
.btn-65-30grey{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#666666;font-size: 12px;cursor: pointer;background-color: #E3E3E3;border:0;margin-right:10px;}
.btn-65-30grey:hover{background-color: #ccc;}
.btn-75-30blue{display: inline-block;width: 75px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-75-30blue:hover{background-color: #0070bd;}
.btn-big-font{font-size: 14px;}
/*閭€璇烽潰璇曞脊鍑?/
.dialog-block{font-family: "SimSun";}
.dialog-block .dialog-item{margin-bottom: 13px;font-size: 12px;}
.dialog-block .dialog-item .d-type{width: 60px;color:#666;line-height: 30px;}
.dialog-block .dialog-item .d-content{line-height: 30px;}
.dialog-block .dialog-item .d-content input.checkbox{margin-right: 5px;}
.short-text-tip{margin-left:10px;line-height: 24px;height:24px;border:1px solid #ff9900;background-color: #fff1e5;padding:0 10px;font-size: 12px;color:#666;border-radius: 3px;font-family: "SimSun";}
.short-text-tip span{color:#ff9900;font-weight: bold;}
.short-text-tip a{color:#0180cf;}
.dropdown{position: relative;z-index: 5;}
.dropdown .dropdown-ctrl{display: inline-block;position: relative;height:28px;padding:0 25px 0 10px;line-height: 28px;border:1px solid #ccc;background-color: #fff;color:#666;cursor: pointer;width: 205px;}
.dropdown .dropdown-ctrl .drop-icon{position: absolute;top:0;right:0;height:28px;width: 25px;background: url(../images/icon36.png) no-repeat 2px -101px;}
.dropdown .dropdown-list{position: absolute;top:30px;left:0;width: 240px;background-color: #fff;border:1px solid #ccc;border-top:0;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display: none;}
.dropdown .dropdown-list a{display: block;padding-left: 10px;color:#666;line-height: 28px;}
.dropdown .dropdown-list a:hover,
.dropdown .dropdown-list a.select{background-color: #f5f5f5;}
.datepicker{display: inline-block;width: 120px;height:28px;border:1px solid #ccc;background-color: #fff;padding-right: 23px;position: relative;z-index: 4}
.datepicker input{border:0;font-size: 12px;color:#666;line-height: 14px;height: 14px;padding:7px 0 7px 10px;width: 110px;outline: none;*padding:6px 0 6px 10px;}
.datepicker .date-icon{width: 23px;height: 28px;position: absolute;top:0;right:0;background: url(../images/user-icon36.png) no-repeat 4px -366px;}
.dialog-textarea{padding:10px;border:1px solid #ccc;background-color: #fff;font-size: 12px;color:#333;resize:none;width: 400px;outline: none;font-family: "SimSun";overflow:auto;}
.edit-text{border:1px solid #ccc;background-color: #fff;color:#666;font-size: 12px;line-height: 14px;height:14px;padding:7px 10px;outline:none;width: 223px;font-family: "SimSun";}
/*涓汉鑷繁鏌ョ湅鑷繁绠€鍘嗘洿鎹㈡ā鏉垮拰闅愮璁剧疆*/
.center-btn-wrap{text-align: center;margin-top: 20px;}
.choose-tpl-dialog{font-family: "SimSun";font-size: 12px;color:#666;}
.choose-tpl-dialog h4{font-size: 14px;color:#666;padding-bottom: 10px;font-weight: normal;}
.choose-tpl-dialog .tpl-choose-wrap{}
.choose-tpl-dialog .tpl-choose-wrap .choose-left{width: 138px;border:1px solid #ccc;height: 168px;overflow: hidden;}
.choose-tpl-dialog .tpl-choose-wrap .choose-left .resume-now{line-height: 34px;height:34px;text-align: center;font-size: 14px;color:#333;font-weight: normal;background-color: #f5f5f5;}
.choose-tpl-dialog .tpl-choose-wrap .choose-left .tpl-radio-choose{padding:12px 0 0 15px;}
.choose-tpl-dialog .tpl-choose-wrap .choose-left .tpl-radio-choose label{display: block;margin-bottom: 10px;cursor: pointer;}
.choose-tpl-dialog .tpl-choose-wrap .choose-left .tpl-radio-choose label input.radio{position: relative;top:2px;margin-right: 3px;}
.choose-tpl-dialog .tpl-choose-wrap .choose-left .tpl-radio-choose label span{color:#ff9900;}
.choose-tpl-dialog .tpl-choose-wrap .choose-right{width: 218px;border:1px solid #ccc;height: 168px;margin-left:15px;overflow: hidden;}
.choose-tpl-dialog .tpl-choose-wrap .choose-right .tpl-choose-now{padding:10px;width: 200px;overflow: hidden;}
.choose-tpl-dialog .tpl-choose-wrap .choose-right .tpl-choose-now img{width: 200px;height: 120px;}
.choose-tpl-dialog .tpl-choose-wrap .choose-right p{text-align: right;padding:0 10px;}
.choose-tpl-dialog .tpl-choose-wrap .choose-right p a{color:#0180cf;font-size: 12px;}
.btn-80-30blue{display: inline-block;width: 80px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-80-30blue:hover{background-color: #0070bd;}
.btn-big-font{font-size: 14px;}
.btn-65-30grey{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#666666;font-size: 12px;cursor: pointer;background-color: #E3E3E3;border:0;margin-right:10px;}
.btn-65-30grey:hover{background-color: #ccc;}
.but95cheng{width:95px;height:35px;line-height:35px;font-size:15px;color:#fff;text-align:center;cursor:pointer;border:0px;background-color:#FF9900;font-family: "microsoft yahei","瀹嬩綋";margin-right:18px;}
.but95cheng:hover{background-color:#FF7700;}
.but95hui{width:95px;height:35px;line-height:35px;font-size:15px;color:#323232;border:0px;background-color:#E3E3E3;text-align:center;cursor:pointer;font-family: "microsoft yahei","瀹嬩綋"}
.but95hui:hover{background-color:#ccc;margin-right:18px;}