/**
**姝ゆ牱寮忔枃浠朵负3.6鐗堟湰鐨勪紒涓氫富椤甸粯璁ゆā鏉跨浉鍏虫牱寮忥紝涓嶄笌鍏朵粬鏍峰紡鏂囦欢鍐茬獊锛屽彧鐢ㄤ簬鍏徃涓婚〉鐩稿叧椤甸潰
**/
li{line-height: 100%;}
a{text-decoration: none;color:#0180cf;}
.f-left{float: left;}
.f-right{float: right;}
.company-wrap{border:1px solid #ccc;background-color: #fff;font-family: "SimSun"}
.company-wrap .com-left{float:left;width: 875px;border-right:1px solid #ccc;min-height: 720px;}
.company-wrap .com-right{float:right;width: 322px;}
/*宸﹁竟*/
.compnay-main{padding:17px 20px;}
.compnay-main .c-top-wrap{height: 70px;overflow: hidden;margin-bottom: 20px;}
.compnay-main .c-top-wrap .c-logo{width: 198px;height: 68px;overflow: hidden;border:1px solid #dfdfdf;}
.compnay-main .c-top-wrap .c-name{padding-left: 20px;width:460px;overflow: hidden;}
.compnay-main .c-top-wrap .c-name h2{font-size: 22px;color:#333;font-family: "Microsoft Yahei";margin:8px 0 10px 0;font-weight: normal;}
.compnay-main .c-top-wrap .c-name h2 img{margin-left: 8px;}
.compnay-main .c-top-wrap .c-name p{font-size: 14px;color:#666;}
.compnay-main .company-control{border-bottom: 3px solid #ccc;font-family: "Microsoft Yahei";margin-bottom: 10px;}
.compnay-main .company-control .c-control-item{text-decoration: none;font-size: 14px;padding:0 22px 15px 22px;color:#666;margin-bottom: -3px;}
.compnay-main .company-control .c-control-item.active,
.compnay-main .company-control .c-control-item:hover{border-bottom: 3px solid #0180cf;color:#0180cf;}
/*鍙宠竟*/
.com-right .ring-group{width: 236px;background: url(../images/com-ring.png) no-repeat top left;margin:38px auto 15px auto;padding-left:16px;}
.com-right .ring-group .ring-item{text-align: center;}
.com-right .ring-group .ring-item h4{font-family: Verdana;width: 62px;height: 62px;line-height: 62px;margin:20px 5px;font-size: 14px;font-weight: bold;}
.com-right .ring-group .ring-item h4.resumes{color:#9aec9a;}
.com-right .ring-group .ring-item h4.jobs{color:#fddb89;}
.com-right .ring-group .ring-item h4.interest{color:#59b2fd;}
.com-right .ring-group .ring-item p{font-size: 12px;color:#999;}
.com-right .c-right-block{padding:20px 15px 0 25px;}
.com-right .c-right-block .c-right-title{font-family: "Microsoft Yahei";font-size: 14px;color:#333;margin-bottom: 13px;font-weight: normal;}
.com-right .c-right-block .company-info-list li{font-size: 12px;line-height: 26px;color:#666;width: 290px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.com-right .c-right-block .company-info-list li a{color:#666;}
.com-right .c-right-block .company-info-list li a:hover{color:#0180cf;text-decoration: underline;}
.com-right .c-right-block .company-img{width: 140px;margin:0 auto;text-align:center;}
.com-right .c-right-block .company-img p{margin-top: 6px;color:#999;}
.com-right .c-right-block .company-img p a{color:#0180cf;margin-left: 5px;}
.com-right .c-right-block .company-img p a:hover{text-decoration: underline;}
.com-right .c-right-block .com-code{width: 100px;margin:0 auto;}
/*鍏徃浠嬬粛*/
.company-info-wrap{font-size: 14px;color:#666;position: relative;margin-bottom: 25px;}
.company-info-wrap div{max-height: 187px;overflow: hidden;}
.company-info-wrap div p{line-height: 26px;}
.company-info-wrap .c-info-more{position: absolute;width: 476px;height: 25px;left:50%;margin-left: -238px;bottom:-25px;background: url(../images/com-more.png) no-repeat center center;}
.company-info-wrap .c-info-more.upup{background: url(../images/com-more-up.png) no-repeat center center;}

.c-left-title{padding-left: 6px;font-size: 14px;color:#333;font-family: "Microsoft Yahei";border-left: 3px solid #0180cf;line-height: 16px;height:16px;margin-bottom: 10px;font-weight: normal;}
/*鑱屼綅鍒楄〃*/
.company-jobs-list{padding-top: 10px;}
.company-jobs-list .c-jobs-item{width: 208px;margin-bottom: 15px;}
.company-jobs-list .c-jobs-item .job-name{margin-bottom: 10px;font-size: 14px;width: 198px;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.company-jobs-list .c-jobs-item .job-name a{color:#0180cf;}
.company-jobs-list .c-jobs-item .job-name a:hover{text-decoration: underline;}
.company-jobs-list .c-jobs-item .job-info{font-size: 12px;color:#e6e6e6;line-height: 16px;height:16px;}
.company-jobs-list .c-jobs-item .job-info span{color:#666;}
.company-jobs-list .c-jobs-item .job-pay,
.company-jobs-list .c-jobs-item .job-area{line-height: 14px;font-size: 12px;color:#666;margin-top: 7px;padding-left: 15px;background: url(../images/company-icon.png) no-repeat;}
.company-jobs-list .c-jobs-item .job-pay{background-position: 0px 1px;}
.company-jobs-list .c-jobs-item .job-area{background-position: 0px -30px;}
.job-all{margin-bottom: 20px;font-size: 12px;}
.job-all a{text-align: right;color:#0180cf;}
.job-all a:hover{text-decoration: underline;}
/*鑱旂郴鏂瑰紡*/
.com-contact{}
.com-contact .c-contact{padding-top: 2px;color:#666;}
.com-contact .c-contact .contact-item{line-height: 20px;font-size: 14px;margin-top: 8px;}
.com-contact .c-contact .contact-item .contact-type{width: 78px;}
.com-contact .c-contact .contact-item .contact-content{width: 600px;}
.com-contact .c-contact .contact-item .contact-content span{font-family: "Microsoft Yahei";font-weight: bold;color:#ff9900;font-size: 16px;}
.com-contact .contact-map{border:1px solid #eeeeee;padding:2px;margin-top: 15px;border-radius: 3px;overflow: hidden;}
.no-login{height:70px;line-height: 70px;white-space: nowrap;position: relative;background-color: #eef8ff;text-align: center;margin-top:25px;}
.no-login .border-item{position: absolute;width: 12px;height: 12px;background-color: #eef8ff;}
.no-login .border-item.topleft{top:0;left:0;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.no-login .border-item.topright{top:0;right:0;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.no-login .border-item.bottomleft{bottom:0;left:0;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.no-login .border-item.bottomright{bottom:0;right:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.no-login p{line-height: 70px;font-size: 14px;color:#666;}
.no-login p a{color:#666;}
.no-login p a.login{color:#0180cf;}
.no-login p a:hover{text-decoration: underline;}
/*鑱屼綅璇︽儏*/
.job-main{}
.job-main .job-top{border-bottom: 1px dotted #ccc;padding-bottom: 20px;position: relative;margin-bottom: 20px;}
.job-main .job-top .job-name{font-family: "Microsoft Yahei";font-size: 22px;color:#333;margin-bottom: 10px;font-weight: normal;padding-top: 10px;}
.job-main .job-top .job-company{font-family: "Microsoft Yahei";font-size: 14px;color:#333;margin-bottom: 10px;line-height: 16px;}
.job-main .job-top .job-company a{color:#333;}
.job-main .job-top .job-company a:hover{color:#0180cf;}
.job-main .job-top .job-company .icon-auth{width: 23px;height: 16px;margin-left: 10px;background: url(../images/noyan.jpg) no-repeat 0px 0px;}
.job-main .job-top .job-company .icon-auth.yes{background: url(../images/yesyan.jpg) no-repeat 0px 0px;}
.job-main .job-top .job-watch-info{margin-bottom: 23px;line-height: 16px;line-height: 16px;}
.job-main .job-top .job-watch-info div{margin-right: 15px;padding-left: 24px;color:#999;background: url(../images/company-icon.png) no-repeat;}
.job-main .job-top .job-watch-info div span{color:#ff7400;}
.job-main .job-top .job-watch-info div span em{font-style: normal;}
.job-main .job-top .job-watch-info .add-time{background-position: 0px -153px;}
.job-main .job-top .job-watch-info .watch{background-position: 0px -185px;}
.job-main .job-top .job-watch-info .resumes-man{background-position: 0px -216px;}
.job-main .job-top .welfare-box{height: 30px;}
.job-main .job-top .welfare-box .welfare-block{height: 28px;line-height: 28px;border:1px solid #ccc;padding:0 8px 0 23px;margin-right: 7px;border-radius: 3px;background: url(../images/company-icon.png) no-repeat 4px -332px #f2f4f7;cursor: default;}
.job-main .job-top .app-job-item{position: absolute;top:50%;margin-top: -18px;height: 34px;right:10px;}
.app-button{width: 115px;height: 34px;background-color: #ff9900;color:#fff;font-family: "Microsoft Yahei";border:0;font-size: 16px;cursor: pointer;border-radius:3px;}
.app-button:hover{background-color: #ff7700;}
.collect{margin-left: 15px;padding-left: 18px;font-size: 14px;color:#3d90e5;background: url(../images/company-icon.png) no-repeat 0px -280px;font-family: "Microsoft Yahei";line-height: 34px;}
.collect.done{background-position: 0px -250px;}
.job-block{margin-bottom: 20px;}
.job-block .job-info-detail{border-bottom: 1px dotted #ccc;padding:10px 0;}
.job-block .job-info-detail .job-id-item{font-size: 14px;color:#666;line-height: 20px;margin-bottom: 10px;width: 267px;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;height:20px;}
.job-block .job-info-detail .job-id-item span{color:#ff9900;font-size: 16px;line-height: 20px;font-family: "Microsoft Yahei";}
.job-block .job-info-content{font-size: 14px;padding-bottom: 10px;border-bottom: 1px dotted #ccc;line-height: 28px;color: #666;word-break:break-word;}
.job-block .job-info-content{font-size: 14px;padding-bottom: 10px;border-bottom: 1px dotted #ccc;line-height: 28px;color: #666;table-layout:fixed; word-break: break-all; overflow:hidden;padding: 5px 0;}
.job-block .com-contact{border-bottom: 1px dotted #ccc;padding-bottom: 18px;}
.job-warning{background-color: #fff5e5;color:#ff7400;height:45px;line-height: 45px;text-align: center;font-size: 14px;margin-top: 13px;}
.job-bottom-share{margin-top: 20px;}
.job-bottom-share .app-job-item{position: static;}
.job-bottom-share .jubao{text-align: right;padding-right: 5px;margin-bottom: 2px;}
.job-bottom-share .jubao a{color:#0180cf;}
.job-bottom-share .jubao a:hover{text-decoration: underline;}
.share-item{line-height: 28px;}
.share-item span{color:#666;margin-right: 5px;}
/*鑱屼綅鍒楄〃*/
.jobs-list-block{}
.jobs-list-block .list-title{font-size: 12px;color:#999;}
.jobs-list-block .list-title span{color:#ff9900;}
.jobs-list-block .jobs-item{border-bottom: 1px dotted #ccc;padding:13px 0 10px 0;}
.jobs-list-block .jobs-item .jitem-main{margin-bottom: 9px;}
.jobs-list-block .jobs-item .jitem-left{width: 560px;overflow: hidden;}
.jobs-list-block .jobs-item .jitem-left .job-name{font-size: 14px;color:#999;margin-bottom: 7px;}
.jobs-list-block .jobs-item .jitem-left .job-name a{color:#0180cf;}
.jobs-list-block .jobs-item .jitem-left .job-name a:hover{text-decoration: underline;}
.jobs-list-block .jobs-item .jitem-left .job-name .reflash-time{font-size: 12px;margin-left: 20px;}
.jobs-list-block .jobs-item .jitem-left .jitem-info{font-size: 12px;color:#666;}
.jobs-list-block .jobs-item .jitem-left .jitem-info em{font-size: 14px;color:#ff9900;font-weight: bold;font-style: normal;}
.jobs-list-block .jobs-item .jitem-content{line-height: 20px;color:#666;font-size: 12px;table-layout:fixed; word-break: break-all; overflow:hidden;}
.jobs-list-block .jobs-item .jitem-content a{color:#0180cf;white-space: nowrap;margin-left: 3px;}
.jobs-list-block .jobs-item .jitem-content a:hover{text-decoration: underline;}
.list-job-btn{width: 92px;height: 30px;color:#fff;font-size: 12px;background: url(../images/apply-job-btn.png) no-repeat 0px 0px;border:0;cursor: pointer;}
.list-job-btn:hover{background-position: 0px -40px;}
/*鏂伴椈鍒楄〃*/
.company-news-list{}
.company-news-list .company-news-caption{font-size: 12px;color:#999;}
.company-news-list .news-item{padding:13px 0 10px 0;border-bottom: 1px dotted #ccc;}
.company-news-list .news-item h3{font-size: 14px;font-weight:normal;color:#0180cf;width: 690px;overflow: hidden;white-space: nowrap;text-overflow:hidden;margin-bottom: 9px;}
.company-news-list .news-item h3 a{color:#0180cf;}
.company-news-list .news-item h3 a:hover{text-decoration: underline;}
.company-news-list .news-item p{font-size: 12px;color:#999;margin-bottom: 9px;}
.company-news-list .news-item p span{margin-right: 15px;}
.company-news-list .news-item div{color:#666;}
.company-news-list .news-item div a{color: #0180cf;white-space: nowrap;margin-left: 3px;}
.company-news-list .news-item div a:hover{text-decoration: underline;}
/*鍒嗛〉*/
.page-wrap{float: left;position: relative;left:50%;}
.page-wrap .page{position: relative;left:-50%;height:26px;font-family: "SimSun";}
.page-wrap .page .page-content{font-size: 0;}
.page-wrap .page .page-content a{font-size: 12px;display: inline-block;margin-right: 5px;padding:0 5px;line-height: 24px;height:24px;border:1px solid #e2e2e2;color:#666;}
.page-wrap .page .page-content a:hover{border-color: #0180cf;color:#0180cf;}
.page-wrap .page .page-content a.page-active{background-color: #0180cf;border-color:#0180cf;color:#fff;}
.page-wrap .page .page-content span{color:#666;font-size: 12px;line-height: 26px;}
.page-wrap .page .page-jump{color:#666;line-height: 26px;padding:0 11px;}
.page-wrap .page .page-jump input{border:1px solid #cccccc;width: 33px;text-align: center;font-size: 12px;line-height: 14px;height:14px;padding:5px 0;*vertical-align: middle;*padding:4px 0;}
.page-wrap .page .jump-btn{font-size: 12px;color:#666;border:1px solid #ccc;width: 33px;height:26px;background-color: #f0f0f0;cursor: pointer;font-family: "SimSun";}
/*璇勮*/
.comment-wrap{}
.comment-wrap .logoimg{float:left;width:40px;padding:0px 19px;}
.comment-wrap .logoimg img{width:40px;height:40px;border:none;border-radius:20px;}
.comment-wrap .comment-top{font-size: 12px;color:#999;line-height: 30px;}
.comment-wrap .comment-block{height: 133px;border:1px solid #ccc;overflow: hidden;}
.comment-wrap .comment-block.talk-block{margin-top: 9px;display: none;}
.comment-wrap .comment-block .comment-textarea{height: 87px;border-bottom: 1px solid #e2e2e2;overflow: hidden;}
.comment-wrap .comment-block .comment-textarea textarea{border:0;resize: none;padding:10px;height: 67px;outline: none;width: 667px;color:#666;font-family: "SimSun";overflow: auto;}
.comment-wrap .comment-block .textarea-control{padding:8px 15px;}
.textarea-control .text-nologin{line-height: 28px;font-size: 12px;color: #999}
.textarea-control .text-nologin a{color:#0180cf;}
.textarea-control .text-nologin a:hover{text-decoration: underline;}
.textarea-control .comment-submit input{border:0;background-color: #0180cf;font-size: 12px;font-family: "SimSun";color:#fff;border-radius: 3px;width: 80px;height: 28px;cursor: pointer;}
.textarea-control .comment-submit input:hover{background-color: #0070bd;}
.comment-list{}
.comment-list .comment-item{padding:15px 0;border-bottom: 1px dotted #ccc;}
.comment-list .comment-item .comment-title{line-height: 14px;color:#999;}
.comment-list .comment-item .comment-title a{color:#0180cf;margin-right: 13px;}
.comment-list .comment-item .comment-title span{margin-right: 8px;}
.comment-list .comment-item .comment-content{font-size: 14px;line-height: 26px;margin:6px 0;min-height: 26px;color: #666;}
.comment-list .comment-item .comment-control{line-height: 20px;}
.comment-list .comment-item .comment-control .control-item{padding-left: 20px;margin-right: 15px;background: url(../images/company-icon.png) no-repeat;color: #999;padding-left:90px;margin-left:5px;}
.comment-list .comment-item .comment-control .control-item.like{background-position: 3px -58px;margin-right: 10px;min-width: 5px;}
.comment-list .comment-item .comment-control .control-item.talk{background-position: 0px -89px;}
.comment-list .comment-item .comment-control .control-item.more-talk{background-position: 75px -120px;}
.talk-again{margin-top: 10px;position: relative;background-color: #f5f5f5;padding:0 10px;display: none;*position:static;}
.talk-again .ta-arrow{position: absolute;top:-20px;left:160px;width: 0;height: 0;border-width:10px 8px;border-color:transparent transparent #f5f5f5 transparent;border-style: dashed dashed solid dashed;*display:none;margin-left:73px;}
.talk-again .talk-again-item{padding:13px 0}
.talk-again .logoimg{width:40px;padding:10px 10px 0px 0px;}
.talk-again .talk-again-item .talk-man{font-size: 12px;color:#666;}
.talk-again .talk-again-item .talk-man a{color:#0180cf;}
.talk-again .talk-again-item .talk-man .talk-time{color:#999;}
.talk-again .talk-again-item .talk-content{font-size: 14px;color: #666;line-height: 26px;margin:5px 0;}
/*鏂伴椈璇︽儏*/
.news-content-wrap{}
.news-content-wrap .news-title{margin-bottom: 10px;padding-top: 15px;}
.news-content-wrap .news-title h2{font-size: 18px;color:#333;font-weight: normal;text-align: center;font-family: "Microsoft Yahei";margin-bottom: 15px;}
.news-info{text-align: center;padding-bottom: 13px;border-bottom:1px solid #e2e2e2;}
.news-info span{display: inline-block;width: 150px;color:#666;}
.news-info span a{color:#0180cf;}
.news-info span a:hover{text-decoration: underline;}
.news-content-wrap .news-content-block{line-height: 26px;color:#666;font-size: 12px;}
.news-next-prev{margin-top: 20px;font-size: 12px;}
.news-next-prev .news-prev,
.news-next-prev .news-next{width: 300px;color: #0180cf;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.news-next-prev .news-next{text-align: right;}
.news-next-prev a{color:#0180cf;}
.news-next-prev a:hover{text-decoration: underline;}

/* 鐒︾偣鍥?*/
#focus { width: 600px; height: 400px; clear: both; overflow: hidden; position: relative; float: left; }
#focus ul { width: 600px; height: 400px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 600px; height: 400px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 300px; height: 400px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left: 0; background: url(../images/sprite.png) no-repeat left center; }
#focus .next { right: 0; background: url(../images/sprite1.png) no-repeat right center; }

/*钖叕缁熻鏍峰紡*/
.salary{width:696px;height:248px;background-color:#F5F5F5;border:1px solid #ccc;border-radius:3px;margin:0 auto;margin-bottom:20px;}
.salary .salary_box{padding:15px;}
.salary .salary_box h3{font-size:14px;color:#333333;font-weight:normal;margin-bottom:10px;font-family:"microsoft yahei";}
.salary .salary_box .s_content{width:657px;height:147px;background-color:#fff;border:1px solid #fff;}
.salary .salary_box .s_content .salary_left{float:left;padding:15px;padding-top:20px;width:181px;font-size:16px;font-family:"microsoft yahei";}
.salary .salary_box .s_content .salary_left div{color:#0180CF;line-height:25px;margin-bottom:15px;}
.salary .salary_box .s_content .salary_left p{font-size:14px;color:#666666;line-height:30px;}
.salary .salary_box .s_content .salary_left p span{color:#0180CF;}
.salary .salary_box .s_content .salary_right{position:relative;float:left;width:446px;height:147px;background:url(../images/salary.jpg)no-repeat;+background-image:url(../images/salary.jpg);_background-image:url(../images/salary.jpg);}
.salary .salary_box .s_content .salary_right .value{position:absolute;left:0;top:40%;}
.salary .salary_box .s_content .salary_right .value .blue_bar{float:left;margin-right:5px;background-color:#0180CF;height:35px;}
.salary .salary_box .s_content .salary_right .value .number{float:left;height:35px;line-height:35px;font-size:16px;color:#0180CF;}
.salary .salary_box .salary_bot{font-size:12px;color:#999999;font-family:"microsoft yahei";margin-top:10px;}
.salary .salary_box .salary_bot .tip{font-family:"microsoft yahei";float:left;}
.salary .salary_box .salary_bot .data{font-family:"microsoft yahei";float:right;padding-right:5px;}