{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="baiduxml/admin_baiduxml_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
每个资源文件最多包含5000个URL，并且文件在压缩前不超过9.5MB。<br />
此设置将关联计划任务中的百度开发平台数据生成任务。
</p>
</div>
<div class="toptit">設定</div>
  <form action="?act=setsave" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
	<tr>
      <td width="150" align="right">情報選別方法</td>
      <td> 
	   <label>
        <input name="order" type="radio" id="order" value="1"  {#if $xml.order=="1"#}checked=checked {#/if#}/>時間降順の追加</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label>
        <input name="order" type="radio" id="order" value="2"  {#if $xml.order=="2"#}checked=checked {#/if#}/>リフレッシュタイム降順</label>	  </td>
    </tr>
    <tr>
      <td width="150" align="right">情報の最大を生成します。</td>
      <td><input name="xmlmax" type="text"  class="input_text_200" id="xmlmax" value="{#$xml.xmlmax#}" maxlength="30"/><span class="admin_note">0は制限なし，もし10000に設定したら，毎回最大仕事生成数は10000である</span></td>
    </tr>
    <tr>
      <td align="right">単一の文書は情報の総数を含む：</td>
      <td><input name="xmlpagesize" type="text"  class="input_text_200" id="xmlpagesize" value="{#$xml.xmlpagesize#}" maxlength="100"/>
     <span class="admin_note">5000以上禁止、3000 までに推奨されます</span></td>
    </tr>
	<tr>
      <td align="right">サブボリュームの文書名の接頭辞：</td>
      <td><input name="xmlpre" type="text"  class="input_text_200" id="xmlpre" value="{#$xml.xmlpre#}" maxlength="100"/>     </td>
    </tr>
	
	<tr>
      <td align="right">インデックスドキュメント名：</td>
      <td><input name="indexname" type="text"  class="input_text_200" id="indexname" value="{#$xml.indexname#}" maxlength="100"/></td>
    </tr>
	 <tr>
      <td align="right">ドキュメントディレクトリを保存します：</td>
      <td><input name="xmldir" type="text"  class="input_text_200" id="indexdir" value="{#$xml.xmldir#}" maxlength="100"/>
     <span class="admin_note">デフォルトは、ディレクトリの受信システムの下で「baiduxml」ディレクトリである</span></td>
    </tr>
	      
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存修改"/>             </td>
      </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
