<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--書き込む用データベース接続-->
  <database name="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=HPS;User ID=sa;Password=HpMfeOisg5Cu1Im/jYONXg=="/>
  <!--语言-->
  <config name="language" value ="en"/>
  <!--处理間隙（分）-->
  <notice name="Span" value ="1"/>

  <!--FTP杂志-->
  <config name="ftpserver" value ="ftp://ftp11.gmoserver.jp/"/>
  <config name="ftpuser" value ="sd0442751.02@gmoserver.jp"/>
  <config name="ftppassword" value ="HpMfeOisg5Cu1Im/jYONXg=="/>

  <!--ログ-->  
  <log name="LogCount" value="16"/>
  <log name="LogSize" value="4096000"/>
  <log name="LogFile" value="Log"/>
  <log name="LogPath" value="C:\HPS\ServiceLOG"/>
  <log name="LogExt" value=".txt"/>
  <log name="LogLevel" value="2"/>
  <log name="IniPath" value="C:\HPS\ServiceLOG"/>
</configuration>

