<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="gb2312">
  <title>下载APP</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/download.css">
</head>
<body>
  <div class="download-mask">
    <i class="arrow-tip"></i>
    <div class="tips-text">
      <h3>小贴士</h3>
      <p>点击右上角的按钮，选择“在浏览器中打开”，就可以下载了！</p>
    </div>
  </div>
  <div class="download-container">
    <div class="logo-item">
      <div class="logo"><img src="./images/logo-big.gif" alt=""></div>
      <p>{#$QISHI.site_name#} — 值得信赖的招聘网站！</p>
    </div>
    <div class="download-ctrl">
      <a href="{#$QISHI.site_domain#}{#$QISHI.site_dir#}{#if $downtype=='android'#}{#$QISHI.android_download#}{#else#}{#$QISHI.ios_download#}{#/if#}" class="download-btn">立即下载</a>
    </div>
  </div>

  <script src="./js/jquery.js"></script>
  <script>
      // 判断微信
      var agent = navigator.userAgent.toLowerCase();
      if(agent.indexOf('micromessenger') > 0)
      {
        $(".download-btn").attr('href', 'javascript:;');
        $(".download-btn").attr('id', 'download');
      }
      // 点击
      $("#download").live('click', function(event) {
         $('.download-mask').animate({
          top: 0
        },600, function() {
        });
      });
      // $(".download-mask").live('click', function() {
      //   $(this).hide();
      // });;
  </script>
</body>
</html>