<div class="page_bottom1 link_bk">
  <div class="leftnav"><a href="{#$QISHI.wap_domain#}">首页</a> {#if $smarty.session.username#}<a href="{#$QISHI.wap_domain#}/{#if $smarty.session.utype==1#}company/wap_user.php{#else if $smarty.session.utype==2#}personal/wap_user.php{#/if#}">会员中心</a>{#else#}<a href="{#$QISHI.wap_domain#}/wap_login.php">登录</a>{#/if#} <a href="{#$QISHI.wap_domain#}/wap_user_reg.php">注册</a> </div>
  <div class="topbox"><a href="#">▲TOP</a></div>
  <div class="clear"></div>
</div>

<div class="page_bottom2 link_blue"><a href="{#$QISHI.wap_domain#}">触屏版</a>  |  <a href="{#$QISHI.site_domain#}{#$QISHI.site_dir#}?iswap=1">电脑版</a>  | <a href="#">手机APP</a></div>

<div class="page_bottom3">{#$QISHI.bottom_other#}<br />
Powered by 74cms v{#$QISHI.version#}</div>