<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=false;"  />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Ｗｅｃｈａｔ_設定-{#$HIGHWAY.site_name#}</title>
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/user.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type='text/javascript' ></script>
<script src="{#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="js/jquery.common.js" type='text/javascript' ></script>
</head>
<body>
<div class="sub_bodybg"></div>
<div class="sub_head_top">
	<div class="title">設定成功</div>
</div>
{#include file="top-menu.html"#} 
<div style='margin: 56px auto 0; width: 70%; '>
<div style='width:189px;margin:0px auto;'><img style='margin: -3px auto;' width='30' height='30' src='images/44.png'><span style='font-size:30px;'>&nbsp;設定成功！</span></div>
<div style='margin: 24px auto; width: 228px; '>Ｗｅｃｈａｔ設定しましたら、Ｗｅｃｈａｔ登録できます</div>
</div>
<div class="user_login_getpws link_blue" style='width: 57%;'>
	<div style='margin:0px auto; width: 160px;'><a href="index.php">点击立即登录网站首页</a><div>
</div>
</body>
</html>
