<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=false;"  />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>职位列表 - {#$QISHI.site_name#}</title>
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/jobs.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_domain#}{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="js/jquery.common.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
	//打开顶部菜单
	$("#topmenu_sub").click( function () { 
		$("#topmenu").slideToggle("fast");
	});
	
	  // 创建简历弹出框
	  function showFloatBox() {
	    $("body").prepend("<div class=\"menu_bg_layer\"></div>");
	    $(".menu_bg_layer").height($(document).height());
	    $(".menu_bg_layer").css({ width: $(document).width(), position: "absolute",left:"0", top:"0","z-index":"1","background-color":"#000000"});
	    $(".menu_bg_layer").css("opacity",0.3);
	  }

	  // 职能点击
	  $("#menulistJobs").click(function(){
	    showFloatBox();
	    $("#menuJobs").css({ top: ($(window).height() - $('#menuJobs').outerHeight())/2 + $(document).scrollTop() });
	    $("#menuJobs").show();
	  });
    
	  // 地区点击
	  $("#menulistCity").click(function(){
	    showFloatBox();
	    $("#menuDistrict").css({ top: ($(window).height() - $('#menuDistrict').outerHeight())/2 + $(document).scrollTop() });
	    $("#menuDistrict").show();
	  });

    // 行业点击
    $("#menulistTrad").click(function(){
      showFloatBox();
      $("#menuTrad").css({ top: ($(window).height() - $('#menuTrad').outerHeight())/2 + $(document).scrollTop() });
      $("#menuTrad").show();
    });

    // 薪资点击
    $("#menulistWage").click(function(){
      showFloatBox();
      $("#menuWage").css({ top: ($(window).height() - $('#menuWage').outerHeight())/2 + $(document).scrollTop() });
      $("#menuWage").show();
      $("#menuWage li").click(function(){
        $("#wage").val($(this).attr("id"));
        $("#wage_cn").val($(this).attr("title"));
        $("#showListWage").html($(this).attr("title"));
        $("#menuWage").hide();
        $(".menu_bg_layer").remove();
        //点选完职能后就开始搜索
        var patrn=/^(请输入关键字)/i; 
        var key=$("#key").val();
        if (patrn.exec(key))
        {
        key = "";
        }
        var district = $("#district").val();
        var sdistrict = $("#sdistrict").val();
        var trade = $("#trade").val();
        var topclass = $("#topclass").val();
        var category = $("#category").val();
        var subclass = $("#subclass").val();
        var recommend = $("#recommend").val();
        var emergency = $("#emergency").val();
        var wage = $("#wage").val();
        var url = "wap-jobs-list.php";
        window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency;
      });
    });
    // 关闭弹出框
    $(".choose_close").click(function(event) {
      $(this).parent().hide();
      $(".menu_bg_layer").remove();
    });
	//
	$("#key").focus(function()
	{
		var patrn=/^(请输入关键字)/i;
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		  $("#key").val('');
		}
	});
	$("#clearkey").click(function () {
	 $("#key").val('');
	});
	$(".jobs_list .list").click(function(){
		window.location.href=$(this).attr("url");
	});
	{#if $jobs#}
	$(".more").click(function(){
    var patrn=/^(请输入关键字)/i; 
    var key=$("#key").val();
    if (patrn.exec(key))
    {
    key = "";
    }
    var district = $("#district").val();
    var sdistrict = $("#sdistrict").val();
    var trade = $("#trade").val();
    var topclass = $("#topclass").val();
    var category = $("#category").val();
    var subclass = $("#subclass").val();
    var recommend = $("#recommend").val();
    var emergency = $("#emergency").val();
    var wage = $("#wage").val();
		$(this).hide();
		var offset=$(".jobs_list div[class='list']").size();
		// offset=parseInt(offset.substr(3));
		$.get("{#$QISHI.wap_domain#}/plus/wap_ajax.php?act=ajaxjobslist&offset="+(offset)+"&rows=5&recommend="+recommend+"&emergency="+emergency+"&key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage, function(result){
		    if(result=="-1"){
		    	$(".more").show();
		    	$(".more").html("没有更多职位了");
		    }else{
		    	$(".showlist").append(result);
		    	$(".more").show();
				$(".jobs_list .list").click(function(){
					window.location.href=$(this).attr("url");
				});
		    }
		    
		  });
	});
	{#/if#}
	$(".so_sub").click(function(){
		var patrn=/^(请输入关键字)/i; 
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		key = "";
		}
		var district = $("#district").val();
		var sdistrict = $("#sdistrict").val();
    var trade = $("#trade").val();
    var topclass = $("#topclass").val();
    var category = $("#category").val();
    var subclass = $("#subclass").val();
    var recommend = $("#recommend").val();
    var emergency = $("#emergency").val();
    var wage = $("#wage").val();
		var url = "wap-jobs-list.php";
		window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency; 
	});
});
</script>
</head>
<body>
<div class="sub_bodybg"></div>
<div class="sub_head_top">
	<div class="title">{#if $smarty.get.emergency=="1"#}紧急招聘{#elseif $smarty.get.recommend=="1"#}推荐职位{#else#}搜索职位{#/if#}</div>
	<div class="back" id="pageback"><img src="images/18.jpg" alt="#"   border="0"/></div>  
	<div class="menu" id="topmenu_sub"><a href="javascript:void(0);"><img src="images/2.jpg"  border="0"/></a></div>
</div>

<!--快捷按钮 -->
{#include file="top-menu.html"#}
<!--快捷按钮 -->
<!--关键字搜索 -->
<div class="jobs_so">
	<input name="key" type="text"  id="key"  class="keyinput" value="{#if $smarty.get.key==""#}请输入关键字{#else#}{#$smarty.get.key#}{#/if#}"/>
	<div class="clearkey" id="clearkey"><img src="images/17.jpg"  border="0"/></div>
    <div class="so_sub"><img src="images/19.jpg"  border="0"/></div>
</div>
<!--更多搜索条件 -->
<input type="hidden" name="emergency" id="emergency" value="{#$smarty.get.emergency#}"/>
<input type="hidden" name="recommend" id="recommend" value="{#$smarty.get.recommend#}"/>
<div class="jobs_so_menus">
  <div class="menulistboxs" id="menulistCity">
    <div class="so_box area">
      <img src="./images/so_icon_1_hui.gif" alt="" />&nbsp;地区
        <input type="hidden" id="district" name="district" value="{#$smarty.get.district#}" />
        <input type="hidden" id="sdistrict" name="sdistrict" value="{#$smarty.get.sdistrict#}" />
    </div>
  </div>
  <div class="menu choose_menu" id="menuDistrict" style="display:none;position:absolute;z-index:1;">
    <div class="menu_title">地区</div>
    <div class="choose_close"></div>
    <div class="area_choose">
      <ul class="area_left" id="area_left"></ul>
      <ul class="area_right" id="area_right"></ul>
      <div class="clear"></div>
    </div>
    <script type="text/javascript">
      var citystr = '';
      $.each(QS_city_parent, function(pindex, pval) {
        if(pval) {
          var citys = pval.split(",");
          citystr += '<li class="area_big" rcoid="'+citys[0]+'" pid="'+citys[0]+'" title="'+citys[1]+'" href="javascript:;">'+citys[1]+'</li>';
        }
      });
      $("#area_left").html(citystr);
      $("#area_left li").unbind().click(function(){
        var cid = $(this).attr("rcoid");
        var cid = $(this).attr("pid");
        var ctitle = $(this).attr("title");
        var scitystr = "";
        if(QS_city[cid]) {
          var ccitysArray = QS_city[cid].split("|");
          scitystr += '<li class="area_small" rcoid="0" title="'+ctitle+'/不限" pid="'+cid+'.0" href="javascript:;">不限</li>';
          $.each(ccitysArray, function(cindex, cval) {
            if(cval) {
              var ccitys = cval.split(",");
              scitystr += '<li class="area_small" rcoid="'+ccitys[0]+'" title="'+ctitle+'\/'+ccitys[1]+'" pid="'+cid+'.'+ccitys[0]+'">'+ccitys[1]+'</li>';
            }
          });
          $("#area_right").html(scitystr).show();
          $("#area_right li").click(function(){
            var districtIds = $(this).attr("pid");
            var districtIdArray = districtIds.split(".");
            $("#district").val(districtIdArray[0]);
            $("#sdistrict").val(districtIdArray[1]);
            $("#district_text").html($(this).attr("title"));
            $("#showListCity").html($(this).attr("title"));
            $("#menuDistrict").hide();
            $(".menu_bg_layer").remove();

            //点选完职能后就开始搜索
            var patrn=/^(请输入关键字)/i; 
            var key=$("#key").val();
            if (patrn.exec(key))
            {
            key = "";
            }
            var district = $("#district").val();
            var sdistrict = $("#sdistrict").val();
            var trade = $("#trade").val();
            var topclass = $("#topclass").val();
            var category = $("#category").val();
            var subclass = $("#subclass").val();
            var recommend = $("#recommend").val();
            var emergency = $("#emergency").val();
            var wage = $("#wage").val();
            var url = "wap-jobs-list.php";
            window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency; 
          });
        } else {
          $("#district").val($(this).attr('pid'));
          $("#sdistrict").val("0");
          $("#district_text").html(ctitle);
          $("#showListCity").html(ctitle);
          $("#menuDistrict").hide();
          $(".menu_bg_layer").remove();

          //点选完职能后就开始搜索
          var patrn=/^(请输入关键字)/i; 
          var key=$("#key").val();
          if (patrn.exec(key))
          {
          key = "";
          }
          var district = $("#district").val();
          var sdistrict = $("#sdistrict").val();
          var trade = $("#trade").val();
          var topclass = $("#topclass").val();
          var category = $("#category").val();
          var subclass = $("#subclass").val();
          var recommend = $("#recommend").val();
          var emergency = $("#emergency").val();
          var wage = $("#wage").val();
          var url = "wap-jobs-list.php";
          window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency; 
        }
      });
    </script>
  </div>
  <div class="menulistboxs" id="menulistTrad">
    <div class="so_box trade">
      <img src="./images/so_icon_2_hui.gif" alt="" />&nbsp;行业
        <input type="hidden" id="trade" name="trade" value="{#$smarty.get.trade#}" />
        <input type="hidden" id="trade_cn" name="trade_cn" value="" />
    </div>
  </div>
  <div class="menu choose_menu" id="menuTrad" style="display:none;position:absolute;z-index:1;">
        <div class="menu_title">行业</div>
        <div class="choose_close"></div>
        <ul id="trad_list"></ul>
  </div>
  <script type="text/javascript">
      var tradli = '';
      $.each(QS_trade, function(index, val) {
        if(val) {
          var trads = val.split(",");
          tradli += '<li id="'+trads[0]+'" title="'+trads[1]+'">'+trads[1]+'</li>';
        }
      });
      $("#trad_list").html(tradli);
      $("#trad_list li").unbind().click(function(event) {
        var tradId = $(this).attr("id");
        var tradTitle = $(this).attr("title");
        $("#trade").val(tradId);
        $("#trade_cn").val(tradTitle);
        $("#showListTrad").html(tradTitle);
        $("#menuTrad").hide();
        $(".menu_bg_layer").remove();

        //点选完职能后就开始搜索
        var patrn=/^(请输入关键字)/i; 
        var key=$("#key").val();
        if (patrn.exec(key))
        {
        key = "";
        }
        var district = $("#district").val();
        var sdistrict = $("#sdistrict").val();
        var trade = $("#trade").val();
        var topclass = $("#topclass").val();
        var category = $("#category").val();
        var subclass = $("#subclass").val();
        var recommend = $("#recommend").val();
        var emergency = $("#emergency").val();
        var wage = $("#wage").val();
        var url = "wap-jobs-list.php";
        window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency;
      });
  </script>
  <div class="menulistboxs" id="menulistJobs">
    <div class="so_box functions">
      <img src="./images/so_icon_3_hui.gif" alt="" />&nbsp;职能
          <input name="topclass" id="topclass" type="hidden" value="{#$smarty.get.topclass#}" />
          <input name="category" id="category" type="hidden" value="{#$smarty.get.category#}" />
          <input name="subclass" id="subclass" type="hidden" value="{#$smarty.get.subclass#}" />
    </div>
  </div>
  <div class="menu choose_menu" id="menuJobs" style="display:none;position:absolute;z-index:1;">
  <div class="menu_title">职能</div>
  <div class="choose_close"></div>
  <div class="area_choose">
    <ul class="area_left" id="jobs_left_list"></ul>
    <ul class="area_right" id="jobs_right_list"></ul>
    <div class="clear"></div>
  </div>
  <script type="text/javascript">
    var jobstr = '';
    $.each(QS_jobs_parent, function(pindex, pval) {
      if(pval) {
        var jobs = pval.split(",");
        var sjobsArray = QS_jobs[jobs[0]].split("|");
        $.each(sjobsArray, function(sindex, sval) {
          if(sval) {
            var sjobs = sval.split(",");
            jobstr += '<li class="area_big" rcoid="'+sjobs[0]+'" pid="'+jobs[0]+'.'+sjobs[0]+'" title="'+sjobs[1]+'">'+sjobs[1]+'</li>';
          }
        });
      }
    });
    $("#jobs_left_list").html(jobstr);
    $("#jobs_left_list li").unbind().click(function(){
      var rid = $(this).attr("rcoid");
      var rpid = $(this).attr("pid");
      var rtitle = $(this).attr("title");
      var sjobstr = "";
      if(QS_jobs[rid]) {
        var cjobsArray = QS_jobs[rid].split("|");
        sjobstr += '<li class="area_small" rcoid="0" title="'+rtitle+'/不限" pid="'+rpid+'.0">不限</li>';
        $.each(cjobsArray, function(cindex, cval) {
          if(cval) {
            var cjobs = cval.split(",");
            sjobstr += '<li class="area_small" rcoid="'+cjobs[0]+'" title="'+rtitle+'\/'+cjobs[1]+'" pid="'+rpid+'.'+cjobs[0]+'">'+cjobs[1]+'</li>';
          }
        });
        $("#jobs_right_list").html(sjobstr).show();
        $("#jobs_right_list li").click(function(){
          var chid = new Array();
          chid = $(this).attr('pid').split(".");
          $("#topclass").val(chid[0]);
          $("#category").val(chid[1]);
          $("#subclass").val(chid[2]);
          $("#jobs_text").html($(this).attr("title"));
          $("#showListJobs").html($(this).attr("title"));
          $("#menuJobs").hide();
          $(".menu_bg_layer").remove();

          //点选完职能后就开始搜索
          var patrn=/^(请输入关键字)/i; 
          var key=$("#key").val();
          if (patrn.exec(key))
          {
          key = "";
          }
          var district = $("#district").val();
          var sdistrict = $("#sdistrict").val();
          var trade = $("#trade").val();
          var topclass = $("#topclass").val();
          var category = $("#category").val();
          var subclass = $("#subclass").val();
          var recommend = $("#recommend").val();
          var emergency = $("#emergency").val();
          var wage = $("#wage").val();
          var url = "wap-jobs-list.php";
          window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency; 
        });
      } else {
        var tchid = new Array();
        tchid = $(this).attr('pid').split(".");
        $("#topclass").val(tchid[0]);
        $("#category").val(tchid[1]);
        $("#subclass").val("0");
        $("#jobs_text").html(rtitle);
        $("#showListJobs").html(rtitle);
        $("#menuJobs").hide();
        $(".menu_bg_layer").remove();

        //点选完职能后就开始搜索
        var patrn=/^(请输入关键字)/i; 
        var key=$("#key").val();
        if (patrn.exec(key))
        {
        key = "";
        }
        var district = $("#district").val();
        var sdistrict = $("#sdistrict").val();
        var trade = $("#trade").val();
        var topclass = $("#topclass").val();
        var category = $("#category").val();
        var subclass = $("#subclass").val();
        var recommend = $("#recommend").val();
        var emergency = $("#emergency").val();
        var wage = $("#wage").val();
        var url = "wap-jobs-list.php";
        window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict+"&trade="+trade+"&topclass="+topclass+"&category="+category+"&subclass="+subclass+"&wage="+wage+"&recommend="+recommend+"&emergency="+emergency; 
      }
    });
  </script>
  </div>
  <div class="menulistboxs" id="menulistWage">
    <div class="so_box moneys">
      <img src="./images/so_icon_4_hui.gif" alt="" />&nbsp;薪资
        <input name="wage" type="hidden" id="wage" value="{#$smarty.get.wage#}" />
        <input name="wage_cn" type="hidden" id="wage_cn" value="" />
    </div>
  </div>
  <div class="menu choose_menu" id="menuWage" style="display:none;position:absolute;z-index:1;">
  <div class="menu_title">薪资</div>
    <div class="choose_close"></div>
    <ul>
      {#qishi_get_classify  set="类型:QS_wage,列表名:c_wage"#}
      {#foreach from=$c_wage item=list#}
      <li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
      {#/foreach#}
    </ul>
  </div>
  <div class="clear"></div>
</div>
<!-- 选择完之后的完成框 -->
<div class="so_complete">
  <div class="so_complete_box">
  <span>搜索条件：</span><i id="showListCity"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i id="showListTrad"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i id="showListJobs"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i id="showListWage"></i>
</div>
<div class="clear"></div>
  <img id="clearShowList" src="./images/so_close.gif" alt=""width="16"height="17" />
</div>
<script type="text/javascript">
  // 地区恢复
  var citygetDistrictId = "{#$smarty.get.district#}";
  var citygetSdistrictId = "{#$smarty.get.sdistrict#}";
  var showCityHtm = "";
  $.each(QS_city_parent, function(cindex, cval) {
     if(cval) {
        var citys = cval.split(",");
        if(citys[0] == citygetDistrictId) {
          showCityHtm += citys[1]+"/";
        }
     }
  });
  if(citygetSdistrictId == "0") {
    showCityHtm += "不限";
  } else {
    if(QS_city[citygetDistrictId]) {
      var ccitysArray = QS_city[citygetDistrictId].split("|");
      $.each(ccitysArray, function(scindex, scval) {
         if(scval) {
            var scitys = scval.split(",");
            if(scitys[0] == citygetSdistrictId) {
              showCityHtm += scitys[1];
            }
         }
      });
    }
  }
  $("#showListCity").html(showCityHtm);
  // 行业恢复
  var citygetTradeId = "{#$smarty.get.trade#}";
  var showTradeHtm = "";
  $.each(QS_trade, function(tindex, tval) {
    if(tval) {
      var trads = tval.split(",");
      if(trads[0] == citygetTradeId) {
        showTradeHtm += trads[1];
      }
    }
  });
  $("#showListTrad").html(showTradeHtm);
  // 职能恢复
  var citygetTopclassId = "{#$smarty.get.topclass#}";
  var citygetCategoryId = "{#$smarty.get.category#}";
  var citygetSubclassId = "{#$smarty.get.subclass#}";
  var showJobsHtm = "";
  if(QS_jobs[citygetTopclassId]) {
    var sjobsArray = QS_jobs[citygetTopclassId].split("|");
    $.each(sjobsArray, function(sindex, sval) {
      if(sval) {
        var sjobs = sval.split(",");
        if(sjobs[0] == citygetCategoryId) {
          showJobsHtm += sjobs[1]+"/";
        }
      }
    });
  }
  if(citygetSubclassId == "0") {
    showJobsHtm += "不限";
  } else {
    if(QS_jobs[citygetCategoryId]) {
      var tsjobsArray = QS_jobs[citygetCategoryId].split("|");
      $.each(tsjobsArray, function(sindex, sval) {
        if(sval) {
          var tsjobs = sval.split(",");
          if(tsjobs[0] == citygetSubclassId) {
            showJobsHtm += tsjobs[1];
          }
        }
      });
    }
  }
  $("#showListJobs").html(showJobsHtm);
  // 薪资恢复
  var citygetWageId = "{#$smarty.get.wage#}";
  var showWageHtm = "";
  $.each(QS_wage, function(windex, wval) {
    if(wval) {
      var wages = wval.split(",");
      if(wages[0] == citygetWageId) {
        showWageHtm += wages[1];
      }
    }
  });
  $("#showListWage").html(showWageHtm);
  $("#clearShowList").click(function(event) {
    $(".so_complete i").html("");
    $("#district").val("");
    $("#sdistrict").val("");
    $("#trade").val("");
    $("#topclass").val("");
    $("#category").val("");
    $("#subclass").val("");
    $("#wage").val("");
  });
</script>
<div class="jobs_list">
<div class="showlist">
{#foreach from=$jobs item=list#}
	<div class="list" id="li-0" url="{#$list.url#}">
	  <div class="t1">
         <span ><a href="{#$list.url#}">{#$list.jobs_name#}</a>
              {#if $list.stick=="1"#}<img title="置顶信息" src="images/ding.jpg" border="0" class="vtip"/>{#/if#}
              {#if $list.emergency=="1"#}<img title="紧急招聘" src="images/iconji.gif" border="0" class="vtip" />{#/if#}
              {#if $list.recommend=="1"#}<img title="推荐职位" src="images/iconjian.gif" border="0" class="vtip" />{#/if#}
              {#if $list.graduate=="1"#}<img title="欢迎应届生投递简历" src="images/ying.jpg" border="0" class="vtip"/>{#/if#}
         </span>
         <br />
{#$list.companyname#}</div>
	  <div class="t2">{#$list.district_cn#}<br />{#$list.wage_cn#}</div>
	  <div class="t3"><img src="images/14.png"  border="0"/></div>
	  <div class="clear"></div>
	</div>
{#/foreach#}
</div>	
{#if $jobs#}
    <div class="more link_bk"><a href="javascript:void(0);">更多职位...</a></div>	
{#else#}
    <div class="more link_bk">没有更多职位了</div>	
{#/if#}
</div>
{#include file="wap/footer.htm"#}
</body>
</html>
