<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=false;"  />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>{#$QISHI.site_name#}</title>
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_domain#}{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="js/jquery.common.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#topmenu_sub").click( function () { 
		$("#topmenu").slideToggle("fast");
	});
	OpenCity("#district_input","#district_cn","#district","#sdistrict","请选择地区");
	//
	$("#key").focus(function()
	{
		var patrn=/^(请输入关键字)/i; 
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		$("#key").val('');
		}
	});
	$("#clearkey").click( function () {
	 $("#key").val('');
	});
	$(".d6 .list").click(function(){
		window.location.href=$(this).attr("url"); 
	});
	$(".searchbutton").click(function(){
		var patrn=/^(请输入关键字)/i; 
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		key = "";
		}
		var district = $("#district").val();
		var sdistrict = $("#sdistrict").val();
		var url = "";
		if($(this).attr("id")=="search_jobs"){
			url = "wap-jobs-list.php";
		}
		else if($(this).attr("id")=="search_resume"){
			url = "{#$QISHI.wap_domain#}/wap-resume-list.php";
		}
		window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict; 
	});
});
</script>
</head>
<body>
<div class="bodybg"></div>
<div class="head_top">
  <div class="logobox"><img src="images/logo.jpg" border="0"/></div>  
  <div class="topuesrnav">
  	{#if $smarty.session.utype=="1"#}
	<div class="liimg"><a href="company/wap_user.php"><img src="images/1.jpg"  border="0"/></a></div>
	{#else#}
	<div class="liimg"><a href="personal/wap_user.php"><img src="images/1.jpg"  border="0"/></a></div>
	{#/if#}
	<div class="liimg last" id="topmenu_sub"><a href="javascript:void(0);"><img src="images/2.jpg"  border="0"/></a></div>
  </div>  
  <div class="clear"></div>
</div>

<!--快捷按钮 -->
{#include file="top-menu.html"#}
<!--快捷按钮 -->
<div class="d1 link_bk">
  <div class="list">
    <div class="box"><a href="{#$QISHI.wap_domain#}/wap-jobs-list.php"><img src="images/10.jpg"  border="0"/><br />最新职位</a></div>
  </div>
  <div class="list">
    <div class="box"><a href="{#$QISHI.wap_domain#}/wap-jobs-list.php?emergency=1"><img src="images/5.jpg"  border="0"/><br />紧急招聘</a></div>
  </div>
  <div class="list">
    <div class="box"><a href="{#$QISHI.wap_domain#}/wap-jobs-list.php?recommend=1"><img src="images/6.jpg"  border="0"/><br />推荐职位</a></div>
  </div>
  <div class="list">
    <div class="box"><a href="{#$QISHI.wap_domain#}/wap-resume-list.php?talent=2"><img src="images/7.jpg"  border="0"/><br />高级人才</a></div>
  </div>
  <div class="clear"></div>
</div>
<!--搜索 -->
<div class="d2">
  	<input name="key" type="text"  id="key"  class="keyinput" value="请输入关键字"/>
	 <div class="more" id="clearkey"><img src="images/17.jpg"  border="0"/></div>
</div>
<div class="d3" id="district_input">
  <div class="input"  id="district_cn">请选择地区</div>
  <input name="district" id="district" type="hidden" value="" />
<input name="sdistrict" id="sdistrict" type="hidden" value="" />
  <div class="more"><img src="images/8.jpg"  border="0"/></div>
</div>

<div class="d4">
  <div class="alist searchbutton" id="search_jobs"><a href="javascript:void(0);">搜职位</a></div>
  <div class="alist searchbutton" id="search_resume"><a href="javascript:void(0);" class="last">搜简历</a></div>
  <div class="clear"></div>
</div>
<div class="d5">
  <div class="tit"><h2>紧急招聘</h2></div>
</div>

<div class="d6">
{#foreach from=$emergency_jobs item=list#}
	<div class="list" url="{#$list.url#}">
	  <div class="t1"><span><a href="{#$list.url#}">{#$list.jobs_name#}</a>
		{#if $list.stick=="1"#}<img title="置顶信息" src="images/ding.jpg" border="0" class="vtip"/>{#/if#}
             		{#if $list.emergency=="1"#}<img title="紧急招聘" src="images/iconji.gif" border="0" class="vtip" />{#/if#}
              	{#if $list.recommend=="1"#}<img title="推荐职位" src="images/iconjian.gif" border="0" class="vtip" />{#/if#}
            		{#if $list.graduate=="1"#}<img title="欢迎应届生投递简历" src="images/ying.jpg" border="0" class="vtip"/>{#/if#}
	  </span><br />
{#$list.companyname#}</div>
	  <div class="t2">{#$list.district_cn#}<br />{#$list.wage_cn#}</div>
	  <div class="t3"><img src="images/14.png"  border="0"/></div>
	  <div class="clear"></div>
	</div>
{#/foreach#}	
    <a style="display:block;text-decoration:none" class="more link_bk" href="wap-jobs-list.php">更多职位...</a>	
</div>
{#include file="wap/footer.htm"#}

</body>
</html>
