@using Brickred.SocialAuth.NET.Core.BusinessObjects
@{
    ViewBag.Title = "About Us";
}
<h2>
    About</h2>
<p>
    <h2>
        @{ 
            if (SocialAuthUser.IsLoggedIn())
            { 
    
            <img alt="" src="@SocialAuthUser.GetCurrentUser().GetProfile().ProfilePictureURL" />
            @SocialAuthUser.GetCurrentUser().GetProfile().FullName;
            }
            else
            {
                @User.Identity.Name;
            }
        }
    </h2>
</p>
