{#qishi_company_show set="列表名:company,企业ID:GET[id],企业介绍长度:150"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#$company.companyname#} - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$company.description#}},公司简介">
<meta name="keywords" content="{#$company.companyname#},公司简介">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/ui-dialog.css" rel="stylesheet" type="text/css" />	
<script src="{#$user_tpl#}js/jquery.js"></script>
<script src="{#$user_tpl#}js/dialog-min.js"></script>
<script src="{#$user_tpl#}js/simplefoucs.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=np21m1qLWsuF4gGwzSwYMpC4"></script>
<script>
	$(document).ready(function() {
		var company_id="{#$company.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_contact.php", { "id": company_id,"time":tsTimeStamp,"act":"company_contact"},
			function (data,textStatus)
			 {			
				$("#company_contact").html(data);
			 }
		);
		// 用户登录
		$(".ajax_user_login").live('click',function(){
			var myDialog = dialog();// 初始化一个带有loading图标的空对话框
			jQuery.ajax({
			    url: '{#$QISHI.site_dir#}user/user_ajax_login.php',
			    success: function (data) {
			    	myDialog.width(475);
			        myDialog.content(data);// 填充对话框内容
			        myDialog.title('用户登录');// 填充对话框内容
			    	myDialog.showModal();
			    }
			});
		});
	});
</script>
</head>
<body>
	{#include file="header.htm"#}
	<!-- 当前位置 -->
	<div class="page_location link_bk">
		当前位置：<a href="{#$QISHI.site_dir#}">首页</a>><a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>>{#$company.companyname#}
	</div>
	<div class="container">
		<div class="company-wrap clearfix">
			<!-- 左边 -->
			<div class="com-left">
				<div class="compnay-main">
					<div class="c-top-wrap clearfix">
						<div class="c-logo f-left"><img src="{#$company.logo#}" alt="公司logo" width="198" height="68" /></div>
						<div class="c-name f-left">
							<h2>{#$company.companyname#}
								{#if $company.audit=="1"#}
									<img title="企业已认证" src="{#$QISHI.site_template#}images/yesyan.jpg" border="0" />
								{#else#}
									<img title="企业未认证" src="{#$QISHI.site_template#}images/noyan.jpg" border="0" />
								{#/if#}
								{#if $company.pay_user > 1#}
									<img title="" src="{#$QISHI.site_dir#}data/setmealimg/{#$company.pay_user#}.gif" border="0" />
								{#/if#}
							</h2>
							<p>{#$company.address#}</p>
						</div>
					</div>
					<div class="company-control clearfix">
						<a href="{#"QS_companyshow,id:"|cat:$company.id|qishi_url#}" class="c-control-item f-left">企业主页</a>
						<a href="{#"QS_companyinfo,id:"|cat:$company.id|qishi_url#}" class="c-control-item f-left active">公司介绍</a>
						<a href="{#"QS_companyjobs,id:"|cat:$company.id|qishi_url#}" class="c-control-item f-left">招聘职位</a>
					</div>
					<div class="company-info-wrap">
						<div style="max-height:1000px">
						{#$company.company_profile|nl2br#}
						</div>
					</div>
				</div>
			</div>
			<!-- 右边 -->
			<div class="com-right">
				<div class="ring-group clearfix">
					<div class="ring-item f-left">
						<h4 class="resumes">{#$company.resume_processing#}%</h4>
						<p>简历处理率</p>
					</div>
					<div class="ring-item f-left">
						<h4 class="jobs">{#$company.jobs_num#}</h4>
						<p>在招职位</p>
					</div>
					<div class="ring-item f-left">
						<h4 class="interest">{#$company.resume_num#}</h4>
						<p>感兴趣简历</p>
					</div>
				</div>
				<div class="c-right-block">
					<h3 class="c-right-title">公司名片</h3>
					<ul class="company-info-list">
						<li>性质：{#$company.nature_cn#}</li>
						<li>行业：{#$company.trade_cn#}</li>
						<li>规模：{#$company.scale_cn#}</li>
						<li>地区：{#$company.district_cn#}</li>
						{#if $company.website#}
						<li>网址：<a target="_blank" href="{#$company.website#}" rel="nofollow">{#$company.website#}</a></li>
						{#/if#}
					</ul>
				</div>
				<div class="c-right-block">
					<h3 class="c-right-title">手机浏览</h3>
					<div class="com-code">
						<img src="{#$QISHI.site_domain#}{#$QISHI.site_dir#}plus/url_qrcode.php?url={#$QISHI.site_domain#}{#$QISHI.site_dir#}m/wap-company-show.php?id={#$company.id#}" alt="扫描二维码" width="100" height="100" />
					</div>
				</div>
			</div>
		</div>
	</div>
	{#include file="footer.htm"#}
</body>
</html>