/**
***姝ゆ牱寮忔枃浠朵负3.6鐗堟湰wap绔橝PP涓嬭浇椤甸潰锛屽簲鐢ㄤ綅缃负寰俊
**/
body, html{background-color: #fff;margin:0;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;width: 100%;height: 100%;overflow: hidden;}
.download-container{width: 100%;height: 100%;background: url(../images/icon-bg.png) no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
}
.download-container .logo-item{padding-top: 45%;text-align: center;font-size: 18px;color:#666;}
.download-container .logo-item p{margin-top: 10px;}
.download-ctrl{width: 100%;text-align: center;margin-top: 40%;}
.download-ctrl .download-btn{display: inline-block;width: 75%;height: 44px;line-height: 44px;font-size: 20px;border:2px solid #3d84b8;border-radius: 70px;color:#3d84b8;text-decoration: none;}
.download-mask{width: 100%;height:25%;background-color: rgba(0,0,0,.5);position: fixed;top:-25%;left:0;color:#fff;}
.download-mask .tips-text{width: 85%;margin:0 auto;padding-top: 25px;}
.download-mask .tips-text h3{font-size: 26px;font-weight: normal;margin-bottom: 10px;}
.download-mask .tips-text p{font-size: 18px;line-height: 28px;}
.download-mask .arrow-tip{position: absolute;top:0;right:0;width: 60px;height: 60px;background: url(../images/arrow-tips.png) no-repeat 0px 0px;
	-webkit-background-size: cover;
	background-size: cover;
}