<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SocialAuthConfiguration" type="Brickred.SocialAuth.NET.Core.SocialAuthConfiguration, SocialAuth-net, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <!-- Social Auth Configuration-->
  <SocialAuthConfiguration>
    <Providers>
      <!--NO SCOPE-->
      <!--<add ScopeLevel="CUSTOM" WrapperName="FacebookWrapper"  ConsumerKey="152190004803645" ConsumerSecret="64c94bd02180b0ade85889b44b2ba7c4" />
      <add ScopeLevel="CUSTOM" WrapperName="GoogleWrapper"    ConsumerKey="opensource.brickred.com" ConsumerSecret="YC06FqhmCLWvtBg/O4W/aJfj"  />
      <add ScopeLevel="CUSTOM" WrapperName="MSNWrapper"       ConsumerKey="000000004403D60E" ConsumerSecret="cYqlii67pTvgPD4pdB7NUVC7L4MIHCcs"  />
      <add ScopeLevel="CUSTOM" WrapperName="TwitterWrapper"   ConsumerKey="E3hm7J9IQbWLijpiQG7W8Q" ConsumerSecret="SGKNuXyybt0iDdgsuzVbFHOaemV7V6pr0wKwbaT2MH0" />
      <add ScopeLevel="CUSTOM" WrapperName="LinkedInWrapper"  ConsumerKey="9-mmqg28fpMocVuAg87exH-RXKs70yms52GSFIqkZN25S3m96kdPGBbuSxdSBIyL" ConsumerSecret="e6NBqhDYE1fX17RwYGW5vMp25Cvh7Sbw9t-zMYTIW_T5LytY5OwJ12snh_YftgE4" />
      <add ScopeLevel="CUSTOM" WrapperName="MySpaceWrapper"   ConsumerKey="29db395f5ee8426bb90b1db65c91c956" ConsumerSecret="0fdccc829c474e42867e16b68cda37a4c4b7b08eda574fe6a959943e3e9be709" />-->

      <!--DEFAULT-->
      <add  WrapperName="FacebookWrapper" ConsumerKey="152190004803645" ConsumerSecret="64c94bd02180b0ade85889b44b2ba7c4" AdditionalScopes="user_photos,read_stream,publish_stream"/>
      <add  WrapperName="GoogleWrapper" ConsumerKey="1053378345600.apps.googleusercontent.com" ConsumerSecret="lcPDLBZjRxQoCjUCXuxnb30p"  AdditionalScopes="https://www.googleapis.com/auth/userinfo.email" />
      <add  WrapperName="MSNWrapper" ConsumerKey="000000004403D60E" ConsumerSecret="cYqlii67pTvgPD4pdB7NUVC7L4MIHCcs" AdditionalScopes=""  />
      <add  WrapperName="YahooWrapper" ConsumerKey="dj0yJmk9VTdaSUVTU3RrWlRzJmQ9WVdrOWNtSjZNMFpITm1VbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1iMA--" ConsumerSecret="1db3d0b897dac60e151aa9e2499fcb2a6b474546"  />
      <add  WrapperName="TwitterWrapper" ConsumerKey="E3hm7J9IQbWLijpiQG7W8Q" ConsumerSecret="SGKNuXyybt0iDdgsuzVbFHOaemV7V6pr0wKwbaT2MH0" />
      <add  WrapperName="LinkedInWrapper" ConsumerKey="9-mmqg28fpMocVuAg87exH-RXKs70yms52GSFIqkZN25S3m96kdPGBbuSxdSBIyL" ConsumerSecret="e6NBqhDYE1fX17RwYGW5vMp25Cvh7Sbw9t-zMYTIW_T5LytY5OwJ12snh_YftgE4" />
      <add  WrapperName="MySpaceWrapper" ConsumerKey="29db395f5ee8426bb90b1db65c91c956" ConsumerSecret="0fdccc829c474e42867e16b68cda37a4c4b7b08eda574fe6a959943e3e9be709" />
      <add  WrapperName="GoogleHybridWrapper" ConsumerKey="opensource.brickred.com" ConsumerSecret="YC06FqhmCLWvtBg/O4W/aJfj"  AdditionalScopes="https://www.googleapis.com/auth/userinfo.profile" />
      <add  WrapperName="LinkedIn1Wrapper" ConsumerKey="9-mmqg28fpMocVuAg87exH-RXKs70yms52GSFIqkZN25S3m96kdPGBbuSxdSBIyL" ConsumerSecret="e6NBqhDYE1fX17RwYGW5vMp25Cvh7Sbw9t-zMYTIW_T5LytY5OwJ12snh_YftgE4" />


    </Providers>
    <Allow Files="popupdemo.aspx|GetToken.aspx|ManualLogin.aspx|Protocols.aspx"  />
    <IconFolder Path="~/images/SocialAuthIcons/" />
    <Authentication Enabled="true" LoginUrl="Default.aspx" DefaultUrl="Default.aspx"  />
    <!--<BaseURL Domain="opensource.brickred.com" Port="9090"/>-->
  </SocialAuthConfiguration>

  <!--<log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:\log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date &#9;[%property{SessionID}]&#9;%-5level&#9;%logger&#9;%message%newline" />
      </layout>
    </appender>
    -->
  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <!--
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>-->
  <!--Required for internal purpose -->

  <!--<location path="SocialAuth">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="ManualLogin.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>-->


  <system.web>
    <sessionState mode="InProc" timeout="60" />
    <!--<authorization>
            <deny users="?" />
        </authorization>-->
    <!--<authentication mode="Forms">
      <forms loginUrl="ManualLogin.aspx" defaultUrl="welcome.aspx"/>
    </authentication>-->
    <!--<authentication mode="None"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*.sauth" type="Brickred.SocialAuth.NET.Core.CallbackHandler" />
    </httpHandlers>
    <httpModules>
      <add name="SocialAuthAuthentication" type="Brickred.SocialAuth.NET.Core.SocialAuthHttpModule" />
    </httpModules>
  </system.web>

  <!--IIS7 Support-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="socialAuth.NET" verb="*" path="*.sauth" type="Brickred.SocialAuth.NET.Core.CallbackHandler" />
    </handlers>
    <modules>
      <add name="SocialAuthAuthentication" type="Brickred.SocialAuth.NET.Core.SocialAuthHttpModule" />

    </modules>
  </system.webServer>
</configuration>