<?xml version="1.0" encoding="shift_jis"?>
<configuration>
  <database name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\HPSTest\HT.mdb;Persist Security Info=True" />
  <!--Skin-->
  <config name="Skin" value="C:\Users\gun\Desktop\HT\HPSTest\HPSTest\bin\Release\skin\MP10\MP10.ssk" />
  <!--home-->
  <config name="home" value="C:\Users\gun\Pictures\17.jpg" />
  <!--home-->
  <config name="home2" value="C:\Users\gun\Pictures\ss.jpg" />
  <!--company-->
  <config name="company" value="海威" />
  <!--company-->
  <config name="ServerUrl" value="http://shop.highwayns.com/source/modules/yyexam/server.php" />
  <!--company-->
  <config name="UserName" value="admin" />
  <!--company-->
  <config name="Password" value="admin" />
  <!--ログ-->
  <log name="LogCount" value="16" />
  <log name="LogSize" value="4096000" />
  <log name="LogFile" value="Log" />
  <log name="LogPath" value="C:\HPSTest\LOG" />
  <log name="LogExt" value=".txt" />
  <log name="LogLevel" value="2" />
  <log name="IniPath" value="C:\HPSTest\LOG" />
</configuration>