<div class="order-detail-dialog dialog-block">
	<div class="dialog-item clearfix">
		<div class="d-type f-left">オーダー番号：</div>
		<div class="d-content f-left">{#$order_oid#} <span class="order-d-time">（创建于{#$order_addtime#}）</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">オーダーステータス：</div>
		<div class="d-content f-left"><span class="order-not-done">{#$order_is_paid#}</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">注文内容：</div>
		<div class="d-content f-left">{#$order_des#}</div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">お支払い金額：</div>
		<div class="d-content f-left"><span class="order-money">{#$order_amount#}</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">お支払い方法：</div>
		<div class="d-content f-left">{#$order_payname#}</div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">注文の注意：</div>
		<div class="d-content f-left">{#$order_note#}</div>
	</div>
	<div class="center-btn-wrap">
		{#$button#}
		<input type="button" value="取消" class="btn-65-30grey btn-big-font DialogClose" />
	</div>
</div>
