<div class="order-detail-dialog dialog-block">
	<div class="dialog-item clearfix">
		<div class="d-type f-left">订单编号：</div>
		<div class="d-content f-left">{#$order_oid#} <span class="order-d-time">（创建于{#$order_addtime#}）</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">订单状态：</div>
		<div class="d-content f-left"><span class="order-not-done">{#$order_is_paid#}</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">订单内容：</div>
		<div class="d-content f-left">{#$order_des#}</div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">支付金额：</div>
		<div class="d-content f-left"><span class="order-money">{#$order_amount#}</span></div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">支付方式：</div>
		<div class="d-content f-left">{#$order_payname#}</div>
	</div>
	<div class="dialog-item clearfix">
		<div class="d-type f-left">订单备注：</div>
		<div class="d-content f-left">{#$order_note#}</div>
	</div>
	<div class="center-btn-wrap">
		{#$button#}
		<input type="button" value="取消" class="btn-65-30grey btn-big-font DialogClose" />
	</div>
</div>