<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">現在の位置：<のhref = “{#$HIGHWAY.site_dir#}”>首页</a> > <a href="{#$userindexurl#}">会員センター</a> > 仕事掲載</div>

<div class="usermain">
<div class="leftmenu  com link_bk">
  	 {#include file="member_company/left.htm"#}		
</div>
<div class="rightmain">
	<div class="bbox1">
  		<div class="step1succeed">
			<div class="tip">
			  	<div class="left"></div>
			  	<div class="right">
				  	<div class="h1-title">おめでとうございます、仕事の投稿成功！</div>
				              <div class="txt">
						<p>より多くの求職者の候補者を引き付ける募集の効率を向上させるために、<br />我们强烈建议您：<br /></p>
						<p class="link"><a href="company_user.php?act=authenticate">完善企业认证 >></a>大幅に認証した後信憑性を強化します</P>
						<p class="link"><a href="company_info.php?act=company_map_set">开通电子地图 >></a> 募集者の面接に交通路線の計画に役たつ</P>
					</div>
				</div>
				<div class="clear"></div>
			</div>			
		          <div class="butbox">
				<input type="button" name="submitsave" id="submitsave" value="搜索简历"  class="but180lan" onclick="javascript:window.open('{#"HW_resumelist"|highway_url#}')"/>
				<input type="button" name="submitsave" id="submitsave" value="推广职位"  class="but180hui" onclick="javascript:location.href='company_promotion.php?act=promotion'"/>
				<input type="button" name="submitsave" id="submitsave" value="继续发布"  class="but180hui" onclick="javascript:location.href='?act=addjobs'"/>
				<!-- 分享按钮 -->
				<div class="share" style="border-top-width: 0px; margin-top: 19px; margin-left: 310px;">
					<div class="share_txt">誰もがあなたを助けるために誰かを見つけることができるように、友達に教えます！</div>
				           <div class="bdsharebuttonbox bdshare">
						<a class="bds_more" href="#" data-cmd="more"></a>
						<a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
						<a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
						<a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
						<a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
						<a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
					</div>
					<script>window._bd_share_config={"common":{"bdText":"{#$jobs.companyname#}在@{#$HIGHWAY.site_name#}  发布了最新职位 : {#$jobs.jobs_name#}(月薪 : {#$jobs.wage_cn#})","bdDesc":"想了解更多最新职位简历资讯请关注{#$HIGHWAY.site_name#}","bdUrl":"{#$jobs.jobs_url#}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
					</script>
				</div>
				<!-- 分享按钮  结束-->
			</div>						
			 <div class="recommend">
				<div class="title"><div class="h2-title">为您推荐的人才</div></div>
					{#highway_resume_list set="列表名:resumelist,显示数目:6,意向职位长度:30,填补字符:...,排序:rtime>desc,职位大类:"|cat:$concern_id#}
					{#if !$resumelist#}
					{#highway_resume_list set="列表名:resumelist,显示数目:6,意向职位长度:30,填补字符:...,排序:rtime>desc"#}
					{#/if#}
					{#if $resumelist#}
					{#foreach from=$resumelist item=list#}
				<div class="l1 link_bk"><a href="{#$list.resume_url#}" target="_blank">{#$list.fullname#}</a></div>
				<div class="l2 link_bk">{#$list.education_cn#}</div>
				<div class="l3">{#$list.experience_cn#}</div>
				<div class="l4">{#$list.intention_jobs#}</div>
				<div class="l5">{#$list.wage_cn#}</div>
				<div class="clear"></div>
				{#/foreach#}
				<div class="more link_lan"><a href="{#"HW_resumelist"|highway_url#}"  target="_blank">更多人才>></a></div>
				{#else#}
				<div class="emptytip">すみません！あなたが欲しい情報を見つけられませんでした！</div>
				{#/if#}	
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>
