<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	//计算获得积分数量
	$("#amount").keyup(function(){	
		if((/^(\+|-)?\d+$/.test($(this).val())) && $(this).val()>={#$HIGHWAY.payment_min#})
		{
		$("#count").css("display","");	
		$("#show_val").html("充值金额为<strong style=\"color:#003399\">&nbsp;&nbsp;"+$(this).val()+"&nbsp;&nbsp;</strong>元，可获得：&nbsp;&nbsp;<span style=\"color: #009900; font-size:22px; font-style:italic\">"+$(this).val()*{#$HIGHWAY.payment_rate#}+"</span>&nbsp;&nbsp;{#$HIGHWAY.points_quantifier#}{#$HIGHWAY.points_byname#}");   
		}
		else
		{
		$("#count").css("display","none");	
		}	
	});	
})
//验证
$(document).ready(function() {
 $("#Form1").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
	rules:{
		amount:{
			required: true,
			digits:true,
			min:{#$HIGHWAY.payment_min#}
		},
		payment_name:{
			required: true
		}
	},
    messages: {
		amount: {
			required: "请输入充值金额",
			digits: "金额必须是整数",
			min: jQuery.format("单笔金额不能低于{0}元")
		},
		payment_name:{
			required: "请选择支付方式"
		}
	},
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( $("#pay_er"));
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
	}
    });
});
</script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">現在の位置：<のhref = “{#$HIGHWAY.site_dir#}”>首页</a> > <a href="{#$userindexurl#}">会員センター</a> > チャージ注文</div>

<div class="usermain">
  <div class="leftmenu  com link_bk">
  	 {#include file="member_company/left.htm"#}	
  </div>
  <div class="rightmain">
  
 	<div class="bbox1 link_bk my_account intrgration" style="padding-top:0;">
		<div class="topnav">
			<div class="titleH1">
				<div class="h1-title">チャージ/注文</div>
			</div>

			<div class="navs">
        {#if $HIGHWAY.operation_mode=="1" || $HIGHWAY.operation_mode=="3"#}
        <a href="?act=order_add" class="se">ポイントチャージ</a>
        {#/if#}
        {#if $HIGHWAY.operation_mode=="2" || $HIGHWAY.operation_mode=="3"#}
        <a href="?act=setmeal_list">アプリケーションパッケージVIP </a>
        {#/if#}
        <a href="?act=order_list">マイオーダー</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="balance margin-common">
  			<div class="bal_text" style="margin-bottom:0;">アカウント残高<span> {#$points#} </span>{#$HIGHWAY.points_quantifier#}{#$HIGHWAY.points_byname#}&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="company_service.php?act=j_account&detail=1">[积分明细]</a>&nbsp;&nbsp;<a target="_blank" href="company_service.php?act=j_account">[积分消费规则]</a></div>
  		</div>
  		<div class="bar">
  			<div class="bar_step1">
  				<p>注文の入力</P>
  			</div>
  			<div class="bar_step2 hui">
  				<p>ご注文の確認</P>
  			</div>
  			<div class="bar_step3 hui">
  				<p>オーダーの提出</P>
  			</div>
  		</div>
  		<form id="Form1" name="Form1" method="post" action="?act=order_add_save"  >
  		<div class="intrgration_box margin-common">
  			<table>
  				<tbody>
  					<tr>
  						<td height="30" width="100">チャージ金額：</td>
  						<td width="240"><input type="text" name="amount" id="amount" maxlength="8" class="input_text_200"/>&nbsp;元</td>
              <td>（一回金額の最低は{#$HIGHWAY.payment_min#}元）&nbsp; 1元 = {#$HIGHWAY.payment_rate#}{#$HIGHWAY.points_quantifier#}{#$HIGHWAY.points_byname#}</td>
  					</tr>
  					<tr id="count" style="display:none;">
  						<td></td>
  						<td colspan="2"><span id="show_val"></span></td>
  					</tr>
  				</tbody>
  			</table>
  			<table>
  				<tbody>
  					{#section name=payment loop=$payment#}
  					<tr>
  						<td height="30" width="100">{#if $smarty.section.payment.index==0#}支払い方法：{#/if#}</td>
  						<td width="150"><input type="radio" name="payment_name" value="{#$payment[payment].typename#}" id="payment_name" />&nbsp;&nbsp;<img src="{#$HIGHWAY.site_dir#}include/payment/logo/{#$payment[payment].typename#}.gif" alt=""/></td>
  						<td> <p>({#$payment[payment].p_introduction#})</p></td>
  					</tr>
  					{#/section#}
  				</tbody> 
  			</table>  
			<table>
				<tr>
					<td height="30" width="100">&nbsp;</td>
					<td width="150"><div id="pay_er"> </td> 
				</tr>
			</table> 
  			<input class="but130lan intrgration_but" type="submit" style="margin-top:0;" name="submit" value="充值"/>
  		</div>
  		</form>
  	</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>
