<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
//控制图片大小
{#if $company_profile.logo<>""#}
var imgwidth=$("#c_img").attr("width");
if (imgwidth>500)
{
$("#c_img").attr("width","500")
}
{#/if#}
});
//验证
$(document).ready(function() {
 $("#Form1").validate({
// debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
	   logo: {
	   required:true,
	   accept:"jpg|gif|png"
	   }
	},
    messages: {
   logo:{
    required:jQuery.format("请上传logo"),
	accept:jQuery.format("您上传的文件格式不正确")
   }   
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
	}
    });
	
	$("#up").click(function() {
	if ($("#Form1").valid())
	{
	$("#upform").hide();
	$("#upform_wait").show();
	}
	});
	$(".reupload").click(function(){
		$(".upload").show();
	});
});
</script>
</head>

<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 企业Logo</div>

<div class="usermain">
  <div class="leftmenu com link_bk">
   {#include file="member_company/left.htm"#}	
  </div>
  <div class="rightmain">
	<div class="bbox1">	
	  <div class="addjob link_bk">
	    <div class="topnav">
			<div class="titleH1" style="margin-top:0;">
				<div class="h1-title">企业资料</div>
			</div>
			<div class="navs">
				<a href="?act=company_profile">基本资料</a>
				<a href="?act=company_logo" class="se">企业Logo</a>
				<a href="?act=company_map_open">地图标注</a>
				<div class="clear"></div>
			</div>
		</div>
		
		  <div class="pic">
		  	<p class="pic_txt">温馨提示：企业logo是企业的象征，上传尺寸请不要超过300×110像素，图片大小不超过 500KB，允许格式：jpg/gif/png</p>
		  	{#if $company_profile.logo<>""#}
		  	<div class="logo_img">
		  		<div class="img"><img width="245" height="80" src="{#$QISHI.site_dir#}data/logo/{#$company_profile.logo#}?rand={#$rand#}" border="0" id="c_img"/></div>
		  		<a href="javascript:void(0);" class="reupload">[更改]</a>
		  	</div>
		  	{#/if#}
		  	<div class="upload" {#if $company_profile.logo<>""#}style="display:none;"{#/if#}>
		  		<form action="?act=company_logo_save" method="post"  id="Form1" enctype="multipart/form-data">
		  		<table id="upform" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
			  	<tbody>
			  		<tr>
						<td width="90" align="left">上传图片：</td>
						<td width="150"><input type="file" name="logo" id="logo" class="input_text_200"  onkeydown="alert('请点击右侧“浏览”选择您电脑上的图片！');return false"/></td>
						<td></td>
			  		</tr>
			  		<tr>
						<td width="90" align="right"></td>
						<td width="150"><input type="submit" name="Submit" value="上传" id="up" class="but_upload" /></td>
						<td></td>
			  		</tr>
			  	</tbody>
			  </table>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall" style="margin-top:15px; margin-bottom:15px;line-height:180%; display:none; color:#009900" id="upform_wait">
			  	<tbody>
			  		<tr>
						<td height="40" align="center"><img src="{#$QISHI.site_template#}images/30.gif"  border="0"/></td>
			  		</tr>
			  		<tr>
						<td height="20" align="center">正在上传，请稍后...</td>
			  		</tr>
			  	</tbody>
			  </table>
			</form>
		  	</div>
		  </div>


	  </div>
	</div>
  </div>
  <div class="clear"></div>
</div>
 {#include file="user/footer.htm"#}



</body>
</html>
