<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
  //计算获得积分数量
  $("#week").keyup(function(){  
    if((/^(\+|-)?\d+$/.test($(this).val())) && $(this).val()>={#$QISHI.payment_min#})
    { 
    $("#show_val").html("<strong>"+$(this).val()*{#$advinfo.expense#}+"</strong>");
    $("#expense_input").val($(this).val()*{#$advinfo.expense#});
    {#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
    $("#points_expense").show();
    $("#points_expense_input").val($(this).val()*{#$advinfo.expense#}*{#$QISHI.payment_rate#});
    $("#show_points_val").html("<strong>"+$(this).val()*{#$advinfo.expense#}*{#$QISHI.payment_rate#}+"</strong>");
    {#/if#}
    } 
  });
  $("#Form1").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   week:{
    required: true,
  digits:true,
  min:1
   },
   payment_name:{
    required: true
   }
  },
    messages: {
    week: {
    required: "请输入展示期限",
  digits: "展示期限必须是整数",
    min: jQuery.format("展示期限不能低于1周")
   },
   payment_name:{
    required: "请选择支付方式"
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( $("#pay_er"));
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
  }
    }); 
})
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 增值服务</div>

<div class="usermain">
  <div class="leftmenu  com link_bk">
  	 {#include file="member_company/left.htm"#}
  </div>

<div class="rightmain">
  
 	<div class="bbox1 link_bk my_account intrgration">
		<div class="topnav">
      <div class="titleH1"><div class="h1-title">增值服务</div></div>
      <div class="navs link_bk clearfix">
        <a href="company_service.php?act=adv_list" class="se">申请广告位</a>
      </div>
    </div>

	 	<div style="height:30px;"></div>
  		<div class="bar">
  			<div class="bar_step1">
  				<p>填写订单</p>
  			</div>
  			<div class="bar_step2 hui">
  				<p>确认订单</p>
  			</div>
  			<div class="bar_step3 hui">
  				<p>提交订单</p>
  			</div>
  		</div>
      <form id="Form1" name="Form1" method="post" action="?act=order_adv_add_save" enctype="multipart/form-data" >
  		<div class="intrgration_box" style="margin:0 30px">
  			<table>
  				<tbody>
  					<tr>
  						<td height="30" width="100">广告位名称：</td>
  						<td><strong>{#$advinfo.categoryname#}</strong>
               <input type="hidden" name="advid" id="advid" value="{#$advinfo.id#}">
              </td>
  					</tr>
  					<tr>
  						<td height="30" width="100">展示期限：</td>
  						<td><input type="text" name="week" id="week" class="input_text_100"/>&nbsp;&nbsp;周</td>
  					</tr>
            <tr id="count">
              <td height="30" width="100">应付金额：</td>
              <td><span id="show_val">0</span> 元 <span style="display:none" id="points_expense">(<span id="show_points_val">0</span> 积分)</span></td>
              <input type="hidden" name="expense_input" id="expense_input">
              <input type="hidden" name="points_expense_input" id="points_expense_input">
            </tr>
  				</tbody>
  			</table>
  			<table>
  				<tbody>
            {#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
  					<tr>
  						<td height="30" width="100">支付方式：</td>
  						<td width="150"><input type="radio" name="payment_name" value="points" checked/>&nbsp;&nbsp;账户积分</td>
  						<td><p>(您的账户剩余<span>{#$points#}</span>点积分)</p></td>
  					</tr>
            {#section name=payment loop=$payment#}
  					<tr>
  						<td></td>
  						<td width="150"><input type="radio" name="payment_name" value="{#$payment[payment].typename#}" id="payment_name" />&nbsp;&nbsp;<img src="{#$QISHI.site_dir#}include/payment/logo/{#$payment[payment].typename#}.gif" alt=""/></td>
              <td> <p>({#$payment[payment].p_introduction#})</p></td>
  					</tr>
            {#/section#}
            {#else#}
            {#section name=payment loop=$payment#}
            <tr>
              <td height="30" width="100">{#if $smarty.section.payment.index==0#}充值方式：{#/if#}</td>
              <td width="150"><input {#if $smarty.section.payment.index==0#}checked{#/if#} type="radio" name="payment_name" value="{#$payment[payment].typename#}" id="payment_name" />&nbsp;&nbsp;<img src="{#$QISHI.site_dir#}include/payment/logo/{#$payment[payment].typename#}.gif" alt=""/></td>
              <td> <p>({#$payment[payment].p_introduction#})</p></td>
            </tr>
            {#/section#}
            {#/if#}

  				</tbody>
  			</table>
  			<input class="but130lan intrgration_but" type="submit" name="submit" value="充值">
  		</div> 
      </form>
  	</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>