<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_common.css" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_company.css" />
<script src="{#$QISHI.site_template#}js/jquery.js"></script>
<script>
	$(document).ready(function() {
		
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 充值订单</div>
	<div class="usermain">
		<div class="leftmenu com link_bk">
			{#include file="member_company/left.htm"#}
		</div>
		<div class="rightmain">
			<div class="bbox1 my_account">
				<div class="topnav get_resume">
					<div class="titleH1"><div class="h1-title">充值/订单</div></div>
					<div class="navs link_bk">
						{#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
						<a href="?act=order_add">积分充值</a>
						{#/if#}
						{#if $QISHI.operation_mode=="2" || $QISHI.operation_mode=="3"#}
				        <a href="?act=setmeal_list" class="se">申请VIP套餐</a>
						{#/if#}
						<a href="?act=order_list">我的订单</a>
						<div class="clear"></div>
					</div>
				</div>
				{#if $setmeal#}
				<div class="vip-data">
					<table>
						<thead>
							<tr>
								<th class="align-left" width="167">
									<div class="vip-head">
										<h3>VIP特权介绍</h3>
										<div class="vip-contact">电话咨询：<br /><span>{#$QISHI.top_tel#}</span></div>
									</div>
								</th>
	  		 					{#section name=key loop=$setmeal#}
								<th width="120">
									<div class="vip-head">
										<h3>{#$setmeal[key].setmeal_name#}</h3>
										{#if $setmeal[key].apply=='1'#}
										<del>原价：{#$setmeal[key].original_price#}元</del>
										<p>现价：{#$setmeal[key].expense#}元</p>
										<input type="button" value="申请套餐" class="vip-btn" onclick="window.location='?act=setmeal_order_add&setmealid={#$setmeal[key].id#}'"/>
										{#/if#}
									</div>
								</th>
								{#/section#}
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="align-left">专属标识</td>
								{#section name=key loop=$setmeal#}
									{#if $setmeal[key].id=='1'#}
									<td>无</td>
									{#else#}
									<td><i class="vip-icon level{#$setmeal[key].id#}"></i></td>
									{#/if#}
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">发布招聘职位数</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].jobs_ordinary#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">下载普通简历</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].download_resume_ordinary#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">下载高级简历</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].download_resume_senior#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">邀请普通人才面试</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].interview_ordinary#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">邀请高级人才面试</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].interview_senior#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">简历收藏夹容量</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].talent_pool#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">职位推广-推荐</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].recommend_num#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">职位推广-置顶</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].stick_num#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">职位推广-紧急</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].emergency_num#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">职位推广-变色</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].highlight_num#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">参加招聘会场次</td>
								{#section name=key loop=$setmeal#}
								<td>{#$setmeal[key].jobsfair_num#}</td>
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">开通电子地图</td>
								{#section name=key loop=$setmeal#}
									{#if $setmeal[key].map_open=="1"#}
									<td>允许</td>
									{#else#}
									<td>不允许</td>
									{#/if#}
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">自由切换模板</td>
								{#section name=key loop=$setmeal#}
									{#if $setmeal[key].change_templates=="1"#}
									<td>允许</td>
									{#else#}
									<td>不允许</td>
									{#/if#}
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">其他</td>
								{#section name=key loop=$setmeal#}
									{#if $setmeal[key].added!=""#}
									<td>{#$setmeal[key].added#}</td>
									{#else#}
									<td>无</td>
									{#/if#}
								{#/section#}
							</tr>
							<tr>
								<td class="align-left">服务期</td>
								{#section name=key loop=$setmeal#}
									{#if $setmeal[key].days=="0"#}
									<td>不限</td>
									{#else#}
									<td>{#$setmeal[key].days#}天</td>
									{#/if#}
								{#/section#}
							</tr>
						</tbody>
					</table>
				</div>
				{#else#}
				<div class="emptytip">没有可申请的套餐！</div>
				{#/if#}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="user/footer.htm"#}
</body>
</html>