<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_common.css" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_company.css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script>
	$(document).ready(function() {
		$('.name-link').toggle(function(){
			$(this).parents('.c-data-content').next().show();
			$(this).parents('.c-data-row').css({'border-color':'#fff'});
		}, function(){
			$(this).parents('.c-data-content').next().hide();
			$(this).parents('.c-data-row').css({'border-color':'#ccc'});
		});
		// 顶部筛选
		$('.data-filter').on('click', function(e){
			$(this).find('.filter-down').toggle();
			// 动态设置下拉列表宽度
			var fWidth = $(this).find('.filter-span').outerWidth(true) - 2;
			$(this).find(".filter-down").width(fWidth);
			// 点击其他位置收起下拉
			$(document).one("click",function(){
				$('.filter-down').hide();
			});
			e.stopPropagation();
			//点击下拉时收起其他下拉
			$(".data-filter").not($(this)).find('.filter-down').hide();
		})
		// 删除弹出
		delete_dialog('.ctrl-del','#form1');
		// 发送到邮箱弹出
		companySendToEmail_dialog('.db-btn.btn3','./company_ajax.php');
		//查看弹出
		$('.check-detail').on('click', function(){
			var notes =  $(this).attr('notes');
			dialog({
				title: '通知内容',
				content: notes,
				width:350
			}).showModal();
		})
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 面试邀请</div>
	<div class="usermain">
		<div class="leftmenu com link_bk">
			{#include file="member_company/left.htm"#}	
		</div>
		<div class="rightmain">
			<div class="bbox1">
				<div class="topnav get_resume">
					<div class="titleH1"><div class="h1-title">面试邀请</div></div>
					<div class="navs link_bk">
						<a href="?act={#$act#}&look=" {#if $smarty.get.look==""#}class="se"{#/if#}>所有简历<span class="check">({#$count#})</span></a>
						<a href="?act={#$act#}&look=1" {#if $smarty.get.look=="1"#}class="se"{#/if#}>对方未查看<span class="no_check">({#$count1#})</span></a>
						<a href="?act={#$act#}&look=2" {#if $smarty.get.look=="2"#}class="se"{#/if#}>对方已查看<span class="check">({#$count2#})</span></a>
						<div class="clear"></div>
					</div>
				</div>
				<form id="form1" name="form1" method="post" action="?act=interview_del">
				<div class="company-data-list">
					<div class="c-data-top interview clearfix">
						<div class="item f-left check-item"><input type="checkbox" name="chkAll" id="chk" class="checkbox" /></div>
						<div class="item f-left top-item1">姓名</div>
						<div class="item f-left top-item2">基本信息</div>
						<div class="item f-left top-item3">
							<div class="data-filter span2">
								<span class="filter-span">{#if $smarty.get.jname#}{#$smarty.get.jname#}{#else#}面试职位{#/if#}<i class="filter-icon"></i></span>
								<ul class="filter-down">
									<li><a href="?act={#$act#}&jobsid=&jname=&look={#$smarty.get.look#}">全部职位</a></li>
									{#foreach from=$filter_jobs item=list#}
									<li><a href="?act={#$act#}&jobsid={#$list.jobs_id#}&jname={#$list.jobs_name#}&look={#$smarty.get.look#}">{#$list.jobs_name#}</a></li>
									{#/foreach#}
								</ul>
							</div>
						</div>
						<div class="item f-left top-item4">通知内容</div>
						<div class="item f-left top-item5">
							<div class="data-filter span4">
								<span class="filter-span">{#if $smarty.get.look=='1'#}对方未查看{#elseif $smarty.get.look=='2'#}对方已查看{#else#}查看状态{#/if#}<i class="filter-icon"></i></span>
								<ul class="filter-down">
									<li><a href="?act={#$act#}&jobsid={#$smarty.get.jobsid#}&jname={#$smarty.get.jname#}&look=">全部</a></li>
									<li><a href="?act={#$act#}&jobsid={#$smarty.get.jobsid#}&jname={#$smarty.get.jname#}&look=2">对方已查看</a></li>
									<li><a href="?act={#$act#}&jobsid={#$smarty.get.jobsid#}&jname={#$smarty.get.jname#}&look=1">对方未查看</a></li>
								</ul>
							</div>
						</div>
						<div class="item f-left top-item6">邀请时间</div>
						<div class="item f-left top-item7">操作</div>
					</div>
					{#if $resume#}
					{#foreach from=$resume item=list#}
					{#if $list.sex_cn#}
					<div class="c-data-row">
						<div class="c-data-content interview clearfix">
							<div class="c-item f-left check-item"><input type="checkbox" name="y_id[]" id="y_id" value="{#$list.did#}" class="checkbox" /></div>
							<div class="c-item f-left content1"><a href="javascript:;" class="name-link underline">{#$list.resume_name#}</a></div>
							<div class="c-item f-left content2">{#$list.age#}岁/{#$list.education_cn#}/{#$list.experience_cn#}</div>
							<div class="c-item f-left content3">{#$list.jobs_name_#}</div>
							<div class="c-item f-left content4"><a href="javascript:;" notes="{#if $list.notes#}{#$list.notes|nl2br#}{#else#}无面试邀请通知内容{#/if#}" class="data-ctrl underline check-detail">查看</a></div>
							<div class="c-item f-left content5">
								{#if $list.personal_look=="1"#}
					   			对方未查看
					   			{#elseif $list.personal_look=="2"#}
					   			对方已查看
					   			{#/if#}
							</div>
							<div class="c-item f-left content6"><span class="data-time">{#$list.interview_addtime|date:"Y-m-d"#}</span></div>
							<div class="c-item f-left content7"><a href="javascript:;" class="data-ctrl underline ctrl-del" url="?act=interview_del&y_id={#$list.did#}">删除</a></div>
						</div>
						<div class="data-detail">
							<i class="arrow"></i>
							{#if $list.resume_education_list#}
							<div class="detail-block clearfix">
								<div class="db-type f-left">教育经历：</div>
								<div class="db-content f-left">
									{#foreach from=$list.resume_education_list item=edu_list#}
									<p class="db-info"><span>{#$edu_list.startyear#}年{#$edu_list.startmonth#}月-{#$edu_list.endyear#}年{#$edu_list.endmonth#}月</span><span>{#$edu_list.school#}</span><span>{#$edu_list.speciality#}</span><span>{#$edu_list.education_cn#}</span></p>
									{#/foreach#}
								</div>
							</div>
							{#/if#}
							{#if $list.resume_work_list#}
							<div class="detail-block clearfix">
								<div class="db-type f-left">工作经历：</div>
								<div class="db-content f-left">
									{#foreach from=$list.resume_work_list item=w_list#}
									<p class="db-info"><span>{#$w_list.startyear#}年{#$w_list.startmonth#}月-{#$w_list.endyear#}年{#$w_list.endmonth#}月</span><span>{#$w_list.companyname#}</span><span>{#$w_list.jobs#}</span></p>
									{#/foreach#}
								</div>
							</div>
							{#/if#}
							<div class="detail-block clearfix">
								<div class="db-type f-left">求职意向：</div>
								<div class="db-content f-left">
									<div class="job-flow"><span>期望工作性质 {#$list.nature_cn#}</span> | <span>期望工作地区 {#$list.district_cn#}</span> | <span>期望薪资 <em>{#$list.wage_cn#}</em></span> | <span>期望职位 {#$list.intention_jobs#}</span> | <span>期望行业 {#$list.trade_cn#}</span></div>
								</div>
							</div>
							<div class="detail-block clearfix">
								<div class="db-type f-left">&nbsp;</div>
								<div class="db-btn-group f-left">
									<a href="{#$list.resume_url#}" class="db-btn btn1 f-left" target="_blank"></a>
									<a href="company_resume_doc.php?y_id={#$list.resume_id#}" class="db-btn btn2 f-left"></a>
									<a href="javascript:;" class="db-btn btn3 f-left" resume_id="{#$list.resume_id#}" uid="{#$list.personal_uid#}" ></a>
								</div>
							</div>
						</div>
					</div>
					{#else#}
					<div class="c-data-row">
						<div class="c-data-content interview clearfix">
							<div class="c-item f-left check-item"><input type="checkbox" name="y_id[]" id="y_id" value="{#$list.did#}" class="checkbox" /></div>
							被邀请人[{#$list.resume_name#}] 的简历可能已被删除，您可以删除本条信息.	
						</div>
					</div>
					{#/if#}
					{#/foreach#}
					<div class="c-data-row last">
						<div class="c-data-content apply_jobs clearfix">
							<div class="c-item f-left check-item"><input type="checkbox" name="chkAll" id="chk2" class="checkbox" /></div>
							<div class="data-last-btn f-left">
								<input type="button" value="删除" class="btn-65-30blue ctrl-del" act="?act=interview_del" />
							</div>
						</div>
					</div>
					{#else#}
					<div class="emptytip">您还没有发起过面试邀请！</div>
					{#/if#}
				</div>
				</form>
				<!-- 这里加分页 -->
				{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0">
		          	<tr>
		          		<td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          	</tr>
		      	</table>
				{#/if#}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="user/footer.htm"#}
</body>
</html>