<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>

</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 安全助手</div>

<div class="usermain">
  <div class="leftmenu com link_bk">
   {#include file="member_company/left.htm"#}
  </div>
<div class="rightmain">
  
	<div class="bbox1">
	
	  <div class="pwd link_bk">
			
 	    <div class="topnav">
			  
		 	<div class="titleH1">
			  <div class="h1-title">安全助手</div>
			</div>
			<div class="navs">
				<a href="?act=password_edit">修改密码</a>
				<a href="?act=binding" class="se">账号绑定</a>
				<a href="?act=login_log">登录日志</a>
				<div class="clear"></div>
			</div>		
	  	</div>
			 
		<!-- 新的绑定页面 -->
		<div class="new_bindding">
			<table class="new_bindding_table" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr bgcolor="#F5F5F5" height="44">
						<th class="bindding_first" align="left" width="250">类别</th>
						<th align="center" width="200">绑定昵称</th>
						<th align="center" width="200">绑定时间</th>
						<th align="center" width="180">状态</th>
					</tr>
					{#if $QISHI.qq_apiopen=="1"#}
					<tr>
						<td class="bindding_first"><div class=" bind_icon {#if $user.qq_openid#}qq_bind{#else#}qq_no_bind{#/if#}">QQ账号</div></td>
						<td align="center">
							{#if $user.qq_openid#}
							{#$user.qq_nick#}
							{#else#}
							---
							{#/if#}
						</td>
						<td align="center">
							{#if $user.qq_openid#}
							{#$user.qq_binding_time|date_format:"%Y-%m-%d  %H:%M"#}
							{#else#}
							---
							{#/if#}
						</td> 
						<td align="center">
							{#if $user.qq_openid#}
							已绑定 <a href="?act=del_qq_binding" onclick="return confirm('您确定取消绑定吗?')">[取消绑定]</a>
							{#else#}
							未绑定 <a href="{#$QISHI.site_dir#}user/{#if $QISHI.qq_logintype=='1'#}connect_qq_client.php{#else#}connect_qq_server.php{#/if#}?act=binding">[立即绑定]</a>
							{#/if#}
						</td>
					</tr>
					{#/if#}
					{#if $QISHI.taobao_apiopen=="1"#}
					<tr>
						<td class="bindding_first"><div class=" bind_icon {#if $user.taobao_access_token#}taobao_bind{#else#}taobao_no_bind{#/if#}">淘宝账号</div></td>
						<td align="center">
							{#if $user.taobao_access_token#}
							{#$user.taobao_nick#}
							{#else#}
							---
							{#/if#}
						</td>
						<td align="center">
							{#if $user.taobao_access_token#}
							{#$user.taobao_binding_time|date_format:"%Y-%m-%d  %H:%M"#}
							{#else#}
							---
							{#/if#}
						</td>
						<td align="center">
							{#if $user.taobao_access_token#}
							已绑定 <a href="?act=del_taobao_binding" onclick="return confirm('您确定取消绑定吗?')">[取消绑定]</a>
							{#else#}
							未绑定 <a href="{#$QISHI.site_dir#}user/connect_taobao.php">[立即绑定]</a>
							{#/if#}
						</td>
					</tr>
					{#/if#}
					{#if $QISHI.sina_apiopen=="1"#}
					<tr>
						<td class="bindding_first"><div class=" bind_icon {#if $user.sina_apiopen#}sina_bind{#else#}sina_no_bind{#/if#}">新浪账号</div></td>
						<td align="center">
							{#if $user.sina_access_token#}
							{#$user.sina_nick#}
							{#else#}
							---
							{#/if#}
						</td>
						<td align="center">
							{#if $user.sina_access_token#}
							{#$user.sina_binding_time|date_format:"%Y-%m-%d  %H:%M"#}
							{#else#}
							---
							{#/if#}
						</td>
						<td align="center">
							{#if $user.sina_access_token#}
							已绑定 <a href="?act=del_sina_binding" onclick="return confirm('您确定取消绑定吗?')">[取消绑定]</a>
							{#else#}
							未绑定 <a href="{#$QISHI.site_dir#}user/connect_sina.php">[立即绑定]</a>
							{#/if#}
						</td>
					</tr>
					{#/if#}
				</tbody>
			</table>
		</div>
	  </div>
	</div>
  </div>
	</div>
</div>

<div class="clear"></div>
</div>

{#include file="user/footer.htm"#}
</body>
</html>
