<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_common.css" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_company.css" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/ui-dialog.css" />
<script src="{#$QISHI.site_template#}js/jquery.js"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js"></script>
<script>
	$(document).ready(function() {
		// 顶部筛选
		$('.data-filter').on('click', function(e){
			$(this).find('.filter-down').toggle();
			// 动态设置下拉列表宽度
			var fWidth = $(this).find('.filter-span').outerWidth(true) - 2;
			$(this).find(".filter-down").width(fWidth);
			// 点击其他位置收起下拉
			$(document).one("click",function(){
				$('.filter-down').hide();
			});
			e.stopPropagation();
			//点击下拉时收起其他下拉
			$(".data-filter").not($(this)).find('.filter-down').hide();
		});
		//查看弹出
		$('.check-detail').on('click', function(){
			var log_value =  $(this).attr('log_value');
			dialog({
				title: '详情',
				content: log_value,
				width:350
			}).showModal();
		})
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 会员服务</div>
	<div class="usermain">
		<div class="leftmenu com link_bk">
			{#include file="member_company/left.htm"#}
		</div>
		<div class="rightmain">
			<div class="bbox1 my_account">
				<div class="topnav get_resume">
					<div class="titleH1"><div class="h1-title">我的账户</div></div>
					<div class="navs link_bk">
						{#if $QISHI.operation_mode == '1' || $QISHI.operation_mode == '3'#}
						<a href="company_service.php?act=j_account" {#if $act=='j_account'#}class="se"{#/if#}>我的积分</a>
						{#/if#}
						{#if $QISHI.operation_mode == '2' || $QISHI.operation_mode == '3'#}
						<a href="company_service.php?act=t_account" {#if $act=='t_account'#}class="se"{#/if#}>我的套餐</a>
						{#/if#}
						<div class="clear"></div>
					</div>
				</div>
				<div class="account-wrap">
					<div class="atb-ie7">
					<div class="account-top-block ">
						<div class="account-state f-left">账户状态</div>
						<div class="a-state-content f-left">
							{#if $QISHI.operation_mode == '2' || $QISHI.operation_mode == '3'#}
							<span class="account-type">当前套餐：<span>{#$setmeal.setmeal_name#}</span><em>({#$setmeal.starttime|date_format:"%Y-%m-%d"#} 至 {#if $setmeal.endtime=='0'#}--{#else#}{#$setmeal.endtime|date_format:"%Y-%m-%d"#}{#/if#})</em><a href="company_service.php?act=setmeal_list" class="underline">升级VIP套餐</a></span>
							{#/if#}
							{#if $QISHI.operation_mode == '1' || $QISHI.operation_mode == '3'#}
							<span class="account-type last">当前{#$QISHI.points_byname#}：<span>{#$points#}</span>{#$QISHI.points_quantifier#}<a href="company_service.php?act=order_add" class="underline">积分充值</a></span>
							{#/if#}
						</div>
					</div>
					</div>
					<div class="account-ctrl-bar clearfix">
						<h3 class="f-left">积分消费明细</h3>
						<a href="company_service.php?act=j_account" class="f-right underline">积分规则</a>
					</div>
					<div class="company-data-list">
						<div class="c-data-top account-d clearfix">
							<div class="item f-left top-item1">操作类型</div>
							<div class="item f-left top-item2">
								<div class="data-filter span4">
									<span class="filter-span">{#if $c_type!=''#}{#$c_type#}{#else#}收支状态{#/if#}<i class="filter-icon"></i></span>
									<ul class="filter-down select_ul">
										<li type="cid" data="0"><a href="company_service.php?act=j_account&detail=1&cid=0&settr={#$smarty.get.settr#}">全部</a></li>
										<li type="cid" data="1"><a href="company_service.php?act=j_account&detail=1&cid=1&settr={#$smarty.get.settr#}">消耗</a></li>
										<li type="cid" data="2"><a href="company_service.php?act=j_account&detail=1&cid=2&settr={#$smarty.get.settr#}">增加</a></li>
									</ul>
								</div>
							</div>
							<div class="item f-left top-item3">积分变化</div>
							<div class="item f-left top-item4">
								<div class="data-filter span4">
									<span class="filter-span">
										{#if $settr=='3'#}三天内{#elseif $settr=='7'#}一周内{#elseif $settr=='30'#}一个月{#else#}操作时间{#/if#}
										<i class="filter-icon"></i>
									</span>
									<ul class="filter-down select_ul">
										<li type="tid" data="0"><a href="company_service.php?act=j_account&detail=1&cid={#$smarty.get.cid#}&settr=0">全部</a></li>
										<li type="tid" data="3"><a href="company_service.php?act=j_account&detail=1&cid={#$smarty.get.cid#}&settr=3">三天内</a></li>
										<li type="tid" data="7"><a href="company_service.php?act=j_account&detail=1&cid={#$smarty.get.cid#}&settr=7">一周内</a></li>
										<li type="tid" data="30"><a href="company_service.php?act=j_account&detail=1&cid={#$smarty.get.cid#}&settr=30">一个月</a></li>
									</ul>
								</div>
							</div>
							<div class="item f-left top-item5">操作</div>
						</div>
						{#if $report#}
							{#foreach from=$report item=list#}
							<div class="c-data-row">
								<div class="c-data-content account-d clearfix">
									<div class="c-item f-left content1">{#$list.log_op_type_cn#}</div>
									<div class="c-item f-left content2">
										{#if $list.log_op_used>=0#}增加{#else#}消耗{#/if#}
									</div>
									<div class="c-item f-left content3"><span class="lost-number {#if $list.log_op_used>=0#}add{#else#}less{#/if#}">{#$list.log_op_used#}</span></div>
									<div class="c-item f-left content4"><span class="data-time">{#$list.log_addtime|date_format:"%Y-%m-%d"#}</span></div>
									<div class="c-item f-left content5"><a href="javascript:;" class="data-ctrl underline check-detail" log_value="{#$list.log_value#}">查看</a></div>
								</div>
							</div>
							{#/foreach#}
							{#if $page#}
							<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
								<tr>
									<td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
								</tr>
							</table>
							{#/if#}
						{#else#}
							<div class="emptytip">没有找到对应的信息！</div>
						{#/if#}
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="user/footer.htm"#}
</body>
</html>