<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_common.css" />
<link rel="stylesheet" href="{#$QISHI.site_template#}css/user_company.css" />
<script src="{#$QISHI.site_template#}js/jquery.js"></script>
<script src="{#$QISHI.site_template#}js/ajaxfileupload.js" type='text/javascript' language="javascript"></script>
<script>
	$(document).ready(function() {
		//上传营业执照
		$("#certificate_img").die().live('change',function() {
  			credent();
		});
		function credent() {
			var filepath = $("input[name='certificate_img']").val();
            var extStart = filepath.lastIndexOf(".");
            var ext = filepath.substring(extStart, filepath.length).toUpperCase();
            if (ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                alert("图片限于bmp,png,gif,jpeg,jpg格式");
                return false;
            }
			$.ajaxFileUpload ({
				url:'?act=company_auth_save',
				secureuri :false,
				fileElementId :'certificate_img',
				dataType : 'json',
				success : function (data, status){
					switch(data){
						case -1 :alert("上传图片失败：上传目录不存在!");return false;break;
						case -2 :alert("上传图片失败：上传目录无法写入!");return false;break;
						case -3 :alert("上传图片失败：你选择的文件无法上传");return false;break;
						case -4 :alert("上传图片失败：文件大小超过限制");return false;break;
						case -5 :alert("上传图片失败：文件类型错误！");return false;break;
						case -6 :alert("上传图片失败：文件上传出错！");return false;break;
						case -7 :alert("上传图片失败：企业图片最多发布8张！");return false;break;
						default:
							location.reload();
						break;
					}
				}
			});
		}
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
	{#include file="user/header.htm"#}
	<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 认证管理</div>
	<div class="usermain">
		<div class="leftmenu com link_bk">
			{#include file="member_company/left.htm"#}	
		</div>
		<div class="rightmain">
			<div class="bbox1 my_account">
				<div class="topnav get_resume">
					<div class="titleH1"><div class="h1-title">安全认证</div></div>
					<div class="navs link_bk">
						<a href="company_user.php?act=authenticate">账号安全</a>
						<a href="company_info.php?act=company_auth" class="se">营业执照</a>
						<a href="company_user.php?act=login_log">登录日志</a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="com-auth">
					{#if $company_profile.certificate_img == ""#}
		  			<form action="?act=company_auth_save" method="post"  enctype="multipart/form-data" id="Form1">
					<div class="upload-block clearfix">
						<div class="upload-type f-left">上传营业执照：</div>
						<div class="upload-content f-left">
							<div class="but100_30lan">选择图片</div>
							<input class="filestyle" type="file" name="certificate_img" id="certificate_img" value="选择图片" />
						</div>
					</div>
					</form>
					{#elseif  $company_profile.certificate_img <> "" && $company_profile.audit =="2"#}
					<div class="auth-tips ing">您提交的营业执照<span>正在审核中</span>，请耐心等待……</div>
					{#elseif $company_profile.certificate_img <> "" && $company_profile.audit =="1"#}
					<div class="auth-tips success">恭喜您，您的营业执照已<span>通过审核</span>！</div>
					{#elseif $company_profile.certificate_img <> "" && $company_profile.audit =="3"#}
					<form action="?act=company_auth_save" method="post"  enctype="multipart/form-data" id="Form1">
					<div class="upload-block clearfix">
						<div class="upload-type f-left">上传营业执照：</div>
						<div class="upload-content f-left">
							<div class="but100_30lan">选择图片</div>
							<input class="filestyle" type="file" name="certificate_img" id="certificate_img" value="选择图片" />
						</div>
					</div>
					</form>
					<div class="auth-tips error">您上传的营业执照<span>未通过审核</span>，请重新上传！</div>
					{#/if#}
					<div class="bottomtip">
						<div class="tp h2-title">小贴士</div>
							营业执照只作为网站核实贵公司真实性的材料，不在任何页面显示，我们不会以任何形式公布您的执照信息！<br>
							通过网站核实后营业执照我们将立即删除。<br>
							① 通过认证后您将获得更多权限；<br>
							② 通过认证后可增加信息的可信度，成为<strong>已认证企业</strong>；<br>
							注：上传营业执照仅供我们审核，绝不会用任何形式对外公开。
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="user/footer.htm"#}
</body>
</html>