@font-face {
	font-family: Marcellus;
	src: local("Marcellus"), local("Marcellus-Regular"), url(http://fonts.gstatic.com/s/marcellus/v4/FJNab1jzp1t7ctjNl8ugHD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
