<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>あなたは訪問したページが存在しません！</title>
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<link href="{#$HIGHWAY.site_template#}css/404.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type='text/javascript' ></script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
<!--头部-->
<div id="head">
  <div class="header_con">
    <a href="{#$HIGHWAY.site_dir#}"><img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.web_logo#}" title="{#$HIGHWAY.site_name#}" alt="{#$HIGHWAY.site_name#}" /></a>
        <ul class="header_tiao">
          <li><a href="{#$HIGHWAY.site_dir#}">返回首页</a></li>
          <li><a href="{#$HIGHWAY.site_dir#}help">查看帮助</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div id="con_404">
  <div class="con_404_left"></div>
    <div class="con_404_right">
      <h2>SORRY申し訳ありません！</h2>
        <p>あなたは訪問ページが失われた！</P>
        <a href="javascript:history.go(-1);">戻る</a>
    </div>
</div>
</body>
</html>
