<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#if $smarty.get.key#}{#$smarty.get.key#} - {#/if#}{#if $smarty.get.trade#}{#"QS_trade,"|cat:$smarty.get.trade|qishi_categoryname#} - {#/if#}{#if $smarty.get.citycategory#}{#"QS_district,"|cat:$smarty.get.citycategory|qishi_categoryname#} - {#/if#}{#if $smarty.get.nature#}{#"QS_company_type,"|cat:$smarty.get.nature|qishi_categoryname#} - {#/if#}黄页  - {#$QISHI.site_name#}</title>
<meta name="description" content="{#if $smarty.get.trade#}{#"QS_trade,"|cat:$smarty.get.trade|qishi_categoryname#}，{#/if#}{#$QISHI.site_name#} - 黄页">
<meta name="keywords" content="{#$QISHI.site_name#},黄页">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/company.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script src="{#$QISHI.site_template#}js/jquery.company-search.js" type='text/javascript'></script>
<script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		allaround("{#$QISHI.site_dir#}");
		// 所属行业填充数据
		trade_filldata("#trad_list", QS_trade, "#aui_outer", "#result-list-trade", "#trade_result_show", "#trade", "{#$QISHI.site_dir#}");
		// 工作地区填充数据
		city_filldata("#city_list", QS_city_parent, QS_city, "#result-list-city", "#aui_outer_city", "#city_result_show", "#citycategory", "{#$QISHI.site_dir#}");
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$QISHI.site_dir#}">首页</a>>黄页
</div>
<div class="container">
	<div id="filterSearch">
		<div class="top-search clearfix">
			<div class="t-search-box f-left">
				<div class="type-input-box f-left" id="hidden_input_box">
					<div class="key">{#$smarty.get.key|default:"请输入关键字"#}</div>
					<input type="text" name="key" id="key" value="{#$smarty.get.key#}" style="display:none;"/>
					<input name="trade" id="trade" type="hidden" value="{#$smarty.get.trade#}" />
					<input name="citycategory" id="citycategory" type="hidden" value="{#$smarty.get.citycategory#}"/>
					<input name="nature" id="nature" type="hidden" value="{#$smarty.get.nature#}" />
					<input type="hidden" name="scale" id="scale" value="{#$smarty.get.scale#}">
					<input type="hidden" name="page" id="page" value="{#$smarty.get.page#}">
				</div>
			</div>
			<div class="t-search-btn f-left"><input type="button" detype="QS_companylist" id="searcnbtn" value="搜&nbsp;索" /></div>
		</div>
		<div class="fliter-wrap">
			<div class="filter-drop clearfix">
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="trade_result_show">选择行业类别</span><i class="choose-icon"></i>
							<!-- 所属行业弹出框 -->
							<div class="aui_outer" id="aui_outer">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content">
																		<div class="items jquery-localdata">
																			<div class="selector-header"><span class="selector-title">行业选择</span><div></div><span id="tr-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arstrade" class="text-warning">0</strong> 项</div><div id="result-list-trade" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="item-table">
																				<table class="options-table options-table-7">
																					<tbody class="item-list"><tr><td class="bno"><table><tbody id="trad_list">
																						<!-- 列表内容 -->
																					</tbody></table></td></tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 所属行业弹出框 End-->
						</div>
					</div>
				</div>
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="city_result_show">选择地区类别</span><i class="choose-icon"></i>
							<!-- 工作地区弹出框 -->
							<div class="aui_outer" id="aui_outer_city">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content" style="padding: 0px;">
																		<div class="LocalDataMultiC" style="width:623px;">
																			<div class="selector-header"><span class="selector-title">地区选择</span><div></div><span id="ct-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side data-row-side-c">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arscity" class="text-warning">0</strong> 项</div><div id="result-list-city" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="data-row-list data-row-main" id="city_list">
																				<!-- 列表内容 -->
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 工作地区弹出框 End-->
						</div>
					</div>
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">公司性质：</div>
				<div class="fl-content r-choice f-left">
					{#qishi_get_classify set="列表名:nature,类型:QS_company_type,显示数目:100"#}
					{#foreach from=$nature item=list#}
					<div class="fl-content-li{#if $list.id == $smarty.get.nature#} select{#/if#}" type="nature" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">公司规模：</div>
				<div class="fl-content f-left">
					{#qishi_get_classify set="列表名:c_scale,类型:QS_scale"#}
					{#foreach from=$c_scale item=list#}
					<div class="fl-content-li{#if $list.id == $smarty.get.scale#} select{#/if#}" type="scale" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
		</div>
		<div class="fliter-result clearfix" id="has_result">
			<div class="fr-type f-left">已选条件：</div>
			<div class="fr-content f-left rl">
			{#if $smarty.get.key#}
				<div class="has-select-item f-left" type="key">{#$smarty.get.key#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.trade#}
				<div class="has-select-item f-left" type="trade">行业类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.citycategory#}
				<div class="has-select-item f-left" type="citycategory">地区类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.nature#}
				{#qishi_get_classify set="列表名:nature,类型:QS_company_type,显示数目:100"#}
				{#foreach from=$nature item=list#}
				{#if $list.id == $smarty.get.nature#}
					<div class="has-select-item f-left" type="nature">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.scale#}
				{#qishi_get_classify set="列表名:c_scale,类型:QS_scale"#}
				{#foreach from=$c_scale item=list#}
				{#if $list.id == $smarty.get.scale#}
					<div class="has-select-item f-left" type="scale">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			</div>
			<div class="fliter-clear f-right" id="clear_all_selected"><a href="javascript:;" class="clear-link">清空所选</a></div>
		</div>
	</div>
	<div class="left_area link_bk">
		<ul>
			{#qishi_company_list  set="分页显示:1,列表名:company,显示数目:GET[inforow],填补字符:...,企业名长度:30,地区分类:GET[citycategory],企业性质:GET[nature],描述长度:50,关键字:GET[key],行业:GET[trade],黄页:1,规模:GET[scale],排序:id>desc"#}
			{#if $company#}
			{#foreach from=$company item=list#}
			<li class="com_box active">
				<div class="logo_box"><img src="{#$list.logo#}" width="250" height="85" /></div>
				<div class="com_info">
					<h6><a href="{#$list.url#}" target="_blank">{#$list.companyname_#}</a></h6>
					{#if $list.audit=="1"#}<span class="yan"></span>{#/if#}
					<div class="clear"></div>
					<p class="w150">行业：{#$list.trade_cn#}</p>
					<p class="w150">地区：{#$list.district_cn#}</p>
					<p class="com_i_last">性质：{#$list.nature_cn#}</p>
					<div class="clear"></div>
					<ul>
						<li>
							<a company_id="{#$list.id#}" href="javascript:void(0);" {#if $list.jobs_num>0#}class="showjobs"{#/if#}>职位（{#$list.jobs_num#}）</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="y_job_list" style="display:none;">
					<ul></ul>
				</div>
			</li>
			{#/foreach#}
				{#if $page#}
					<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
			        	<tr>
			          		<td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
			          	</tr>
		      		</table>
				{#/if#}
			{#else#}
				<div class="emptytip">抱歉，没有符合此条件的信息！</div>
			{#/if#}
		</ul>
		<script type="text/javascript">
			$(".left_area .com_box").last().css("border-bottom","0px");
			$(".showjobs").click(function(){
				var y_job_list = $(this).parents(".com_box").find(".y_job_list");
				$(".y_comment_list").hide();
				$(".showcomment").removeClass("select");
				if(y_job_list.css("display")=='none'){
					$(".showjobs").removeClass("select");
					$(".y_job_list").hide();
					$(this).addClass("select");
					y_job_list.show();
					$.get("{#$QISHI.site_dir#}plus/ajax_yellowpage.php?act=get_companyjobslist&company_id="+$(this).attr("company_id"),function(result){
						y_job_list.children("ul").html(result);
					});
				}else{
					$(this).removeClass("select");
					$(".y_job_list").hide();
				}
			});
		</script>
	</div>
	<div class="right_area">
		<div class="com-logo-list">
			{#qishi_ad set="显示数目:8,调用名称:QS_yellowpage,列表名:ad,文字长度:12"#}
			{#foreach from=$ad item=list#}
			<div class="com-logo-item"><a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain|default:"广告描述"#}" width="298" height="142" border="0"/></a></div>
			{#/foreach#}
		</div>
	</div>
	<div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>