
<div class="foot">
	<div class="footer_box">
		<div class="box link_bk">
				<div class="list">
					<h4>会社概要</h4>
					<div class="foot_list">
						<ul>
						{#highway_explain_list set="列表名:explain,显示数目:3,标题长度:6,分类ID:1"#}
						{#foreach from=$explain item=list#}
							<li><a target="_blank" href="{#$list.url#}">{#$list.title#}</a></li>
						{#/foreach#}
							<li><a target="_blank" href="{#$HIGHWAY.site_dir#}suggest">意见反馈</a></li>
						</ul>
						<ul>
							{#highway_explain_list set="列表名:explain,显示数目:3,开始位置:3,标题长度:6,分类ID:1"#}
							{#foreach from=$explain item=list#}
								<li><a target="_blank" href="{#$list.url#}">{#$list.title#}</a></li>
							{#/foreach#}
						</ul>
					</div>
				</div>
				<div class="list">
					<h4>ヘルプセンター</h4>
					<div class="foot_list">
						<ul>
							<li><a target="_blank" href="{#"HW_helplist,id:4"|highway_url#}">注册与登录</a></li>
							<li><a target="_blank" href="{#"HW_helplist,id:5"|highway_url#}">密码找回</a></li>
							<li><a target="_blank" href="{#"HW_helplist,id:8"|highway_url#}">认证管理</a></li>
							<li><a target="_blank" href="{#"HW_helplist,id:10"|highway_url#}">招聘管理 </a></li>
						</ul>
						<ul>
							<li><a target="_blank" href="{#"HW_helplist,id:17"|highway_url#}">求职管理</a></li>
							<li><a target="_blank" href="{#"HW_helplist,id:13"|highway_url#}">充值消费 </a></li>
						</ul>
					</div>
				</div>
				<div class="list">
					<h4>個人仕事の検索</h4>
					<div class="foot_list">
						<ul>
							<li><a target="_blank" href="{#"HW_jobslist"|highway_url#}">职位搜索</a></li>
							<li><a target="_blank" href="{#$HIGHWAY.site_dir#}explain/explain-show.php?id=6">职场指南</a></li>
						</ul>
					</div>
				</div>
				<div class="list">
					<h4>エンタープライズサービス</h4>
					<div class="foot_list">
						<ul>
							<li><a target="_blank" href="{#$HIGHWAY.site_dir#}user/company/company_jobs.php?act=addjobs">发布职位</a></li>
							<li><a target="_blank" href="{#"HW_resumelist"|highway_url#}">简历搜索</a></li>
							<li><a target="_blank" href="{#"HW_hrtoolslist"|highway_url#}">HR工具箱</a></li>
						</ul>
						<ul>
							<li><a target="_blank" href="{#"HW_login"|highway_url#}">企业注册</a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				
				
		        <div class="weixin">
		        	<div class="weixin_con">
		        		<div class="weixin_img">
		        			<span>公式マイクロチャネル</span><br />
		        			<img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.weixin_img#}" width="64" height="65">
		        		</div>
		        		<div class="clear"></div>
		        	</div>
		        	<div class="weixin_cons" style="display:none;">
		        		<div class="w_txt">公式マイクロチャネル</div>
		        		<img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.weixin_img#}" alt="" width="64" height="65">
		        		<div class="clear"></div>
		        	</div>
		        	<div class="comment">
		        		<p>お問い合わせの電話</P>
		        		<p class="phone_number">{#$HIGHWAY.bootom_tel#}</p>
		        	</div>
			</div>
		</div>
	</div>
		
  
  <div class="copyright">
联系地址：{#$HIGHWAY.address#} 联系电话：{#$HIGHWAY.bootom_tel#} 网站备案：{#$HIGHWAY.icp#}{#$HIGHWAY.statistics#}<br />
{#$HIGHWAY.bottom_other#}<br />
Powered by <a href="http://highwayns.com/" target="_blank" style="color:#009900"><em> highwayns v{#$HIGHWAY.version#} 海威人材版权所有</em></a><br />
</div>
</div>
<!-- 回到顶部组件 -->
<div class="back_to_top" id="back_to_top">
	<div class="back" style="display:none;">
		<div>トップに戻る</div>
	</div>
	<div class="steer">
		<div onclick="javascript:location.href='{#$HIGHWAY.site_dir#}suggest'">私の勧め</div>
	</div>
</div>
<script>
	$(function(){
		//回到顶部组件出现设置
		$(window).scroll(function(){
			if($(window).scrollTop()>200){
				$(".back").fadeIn(400);
			}else{
				$(".back").fadeOut(400);
			}
		})

		//回到顶部hover效果
		$(".back_to_top .back, .steer, .sub").hover(function(){
			$(this).find("div").css("display","block");
		},function(){
			$(this).find("div").css("display","none");
		})

		//设置滚回顶部方法
		$(".back").click(function(){
			$("body,html").animate({scrollTop:0}, 500);
			return false;
		})
	});
	$(function(){
		$(".foot_list ul:odd li").css("width", 62);
		$(".weixin_img:last").css("margin-right", 0);
	})
</script>
