<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>HR工具箱</title>
<meta name="description" content="{#$pageinfo.description#}">
<meta name="keywords" content="{#$pageinfo.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/hrtools.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_hrtoolsindex"|qishi_url#}">HR工具箱</a>
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="hr_box">
			<ul class="hrtools-wrap">
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:1"|qishi_url#}" class="icon_1">招聘/面试</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:1"|qishi_url#}">招聘/面试</a></h3>
						<ul>
							 <li>包含各种人事招聘和人才面试专用表格文档，招聘专员可根据需求自行下载hr资料，实现人企互聘第一步。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:1"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:5"|qishi_url#}" class="icon_2">薪酬制度</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:5"|qishi_url#}">薪酬制度</a></h3>
						<ul>
							<li>hr可以适时参考工具箱内的资料表单，制定合理人性的薪酬制度，在众多招聘企业中一招制胜。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:5"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:2"|qishi_url#}" class="icon_3">人事档案</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:2"|qishi_url#}">人事档案</a></h3>
						<ul>
							 <li>以表单和文字形式记录企业和员工的主要经历、政治面貌、素质文化等内容，作为企业文化的内在凭证。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:2"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:6"|qishi_url#}" class="icon_4">加班考勤</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:6"|qishi_url#}">加班/考勤</a></h3>
						<ul>
							<li>工具箱内提供各种形式的考勤表格供hr参考，以维护企业正常的工作秩序，严肃企业纪律。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:6"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:3"|qishi_url#}" class="icon_5">员工管理</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:3"|qishi_url#}">员工管理</a></h3>
						<ul>
							<li>包含工作内容、员工纪律等一系列直接涉及员工福利和工作性质的资料。帮助hr快速专业的落实人才工作。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:3"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:4"|qishi_url#}" class="icon_6">合同试用</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:4"|qishi_url#}">合同/试用</a></h3>
						<ul>
							<li>hr下载合适的合同范本作为跟人才之间的契约协议签订，成功实现企业和人才之间的双向选择。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:4"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:7"|qishi_url#}" class="icon_7">出差</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:7"|qishi_url#}">出差</a></h3>
						<ul>
							<li>针对公司出差问题，提供相关的出差规定、出差情况记录表等，准确掌握员工工作动态，明晰公司财务清单。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:7"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:8"|qishi_url#}" class="icon_8">员工培训</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:8"|qishi_url#}">员工培训</a></h3>
						<ul>
							<li>提供各类员工培训参考，包含出国培训、新进职员培训等，为企业提供多样的培训意见，提高员工素质能力。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:8"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:9"|qishi_url#}" class="icon_9">效绩考核</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:9"|qishi_url#}">效绩考核</a></h3>
						<ul>
							<li>多种绩效考核办法标准，为企业提供全面的参考，正面引导员工的工作行为和工作业绩，实现企业战略目标。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:9"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:10"|qishi_url#}" class="icon_10">辞退</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:10"|qishi_url#}">移交/辞退</a></h3>
						<ul>
							<li>工具箱内提供各种辞职申请范本，企业可以进行参考，制定合理的离职流程。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:10"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"QS_hrtoolslist,id:11"|qishi_url#}" class="icon_11">其他</a></div>
					<div class="hr_content">
						<h3><a href="{#"QS_hrtoolslist,id:11"|qishi_url#}">其他</a></h3>
						<ul>
							<li>企业hr工作中其他事项的参考标准，可以自定义选择添加。&nbsp;&nbsp;<a href="{#"QS_hrtoolslist,id:11"|qishi_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<!-- 主体内容 结束 -->
	
{#include file="footer.htm"#}
</body>
</html>