<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hRツールボックス</title>
<meta name="description" content="{#$pageinfo.description#}">
<meta name="keywords" content="{#$pageinfo.keywords#}">
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<link href="{#$HIGHWAY.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/hrtools.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$HIGHWAY.site_dir#}">トップページ</a>&nbsp;>&nbsp;<a href="{#"HW_hrtoolsindex"|highway_url#}">HR工具箱</a>
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="hr_box">
			<ul class="hrtools-wrap">
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:1"|highway_url#}" class="icon_1">招聘/面试</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:1"|highway_url#}">招聘/面试</a></h3>
						<ul>
							 <li>表計算ドキュメント専用の人事採用や人材面接の様々なが含まれている、採用担当者は、最初の一歩を雇う相互の企業を達成するため、需要の自己時間データにダウンロードすることができます。&nbsp;&nbsp;<a href=“{#”hW_hrtoolslist,id:1”|HIGHWAY_url#}” class=“more”>更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:5"|highway_url#}" class="icon_2">薪酬制度</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:5"|highway_url#}">薪酬制度</a></h3>
						<ul>
							<li>hrはツールボックスの資料を参加になり、合理的な報酬を設定し、多くの求人企業の中に勝ち出す。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:5"|highway_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:2"|highway_url#}" class="icon_3">人事档案</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:2"|highway_url#}">人事档案</a></h3>
						<ul>
							 <li>コンテンツとテキスト形式で企業や従業員、政治的所属、フォームの品質と文化コンテンツを記録し、企業文化の内部文書として証明する。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:2"|highway_url#}" class="more"”>更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:6"|highway_url#}" class="icon_4">加班考勤</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:6"|highway_url#}">加班/考勤</a></h3>
						<ul>
							<li>通常の作業発注業務、深刻なビジネスの規律を維持するために、参照時間、ツールボックスの出席フォーム内で様々な形態を提供します。&nbsp;&nbsp;<a href=“{#”hW_hrtoolslist,id:6”|HIGHWAY_url#}” class=“more”>更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:3"|highway_url#}" class="icon_5">员工管理</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:3"|highway_url#}">员工管理</a></h3>
						<ul>
							<li>従業員給付と仕事の内容、従業員の規律の性質に直接関連する一連の情報が含まれています。時間の速い専門家の助け人材作業を実施。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:3"|highway_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:4"|highway_url#}" class="icon_6">合同试用</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:4"|highway_url#}">合同/试用</a></h3>
						<ul>
							<li>時間は才能間の契約上の合意に署名し、適切なモデル契約、企業と従業員の間で双方向の選択の成功の実装をダウンロードしてください。&nbsp;&nbsp;<a href=“{#”hW_hrtoolslist,id:4”|HIGHWAY_url#}” class=“more”>更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:7"|highway_url#}" class="icon_7">出差</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:7"|highway_url#}">出差</a></h3>
						<ul>
							<li>法人旅行問題については、そのようなトlabelケースレコード形式、ダイナミックな、明確な企業金融の在庫を働く従業員の正確な知識など旅行関連規定を、提供します。&nbsp;&nbsp;<a href=“{#”hW_hrtoolslist,id:7”|HIGHWAY_url#}” class=“more”>更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:8"|highway_url#}" class="icon_8">员工培训</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:8"|highway_url#}">员工培训</a></h3>
						<ul>
							<li>社員教育の参照の様々な種類を提供し、海外研修、新入社員のトレーニング、トレーニングのアドバイスのさまざまなを提供し、スタッフの質と能力を向上させるが含まれます。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:8"|highway_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:9"|highway_url#}" class="icon_9">效绩考核</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:9"|highway_url#}">效绩考核</a></h3>
						<ul>
							<li>業績評価基準の様々な、包括的なリファレンス、正指導員の作業行動と仕事のパフォーマンスを提供し、戦略的な目標を達成します。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:9"|highway_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:10"|highway_url#}" class="icon_10">辞退</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:10"|highway_url#}">移交/辞退</a></h3>
						<ul>
							<li>アプリケーションテンプレートは、ツールボックスに辞任の多様性を提供し、企業が合理的な分離プロセスを開発するために、参照することができます。&nbsp;&nbsp;<a href="{#"HW_hrtoolslist,id:10"|highway_url#}" class="more">更多>></a></li>
						</ul>
					</div>
				</li>
				<li class="function_box">
					<div class="icon-box"><a href="{#"HW_hrtoolslist,id:11"|highway_url#}" class="icon_11">其他</a></div>
					<div class="hr_content">
						<h3><a href="{#"HW_hrtoolslist,id:11"|highway_url#}">其他</a></h3>
						<ul>
							<li>企業hr業務において参考ケージ、を選択してカスタマイズすることができます。&nbsp;&nbsp;<a href=“{#”hW_hrtoolslist,id:11”|HIGHWAY_url#}” class=“more”>更多>></a></li>
						</ul>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<!-- 主体内容 结束 -->
	
{#include file="footer.htm"#}
</body>
</html>
