<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{#highway_hrtools_category set="列表名:category,分类ID:GET[id]"#}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#HIGHWAY_hrtools_category set=“リスト名前:category,分類ID:GET[id]”#}{#$category.0.c_name#} - hRツール箱</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<link href="{#$HIGHWAY.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/hrtools.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type='text/javascript' ></script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
  当前位置：<a href="{#$HIGHWAY.site_dir#}">トップページ</a>&nbsp;>&nbsp;<a href="{#"HW_hrtoolsindex"|highway_url#}">HR工具箱</a>&nbsp;>&nbsp;{#$category.0.c_name#}
</div>
  <!-- 主体内容 -->
  <div class="container link_bk">
    <div class="hr_dateil">
      <h2>{#$category.0.c_name#}</h2>
      <div class="clear"></div>
      <div class="hr_list">
        <ul>
          {#highway_hrtools_list set="列表名:list,显示数目:500,分类ID:GET[id]"#}
          {#foreach from=$list item=list#}
            <li><a href="{#$list.h_fileurl#}" target="_blank" >{#$list.h_filename#}</a></li>
            {#/foreach#}
          <div class="clear"></div>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- 主体内容 结束 -->
{#include file="footer.htm"#} 
</body>
</html>
