<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />{#highway_pageinfo set="列表名:page,调用:HW_index"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta http-equiv="X-UA-Compatible" content="edge">
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/index.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/index_foucs.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.dropDownWidget.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.newindex.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.lazyload.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.autocomplete.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	//选项卡切换
	$(".n-tab-control>a").each(function(){
		$(this).click(function(){
			$(this).addClass("select"); 
			$(this).siblings("a").removeClass("select");
			var bull_index = $(".n-tab-control>a").index(this);
			$(".news-tab-box>ul").eq(bull_index).show().siblings().hide();
		})
	});
	//登录
	$.get('{#$HIGHWAY.site_dir#}plus/ajax_user.php?act=loginform', function(data) {
		$("#ajax_login").html(data);
		// 选择登录方式 
		var wxrun = '';
		$('.loginicon').toggle(function(){
			$('#pcLogin').hide();
			$('#codeLogin').show();
			$('#login-box h1').html('微信登录');
			$(this).attr('title', '用户名登录');
			$(this).removeClass('wx').addClass('pc');
			{#if $HIGHWAY.weixin_apiopen=='1' && $HIGHWAY.weixin_scan_login=='1' && $smarty.session.username==''#}
			wxrun = window.setInterval(run, 5000);
			function run(){
			    $.get("{#$HIGHWAY.site_dir#}m/wap_login.php?act=waiting_weixin_login",function(data){
			        if(data=="1"){
			           window.location="{#$HIGHWAY.site_dir#}";
			        }
			    });
			}
			{#/if#}
		}, function(){
			$('#pcLogin').show();
			$('#codeLogin').hide();
			$('#login-box h1').html('会员登录');
			$(this).attr('title', '微信登录');
			$(this).removeClass('pc').addClass('wx');
			{#if $HIGHWAY.weixin_apiopen=='1' && $HIGHWAY.weixin_scan_login=='1' && $smarty.session.username==''#}
			window.clearInterval(wxrun);
			{#/if#}
		});
	});
	// 左侧下拉
	$.dropDownWidget(".job-sort-wrap");
	// 首页的一些js
	index("{#$HIGHWAY.site_dir#}","{#$HIGHWAY.site_template#}");
	// 工作地区填充数据
	city_filldata("#city_list", HW_city_parent, HW_city, "#result-list-city", "#aui_outer_city", "#cityForIndexSearch", "#citycategory");
	//
	$('.floor-item:first').find('.floor-title').css({'margin-top':5});
	$(".core-function").live('click', function(event) {
		window.location.href = $(this).attr("code");
	});
});
</script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 主体 -->
<div class="container-index">
	<div class="complex-main clearfix">
		<div class="complex-left f-left">
			<div class="job-sort-wrap">
				<div class="job-sort-control">全て職種の分類<i class="sotr-icon"></i></div>
				<div class="job-sort-list"></div>
				<div class="leftmenu_box"></div>
			</div>
			<div class="bolck-nav clearfix">
				<a class="b-nav-item f-left" href="{#$HIGHWAY.site_dir#}jobs" target="_blank">
					<i class="b-nav-icon icon1"></i>
					<p>仕事を探す</P>
				</a>
				<a class="b-nav-item f-left" href="{#$HIGHWAY.site_dir#}resume" target="_blank">
					<i class="b-nav-icon icon2"></i>
					<p>人材を探す</P>
				</a>
				<a class="b-nav-item f-left" href="{#$HIGHWAY.site_dir#}user/company/company_jobs.php?act=addjobs" target="_blank">
					<i class="b-nav-icon icon9"></i>
					<p>ポストを掲示する</P>
				</a>
				<a class="b-nav-item f-left" href="{#$HIGHWAY.site_dir#}user/personal/personal_resume.php?act=make1" target="_blank">
					<i class="b-nav-icon icon4"></i>
					<p>履歴書を作成します</P>
				</a>
				<a class="b-nav-item f-left" href="{#"HW_simplelist"|highway_url#}" target="_blank">
					<i class="b-nav-icon icon5"></i>
					<p>マイクロ地区</P>
				</a>
				<a class="b-nav-item f-left" href="{#"HW_hrtoolsindex"|highway_url#}" target="_blank">
					<i class="b-nav-icon icon6"></i>
					<p>hRツール</P>
				</a>
			</div>
			<div class="news-tab">
				<div class="n-tab-control clearfix">
					<a href="javascript:;" class="f-left tab-ctrl select">お知らせ</a>
					<a href="javascript:;" class="f-left tab-ctrl">ニュース</a>
					<a href="javascript:;" class="f-left tab-ctrl">ヘルプ</a>
				</div>
				<div class="news-tab-box">
					<!-- 公告 -->
					<ul>
						{#highway_notice_list set="列表名:notice,显示数目:9,标题长度:12,分类:1,填补字符:..."#}
						{#foreach from=$notice item=list#}
						<li><i class="tab-icon"></i><a href="{#$list.url#}" target="_blank" title="{#$list.title_#}" class="underline">{#$list.title#}</a></li>
						{#/foreach#}
					</ul>
					<!-- 资讯 -->
					<ul style="display: none;">
						{#highway_news_list set="列表名:news,显示数目:9,标题长度:12,分类:1,填补字符:..."#}
						{#foreach from=$news item=list#}
						<li><i class="tab-icon"></i><a href="{#$list.url#}" target="_blank" title="{#$list.title_#}" class="underline">{#$list.title#}</a></li>
						{#/foreach#}
					</ul>
					<!-- 帮助 -->
					<ul style="display: none;">
						{#highway_help_list set="列表名:help,显示数目:9,标题长度:12,填补字符:..."#}
						{#foreach from=$help item=list#}
						<li><i class="tab-icon"></i><a href="{#$list.url#}" target="_blank" title="{#$list.title_#}" class="underline">{#$list.title#}</a></li>
						{#/foreach#}
					</ul>
				</div>
			</div>
		</div>
		<div class="complex-center f-left">
			<!-- 搜索 -->
			<div class="search-wrap clearfix">
				<div class="search-box f-left">
					<div class="search-type f-left">
						<div title="找工作" code="HW_jobslist" data="请输入职位名称或企业名称" class="search-type-show"><span>找工作</span><i class="search-icon"></i></div>
						<div title="找人才" code="HW_resumelist" data="请输入简历关键字" class="search-type-drop"><a href="javascript:;">找人才</a></div>
					</div>
					<div class="search-text f-left">
						<input type="text" name="keyForIndexSearch" id="keyForIndexSearch" placeholder="请输入职位名称或企业名称" />
					</div>
				</div>
				<div class="search-box f-left">
					<div class="search-area-box"><input type="text" name="cityForIndexSearch" id="cityForIndexSearch"placeholder= “作業領域を入力してください。” /></div>
				</div>
				<div class="search-submit f-left"><input type=“button” name=“btnForIndexSearch” id=“btnForIndexSearch” code=“hW_jobslist” value=“搜索” class=“search-submit” /></div>
				<input type="hidden" name="citycategory" id="citycategory" value="">
				<!-- 工作地区弹出框 -->
				<div class="aui_outer" id="aui_outer_city">
					<table class="aui_border">
						<tbody>
							<tr>
								<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td class="aui_main">
														<div class="aui_content" style="padding: 0px;">
															<div class="LocalDataMultiC" style="width:623px;">
																<div class="selector-header"><span class="selector-title">选择地区</span><div></div><span id="ct-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																<div class="data-row-head"><div class="data-row"><div class="data-row-side data-row-side-c">選択上限<strong class="text-warning">3</strong> アイテム＆NBSP;＆NBSP;選択した<strong ID = “arscity” class= “text-warning””>0</strong> 項目</div><div id="result-list-city" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																<div class="data-row-list data-row-main" id="city_list">
																	<!-- 列表内容 -->
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 工作地区弹出框 End-->
			</div>
			<!-- 搜索结束 -->
			<div class="swipe-wrap">
				{#highway_ad set="显示数目:6,调用名称:HW_indexfocus,列表名:ad"#}
				<div id="playBox">
					<div class="pre"></div>
					<div class="next"></div>
					<div class="smalltitle">
					  <ul>
					  	{#section loop=$ad name=list#}
					    <li {#if $smarty.section.list.first#}class="thistitle"{#/if#}></li>
					    {#/section#}
					  </ul>
					</div>
					<ul class="oUlplay">
					   {#foreach from=$ad item=list#}
					   <li><a href="{#$list.img_url#}" target="_blank"><img src="{#$list.img_path#}" alt="{#$list.img_explain#}" border="0" width="610" height="270"/></a></li>
					   {#/foreach#}
					</ul>
				</div>
			</div>
			<div class="block-ad-wrap clearfix lazyload">
				{#highway_ad set="显示数目:6,调用名称:HW_indexrecommend,列表名:ad"#}
				{#if $ad#}
					{#foreach from=$ad item=list#}
					{#if $list.img_uid>0#}
					<div class="block-ad-item f-left">
						<div class="block-ad-logo"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="202" height="81" border="0" /></a></div>
						<div class="block-ad-info">
							<h3><a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a></h3>
							<p><a href="{#$list.jobs.0.jobs_url#}" target="_blank">{#$list.jobs.0.jobs_name#}</a></p>
						</div>
					</div>
					{#else#}
					<div class="block-ad-item f-left">
						<a href="{#$list.img_url#}" target="_blank">
							<img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.jpg" alt="{#$list.img_explain#}" width="202" height="153" border="0" />
						</a>
					</div>
					{#/if#}
					{#/foreach#}
				{#/if#}
			</div>
		</div>
		<div class="complex-right f-left">
			<div class="login-block" id="ajax_login">
				<h4>メンバーログイン</h4>
				<div class="login-wrap">
					<div class="login-item">
						<div class="login-text-box clearfix"><i class="login-icon user f-left"></i><div class="login-input f-left"><input type="text" name="" id="" placeholder="邮箱/手机号/用户名" /></div></div>
					</div>
					<div class="login-item">
						<div class="login-text-box clearfix"><i class="login-icon pass f-left"></i><div class="login-input f-left"><input type="password" name="" id="" placeholder="请输入密码" /></div></div>
					</div>
					<div class="login-item clearfix">
						<label class="auto-login f-left"><input type="checkbox" name="" id="" />自动登录</label>
						<a href="" class="forget underline f-right">パスワードを忘れましたか？</a>
					</div>
					<div class="login-item clearfix">
						<div class="login-btn-box f-left"><input type=“button” value=“すぐ登録” class=“index-login-btn” /></div>
						<div class="f-left"><input type="button" value=“無料登録” class="index-reg-btn" /></div>
					</div>
					<div class="third-login clearfix">
						<span class="f-left">他のアカウントのログイン：</span>
						<a href="" class="third-icon qq f-left"></a><a href="" class="third-icon sina f-left"></a><a href="" class="third-icon taobao f-left"></a>
					</div>
				</div>
			</div>
			<div class="urgent-block" id="emergencybox">
				<div class="urgent-title clearfix">
					<h4 class="f-left">緊急募集</h4>
					<a href="{#"HW_jobs"|highway_url#}" class="underline f-right" target="_blank">もっと>></a>
				</div>
				<ul class="urgent-list">
					{#highway_jobs_list set="列表名:jobs,显示数目:10,职位名长度:12,企业名长度:12,紧急招聘:1,排序:refreshtime>desc"#}
					{#foreach from=$jobs item=list#}
					<li class="clearfix"><a href="{#$list.company_url#}" class="u-com f-left underline" target="_blank">{#$list.companyname#}</a><a href="{#$list.jobs_url#}" class="u-job f-left underline" title="{#$list.jobs_name_#}" target="_blank">{#$list.jobs_name#}</a></li>
					{#/foreach#}
				</ul>
			</div>
		</div>
	</div>
	<!-- 广告位集中区域 -->
	<div class="ad-area">
		<!-- 1198*58 广告  -->
		{#highway_ad set="显示数目:3,调用名称:HW_indextopimg,列表名:ad,文字长度:12"#}
		{#if $ad#}
		{#foreach from=$ad item=list#}
		<div class="ad-row clearfix lazyload">
			<div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
		</div>
		{#/foreach#}
		{#/if#}
		<!-- 392*58 广告  格子广告-->
		{#highway_ad set="显示数目:6,调用名称:HW_indexcentreimg,列表名:ad,文字长度:12"#}
		{#if $ad#}
		<div class="ad-row clearfix lazyload">
			{#foreach from=$ad item=list#}
			<div class="ad-item ad-31 f-left comimgtip">
				<a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="392" height="58" border="0" /></a>
				{#if $list.jobs#}
				<!-- 鼠标至上显示 -->
				<div class="ad-more-info info31" style="display: none;">
					<div class="ad-placeholder"></div>
					<ul class="ad-job-list">
						{#foreach from=$list.jobs item=jobs_li#}
						<li class="clearfix"><div class="jobname f-left"><a href="{#$jobs_li.jobs_url#}" class="underline" target="_blank">{#$jobs_li.jobs_name#}</a></div><div class="jobpay f-left"><span>{#$jobs_li.wage_cn#}</span></div><div class="jobnarea f-left">{#$jobs_li.district_cn#}</div></li>
						{#/foreach#}
					</ul>
					<div class="ad-com-info">
						<div class="companyname"><a href="{#$list.company_url#}" class="underline" target="_blank">{#$list.companyname#}</a></div>
						<p>{#$list.briefly#}</p>
					</div>
					<a href="{#$list.company_url#}" class="ad-more" target="_blank">もっと見ます>></a>
				</div>
				{#/if#}
			</div>
			{#/foreach#}
		</div>
		{#/if#}
		<!-- 230x58 广告  格子广告-->
		{#highway_ad set="显示数目:10,调用名称:HW_indexcentreimg_230x58,列表名:ad,文字长度:12"#}
		{#if $ad#}
		<div class="ad-row a23058d clearfix lazyload">
			{#foreach from=$ad item=list#}
			<div class="ad-item ad-51 f-left comimgtip">
				<a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="230" height="58" border="0" /></a>
				{#if $list.jobs#}
				<!-- 鼠标至上显示 -->
				<div class="ad-more-info info51" style="display: none;">
					<div class="ad-placeholder"></div>
					<ul class="ad-job-list">
						{#foreach from=$list.jobs item=jobs_li#}
						<li class="clearfix"><div class="jobname f-left"><a href="{#$jobs_li.jobs_url#}" class="underline" target="_blank">{#$jobs_li.jobs_name#}</a></div><div class="jobpay f-left"><span>{#$jobs_li.wage_cn#}</span></div></li>
						{#/foreach#}
					</ul>
					<div class="ad-com-info ad-com-info-w">
						<div class="companyname"><a href="{#$list.company_url#}" class="underline" target="_blank">{#$list.companyname#}</a></div>
						<p>{#$list.briefly#}</p>
					</div>
					<a href="{#$list.company_url#}" class="ad-more" target="_blank">もっと見ます>></a>
				</div>
				{#/if#}
			</div>
			{#/foreach#}
		</div>
		{#/if#}
	</div>
	<!-- 广告位集中区域结束 -->
	<!-- 列表-推荐职位 -->
	<div class="index-data-wrap index-data-wrap-i7">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">注目のジョブズ<span>Recommended Job</span></h4>
			<a href="{#"HW_helplist,id:10"|highway_url#}" class="f-right underline" target="_blank">私は求人会社であり、私がここに来ています</a>
		</div>
		<div class="famous-list clearfix">
			{#highway_companyjobs_list set="列表名:comjob_recommend,显示数目:12,显示职位:3,推荐:1,统计职位:1"#}
			{#foreach from=$comjob_recommend item=list#}
			<div class="famous-items f-left">
				<i class="fc-icon"></i>
				<div class="famous-com comtip">
					<a href="{#$list.company_url#}" class="underline" target="_balnk">{#$list.companyname#}{#if $HIGHWAY.operation_mode>="2" &&  $list.setmeal_id>1 #} <img src="{#$HIGHWAY.site_dir#}data/setmealimg/{#$list.setmeal_id#}.gif" border="0" title="{#$list.setmeal_name#}" class="vtip" />{#/if#}</a>
					<div class="famous-more-info" style="display:none;">
						<i class="fmi-icon"></i>
						<div class="fmi-title">職位募集</div>
						<ul class="fmi-list">
							{#highway_jobs_list set="列表名:com_jobs_all,显示数目:3,会员UID:$list.uid"#}
							{#foreach from=$com_jobs_all item=job_li#}
							<li class="clearfix">
								<div class="fmi-jobname f-left"><a href="{#$job_li.jobs_url#}" class="underline" target="_balnk">{#$job_li.jobs_name#}</a></div><div class="fmi-time f-left"><span>{#$job_li.refreshtime_cn#}</span></div>
							</li>
							{#/foreach#}
						</ul>
						<p>企業は{#$list.jobs_num#}仕事を持ち，<a href="{#"HW_companyjobs,id:$list.company_id"|highway_url#}" target="_balnk" class="underline">查看全部</a></p>
					</div>
				</div>
				<div class="famous-job">
					{#foreach from=$list.jobs item=jobs_li#}
					<span><a href="{#$jobs_li.jobs_url#}" class="underline" target="_balnk">{#$jobs_li.jobs_name#}</a></span>
					{#/foreach#}
				</div>
				
			</div>
			{#/foreach#}
		</div>
	</div>
	<!-- 列表-名企招聘结束 -->
	<!-- 1198*58 广告  -->
	{#highway_ad set="显示数目:3,调用名称:HW_indexcenter,列表名:ad,文字长度:12"#}
	{#if $ad#}
	<div class="ad-area">
	{#foreach from=$ad item=list#}
	<div class="ad-row clearfix lazyload">
		<div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
	</div>
	{#/foreach#}
	</div>
	{#/if#}
	<!-- 列表-最新职位 -->
	<div class="index-data-wrap">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">最新仕事<span>Latest Job</span></h4>
			<a href="{#"HW_jobslist"|highway_url#}" class="f-right underline" target="_blank">もっと>></a>
		</div>
		<div class="newest-list clearfix">
			{#highway_companyjobs_list set="列表名:jobs,显示数目:40,职位名长度:12,显示职位:1,企业名长度:12,排序:rtime>desc"#}
			{#foreach from=$jobs item=list#}
			<div class="newest-items f-left">
				<i class="nc-icon"></i>
				<a href="{#$list.company_url#}" class="newest-com underline" target="_blank">{#$list.companyname#}</a>
				{#foreach from=$list.jobs item=li#}
				<a href="{#$li.jobs_url#}" class="newest-job underline" target="_blank">{#$li.jobs_name#}</a>
				{#/foreach#}
			</div>
			{#/foreach#}
		</div>
	</div>
	<!-- 列表-最新职位结束 -->
	<!-- 1198*58 广告  -->
	{#highway_ad set="显示数目:3,调用名称:HW_indexfootbanner,列表名:ad,文字长度:12"#}
	{#if $ad#}
	<div class="ad-area">
	{#foreach from=$ad item=list#}
	<div class="ad-row clearfix lazyload">
		<div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
	</div>
	{#/foreach#}
	</div>
	{#/if#}
	<!-- 列表-照片简历 -->
	<div class="index-data-wrap">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">写真履歴書<span>Photo Resume</span></h4>
			<a href="{#"HW_resumelist,photo:1"|highway_url#}" class="f-right underline" target="_blank">もっと>></a>
		</div>
		<div class="photo-list clearfix">
			{#highway_resume_list set="列表名:resume,显示数目:7,照片:1,意向职位长度:14,填补字符:...,排序:rtime>desc"#}
			{#foreach from=$resume item=list#}
				<div class="photo-items f-left">
					<div class="avater-box">
						<div class="avater"><a href="{#$list.resume_url#}" target="_blank"><img src="{#$list.photosrc#}"  width="70" height="70" border="0"/></a></div>
						<p><a href="{#$list.resume_url#}" target="_blank" class="underline">{#$list.fullname#}</a></p>
					</div>
					<div class="photo-info">
						<p>{#$list.education_cn#},{#$list.experience_cn#}</p>
						<p>{#$list.intention_jobs#}</p>
					</div>
				</div>
			{#/foreach#}
		</div>
	</div>
	<!-- 列表-照片简历结束 -->
	<!-- 列表-职位导航 -->
	<div class="index-data-wrap">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">位置ナビゲーションの<span>Jobs Navigation</span></h4>
		</div>
		<div class="job-build">
			<!-- 楼层1  -->
			<div class="floor-item">
				<div class="floor-title"><em>1F</em><span>{#"HW_jobs,76"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,77"|highway_categoryname#}</span></div>
				<div class="floor-box clearfix">
					<!-- 分类 -->
					<div class="floor-sort f-left">
						{#highway_get_classify set="列表名:subcate,类型:HW_jobs_floor,显示数目:20,id:76_77"#}
						{#foreach from=$subcate item=list#}
						<a href="{#"HW_jobslist,jobcategory:"|cat:74|cat:"."|cat:$list.parentid|cat:"."|cat:$list.id|highway_url#}" class="f-sort-item f-left" target="_blank">{#$list.categoryname#}</a>
						{#/foreach#}
					</div>
					<!-- 职位 -->
					<div class="floor-jobs f-left">
						{#highway_companyjobs_list set="列表名:comjobs,显示数目:10,显示职位:3,职位分类:76_77"#}
						{#foreach from=$comjobs item=list#}
						<div class="f-job-row">
							<a href="{#$list.company_url#}" class="f-job-com underline" target="_blank">{#$list.companyname#}</a>
							{#foreach from=$list.jobs item=li#}
							<a href="{#$li.jobs_url#}" class="f-job-name underline" target="_blank">{#$li.jobs_name#}</a>
							{#/foreach#}
						</div>
						{#/foreach#}

					</div>
					<!-- 广告 楼层广告1 -->
					<div class="floor-ad-box f-left lazyload">
						{#highway_ad set="显示数目:4,调用名称:HW_floor_img1,列表名:ad,文字长度:12"#}
						{#if $ad#}
						{#foreach from=$ad item=list#}
						<div class="floor-ad"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="378" height="60" border="0" /></a></div>
						{#/foreach#}
						{#/if#}
					</div>
				</div>
			</div>
			<!-- 楼层 2 -->
			<div class="floor-item">
				<div class="floor-title"><em>2F</em><span>{#"HW_jobs,3"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,5"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,6"|highway_categoryname#}</span></div>
				<div class="floor-box clearfix">
					<!-- 分类 -->
					<div class="floor-sort f-left">
						{#highway_get_classify set="列表名:subcate,类型:HW_jobs_floor,显示数目:20,id:3_5_6"#}
						{#foreach from=$subcate item=list#}
						<a href="{#"HW_jobslist,jobcategory:"|cat:1|cat:"."|cat:$list.parentid|cat:"."|cat:$list.id|highway_url#}" class="f-sort-item f-left" target="_blank">{#$list.categoryname#}</a>
						{#/foreach#}
					</div>
					<!-- 职位 -->
					<div class="floor-jobs f-left">
						{#highway_companyjobs_list set="列表名:comjobs,显示数目:10,显示职位:3,职位分类:3_5_6"#}
						{#foreach from=$comjobs item=list#}
						<div class="f-job-row">
							<a href="{#$list.company_url#}" class="f-job-com underline" target="_blank">{#$list.companyname#}</a>
							{#foreach from=$list.jobs item=li#}
							<a href="{#$li.jobs_url#}" class="f-job-name underline" target="_blank">{#$li.jobs_name#}</a>
							{#/foreach#}
						</div>
						{#/foreach#}

					</div>
					<!-- 广告 楼层广告1 -->
					<div class="floor-ad-box f-left lazyload">
						{#highway_ad set="显示数目:4,调用名称:HW_floor_img2,列表名:ad,文字长度:12"#}
						{#if $ad#}
						{#foreach from=$ad item=list#}
						<div class="floor-ad"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="378" height="60" border="0" /></a></div>
						{#/foreach#}
						{#/if#}
					</div>
				</div>
			</div>
			<!-- 楼层 3 -->
			<div class="floor-item">
				<div class="floor-title"><em>3F</em><span>{#"HW_jobs,117"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,120"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,121"|highway_categoryname#}</span></div>
				<div class="floor-box clearfix">
					<!-- 分类 -->
					<div class="floor-sort f-left">
						{#highway_get_classify set="列表名:subcate,类型:HW_jobs_floor,显示数目:20,id:117_120_121"#}
						{#foreach from=$subcate item=list#}
						<a href="{#"HW_jobslist,jobcategory:"|cat:116|cat:"."|cat:$list.parentid|cat:"."|cat:$list.id|highway_url#}" class="f-sort-item f-left" target="_blank">{#$list.categoryname#}</a>
						{#/foreach#}
					</div>
					<!-- 职位 -->
					<div class="floor-jobs f-left">
						{#highway_companyjobs_list set="列表名:comjobs,显示数目:10,显示职位:3,职位分类:117_120_121"#}
						{#foreach from=$comjobs item=list#}
						<div class="f-job-row">
							<a href="{#$list.company_url#}" class="f-job-com underline" target="_blank">{#$list.companyname#}</a>
							{#foreach from=$list.jobs item=li#}
							<a href="{#$li.jobs_url#}" class="f-job-name underline" target="_blank">{#$li.jobs_name#}</a>
							{#/foreach#}
						</div>
						{#/foreach#}

					</div>
					<!-- 广告 楼层广告1 -->
					<div class="floor-ad-box f-left lazyload">
						{#highway_ad set="显示数目:4,调用名称:HW_floor_img3,列表名:ad,文字长度:12"#}
						{#if $ad#}
						{#foreach from=$ad item=list#}
						<div class="floor-ad"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="378" height="60" border="0" /></a></div>
						{#/foreach#}
						{#/if#}
					</div>
				</div>
			</div>
			<!-- 楼层 4 -->
			<div class="floor-item">
				<div class="floor-title"><em>4F</em><span>{#"HW_jobs,97"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,98"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,99"|highway_categoryname#}</span></div>
				<div class="floor-box clearfix">
					<!-- 分类 -->
					<div class="floor-sort f-left">
						{#highway_get_classify set="列表名:subcate,类型:HW_jobs_floor,显示数目:20,id:97_98_99"#}
						{#foreach from=$subcate item=list#}
						<a href="{#"HW_jobslist,jobcategory:"|cat:96|cat:"."|cat:$list.parentid|cat:"."|cat:$list.id|highway_url#}" class="f-sort-item f-left" target="_blank">{#$list.categoryname#}</a>
						{#/foreach#}
					</div>
					<!-- 职位 -->
					<div class="floor-jobs f-left">
						{#highway_companyjobs_list set="列表名:comjobs,显示数目:10,显示职位:3,职位分类:97_98_99"#}
						{#foreach from=$comjobs item=list#}
						<div class="f-job-row">
							<a href="{#$list.company_url#}" class="f-job-com underline" target="_blank">{#$list.companyname#}</a>
							{#foreach from=$list.jobs item=li#}
							<a href="{#$li.jobs_url#}" class="f-job-name underline" target="_blank">{#$li.jobs_name#}</a>
							{#/foreach#}
						</div>
						{#/foreach#}

					</div>
					<!-- 广告 楼层广告1 -->
					<div class="floor-ad-box f-left lazyload">
						{#highway_ad set="显示数目:4,调用名称:HW_floor_img4,列表名:ad,文字长度:12"#}
						{#if $ad#}
						{#foreach from=$ad item=list#}
						<div class="floor-ad"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="378" height="60" border="0" /></a></div>
						{#/foreach#}
						{#/if#}
					</div>
				</div>
			</div>
			<!-- 楼层 5 -->
			<div class="floor-item">
				<div class="floor-title"><em>5F</em><span>{#"HW_jobs,50"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,51"|highway_categoryname#}&nbsp;·&nbsp;{#"HW_jobs,52"|highway_categoryname#}</span></div>
				<div class="floor-box clearfix">
					<!-- 分类 -->
					<div class="floor-sort f-left">
						{#highway_get_classify set="列表名:subcate,类型:HW_jobs_floor,显示数目:20,id:50_51_52"#}
						{#foreach from=$subcate item=list#}
						<a href="{#"HW_jobslist,jobcategory:"|cat:49|cat:"."|cat:$list.parentid|cat:"."|cat:$list.id|highway_url#}" class="f-sort-item f-left" target="_blank">{#$list.categoryname#}</a>
						{#/foreach#}
					</div>
					<!-- 职位 -->
					<div class="floor-jobs f-left">
						{#highway_companyjobs_list set="列表名:comjobs,显示数目:10,显示职位:3,职位分类:50_51_52"#}
						{#foreach from=$comjobs item=list#}
						<div class="f-job-row">
							<a href="{#$list.company_url#}" class="f-job-com underline" target="_blank">{#$list.companyname#}</a>
							{#foreach from=$list.jobs item=li#}
							<a href="{#$li.jobs_url#}" class="f-job-name underline" target="_blank">{#$li.jobs_name#}</a>
							{#/foreach#}
						</div>
						{#/foreach#}

					</div>
					<!-- 广告 楼层广告1 -->
					<div class="floor-ad-box f-left lazyload">
						{#highway_ad set="显示数目:4,调用名称:HW_floor_img5,列表名:ad,文字长度:12"#}
						{#if $ad#}
						{#foreach from=$ad item=list#}
						<div class="floor-ad"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$HIGHWAY.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" width="378" height="60" border="0" /></a></div>
						{#/foreach#}
						{#/if#}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 列表-职位导航结束 -->
	<!-- 列表-职场资讯 -->
	<div class="index-data-wrap">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">キャリア・リソースの<span>Workplace Information</span></h4>
			<a href="{#"HW_news"|highway_url#}" class="f-right underline" target="_blank">もっと>></a>
		</div>
		<div class="job-news-block clearfix">
			<div class="jn-left f-left">
				{#highway_news_category set="列表名:newscategory,资讯大类:1,显示数目:4"#}
				{#section loop=$newscategory name=nclist#}
				<div class="jn-box f-left">
					<div class="jn-img f-left"><a href="{#"HW_newslist,id:$newscategory[nclist].id"|highway_url#}" target="_blank"><img src="{#$HIGHWAY.site_template#}images/news{#$smarty.section.nclist.index#}.jpg" width="163" height="98" border="0"></a></div>
					<ul class="jn-list f-left">
					{#highway_news_list set="列表名:topnews,显示数目:4,标题长度:18,资讯小类:$newscategory[nclist].id,摘要长度:36,填补字符:...,排序:id>desc"#}
					{#foreach from=$topnews item=toplist#}
					<li><i class="jn-icon"></i><a target="_blank" href="{#$toplist.url#}" class="underline" title="{#$toplist.title_#}" target="_blank">{#$toplist.title#}</a></li>
					{#/foreach#}
					</ul>
				</div>
				{#/section#}
			</div>
			<ol class="jn-right f-left">
				{#highway_news_list set="列表名:news_list,显示数目:8,标题长度:12,填补字符:...,排序:click>desc"#}
				{#section loop=$news_list name=nclist start=1#}
				<li><span>{#$smarty.section.nclist.index#}</span><a href="{#$news_list[nclist].url#}" class="underline" target="_blank">{#$news_list[nclist].title#}</a></li>
				{#/section#}
			</ol>
		</div>
	</div>
	<!-- 列表-职场资讯结束 -->
	<!-- 列表-友情链接 -->
	<div class="index-data-wrap">
		<div class="blue-line"></div>
		<div class="data-title-box clearfix">
			<h4 class="f-left">リンク<span>Friendly Link</span></h4>
			<a href="{#$HIGHWAY.site_dir#}link/add_link.php" target="_blank"  class="f-right underline">アプリケーション>></a>
		</div>
		<div class="friendly-link">
			{#highway_link set="列表名:link,显示数目:100,调用名称:HW_index,类型:1"#}
			{#foreach from=$link item=list#}
			<a href="{#$list.link_url#}" target="_blank" class="underline">{#$list.title#}</a>
			{#/foreach#}
		</div>
		{#highway_link  set="列表名:imglink,显示数目:14,调用名称:HW_index,类型:2"#}
		{#if $imglink#}
		<div class="link_img">
			{#foreach from=$imglink  item=list#}
			<div class="l_img"><a href="{#$list.link_url#}" target="_blank"><img src="{#$list.link_logo#}" alt="{#$list.title#}" border="0"/></a> </div>
			{#/foreach#}
			<div class="clear"></div>
		</div>
		{#/if#}
		</div>
	<!-- 列表-友情链接结束 -->
</div>
<!-- 主体结束 -->
{#include file="footer.htm"#}
</body>
</html>
