<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$smarty.get.key#} - 资讯中心 - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$smarty.get.key#} 资讯中心">
<meta name="keywords" content="{#$smarty.get.key#} 资讯中心">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="edge"><meta name="renderer" content="webkit">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/news.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".search_news").click(function(){
		var key = $("#key").val();
		news_search_location(key);
	});
	function news_search_location(key)
	{
		$("body").append('<div id="pageloadingbox">页面加载中....</div><div id="pageloadingbg"></div>');
		$("#pageloadingbg").css("opacity", 0.5);
		$.get("{#$QISHI.site_dir#}plus/ajax_search_location.php", {"act":"QS_newssearch","key":key},
				function (data,textStatus)
				 {
					 window.location.href=data;
				 }
			);
	}
});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_news"|qishi_url#}">新闻资讯</a>&nbsp;>&nbsp;搜索结果
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		
		<!-- 左边内容 -->
		<div class="left_area">
			<div class="left_tit_box">
				<h5>{#$smarty.get.key#}</h5>
			</div>
			<div class="company_list">
				<div class="com_container">
					<!-- 列表 -->
					<div class="news">
						<ul>
							{#qishi_news_list set="列表名:news,列表页:QS_newssearch,显示数目:10,标题长度:35,关键字:GET[key],分页显示:1,标题长度:35,摘要长度:100,填补字符:...,排序:article_order>desc"#}
							{#foreach from=$news item=list#}
							<li>
								<div class="new_tit s"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></div>
								<p>发布时间：{#$list.addtime|date_format:"%Y-%m-%d"#} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>浏览次数：{#$list.click#}</span></p>
								<p>{#$list.briefly#}<a href="{#$list.url#}">[查看全文]</a></p>
							</li>
							{#/foreach#}
						</ul>
					</div>
					{#if $page#}
					<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		              <tr>
		                <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		              </tr>
		          </table>
		          {#/if#}
				</div>
			</div>
		</div>
		<!-- 右边内容 -->
		<div class="right_area">
			<div class="right_search">
				<!-- <input type="text" class="input_text_180" name="key" id="key" value="{#$smarty.get.key#}"/>
				<input type="button" value="搜索" class="but70lan search_news" /> -->
				<div class="news_search"><input type="text" name="key" id="key" value="{#$smarty.get.key#}" /></div>
				<button class="news_sreach_but search_news">搜索</button>
			</div>
			
			<div class="clear"></div>
			<div class="right_box">
				<div class="title_box">
					<h5>资讯分类</h5>
				</div>
				<div class="list">
					<ul class="sort">
						{#qishi_news_category set="列表名:categorylist,名称长度:7,资讯大类:1"#}
						{#section loop=$categorylist name=list#}
						<li {#if $smarty.section.list.index%2>0#}class="s"{#/if#}><a href="{#$categorylist[list].url#}" {#if $category.id==$categorylist[list].id#}class="select"{#/if#}>{#$categorylist[list].categoryname#}</a></li>
						{#/section#}
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<div class="right_box">
				<div class="title_box">
					<h5>热点推荐</h5>
				</div>
				<div class="list">
					<ol class="hot">
						{#qishi_news_list set="列表名:news,显示数目:7,属性:4,标题长度:16,排序:article_order>desc"#}
						{#section loop=$news name=list#}
						<li class="hot{#$smarty.section.list.index#}"><a href="{#$news[list].url#}" target="_blank">{#$news[list].title#}</a></li>
						{#/section#}
					</ol>
				</div>
			</div>
			<div class="right_box">
				<div class="title_box">
					<h5>最新资讯</h5>
				</div>
				<div class="list">
					<ul class="newest">
						{#qishi_news_list set="列表名:news,显示数目:7,标题长度:16,排序:id>desc"#}
						{#foreach from=$news item=list#}
						<li><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
						{#/foreach#}
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
	{#include file="footer.htm"#}
</body>
</html>