{#qishi_notice_show set="列表名:show,公告ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$show.title#} - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$show.description#}">
<meta name="keywords" content="{#$show.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/news.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
		var id="{#$smarty.get.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_click.php", { "id": id,"time":tsTimeStamp,"act":"notice_click"},
			function (data,textStatus)
			 {			
				$("#click").html(data);
			 }
		);
});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
{#qishi_news_category set="列表名:category,名称长度:10,资讯小类:"|cat:$show.type_id#}
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_noticelist,id:1"|qishi_url#}">网站公告</a>&nbsp;>&nbsp;正文
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		
		<!-- 左边内容 -->
		<div class="left_area">
			<div class="news_box">
				<div class="com_container">
					<div class="title">{#$show.title#}</div>
					<div class="news_dateil">
						<div class="time">{#$show.addtime|date_format:"%Y-%m-%d %H:%M"#}</div>
						<div class="time">查看：<span id="click"></span> 次</div>
						<div><a href="javascript:window.print();">[打印]</a><a href="javascript:void(0);" onclick="window.external.addFavorite(parent.location.href,document.title);">[收藏]</a></div>
						<div class="clear"></div>
					</div>
					<div class="news_txt">
						<p>{#$show.content#}</p>
						<div class="share">
							<!-- Baidu Button BEGIN -->
						    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
						        <a class="bds_qzone"></a>
						        <a class="bds_tsina"></a>
						        <a class="bds_tqq"></a>
						        <a class="bds_renren"></a>
						        <span class="bds_more">更多</span>
						    </div>
						<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=659075" ></script>
						<script type="text/javascript" id="bdshell_js"></script>
						<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
						</script>
						<div class="clear"></div>	
						<!-- Baidu Button END -->
						</div>
						<div class="clear"></div>
					</div>
					
				</div>
			</div>

		</div>
		<!-- 右边内容 -->
		<div class="right_area">
			<div class="right_box">
				<div class="title_box">
					<h5>最新职位</h5>
				</div>
				<div class="list">
					<ul class="newest">
						{#qishi_jobs_list set="列表名:jobslist,显示数目:5,职位名长度:14,填补字符:...,排序:rtime>desc"#}
						{#foreach from=$jobslist item=list#}
						<li><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a></li>
						{#/foreach#}
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
	{#include file="footer.htm"#}
</body>
</html>