<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#if $smarty.get.jobcategory#}{#"QS_jobs,jobcategory:"|cat:$smarty.get.jobcategory|qishi_categoryname#} - {#/if#}{#if $smarty.get.trade#}{#"QS_trade,trade:"|cat:$smarty.get.trade|qishi_categoryname#} - {#/if#}{#if $smarty.get.citycategory#}{#"QS_district,"|cat:$smarty.get.citycategory|qishi_categoryname#} - {#/if#}{#if $smarty.get.experience#}{#"QS_experience,"|cat:$smarty.get.experience|qishi_categoryname#} - {#/if#}{#if $smarty.get.resumetag#}{#"QS_resumetag,"|cat:$smarty.get.resumetag|qishi_categoryname#} - {#/if#}{#if $smarty.get.education#}{#"QS_education,"|cat:$smarty.get.education|qishi_categoryname#} - {#/if#}{#if $smarty.get.sex=="1"#}男 - {#/if#}{#if $smarty.get.sex=="2"#}女 - {#/if#}{#if $smarty.get.photo=="1"#}有照片 - {#/if#}{#if $smarty.get.photo=="0"#}无照片 - {#/if#}{#if $smarty.get.talent=="1"#}普通简历 - {#/if#}{#if $smarty.get.talent=="2"#}高级简历 - {#/if#}{#if $smarty.get.settr#}{#$smarty.get.settr#}天内 - {#/if#}简历列表  - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$QISHI.site_name#}人才信息,人才简历">
<meta name="keywords" content="{#$QISHI.site_name#}人才信息，高级人才，求职信息，推荐人才">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/resume.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.resume-search.js" type='text/javascript'></script>
<script src="{#$QISHI.site_template#}js/jquery.resume-list.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		allaround("{#$QISHI.site_dir#}");
	    // 职位类别填充数据 
		job_filldata("#job_list", QS_jobs_parent, QS_jobs, "#result-list-job", "#aui_outer_job", "#job_result_show", "#jobcategory", "{#$QISHI.site_dir#}");
		// 所属行业填充数据
		trade_filldata("#trad_list", QS_trade, "#aui_outer", "#result-list-trade", "#trade_result_show", "#trade", "{#$QISHI.site_dir#}");
		// 工作地区填充数据
		city_filldata("#city_list", QS_city_parent, QS_city, "#result-list-city", "#aui_outer_city", "#city_result_show", "#citycategory", "{#$QISHI.site_dir#}");
		// 专业类别填充数据
		major_filldata("#major_list", QS_major_parent, QS_major, "#major_tabnav", "#aui_outer_major", "#result-list-major", "#major_result_show", "#major", "{#$QISHI.site_dir#}");
		//收藏简历
		allfavorites("{#$QISHI.site_dir#}");
		//下载简历
		$(".collect").click(function(){
			var id=$(this).attr("resume_id");
			var tsTimeStamp= new Date().getTime();
			var url_="{#$QISHI.site_dir#}user/user_download_resume.php?id="+id+"&act=download&t="+tsTimeStamp;
			var myDialog = dialog();
			myDialog.title('下载联系方式');
			myDialog.content("加载中...");
			myDialog.width('500');
			myDialog.showModal();
			$.get(url_, function(data){
				myDialog.content(data);
				/* 关闭 */
				$(".DialogClose").live('click',function() {
					myDialog.close().remove();
				});
			});
		});


		$('.list-item-ctrl').each(function(){
			if ($(this).hasClass('ishow')) {
				$(this).parent().next().show();
			};
			$(this).on('click', function(){
				if ($(this).hasClass('ishow')) {
					$(this).removeClass('ishow');
					$(this).parent().next().hide();
					$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
				}else{
					$(this).addClass('ishow');
					$(this).parent().next().show();
					$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
				};
			});
		});
		$(".tab-list").die().live('click', function(event) {
			$(this).addClass('select');
			$(".tab-detail").removeClass('select');
			$('.list-item-ctrl').removeClass('ishow');
			$(".info-list-detail").hide();
			$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
		});
		$(".tab-detail").die().live('click', function(event) {
			$(this).addClass('select');
			$(".tab-list").removeClass('select');
			$('.list-item-ctrl').addClass('ishow');
			$(".info-list-detail").show();
			$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
		});
		$("#infolists .infolist-row:last").css("border-bottom","none");
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_resume"|qishi_url#}">求职信息</a>
</div>
<div class="container">
	<div id="filterSearch">
		<div class="search-tab clearfix">
			<a href="{#"QS_resumelist"|qishi_url#}" class="s-tab-item f-left active">简历搜索</a>
		</div>
		<div class="top-search clearfix">
			<div class="t-search-box f-left">
				<div class="type-input-box f-left" id="hidden_input_box">
					<div class="key">{#$smarty.get.key|default:"请输入关键字"#}</div>
					<input type="text" name="key" id="key" value="{#$smarty.get.key#}" style="display:none;"/>
					<input name="jobcategory" id="jobcategory" type="hidden" value="{#$smarty.get.jobcategory#}" />
					<input name="trade" id="trade" type="hidden" value="{#$smarty.get.trade#}" />
					<input name="citycategory" id="citycategory" type="hidden" value="{#$smarty.get.citycategory#}"/>
					<input name="major" id="major" type="hidden" value="{#$smarty.get.major#}" />
					<input name="experience" id="experience" type="hidden" value="{#$smarty.get.experience#}"/>
					<input name="resumetag" id="resumetag" type="hidden" value="{#$smarty.get.resumetag#}"/>
					<input name="education" id="education" type="hidden" value="{#$smarty.get.education#}"/>
					<input name="sex" id="sex" type="hidden" value="{#$smarty.get.sex#}"/>
					<input name="photo" id="photo" type="hidden" value="{#$smarty.get.photo#}"/>
					<input name="talent" id="talent" type="hidden" value="{#$smarty.get.talent#}"/>
					<input name="settr" id="settr" type="hidden" value="{#$smarty.get.settr#}"/>
				</div>
			</div>
			<div class="t-search-btn f-left"><input type="button" detype="QS_resumelist" id="searcnbtn" value="搜&nbsp;索" /></div>
		</div>
		<div class="fliter-wrap">
			<div class="filter-drop clearfix">
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="job_result_show">选择意向职位</span><i class="choose-icon"></i>
							<!-- 职位类别弹出框 -->
							<div class="aui_outer" id="aui_outer_job">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content" style="padding: 0px;">
																		<div class="LocalDataMultiC">
																			<div class="selector-header"><span class="selector-title">职位选择</span><div></div><span id="jb-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="ars" class="text-warning">0</strong> 项</div><div id="result-list-job" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="data-row-list data-row-main" id="job_list">
																				<!-- 列表内容 -->
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 职位类别弹出框 End-->
						</div>
					</div>
				</div>
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="trade_result_show">选择意向行业</span><i class="choose-icon"></i>
							<!-- 所属行业弹出框 -->
							<div class="aui_outer" id="aui_outer">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content">
																		<div class="items jquery-localdata">
																			<div class="selector-header"><span class="selector-title">行业选择</span><div></div><span id="tr-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arstrade" class="text-warning">0</strong> 项</div><div id="result-list-trade" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="item-table">
																				<table class="options-table options-table-7">
																					<tbody class="item-list"><tr><td class="bno"><table><tbody id="trad_list">
																						<!-- 列表内容 -->
																					</tbody></table></td></tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 所属行业弹出框 End-->
						</div>
					</div>
				</div>
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="city_result_show">选择意向地区</span><i class="choose-icon"></i>
							<!-- 工作地区弹出框 -->
							<div class="aui_outer" style="left:-396px;" id="aui_outer_city">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content" style="padding: 0px;">
																		<div class="LocalDataMultiC" style="width:623px;">
																			<div class="selector-header"><span class="selector-title">地区选择</span><div></div><span id="ct-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side data-row-side-c">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arscity" class="text-warning">0</strong> 项</div><div id="result-list-city" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="data-row-list data-row-main" id="city_list">
																				<!-- 列表内容 -->
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 工作地区弹出框 End-->
						</div>
					</div>
				</div>
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="major_result_show">选择专业类别</span><i class="choose-icon"></i>
							<!-- 专业类别弹出框 -->
							<div class="aui_outer" style="left:-445px;" id="aui_outer_major">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content">
																		<div class="items jquery-localdata">
																			<div class="selector-header"><span class="selector-title">专业类别</span><div></div><span id="mj-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arsmajor" class="text-warning">0</strong> 项</div><div id="result-list-major" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<ul class="tabnav" id="major_tabnav"></ul>

																			<div class="item-table majorbb">
																				<table class="options-table options-table-7">
																					<tbody class="item-list"><tr><td class="bno"><table id="major_list"></table></td></tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 专业类别弹出框 End-->
						</div>
					</div>
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">工作经验：</div>
				<div class="fl-content r-choice f-left">
					{#qishi_get_classify set="列表名:experience,类型:QS_experience,显示数目:100"#}
					{#foreach from=$experience item=list#}
					<div class="fl-content-li{#if $list.id == $smarty.get.experience#} select{#/if#}" type="experience" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">特长标签：</div>
				<div class="fl-content f-left forShowMore" id="fliterMore">
					{#qishi_get_classify set="列表名:resumetag,类型:QS_resumetag,显示数目:100"#}
					{#foreach from=$resumetag item=list#}
					<div class="fl-content-li" type="resumetag" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
					<a href="javascript:;" class="show-more">展开</a>
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">更多筛选：</div>
				<div class="fl-content f-left">
					<div class="saixuan{#if $smarty.get.education#} selected{#/if#}">
						{#qishi_get_classify set="列表名:c_education,类型:QS_education"#}
						<div class="saixuans">
							<div class="line"></div>
							{#foreach from=$c_education item=list#}
							<a defvalue="{#$list.id#}"{#if $list.id == $smarty.get.education#} class="select"{#/if#} type="education" href="javascript:;">{#$list.categoryname#}</a>
							{#/foreach#}
						</div>
						最高学历
					</div>
					<div class="saixuan{#if $smarty.get.sex#} selected{#/if#}">
						<div class="saixuans">
							<div class="line"></div>
							<a defvalue="1"{#if $smarty.get.sex == 1#} class="select"{#/if#} type="sex" href="javascript:;">男</a>
							<a defvalue="2"{#if $smarty.get.sex == 2#} class="select"{#/if#} type="sex" href="javascript:;">女</a>
						</div>
						性别要求
					</div>
					<div class="saixuan{#if $smarty.get.photo#} selected{#/if#}">
						<div class="saixuans">
							<div class="line"></div>
							<a defvalue="1"{#if $smarty.get.photo == 1#} class="select"{#/if#} type="photo" href="javascript:;">有</a>
							<a defvalue="0"{#if $smarty.get.photo == 0#} class="select"{#/if#} type="photo" href="javascript:;">无</a>
						</div>
						简历照片
					</div>
					<div class="saixuan{#if $smarty.get.talent#} selected{#/if#}">
						<div class="saixuans">
							<div class="line"></div>
							<a defvalue="1"{#if $smarty.get.talent == 1#} class="select"{#/if#} type="talent" href="javascript:;">普通</a>
							<a defvalue="2"{#if $smarty.get.talent == 2#} class="select"{#/if#} type="talent" href="javascript:;">高级</a>
						</div>
						简历等级
					</div>
					<div class="saixuan{#if $smarty.get.settr#} selected{#/if#}">
						<div class="saixuans">
							<div class="line"></div>
							<a defvalue="3"{#if $smarty.get.settr == 3#} class="select"{#/if#} type="settr" href="javascript:;">3天内</a>
							<a defvalue="7"{#if $smarty.get.settr == 7#} class="select"{#/if#} type="settr" href="javascript:;">7天内</a>
							<a defvalue="15"{#if $smarty.get.settr == 15#} class="select"{#/if#} type="settr" href="javascript:;">15天内</a>
							<a defvalue="30"{#if $smarty.get.settr == 30#} class="select"{#/if#} type="settr" href="javascript:;">30天内</a>
						</div>
						更新时间
					</div>
				</div>
			</div>
		</div>
		<div class="fliter-result clearfix" id="has_result">
			<div class="fr-type f-left">已选条件：</div>
			<div class="fr-content f-left rl">
			{#if $smarty.get.key#}
				<div class="has-select-item f-left" type="key">{#$smarty.get.key#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.jobcategory#}
				<div class="has-select-item f-left" type="jobcategory">意向职位<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.trade#}
				<div class="has-select-item f-left" type="trade">意向行业<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.citycategory#}
				<div class="has-select-item f-left" type="citycategory">意向地区<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.major#}
				<div class="has-select-item f-left" type="major">专业类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.experience#}
				{#qishi_get_classify set="列表名:c_experience,类型:QS_experience"#}
				{#foreach from=$c_experience item=list#}
				{#if $list.id == $smarty.get.experience#}
					<div class="has-select-item f-left" type="experience">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.resumetag#}
				<div class="has-select-item f-left" type="resumetag">特长标签<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.education#}
				{#qishi_get_classify set="列表名:c_education,类型:QS_education"#}
				{#foreach from=$c_education item=list#}
				{#if $list.id == $smarty.get.education#}
					<div class="has-select-item f-left" type="education">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.sex#}
				<div class="has-select-item f-left" type="sex">{#if $smarty.get.sex == 1#}男{#elseif $smarty.get.sex == 2#}女{#/if#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.photo#}
				<div class="has-select-item f-left" type="photo">{#if $smarty.get.photo == 1#}有照片{#elseif $smarty.get.photo == 0#}无照片{#/if#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.talent#}
				<div class="has-select-item f-left" type="talent">{#if $smarty.get.talent == 1#}普通简历{#elseif $smarty.get.talent == 2#}高级简历{#/if#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.settr#}
				<div class="has-select-item f-left" type="settr">{#if $smarty.get.settr == 3#}3天内{#elseif $smarty.get.settr == 7#}7天内{#elseif $smarty.get.settr == 15#}15天内{#elseif $smarty.get.settr == 30#}30天内{#/if#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			</div>
			<div class="fliter-clear f-right" id="clear_all_selected"><a href="javascript:;" class="clear-link">清空所选</a></div>
		</div>
	</div>
</div>
<!-- 人才列表 -->
{#qishi_resume_list set="列表名:resume,分页显示:1,显示数目:GET[inforow],特长描述长度:130,填补字符:...,关键字:GET[key],职位分类:GET[jobcategory],行业:GET[trade],地区分类:GET[citycategory],专业:GET[major],工作经验:GET[experience],标签:GET[resumetag],学历:GET[education],性别:GET[sex],照片:GET[photo],等级:GET[talent],日期范围:GET[settr],排序:rtime>desc"#}
<div class="jobinfolists">
	<div class="tit">
		<div class="seq f-left"><span>排序</span>
			<a href="{#"sort:rtime-page:1-key:"|qishi_parse_url#}" class="seq-item {#if $smarty.get.sort=='' || $smarty.get.sort=='rtime-page'#}selected{#/if#} time">更新时间</a>
		</div>
		<div class="pagerow">
			<div class="pageminnav">{#$pagemin#}</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="infolists" id="infolists">
		<div class="infolists-head clearfix">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="收藏简历" class="all-down-btn allfavorites" /></div>
			<div class="list-tab f-right">
				<a href="javascript:;" class="tab-item tab-list select">列表</a>
				<a href="javascript:;" class="tab-item tab-detail">详细</a>
			</div>
		</div>
		{#if $resume#}
		<div class="info-list-wrap">
			{#foreach from=$resume item=list#}
			<div class="infolist-row">
				<div class="info-list-block resume clearfix">
					<div class="list-item item1 f-left">
						<span><input type="checkbox" name="jid" value="{#$list.id#}" class="checkbox" /><a href="{#$list.resume_url#}" class="underline">{#if $list.checked#}<font color='#800080'>{#$list.fullname#}</font>{#else#}{#$list.fullname#}{#/if#}</a></span>
						{#if $list.photo=="1"#}<i class="resume-auth pic" title="照片认证"></i>{#/if#}
						{#if $list.is_audit_mobile=="1"#}<i class="resume-auth phone" title="手机认证"></i>{#/if#}
					</div>
					<div class="list-item item2 f-left">{#$list.sex_cn#}</div>
					<div class="list-item item3 f-left">{#$list.age#}岁</div>
					<div class="list-item item4 f-left">{#$list.education_cn#}</div>
					<div class="list-item item5 f-left">{#$list.experience_cn#}</div>
					<div class="list-item item6 f-left">{#$list.district_cn#}</div>
					<div class="list-item item7 f-left" style="font-family:微软雅黑;">{#$list.wage_cn#}</div>
					<div class="list-item item8 f-left">{#$list.refreshtime_cn#}</div>
					<a href="javascript:;" class="list-item-ctrl f-left"></a>
				</div>
				<div class="info-list-detail clearfix">
					<div class="info-text f-left">
						<p>专业：{#$list.major_cn#} | 期望工作性质：{#$list.nature_cn#} | 目前求职状态：{#$list.current_cn#}</p>
						<div>期望从事行业：{#$list.trade_cn_#} | 期望从事岗位：{#$list.intention_jobs_#}</div>
					</div>
					<div class="info-control f-left">
						<input resume_id="{#$list.id#}" type="button" value="下载简历" class="apply-job-btn collect" />	
						<p><a href="javascript:;" resume_id="{#$list.id#}" class="collect-btn add_favoritesr"></a></p>
					</div>
				</div>
			</div>
			{#/foreach#}
		</div>
		<div class="infolists-head clearfix" style="border-top:1px solid #cccccc;border-bottom:none;">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="收藏简历" class="all-down-btn allfavorites" /></div>
		</div>
		{#if $page#}
		<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
			<tr>
				<td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
			</tr>
		</table>
		{#/if#}
		{#else#}
		<div class="emptytip">抱歉，没有符合此条件的信息！</div>
		{#/if#}
	</div>
</div>
{#include file="footer.htm"#}
</body>
</html>