<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#if $smarty.get.streetid#}{#"QS_street,"|cat:$smarty.get.streetid|qishi_categoryname#}{#else#}按道路搜索{#/if#}  - 职位列表  - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$QISHI.site_name#} - 按道路搜索 - 招聘岗位">
<meta name="keywords" content="{#$QISHI.site_name#},职位信息">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="edge"><meta name="renderer" content="webkit">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.highlight-3.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.jobs-street-list.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.cookie.js" type='text/javascript'></script>
<script type="text/javascript">
$(document).ready(function()
{
	//详细下拉
	$('.list-item-ctrl').each(function(){
		if ($(this).hasClass('ishow')) {
			$(this).parent().next().show();
		};
		$(this).on('click', function(){
			if ($(this).hasClass('ishow')) {
				$(this).removeClass('ishow');
				$(this).parent().next().hide();
				$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
			}else{
				$(this).addClass('ishow');
				$(this).parent().next().show();
				$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
			};
		});
	});
	allaround("{#$QISHI.site_dir#}");
	jobslist();
	// 合并公司职位弹出
	$(".mjob_name").hover(function(){
		$(this).find(".merger_job_info").show();
	}, function(){
		$(this).find(".merger_job_info").hide();
	})
	//
	var mode= $.cookie('mode');
	if(mode==1)
	{
		$('#list').removeClass('select');
		$('#detail').addClass('select');
		$(".xiala").addClass("ishow");
		$(".txt_detail").show();
	}
	else
	{
		$('#detail').removeClass('select');
		$('#list').addClass('select');
		$(".xiala").removeClass("ishow");
		$(".txt_detail").hide();
	}
	$(".tab-list").die().live('click', function(event) {
		$(this).addClass('select');
		$(".tab-detail").removeClass('select');
		$('.list-item-ctrl').removeClass('ishow');
		$(".info-list-detail").hide();
		$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
	});
	$(".tab-detail").die().live('click', function(event) {
		$(this).addClass('select');
		$(".tab-list").removeClass('select');
		$('.list-item-ctrl').addClass('ishow');
		$(".info-list-detail").show();
		$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
	});
	$(".infolists .merger_com_box:last").css({"border-bottom":"0"});
	//单个职位  下拉显示
	$(".xiala").click(function(){
		if($(this).hasClass("ishow")) {
			$(this).parent().next().hide();
			$(this).removeClass("ishow");
		} else {
			$(this).parent().next().show();
			$(this).addClass("ishow");
		}
	});
	$("#infolists .infolist-row:last").css("border-bottom","none");
	//申请职位
	apply_jobs("{#$QISHI.site_dir#}");
	// 收藏职位
	favorites("{#$QISHI.site_dir#}");
	// 合并公司
	var com_list= $.cookie('com_list');
	if(com_list ==1)
	{
		$("#merge_com_btn").attr("checked",true);
	}
	
	$("#merge_com_btn").click(function(){
		generateBackground();
		if($(this).attr('checked')){
			$.cookie('com_list','1');
			window.location.reload();

		} else {
			$.cookie("com_list", null); 
			window.location.reload();
		}
	})
	$(".jobinfolists .tit .sort a").click(function(event) {
		generateBackground();
	});
	$("#infolists .list:last").css("border-bottom","none");
	// 正在加载
	function generateBackground() {
		var backgroundHtm = '<div id="bonfire-pageloader"><div class="bonfire-pageloader-icon"></div></div>';
		var html = jQuery('body');
		html.append(backgroundHtm);
		jQuery(window).resize(function(){
			 resizenow();
		});
		function resizenow() {
			var browserwidth = jQuery(window).width();
			var browserheight = jQuery(window).height();
			jQuery('.bonfire-pageloader-icon').css('right', ((browserwidth - jQuery(".bonfire-pageloader-icon").width())/2)).css('top', ((browserheight - jQuery(".bonfire-pageloader-icon").height())/2 + $(document).scrollTop() - 109));
		};
		resizenow();
	}
});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.index_url#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>&nbsp;>&nbsp;按道路搜索
</div>
<div class="container">
	<div id="filterSearch">
		<div class="search-tab clearfix">
			<a href="{#"QS_jobslist"|qishi_url#}" class="s-tab-item f-left">高级搜索</a>
			<a href="{#"QS_street"|qishi_url#}" class="s-tab-item f-left active">道路搜索</a>
		</div>
		<div class="fliter-wrap fwnob">
			<input type="hidden" detype="QS_street" id="searcnbtn" value="搜&nbsp;索" />
			<input type="hidden" name="sort" id="sort" value="{#$smarty.get.sort#}">
			<input type="hidden" name="page" id="page" value="{#$smarty.get.page#}">
			<input type="hidden" name="streetid" id="streetid" value="{#$smarty.get.streetid#}">
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">字母检索：</div>
				<div class="fl-content r-choice f-left" id="street_letter"></div>
			</div>
			<div class="filter-list-wrap clearfix abline">
				<div class="fl-type f-left streetkeytext">关键字检索：</div>
				<div class="fl-content r-choice f-left streetkey">
					<div class="keyboxtag"><input name="key" id="key" type="text" /></div>
					<div class="keysub"><a class="se" href="javascript:;" id="sosub">搜索</a></div>
				</div>
				<div class="line"></div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">热门道路：</div>
				<div class="fl-content r-choice f-left" id="show_street">
					{#qishi_get_classify set="列表名:c_jobs,类型:QS_street,显示数目:30"#}
					{#foreach from=$c_jobs item=li#}
					<div class="fl-content-li{#if $li.c_id == $smarty.get.streetid#} select{#/if#}" type="streetid" code="{#$li.c_id#}">{#$li.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
		</div>
	</div>
</div>
<!--职位列表 -->
{#qishi_jobs_list  set="分页显示:1,列表名:jobslist,列表页:QS_street,填补字符:...,职位名长度:13,合并:$smarty.cookie.com_list,企业名长度:19,描述长度:135,道路:GET[streetid],排序:GET[sort]"#}
<div class="jobinfolists">
	<div class="tit">
		<div class="sort">
			<span class="job_list_type">排序</span>
			<a href="{#"QS_street,sort:-page:1-streetid:"|cat:$smarty.get.streetid|qishi_url#}" {#if $smarty.get.sort==""#}class="slect"{#/if#}>综合排序</a>
			<a href="{#"QS_street,sort:rtime-page:1-streetid:"|cat:$smarty.get.streetid|qishi_url#}" {#if $smarty.get.sort=="rtime"#}class="slect"{#/if#}>更新时间</a>
			{#if $smarty.get.key==""#}
			<a href="{#"QS_street,sort:wage-page:1-streetid:"|cat:$smarty.get.streetid|qishi_url#}" {#if $smarty.get.sort=="wage"#}class="slect"{#/if#}>薪资待遇</a>
			{#/if#}
		</div>
		<div class="sort">
			<span class="job_list_type">筛选</span>
			<label class="merger_company"><input type="checkbox" name="" id="merge_com_btn" /> 合并公司</label>
		</div>
		<div class="pagerow">
			<div class="pageminnav">{#$pagemin#}</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="infolists" id="infolists">
		<div class="infolists-head clearfix">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="申请职位" class="all-down-btn deliver" /></div>
			<div class="all-ctrl f-left"><a href="javascript:;" class="collect-link collecter">收藏职位</a></div>
			{#if $smarty.cookie.com_list!='1'#}
			<div class="list-tab f-right">
				<a href="javascript:;" id="list" class="tab-item tab-list">列表</a>
				<a href="javascript:;" id="detail" class="tab-item tab-detail">详细</a>
			</div>
			{#/if#}
		</div>
		{#if $jobslist#}
		<div class="info-list-wrap">
			{#foreach from=$jobslist item=list#}
			{#if $smarty.cookie.com_list=='1'#}
			<!-- 合并公司 -->
			<div class="merger_com_box">
				<h2><a href="{#$list.0.company_url#}" target="_black">{#$list.0.companyname#}</a> 
					{#if $list.0.company_audit=="1"#}
					<img src="{#$QISHI.site_template#}images/yan.gif" alt="" class="vtip" title="企业已认证"/>
					{#/if#}
				</h2>
				<div class="merger_job_list">
					{#foreach from=$list item=job_list#}
					<div class="merger_job_item clearfix">
						<div class="merger_job_type mjob_name">
							<div class="m_jobname_box">
								<input type="checkbox" name="jid" value="{#$job_list.id#}" class="checkbox" /><a target="_black" href="{#$job_list.jobs_url#}" class="mjob_name_link">{#$job_list.jobs_name#}</a>
								{#if $job_list.stick=="1"#}<img title="置顶信息" src="{#$QISHI.site_template#}images/ding.jpg" border="0" class="vtip"/>{#/if#}
					            {#if $job_list.emergency=="1"#}<img title="紧急招聘" src="{#$QISHI.site_template#}images/iconji.gif" border="0" class="vtip" />{#/if#}
					            {#if $job_list.recommend=="1"#}<img title="推荐职位" src="{#$QISHI.site_template#}images/iconjian.gif" border="0" class="vtip" />{#/if#}
					            {#if $job_list.graduate=="1"#}<img title="欢迎应届生投递简历" src="{#$QISHI.site_template#}images/ying.jpg" border="0" class="vtip"/>{#/if#}
					            <!-- 弹出框 -->
								<div class="merger_job_info">
									<div class="merger_sanjiao"></div>
									<div class="mjob_pop_top">
										<div class="pop_top_left">
											<h3><a target="_black" href="{#$job_list.company_url#}">{#$job_list.companyname#}</a>
												{#if $job_list.company_audit=="1"#}
						                      	<img src="{#$QISHI.site_template#}images/yan.gif" alt="" title="企业已认证" class="vtip" />
						                     	{#/if#}
											</h3>
											<div class="pop_job_name"><a target="_black" href="{#$job_list.jobs_url#}">{#$job_list.jobs_name#}</a></div>
										</div>
										<div class="pop_top_right">
											<input type="button" value="申请职位" jobs_id="{#$job_list.id#}" id="{#$job_list.id#}" class="merger_btn app_jobs" />
											<a href="javascript:void(0);" jobs_id="{#$job_list.id#}" class="pop_collect add_favorites">收藏</a>
										</div>
										<div class="clear"></div>
									</div>
									<div class="pop_job_description">
										<div class="description_item">职位类别：{#$job_list.category_cn#}</div>
										<div class="description_item">招聘人数：{#$job_list.amount#} 人</div>
										<div class="description_item">薪资待遇：{#$job_list.wage_cn#}</div>
										<div class="description_item">学历要求：{#$job_list.education_cn#}</div>
										<div class="description_item">工作经验：{#$job_list.experience_cn#}</div>
										<div class="description_item">工作地点：{#$job_list.district_cn#}</div>
										<div class="clear"></div>
									</div>
									<div class="pop_fuli">
										{#foreach from=$job_list.tag_cn item=tag_list#}
						                <span class="pop_fuli_item">{#$tag_list#}</span>
						                {#/foreach#}
									</div>
									<div class="pop_job_detail">
										<p>岗位职责：</p>
										<p>
											{#$job_list.contents#}
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="merger_job_type mjob_area">地区：{#$job_list.district_cn#}</div>
						<div class="merger_job_type mjob_money">月薪： {#$job_list.wage_cn#}</div>
						<div class="merger_job_type mjob_xueli">经验：{#$job_list.experience_cn#}</div>
						<div class="merger_job_type mjob_exp">学历：{#$job_list.education_cn#}</div>
						<div class="merger_job_type mjob_time">{#$job_list.refreshtime_cn#}</div>
						<div class="clear"></div>
					</div>
					{#/foreach#}
					<div class="another_job link_lan">该企业共发布了 <span>{#$list.0.count#}</span> 个职位。<a target="_blank" href="{#$list.0.count_url#}">立即查看&gt;&gt;</a></div>
				</div>
			</div>
			<!-- 合并公司结束 -->
			{#else#}
			<!-- 职位模式 -->
			<div class="infolist-row">
				<div class="info-list-block job clearfix">
					<div class="list-item item1 f-left">
						<input type="checkbox" name="jid" value="{#$list.id#}" id="" class="checkbox" /><a href="{#$list.jobs_url#}" target="_blank" class="underline">{#$list.jobs_name#}</a>
						{#if $list.stick=="1"#}<img title="置顶信息" src="{#$QISHI.site_template#}images/ding.jpg" border="0" class="vtip"/>{#/if#}
						{#if $list.emergency=="1"#}<img title="紧急招聘" src="{#$QISHI.site_template#}images/iconji.gif" border="0" class="vtip" />{#/if#}
						{#if $list.recommend=="1"#}<img title="推荐职位" src="{#$QISHI.site_template#}images/iconjian.gif" border="0" class="vtip" />{#/if#}
						{#if $list.graduate=="1"#}<img title="欢迎应届生投递简历" src="{#$QISHI.site_template#}images/ying.jpg" border="0" class="vtip"/>{#/if#}
					</div>
					<div class="list-item item2 f-left"><a href="{#$list.company_url#}" target="_blank" class="underline job-company">{#$list.companyname#} {#if $list.company_audit=="1"#}<img src="{#$QISHI.site_template#}images/yan.gif" alt="已验证" />{#/if#}{#if $QISHI.operation_mode>="2" &&  $list.setmeal_id>1 #} <img src="{#$QISHI.site_dir#}data/setmealimg/{#$list.setmeal_id#}.gif" border="0" title="{#$list.setmeal_name#}" class="vtip" />{#/if#}</a></div>
					<div class="list-item item3 f-left"><span>{#$list.wage_cn#}</span></div>
					<div class="list-item item4 f-left">{#$list.district_cn#}</div>
					<div class="list-item item5 f-left">{#$list.refreshtime_cn#}</div>
					<a href="javascript:;" class="list-item-ctrl f-left"></a>
				</div>
				<div class="info-list-detail clearfix">
					<div class="info-text f-left">
						<p>学历要求：{#$list.education_cn|default:"不限"#}&nbsp;&nbsp;|&nbsp;&nbsp;工作经验：{#$list.experience_cn#}&nbsp;&nbsp;|&nbsp;&nbsp;职位性质：{#$list.nature_cn|default:"全职"#}&nbsp;&nbsp;|&nbsp;&nbsp;招聘人数：{#$list.amount#}人&nbsp;&nbsp;|&nbsp;&nbsp;性别要求：{#$list.sex_cn|default:"不限"#}</p>
						<div>岗位职责：{#$list.briefly#}</div>
					</div>
					<div class="info-control f-left">
						<input type="button" value="申请职位" jobs_id="{#$list.id#}" class="apply-job-btn app_jobs" />
						<p><a href="javascript:;" class="collect-btn add_favorites" jobs_id="{#$list.id#}"></a></p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- 职位模式结束 -->
			{#/if#}
			{#/foreach#}
		</div>
		<div class="infolists-head clearfix" style="border-top:1px solid #cccccc;border-bottom:none;">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="申请职位" class="all-down-btn deliver" /></div>
			<div class="all-ctrl f-left"><a href="javascript:;" class="collect-link collecter">收藏职位</a></div>
		</div>
			{#if $page#}
			<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
			        	<tr>
			          		<td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
			          	</tr>
	      		</table>
			{#/if#}
		{#else#}
		<div class="emptytip">抱歉，没有符合此条件的信息！</div>
		{#/if#}
	</div>
</div>
<script src="{#$QISHI.site_template#}js/jquery.jobs-list.js" type='text/javascript' ></script>
{#include file="footer.htm"#}
</body>
</html>