<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>フィードバック</title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link href="{#$HIGHWAY.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$HIGHWAY.site_template#}css/suggest.css" rel="stylesheet" type="text/css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$HIGHWAY.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
//验证
$(document).ready(function() {
$("#Form1").validate({
// debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
    feedback:{
   required: true
   },
   tel:{
   required: true
   },
   postcaptcha:{
    IScaptchastr: true,
    required: true,
    remote:{     
    url:"{#$HIGHWAY.site_dir#}include/imagecaptcha.php",     
    type:"post",    
    data:{"postcaptcha":function (){return $("#postcaptcha").val()},"act":"verify","time":function (){return new Date().getTime()}}     
    }
     }
  },
    messages: {
      feedback: {
    required: "请输入内容"
   },
   tel: {
    required: "请输入联系方式"
   },
   postcaptcha: {
    required: "请填写验证码",
  remote: jQuery.format("验证码错误")  
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
  }
    });
jQuery.validator.addMethod("IScaptchastr", function(value, element) {
  var str="点击获取验证码";
  var flag=true;
  if (str==value)
  {
  flag=false;
  }
  return  flag || this.optional(element) ;
  }, "请填写验证码");
function imgcaptcha(inputID,imgdiv)
{
  $(inputID).focus(function(){
    if ($(inputID).val()=="点击获取验证码")
    {
    $(inputID).val("");
    $(inputID).css("color","#333333");
    }
    $(inputID).parent("div").css("position","relative");
    //设置验证码DIV
    $(imgdiv).css({ position: "absolute", left:  $(inputID).width(), "bottom": "0px" , "z-index": "10", "background-color": "#FFFFFF", "border": "1px #A3C8DC solid","display": "none","margin-left": "15px"});
    $(imgdiv).show();
    if ($(imgdiv).html()=='')
    {
    $(imgdiv).append("<img src=\"{#$HIGHWAY.site_dir#}include/imagecaptcha.php?t={#$random#}\" id=\"getcode\" align=\"absmiddle\"  style=\"cursor:pointer; margin:3px;\" title=\"看不请验证码？点击更换一张\"  border=\"0\"/>");
    }
    $(imgdiv+" img").click(function()
    {
      $(imgdiv+" img").attr("src",$(imgdiv+" img").attr("src")+"1");
      $(inputID).val("");
      $("#Form1").validate().element("#postcaptcha"); 
    });
    $(document).unbind().click(function(event)
    {
      var clickid=$(event.target).attr("id");
      if (clickid!="getcode" &&  clickid!="postcaptcha")
      {
      $(imgdiv).hide();
      $(inputID).parent("div").css("position","");
      $(document).unbind();
      }     
    });
  });
}
imgcaptcha("#postcaptcha","#imgdiv");
});

</script>
</head>
<body {#if $HIGHWAY.body_bgimg#}style="background:url({#$HIGHWAY.site_domain#}{#$HIGHWAY.site_dir#}data/{#$HIGHWAY.updir_images#}/{#$HIGHWAY.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$HIGHWAY.site_dir#}">トップページ</a>>意见反馈
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="about_left">
			{#highway_explain_list set="列表名:explain,分类ID:1"#}
		      <h2 class="about_tit">会社概要</h2>
		      <ul>
		        {#foreach from=$explain item=list#}
		        <li><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
		        {#/foreach#}
				<li class="active"><a href="{#'HW_suggest'|highway_url#}">意见反馈</a></li>
		      </ul>
		</div>
		<div class="about_right">
			<div class="about_r_tit">
				意见反馈
			</div>
			<form action="suggest_submit.php" method="post" id="Form1" >
        <input type="hidden" name="input_token" value="{#$input_token#}">
			<div class="about_r_content">
				<table>
					<tbody>
						<tr height="50">
							<td>意見タイプ：</td>
							<td>
								<input type="radio" name="infotype" value="1"  checked="checked"/>&nbsp;<span>建议</span>
								<input type="radio" name="infotype" value="2" />&nbsp;<span>意见</span>
								<input type="radio" name="infotype" value="3" />&nbsp;<span>求助</span>
								<input type="radio" name="infotype" value="4" />&nbsp;<span>投诉</span>
							</td>
						</tr>
						<tr>
							<td valign="top">フィードバック内容：</td>
							<td><textarea name="feedback" id="feedback" placeholder="エラー提出し、提案されている情報は、詳細に記述しようとするので、私たちはより良い変更することができます！”></textarea></td>
						</tr>
						<tr height="50">
							<td>連絡先：</td>
							<td><input type="text" name="tel" id="tel" class="input_text_500" placeholder="「あなたと通信するために、あなたのQQ、Eメールまたは電話、あなたの情報はスタッフにのみ表示されます！」/></td>
						</tr>
						<tr height="50">
							<td>コード：</td>
							<td>
								<div>
								  <div id="imgdiv"></div>
								  <input  class="input_text_300" name="postcaptcha" id="postcaptcha" type="text" value="点击获取验证码" style="color:#999999"/>
								</div>
							</td>
						</tr>
						<tr height="50">
							<td>&nbsp;</td>
							<td><input type="submit" name="Submit" value=“提出” class="but150cheng" /></td>
						</tr>

					</tbody>
				</table>
			</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
{#include file="footer.htm"#}	
</body>
</html>
