{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip link_lan">
	<h2>提示：</h2>
	<p>
开启百度提交链接功能可以缩短百度爬虫发现您站点新链接的时间，使新发布的页面可以在第一时间被百度收录<br />
并且对于网站的最新原创内容，可以快速通知到百度，使内容可以在转发之前被百度发现<br />
请输入准入密钥并配置开启项，系统会在信息录入时自动把生成的链接地址发送给百度。<a href="http://zhanzhang.baidu.com/" target="_blank">现在就去申请</a>
</p>
</div>
<div class="toptit">配置</div>
  <form action="?act=setsave" method="post"  name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td width="150" align="right">准入密钥：</td>
      <td><input name="token" type="text"  class="input_text_200" id="token" value="{#$data.token#}" maxlength="16"/></td>
    </tr>
    <tr>
      <td align="right"  >职位：</td>
      <td >
     <label><input name="addjob" type="radio"   value="1" {#if $data.addjob=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addjob" value="0" {#if $data.addjob=="0"#}checked="checked"{#/if#}/>关闭</label>
    </td>
    </tr>
    <tr>
      <td align="right"  >简历：</td>
      <td >
     <label><input name="addresume" type="radio"   value="1" {#if $data.addresume=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addresume" value="0" {#if $data.addresume=="0"#}checked="checked"{#/if#} />关闭</label>
    </td>
    </tr>
    <tr>
      <td align="right"  >新闻资讯：</td>
      <td >
     <label><input name="addarticle" type="radio"   value="1" {#if $data.addarticle=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addarticle" value="0" {#if $data.addarticle=="0"#}checked="checked"{#/if#}/>关闭</label>
    </td>
    </tr>
    <tr>
      <td align="right"  >企业：</td>
      <td >
     <label><input name="addcompany" type="radio"   value="1" {#if $data.addcompany=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addcompany" value="0" {#if $data.addcompany=="0"#}checked="checked"{#/if#}/>关闭</label>
    </td>
    </tr>
    <tr>
      <td align="right"  >说明页：</td>
      <td >
     <label><input name="addexplain" type="radio"   value="1" {#if $data.addexplain=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addexplain" value="0" {#if $data.addexplain=="0"#}checked="checked"{#/if#}/>关闭</label>
    </td>
    </tr>
    <tr>
      <td align="right"  >公告：</td>
      <td >
     <label><input name="addnotice" type="radio"   value="1" {#if $data.addnotice=="1"#}checked="checked"{#/if#}/>开启</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
     <label ><input type="radio" name="addnotice" value="0" {#if $data.addnotice=="0"#}checked="checked"{#/if#}/>关闭</label>
    </td>
    </tr>
	      
	       <tr>
	         <td align="right">&nbsp;</td>
	         <td height="50"> 
	           <input name="submit" type="submit" class="admin_submit"    value="保存修改"/>             </td>
      </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>