<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--書き込む用データベース接続-->
  <database name="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=HPS;User ID=sa;Password=HpMfeOisg5Cu1Im/jYONXg=="/>
  <database name="MConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Master;User ID=sa;Password=HpMfeOisg5Cu1Im/jYONXg=="/>
  <!--语言-->
  <config name="language" value ="zh-CN"/>
  <!--自动更新-->
  <config name="autorefresh" value ="30"/>
  <!--历史记录-->
  <config name="ishistory" value ="false"/>
  <!--製品-->
  <config name="Product" value ="HPS"/>
  <!--许可-->
  <config name="Lic" value =""/>
  <!--Skin-->
  <config name="Skin" value =""/>
  <!--home page-->
  <config name="home" value ="http://www.highwayns.com/info/"/>
  <!--帮助中心-->
  <config name="helpcenter" value ="http://www.highwayns.com/"/>
  <!--系统更新-->
  <config name="upgradeurl" value ="ftp://ftp11.gmoserver.jp/"/>
  <config name="userName" value ="sd0442751.01@gmoserver.jp"/>
  <config name="password" value ="HpMfeOisg5Cu1Im/jYONXg=="/>
  <!--FTP杂志-->
  <config name="ftpserver" value ="ftp://ftp11.gmoserver.jp/"/>
  <config name="ftpuser" value ="sd0442751.02@gmoserver.jp"/>
  <config name="ftppassword" value ="HpMfeOisg5Cu1Im/jYONXg=="/>
  <!--服务-->
  <Remote name="Port" value ="8091"/>
  <Remote name="Name" value ="NC.HPS.Lib.CmWinServiceAPI"/>
  <Remote name="Ip" value ="127.0.0.1"/>
  <!--ログ-->  
  <log name="LogCount" value="16"/>
  <log name="LogSize" value="4096000"/>
  <log name="LogFile" value="Log"/>
  <log name="LogPath" value="C:\HPS\ManagerLOG"/>
  <log name="LogExt" value=".txt"/>
  <log name="LogLevel" value="2"/>
  <log name="IniPath" value="C:\HPS\ManagerLOG"/>
</configuration>

