{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
开启微商圈模块可能会有虚假、违法信息发布，请谨慎开启。<br />

</p>
</div>

	<div class="toptit">ウェイサングループの設置</div>
 
    <form action="?act=set_save" method="post" name="form1" id="form1">
 {#$inputtoken#}
    <table width="95%" border="0" cellspacing="5" cellpadding="1" style=" margin-bottom:3px;">	 
	<tr>
      <td width="200" align="right">新しいリリースマイクロ募集デフォルトの承認ステータス：</td>
      <td>
	  <label>
        <input name="simple_add_audit" type="radio" id="simple_add_audit" value="1"  {#if $config.simple_add_audit=="1"#}checked=checked {#/if#}/>承認</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label>
        <input name="simple_add_audit" type="radio" id="simple_add_audit" value="2"  {#if $config.simple_add_audit=="2"#}checked=checked {#/if#}/>審査中</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
<label>
        <input name="simple_add_audit" type="radio" id="simple_add_audit" value="3"  {#if $config.simple_add_audit=="3"#}checked=checked {#/if#}/>承認されていません</label></td>
    </tr>
		<tr>
      <td align="right">募集修正後審査状態は：</td>
      <td>
	  <label>
        <input name="simple_edit_audit" type="radio" id="simple_edit_audit" value="-1"  {#if $config.simple_edit_audit=="-1"#}checked=checked {#/if#}/>変更なし</label>
&nbsp;&nbsp;&nbsp;&nbsp;
	  <label>
        <input name="simple_edit_audit" type="radio" id="simple_edit_audit" value="1"  {#if $config.simple_edit_audit=="1"#}checked=checked {#/if#}/>承認</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label>
        <input name="simple_edit_audit" type="radio" id="simple_edit_audit" value="2"  {#if $config.simple_edit_audit=="2"#}checked=checked {#/if#}/>審査中</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
<label>
        <input name="simple_edit_audit" type="radio" id="simple_edit_audit" value="3"  {#if $config.simple_edit_audit=="3"#}checked=checked {#/if#}/>承認されていません</label></td>
    </tr>
	
 		
	<tr>
      <td align="right">電話リピート：</td>
      <td><label>
        <input name="simple_tel_repeat" type="radio" id="simple_tel_repeat" value="1"  {#if $config.simple_tel_repeat=="1"#}checked=checked {#/if#}/>繰り返しを可能にします</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label >
<input type="radio" name="simple_tel_repeat" value="0" id="simple_tel_repeat"  {#if $config.simple_tel_repeat=="0"#}checked=checked{#/if#}/>繰り返し禁止</label>
<span class="admin_note">電話番号は、迷惑メールを防ぐ繰り返し禁止</span>

</td>
	</tr>
	<tr>
      <td align="right">電話番号を変更します：</td>
      <td><label>
        <input name="simple_tel_edit" type="radio" id="simple_tel_edit" value="1"  {#if $config.simple_tel_edit=="1"#}checked=checked {#/if#}/>変更許可</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label >
<input type="radio" name="simple_tel_edit" value="0" id="simple_tel_edit"  {#if $config.simple_tel_edit=="0"#}checked=checked{#/if#}/>修正禁止</label>

<span class="admin_note">虚偽の情報をフィルタリングすることができる電話番号を変更しないでください</span>
</td>
	</tr>
		<tr>
	  <td align="right" valign="top">&nbsp;</td>
	  <td> 
	    <input name="submit" type="submit" class="admin_submit"    value="保存修改"/>	  </td>
	  </tr>
	  </table>
  </form>
	 
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
