{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
您可以关闭掉暂时不需要的模块，使系统更简洁。
</p>
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="link_lan" id="list" >
    <tr>
            <td width="50%" align="center"  class="admin_list_tit admin_list_first">名称</td>
            <td width="80%" align="center" class="admin_list_tit">操作</td>
    </tr>
		 {#foreach from=$plug item=li#}
          <tr>
      <td class="admin_list admin_list_first" align="center" style="color:#3366CC"> {#$li.plug_name#}{#if $li.p_install==2#}&nbsp;&nbsp;[<font color="green">已开启</font>]{#else#}&nbsp;&nbsp;[<font color="grey">未开启</font>]{#/if#} </td>
            <td align="center" class="admin_list">
				{#if $li.p_install==2#}
				<a href="?act=uninstall_plug&id={#$li.id#}&{#$urltoken#}" onclick="return confirm('你确定要关闭吗？')"><font color="red">关闭</font></a> 
				{#else#}
				<a href="?act=install_plug&id={#$li.id#}&{#$urltoken#}"><font color="blue">开启</font></a>
				{#/if#}				</td>
          </tr>
         
          {#/foreach#}
  </table>
  <table width="100%" height="100" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>