{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="safety/admin_safety_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
	验证码可以避免恶意注册及恶意发布，启用验证码会使得部分操作变得繁琐，建议仅在必需时打开
<br />
使用 TTF 字体作为验证码文字，把下载的 TTF 英文字体文件上传到 data/font/en 目录下，系统将随机使用里面的字体文件作为验证码的文字
<br />
使用中文图片验证码前，需要把包含完整中文汉字的 TTF 中文字体文件上传到 data/font/cn 目录下，系统将随机使用里面的字体文件作为验证码的文字
<br />

</p>
</div>

<div class="toptit">キャプチャ</div>
<script type="text/javascript" src="js/jquery.iColorPicker.js"></script>
<form action="?act=captcha_save" method="post"  name="form1" id="form1">
{#$inputtoken#}
	  <table width="90%" border="0" cellspacing="0" cellpadding="4"  >
        <tr>
          <td width="120" align="right">会員登録：</td>
          <td width="210">
		  <label> <input name="verify_userreg" type="radio" value="1" {#if $captcha.verify_userreg=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_userreg" type="radio" value="0" {#if $captcha.verify_userreg=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
		  
		  </td>
          <td rowspan="4" valign="top">
		  <span class="admin_note">登録は悪意のあるコードや悪意のある出版物を避け、キャプチャは操作の一部が複雑になり、必要な場合にのみ開くことが推奨されている</span><br />
		  <img src='../include/imagecaptcha.php?t={#$random#}' name="getcode" align="absmiddle"  style='cursor:pointer; margin:8px;' title="看不请验证码？点击更换一张" onclick="this.src='../include/imagecaptcha.php?t='+(new Date().getTime());" border="0"/>		  </td>
        </tr>
		<tr>
          <td align="right">メンバーログイン：</td>
          <td>
		  
		  <label> <input name="verify_userlogin" type="radio" value="1" {#if $captcha.verify_userlogin=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_userlogin" type="radio" value="0" {#if $captcha.verify_userlogin=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
		 
		 </td>
        </tr>
			<tr>
          <td align="right">求人情報を掲載：</td>
          <td>
		  
		   <label> <input name="verify_addjob" type="radio" value="1" {#if $captcha.verify_addjob=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_addjob" type="radio" value="0" {#if $captcha.verify_addjob=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
		
		{#if $captcha.verify_gifts<>""#}
		<tr>
          <td align="right">ギフトカードのチャージ：</td>
          <td>
		  
		   <label> <input name="verify_gifts" type="radio" value="1" {#if $captcha.verify_gifts=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_gifts" type="radio" value="0" {#if $captcha.verify_gifts=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
		{#/if#}
		
			<tr>
          <td align="right">公開再開：</td>
          <td>
		  
		   <label> <input name="verify_resume" type="radio" value="1" {#if $captcha.verify_resume=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_resume" type="radio" value="0" {#if $captcha.verify_resume=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
        {#if $_PLUG.simple.p_install==2#}
			<tr>
          <td align="right">マイクロ募集をリリース：</td>
          <td>
		  
		   <label> <input name="verify_simple" type="radio" value="1" {#if $captcha.verify_simple=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_simple" type="radio" value="0" {#if $captcha.verify_simple=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
        {#/if#}
		<tr>
          <td align="right">リンクを申請する：</td>
          <td>
		  
		   <label> <input name="verify_link" type="radio" value="1" {#if $captcha.verify_link=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_link" type="radio" value="0" {#if $captcha.verify_link=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
		<tr>
          <td align="right">パスワードを忘れました：</td>
          <td>
		  
		   <label> <input name="verify_getpwd" type="radio" value="1" {#if $captcha.verify_getpwd=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_getpwd" type="radio" value="0" {#if $captcha.verify_getpwd=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
	 </td>
        </tr>
		<tr>
          <td align="right">バックログイン：</td>
          <td>
		  
		    <label> <input name="verify_adminlogin" type="radio" value="1" {#if $captcha.verify_adminlogin=="1"#}checked="checked"{#/if#}/>
	 开启</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="verify_adminlogin" type="radio" value="0" {#if $captcha.verify_adminlogin=="0"#}checked="checked"{#/if#}/>关闭</label>
		  
		 
		   </td>
        </tr>
        <tr>
          <td align="right">&nbsp;</td>
          <td height="50" colspan="2"> 
            <input name="submit" type="submit" class="admin_submit"    value="保存"/>         </td>
        </tr>
    </table>
  </form>
<div class="toptit">コードを設定します</div>
  

    <form id="form2" name="form2" method="post"   action="?act=captcha_save" >
	{#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    <tr>
      <td width="120" height="30" align="right"  >コード幅：</td>
      <td  ><input name="captcha_width" type="text" class="input_text_200"   maxlength="3" value="{#$captcha.captcha_width#}"/>
	  <span class="admin_note">コード画像の幅、60 - 180内に推奨する、適応0 </span>
       </td>
    </tr>
	   <tr>
      <td width="120" height="30" align="right"  >コード高さ：</td>
      <td  ><input name="captcha_height" type="text" class="input_text_200"   maxlength="3" value="{#$captcha.captcha_height#}"/>
	  <span class="admin_note">検証画像の高さ、20の推奨 -  50の範囲内の値、適応の0 </span>
       </td>
    </tr> 
	    <tr>
      <td height="30" align="right"  >テキストの色：</td>
      <td   >
	  
	  <table width="100%"   border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="245" >
	<input name="captcha_textcolor"  id="captcha_textcolor" type="text" class="iColorPicker input_text_200"  onclick="iColorShow('captcha_textcolor','icp_captcha_textcolor')"  maxlength="7" value="{#$captcha.captcha_textcolor#}"/></td>
    <td><span class="admin_note" style="float:left">验证码文字颜色，空 为随机</span></td>
  </tr>
</table>

	 
	  
       </td>
    </tr>
	 <tr>
      <td height="30" align="right"  >文字サイズ：</td>
      <td   ><input name="captcha_textfontsize" type="text" class="input_text_200"   maxlength="3" value="{#$captcha.captcha_textfontsize#}"/>
	  <span class="admin_note">テキストコードサイズは、12-50の範囲に進めます/span>
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >文字の数：</td>
      <td   ><input name="captcha_textlength" type="text" class="input_text_200"   maxlength="2" value="{#$captcha.captcha_textlength#}"/>
	   <span class="admin_note">コード範囲は 2 - 6 間に勧めます，0 は自由</span>
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >テキストタイプ：</td>
      <td   >
	  
	 <label> <input name="captcha_lang" type="radio" value="en" {#if $captcha.captcha_lang=="en"#}checked="checked"{#/if#}/>
	 英文</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="captcha_lang" type="radio" value="cn" {#if $captcha.captcha_lang=="cn"#}checked="checked"{#/if#}/>中文</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <span class="admin_note">中国語コードは、システムがランダムに文字コードの検証としてフォントファイル内で使用されます、データ/フォント/ CNディレクトリにファイルをアップロードするために漢字TTFを使用する必要が</span>
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >背景色：</td>
      <td   >
	  
	   <table width="100%"   border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="245" >
	<input name="captcha_bgcolor"  id="captcha_bgcolor" type="text" class="iColorPicker input_text_200"  onclick="iColorShow('captcha_bgcolor','icp_captcha_bgcolor')"  maxlength="7" value="{#$captcha.captcha_bgcolor#}"/></td>
    <td><span class="admin_note" style="float:left">验证码背景颜色，空 为随机</span></td>
  </tr>
</table>
	  
	 
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >干渉点の数：</td>
      <td   ><input name="captcha_noisepoint" type="text" class="input_text_200"   maxlength="7" value="{#$captcha.captcha_noisepoint#}"/>
	   <span class="admin_note">ポイントコード干渉量は、0- 1000の間に勧める </span>
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >干渉行数：</td>
      <td   ><input name="captcha_noiseline" type="text" class="input_text_200"   maxlength="7" value="{#$captcha.captcha_noiseline#}"/>
	  <span class="admin_note">ラインコード干渉量、0 - 10の間に推奨します</span>
       </td>
    </tr>
	<tr>
      <td height="30" align="right"  >文字の歪みがあるかどうか</td>
      <td   >
	  <label> <input name="captcha_distortion" type="radio" value="1" {#if $captcha.captcha_distortion=="1"#}checked="checked"{#/if#}/>
	 是</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <label> <input name="captcha_distortion" type="radio" value="0" {#if $captcha.captcha_distortion=="0"#}checked="checked"{#/if#}/>否</label>&nbsp;&nbsp;&nbsp;&nbsp;
	 <span class="admin_note">文字コード効果を歪曲</span>
       </td>
    </tr>
    <tr>
      <td height="30" align="right"  >&nbsp;</td>
      <td height="50"  > 
            <input name="submit3" type="submit" class="admin_submit"    value="保存"/>
    
       </td>
    </tr>
	
  </table>
    </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
