{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="safety/admin_safety_nav.htm"#}
  <div class="clear"></div>
</div>
 

 <div class="toptit">CSRFの防御</div>
 <form action="?act=setsave" method="post"  name="form1" id="form1">
 {#$inputtoken#}
	  <table width="700" border="0" cellspacing="10" cellpadding="1" style=" margin-bottom:3px;">
        <tr>
          <td width="162" align="right">オープンCSRFの防御：</td>
          <td>
		  
		  <label>
        <input name="open_csrf" type="radio" id="open_csrf" value="1"  {#if $config.open_csrf=="1"#}checked=checked {#/if#}/>開く</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label >
<input type="radio" name="open_csrf" value="0" id="open_csrf"  {#if $config.open_csrf=="0"#}checked=checked{#/if#}/>閉じる</label>
		<span class="admin_note">開封後は効果的にフォームの送信などの操作を複製、クロスドメインのデータを提出し、提出の繰り返しを防ぐことができます。</span>  
		  </td>
        </tr>
        <tr>
          <td align="right">&nbsp;</td>
          <td>
            <input name="submit2" type="submit" class="admin_submit"    value="保存修改"/>          </td>
        </tr>
      </table>
  </form>

</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
