{#include file="sys/admin_header.htm"#}
<script type="text/javascript">
$(document).ready(function()
{
	//点击批量取消	
	$("#ButDel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
		
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="hrtools/admin_hrtools_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="seltpye_x">
		<div class="left">分类选择</div>	
		<div class="right">
		<a href="{#"h_typeid:"|qishi_parse_url#}" {#if $smarty.get.h_typeid==""#}class="select"{#/if#}>不限</a>
		{#foreach from=$category item=list#}
	  <a href="{#"h_typeid:"|cat:$list.c_id|qishi_parse_url#}"  {#if $smarty.get.h_typeid==$list.c_id#}class="select"{#/if#}>{#$list.c_name#}</a> 
	  {#/foreach#}
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
</div>
  <form id="form1" name="form1" method="post" action="?act=hrtools_del">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td  class="admin_list_tit admin_list_first">
      <label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />
      文档名称</label>
	  </td>
      <td  class="admin_list_tit"> 文档路径 </td>
      <td align="center" class="admin_list_tit" width="130">所属分类</td>
      <td  align="center"  class="admin_list_tit" width="100">排序</td>
      <td  align="center"  class="admin_list_tit" width="100">操作</td>
    </tr>
	{#foreach from=$hrtools item=list#}
	<tr>
      <td  class="admin_list admin_list_first">
      
	  <input name="id[]" type="checkbox" id="id" value="{#$list.h_id#}"  />
<a href="?act=edit&id={#$list.h_id#}" >{#$list.h_filename#}</a>
		 
	  
	  </td>
      <td  class="admin_list">
	    <a href="{#$list.h_fileurl#}" target="_blank">{#$list.h_fileurl#}</a></td>
      <td align="center" class="admin_list">
	  <a href="?h_typeid={#$list.h_typeid#}" >{#$list.c_name#}</a>
	  
	  &nbsp;
	  </td>
      <td  align="center"  class="admin_list">
	  {#$list.h_order#}
	  </td>
      <td  align="center"  class="admin_list">
	 <a href="?act=edit&id={#$list.h_id#}" >修改</a>
	  </td>
    </tr>
	 {#/foreach#}
  </table>
   </form>
   {#if !$hrtools#}
<div class="admin_list_no_info">没有任何信息！</div>
{#/if#}
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
<input type="button" class="admin_submit" id="ButAudit" value="添加"  onclick="window.location='?act=add'"/>
<input type="button" class="admin_submit" id="ButDel" value="删除"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"名称"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												 
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="list" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		
	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>