{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="hrtools/admin_hrtools_nav.htm"#}
  <div class="clear"></div>
</div>
 <div class="toptip">
	<h2>提示：</h2>
	<p>
系统分类不能删除！<br />
</p>
</div>
  <form id="form1" name="form1" method="post" action="?act=del_category">
  {#$inputtoken#}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan"  >
    <tr>
      <td height="26" class="admin_list_tit admin_list_first" >
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>分类名称</label></td>
	  <td   align="center"  class="admin_list_tit">类型</td>
	  <td   align="center"  class="admin_list_tit">排序</td>
      <td width="150"   class="admin_list_tit">操作</td>
    </tr>
	 {#foreach from=$category item=list#}
     <tr>
      <td   class="admin_list admin_list_first" >
      <input type="checkbox" name="id[]" value="{#$list.c_id#}"   />
	  {#$list.c_name#}
	  <span style="color:#CCCCCC">(id:{#$list.c_id#})</span>	  </td>
	   <td align="center"  class="admin_list">
	    {#if $list.c_adminset=="1"#}
			   <span style="color:#FF6600">系统分类</span>
			   {#else#}
			     自定义
			   {#/if#}
			    </td>
			    <td align="center"  class="admin_list">
	    {#$list.c_order#}  </td>
      <td class="admin_list">
	 <a href="?act=edit_category&id={#$list.c_id#}">修改</a>&nbsp;&nbsp;
			 </td>
    </tr>
	 {#/foreach#}
	</table>
	<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
        <input name="ButADD" type="button" class="admin_submit" id="ButADD" value="添加分类"  onclick="window.location='?act=category_add'"/>
		<input name="ButDel" type="submit" class="admin_submit" id="ButDel"  value="删除所选" onclick="return confirm('你确定要删除吗？')"/>
		</td>
        <td width="305" align="right">
	  
	    </td>
      </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>