{#include file="sys/admin_header.htm"#}
<script type="text/javascript" src="js/jquery.userinfotip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#ButAudit").QSdialog({
	DialogTitle:"请选择",
	DialogContent:"#AuditSet",
	DialogContentType:"id",
	DialogAddObj:"#OpAudit",	
	DialogAddType:"html"	
	});
	$("#ButPhotoresume").QSdialog({
	DialogTitle:"请选择",
	DialogContent:"#PhotoresumeSet",
	DialogContentType:"id",
	DialogAddObj:"#OpPhotoresume",	
	DialogAddType:"html"	
	});
	//点击批量删除	
	$("#ButDel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&delete=true");
			$("form[name=form1]").submit()
		}
	});
	$("#Butrefresh").click(function(){
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&refresh=ok");
			$("form[name=form1]").submit()
	});
	
	$("#fail").click(function(){
		$("#reason").show();
	});
	$("#success").click(function(){
		$("#reason").hide();
	});

		
});
</script>
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
可见简历是指：审核通过,全公开,完整指数大于>60%的简历。反之为非可见简历<br />
</p>
</div>


<div class="seltpye_y">

	<div class="tit link_lan">
	<strong>简历列表</strong><span>(共找到{#$total_val#}条)</span>
	<a href="?act=list">[恢复默认]</a>
	<div class="pli link_bk"><u>每页显示：</u>
	<a href="{#"perpage:10"|qishi_parse_url#}" {#if $smarty.get.perpage=="10"#}class="select"{#/if#}>10</a>
	<a href="{#"perpage:20"|qishi_parse_url#}" {#if $smarty.get.perpage=="20"#}class="select"{#/if#}>20</a>
	<a href="{#"perpage:30"|qishi_parse_url#}" {#if $smarty.get.perpage=="30"#}class="select"{#/if#}>30</a>
	<a href="{#"perpage:60"|qishi_parse_url#}" {#if $smarty.get.perpage=="60"#}class="select"{#/if#}>60</a>
	<div class="clear"></div>
	</div>
	</div>	
	<div class="list">
	  <div class="t">审核状态</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"audit:"|qishi_parse_url#}" {#if $smarty.get.audit==""#}class="select"{#/if#}>不限</a>
		<a href="{#"audit:1"|qishi_parse_url#}" {#if $smarty.get.audit=="1"#}class="select"{#/if#}>审核通过</a>
		<a href="{#"audit:2"|qishi_parse_url#}" {#if $smarty.get.audit=="2"#}class="select"{#/if#}>等待审核</a>
		<a href="{#"audit:3"|qishi_parse_url#}" {#if $smarty.get.audit=="3"#}class="select"{#/if#}>审核未通过</a>
	  </div>
    </div>
	
	<div class="list" >
	  <div class="t">照片可见</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"photo:"|qishi_parse_url#}" {#if $smarty.get.photo==""#}class="select"{#/if#}>不限</a>
		<a href="{#"photo:1"|qishi_parse_url#}" {#if $smarty.get.photo=="1"#}class="select"{#/if#}>可见</a>
		<a href="{#"photo:0"|qishi_parse_url#}" {#if $smarty.get.photo=="0"#}class="select"{#/if#}>不可见</a>
	  </div>
    </div>
	
	
	
	<div class="list" >
	  <div class="t">照片审核</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"photo_audit:"|qishi_parse_url#}" {#if $smarty.get.photo_audit==""#}class="select"{#/if#}>不限</a>
		<a href="{#"photo_audit:1"|qishi_parse_url#}" {#if $smarty.get.photo_audit=="1"#}class="select"{#/if#}>照片审核通过</a>
		<a href="{#"photo_audit:2"|qishi_parse_url#}" {#if $smarty.get.photo_audit=="2"#}class="select"{#/if#}>照片待审核</a>
		<a href="{#"photo_audit:3"|qishi_parse_url#}" {#if $smarty.get.photo_audit=="3"#}class="select"{#/if#}>照片审核未通过</a>
	  </div>
    </div>
	
	 
	
	<div class="list" >
	  <div class="t">添加时间</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"addtimesettr:"|qishi_parse_url#}" {#if $smarty.get.addtimesettr==""#}class="select"{#/if#}>不限</a>
		<a href="{#"addtimesettr:3"|qishi_parse_url#}" {#if $smarty.get.addtimesettr=="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"addtimesettr:7"|qishi_parse_url#}" {#if $smarty.get.addtimesettr=="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"addtimesettr:30"|qishi_parse_url#}" {#if $smarty.get.addtimesettr=="30"#}class="select"{#/if#}>一月内</a>

	  </div>
    </div>
	
	<div class="list" >
	  <div class="t">刷新时间</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"settr:"|qishi_parse_url#}" {#if $smarty.get.settr==""#}class="select"{#/if#}>不限</a>
		<a href="{#"settr:3"|qishi_parse_url#}" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"settr:7"|qishi_parse_url#}" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"settr:30"|qishi_parse_url#}" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>一月内</a>

		
	  </div>
    </div>
	
	
	
	<div class="clear"></div>
</div>
 
  <form id="form1" name="form1" method="post" action="?act=manager_perform">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0"   class="link_lan">
    <tr>
      <td    class="admin_list_tit admin_list_first" >
     <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>姓名</label>	 </td>
     
	   <td   align="center"  width="80" class="admin_list_tit">完整指数 </td>
	  <td  align="center"  width="6%" class="admin_list_tit">等级</td>
	   <td align="center"  width="10%"  class="admin_list_tit">审核状态</td> 
      <td   align="center" width="8%" class="admin_list_tit">公开</td>
	  <td align="center" width="8%" class="admin_list_tit">照片</td>
      <td align="center" width="12%"  class="admin_list_tit">添加时间</td>
	  <td align="center"  width="12%"  class="admin_list_tit">刷新时间</td>	
      <td align="center"  width="15%" class="admin_list_tit">操作</td>
    </tr>
	{#foreach from=$resumelist item=list#}
	<tr>
      <td  class="admin_list admin_list_first" >
	  <input name="id[]" type="checkbox" id="id" value="{#$list.id#}"  />
     	{#if $list.complete=="1"#}
		<a href="{#$list.resume_url#}" target="_blank">{#$list.fullname#}</a>
		{#else#}
		{#$list.fullname#} <span style="color: #999999">[不完整]</span>
		{#/if#}
		{#if $list.photo_img<>""#}
		<span style="color: #009900"  class="vtip" title="<img src={#$QISHI.resume_photo_dir_thumb#}{#$list.photo_img#}  border=0  align=absmiddle>">[照片]</span>
		{#/if#}	
		<a href="admin_mail.php?act=send&email={#$list.email#}&uid={#$list.uid#}"> <img src="images/email.gif" border="0" title="发送邮件" /></a>	
		 {#if $list.telephone#}<a href="admin_sms.php?act=send&mobile={#$list.telephone#}&uid={#$list.uid#}"><img src="images/sms.gif" border="0" title="发送短信" /></a>{#/if#}	
		  </td>
	 <td align="center"  class="admin_list">
	 <div style="width:100%; border:1px #CCCCCC solid; padding:1px; text-align:left; position:relative; font-size:0px">
	 	<div style=" background-color: #99CC00; height:10px; color:#990000;width:{#$list.complete_percent#}%;font-size:0px"></div>
		<div style="position:absolute; top:0px; left:40%; font-size:10px;">{#$list.complete_percent#}%</div>
	 </div>	</td>
	
      <td align="center"  class="admin_list">经理人简历  </td>
	   <td align="center"  class="admin_list">
	   {#if $list.audit=="1"#}审核通过{#/if#}
	   {#if $list.audit=="2"#}<span style="color: #FF6600">等待审核</span>{#/if#}
	   {#if $list.audit=="3"#}<span style="color: #666666">审核未通过</span>{#/if#}	   </td>   
      <td align="center"  class="admin_list">
	  {#if $list.display=="1"#}
	  		公开
	  {#else#}
	  		半公开
	  {#/if#}	  </td>
      <td align="center"  class="admin_list">
	   {#if $list.photo==""#}
	  无照片
	  {#else#}
	  	 {#if $list.photo_audit=="1"#}
		 审核通过{#if $list.photo_display<>"1"#}[不可见]{#/if#}
		 {#/if#}
		 {#if $list.photo_audit=="2"#}<span style="color:#FF0000">等待审核</span>{#/if#}
		 {#if $list.photo_audit=="3"#}
		 审核未通过 
		 {#/if#}
	  {#/if#}	  </td>
      <td align="center"  class="admin_list">{#$list.addtime|date_format:"%Y-%m-%d"#}</td>
	  <td align="center"  class="admin_list">{#$list.refreshtime|date_format:"%Y-%m-%d %H:%M"#}</td>
      <td align="center"  class="admin_list">
	  <a href="{#$list.resume_url#}"  target="_blank">查看</a>
	  &nbsp;
		<a href="?act=management&id={#$list.uid#}"  target="_blank" class="userinfo"  id="{#$list.uid#}">管理</a>	  </td>
    </tr>
	 {#/foreach#}
  </table>
  <span id="OpAudit"></span>
  <span id="OpPhotoresume"></span>
 </form>
{#if !$resumelist#}
<div class="admin_list_no_info">没有任何信息！</div>
{#/if#}
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
<input type="button" class="admin_submit" id="ButAudit" value="审核简历" />
<input type="button" class="admin_submit" id="ButPhotoresume" value="审核照片" />
<input type="button" class="admin_submit" id="Butrefresh" value="刷新"/>
<input type="button" class="admin_submit" id="ButDel" value="删除"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"姓名"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="姓名">姓名</li>
														<li id="2" title="ID">ID</li>
														<li id="3" title="UID">UID</li>
														<li id="4" title="电话">电话</li>
														<li id="5" title="QQ">QQ</li>
														<li id="6" title="地址">地址</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="manager_resume" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		  <script type="text/javascript">$(document).ready(function(){showmenu("#key_type_cn","#sehmenu","#key_type");});	</script>
	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
<div id="AuditSet" style="display: none" >
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="6" >
    <tr>
      <td height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选简历设置为：</strong></td>
    </tr>
	      <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
	  <label >
                      <input name="audit" type="radio" value="1" checked="checked" id="success" />
                      审核通过 </label>	  </td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td width="400"><label >
                      <input type="radio" name="audit" value="3"  id="fail"/>
                       审核未通过</label></td>
    </tr>
    <tr>
      <td width="50" height="25">&nbsp;</td>
      <td>
                      <label><input type="checkbox" name="pms_notice" value="1"  checked="checked"/>
					  站内信通知
                       </label></td>
    </tr>
	<tr style="display:none" id="reason">
      <td width="40" height="25" >理由：</td>
      <td>
         <textarea name="reason" id="reason" cols="40" style="font-size:12px"></textarea>            
      </td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td><span style="border-top: 1px #A3C7DA solid;">
        <input type="submit" name="set_audit" value="确定" class="admin_submit">
      </span></td>
    </tr>		  
  </table>
  </div>
<div id="TalentSet" style="display:none" >
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="6" >
    <tr>
      <td height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选简历设置为：</strong></td>
    </tr>
	      <tr>
      <td width="27" height="25">&nbsp;</td>
      <td>
	  <label >
                      <input name="talent" type="radio" value="1" checked="checked"  />
                      普通人才 </label>	  </td>
    </tr>
    <tr>
      <td width="27" height="25">&nbsp;</td>
      <td width="425"><label ><input type="radio" name="talent" value="2"  />高级人才</label>	  </td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td><span style="border-top: 1px #A3C7DA solid;">
        <input type="submit" name="set_talent" value="确定" class="admin_submit">
      </span></td>
    </tr>
  </table>
</div>
<div id="PhotoresumeSet" style="display: none" >
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="6" >
    <tr>
      <td height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选简历设置为：</strong></td>
    </tr>
	      <tr>
      <td width="27" height="25">&nbsp;</td>
      <td>
	  <label >
                      <input name="photoaudit" type="radio" value="1" checked="checked"  />
                      照片审核通过 </label>	  </td>
    </tr>
    <tr>
      <td width="27" height="25">&nbsp;</td>
      <td width="425"><label >
                      <input type="radio" name="photoaudit" value="3"  />
                       照片审核未通过</label></td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td><span style="border-top: 1px #A3C7DA solid;">
        <input type="submit" name="set_photoaudit" value="确定" class="admin_submit">
      </span></td>
    </tr>		  
  </table>
</div>
</body>
</html>