{#include file="sys/admin_header.htm"#}
<script type="text/javascript">
$(document).ready(function()
{
  $("#form1").validate({
    rules:{
      username:{
        required: true,
        byteRangeLength:[3, 18],
        userName : true,
        nomobile : true,
        remote:{     
        url:"{#$HIGHWAY.site_dir#}plus/ajax_user.php",     
        type:"post",    
        data:{"usname":function (){return $("#username").val()},"act":"check_usname","time":function (){return new Date().getTime()}}     
        }
     },
     email:{
      required: true,
      email:true,
      remote:{     
        url:"{#$HIGHWAY.site_dir#}plus/ajax_user.php",     
        type:"post",    
        data:{"email":function (){return $("#email").val()},"act":"check_email","time": new Date().getTime()}     
        }
     },
      password:{
        required: true,
      minlength:6,
        maxlength:18
       },
       password1:{
       required: true,
       equalTo:"#password"
       }
    },
    messages: {
      username: {
        required: "ユーザ名入力",
        remote: jQuery.format("ユーザ名すでに存在または正しくない")
       },
      email: {
        required: "メールアドレス入力してください",
        email: jQuery.format("电子メールフォーマットエラー"),
        remote: jQuery.format("email")  
      },
      password: {
        required: "パスワード入力",
        minlength: jQuery.format("入力文字は少なくとも{0}"),
      maxlength: jQuery.format("入力内容{0}文字以内")
       },
       password1: {
       required: "パスワード入力",
        equalTo: "パスワード一致しません"
       }
     },
     errorPlacement: function(error, element) {
      if ( element.is(":radio") )
          error.appendTo( element.parent().next().next() );
      else if ( element.is(":checkbox") )
          error.appendTo ( element.next());
      else
          error.appendTo(element.next());
    }
  });
    //中文字两个字节
    jQuery.validator.addMethod("byteRangeLength", function(value, element,  param) {
    var length = value.length;
    for (var i = 0; i < value.length; i++) {
        if (value.charCodeAt(i) > 127) {
        length++;
        }
      }
    return this.optional(element) || (length >= param[0] && length <= param[1]);
    }, "値が3-18文字");
     //字符验证
    jQuery.validator.addMethod("userName", function(value, element) {
    return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value);
    }, "英字、数字とアンドバーだけ");
    jQuery.validator.addMethod("nomobile", function(value, element) { 
    	var tel = /^((0\d{1}-{4}-{4}))$/;
    var $cstr= true;
    if (tel.test(value)) $cstr= false;
    return $cstr || this.optional(element); 
  }, "ユーザ名は携帯番号ではない");
});
</script>
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptit">個人メンバーを追加します</div>
  <form id="form1" name="form1" method="post" action="?act=members_add_save">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  >
    <tr>
      <td width="120" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">ユーザー名：</td>
      <td style=" border-bottom:1px #CCCCCC dashed"> <input name="username" type="text" class="input_text_200" id="username" maxlength="25" value=""/> <label></label></td>
    </tr>
    <tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">E-mailアドレス：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" ><input name="email" type="text" class="input_text_200" id="email" maxlength="25" value=""/><label></label></td>
    </tr>
    <tr>
      <td height="30" align="right" >パスワード：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" ><input name="password" type="password" class="input_text_200" id="password" maxlength="25" value=""/><label></label></td>
    </tr>
    <tr>
      <td height="30" align="right" >もう一度パスワードを入力します。</td>
      <td  ><input name="password1" type="password" class="input_text_200" id="password1" maxlength="25" value=""/><label></label></td>
    </tr>
    <tr>
      <td height="30" align="right" >&nbsp;</td>
      <td   >
        <input type="hidden" name="member_type"  value="2" />
        <input name="submit3" type="submit" class="admin_submit"    value="追加"/>
        <input name="submit22" type="button" class="admin_submit" value="戻る" onclick="window.location.href='?act=members_list'"/>
      </td>
    </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
