#npcatch li {
	margin: 0px; overflow: hidden; clear: both;
}
#npcatch img {
	padding: 5px 10px; float: left;
}
#npcatch .title {
	padding: 5px 0px; width: 100%; float: left;
}
#npcatch li:hover {
	
}
#npcatch li:hover .title {
	
}
#npcatch li:hover .title a {
	
}
#npcatch li:hover .date {
	
}
#npcatch img {
	padding: 0px; width: 25%; float: left;
}
#npcatch .title {
	padding: 0px; width: 65%; float: left;
}
