{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="category/admin_category_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
使う中の分類削除すると、情報も削除する。<br />
</p>
</div>
<div class="toptit">分類変更</div>
<form id="form1" name="form1" method="post" action="?act=edit_district_save">
{#$inputtoken#}
<table width="100%" border="0" cellspacing="6" cellpadding="0" >
 <tr>
    <td width="120" align="right">カテゴリー：</td>
    <td>
	<select name="parentid">
	  <option value="0" {#if "0"==$district.parentid#}selected="selected"{#/if#}>トップカテゴリ</option>
	  {#highway_get_classify set="リスト名:c_province,タイプ:HW_district,id:0"#}{#foreach from=$c_province item=list#}
	  <option value="{#$list.id#}" {#if $list.id==$district.parentid#}selected="selected"{#/if#}>{#$list.categoryname#}</option>
	 {#/foreach#}
	</select>
	</td>
 </tr>
  <tr>
    <td width="120" align="right">名前：</td>
    <td><input name="categoryname" type="text" class="input_text_200"  value="{#$district.categoryname#}"/></td>
  </tr>
   <tr>
    <td width="120" align="right">並べ替え：</td>
    <td><input name="category_order" type="text" class="input_text_200"  value="{#$district.category_order#}"/></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td width="120"> </td>
    <td>
	<input name="id" type="hidden" value="{#$district.id#}" />
	<input type="submit" name="addsave" value="保存" class="admin_submit" />
		  <input name="submit22" type="button" class="admin_submit"    value="戻る" onclick="window.location='?act=district'"/>
	
	</td>
  </tr>
</table>
 </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
