{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="category/admin_category_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptit">修改分类</div>
<form id="form1" name="form1" method="post" action="?act=edit_category_save">
{#$inputtoken#}
<table width="100%" border="0" cellspacing="6" cellpadding="0" style="border-bottom:1px #96B7E2 dashed">
  <tr>
    <td width="120" align="right">名称:</td>
    <td><input name="c_name" type="text" class="input_text_200"  value="{#$category.c_name#}" /></td>
  </tr>
    <tr>
    <td width="120" align="right">排序:</td>
    <td>	
	<input name="c_order" type="text" class="input_text_200"  value="{#$category.c_order#}" />
	<input name="c_alias" type="hidden" value="{#$category.c_alias#}" />
	<input name="c_parentid" type="hidden" value="{#$category.c_parentid#}" />
	</td>
  </tr>
   <tr>
    <td width="120" align="right">首字母索引:</td>
    <td>	
	<input name="c_index" type="text" class="input_text_200" maxlength="60"  value="{#$category.c_index#}"  /> 
	<span class="admin_note">如：分类名称为：鼎元时代中心则为：<strong>d</strong></span>
	</td>
  </tr>
   {#if $category.c_alias=="QS_officebuilding"#}
   <tr>
    <td width="120" align="right">说明:</td>
    <td>	
	<input name="c_note" type="text" class="input_text_200" maxlength="60"  value="{#$category.c_note#}"  /> 
	<span class="admin_note">如：建设与东环路交叉口鼎元时代中心</span>
	</td>
  </tr>
  {#/if#}
</table>
<table width="100%" border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td width="120"> </td>
    <td>
	<input name="c_id" type="hidden" value="{#$category.c_id#}" />
	<input type="submit" name="save" value="保存" class="admin_submit" />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location='?act=show_category&alias={#$category.c_alias#}'"/>
	
	</td>
  </tr>
</table>
 </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>