<div class="topnav">
<a href="admin_category.php" {#if  $navlabel=='district'#}class="select"{#/if#}><u>地区分类</u></a>
<a href="admin_category.php?act=jobs" {#if  $navlabel=='jobs'#}class="select"{#/if#}><u>职位分类</u></a>
<a href="admin_category.php?act=colorlist" {#if  $navlabel=='color'#}class="select"{#/if#}><u>颜色分类</u></a>
<a href="admin_category.php?act=major" {#if  $navlabel=='major'#}class="select"{#/if#}><u>专业分类</u></a>
<a href="admin_category.php?act=grouplist" {#if $navlabel=='group'#}class="select"{#/if#}><u>其他分类组</u></a>
<div class="clear"></div>
</div>