{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="category/admin_category_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
正式使用后删除分类会导致与此分类关联的信息类别丢失，修改不会受影响。<br />
</p>
</div>
<div class="toptit">修改分类</div>
<form id="form1" name="form1" method="post" action="?act=edit_jobs_category_save">
{#$inputtoken#}
<table width="100%" border="0" cellspacing="6" cellpadding="0" >
 <tr>
    <td width="120" align="right">所属分类:</td>
    <td>
	<select name="parentid">
	  <option value="0" {#if "0"==$category.parentid#}selected="selected"{#/if#}>顶级分类</option>
	  {#qishi_get_classify set="列表名:jobs,类型:QS_jobs,id:0"#}{#foreach from=$jobs item=list#}
	  <option value="{#$list.id#}" {#if $list.id==$category.parentid#}selected="selected"{#/if#}>{#$list.categoryname#}</option>
	  {#qishi_get_classify set="列表名:sub_jobs,类型:QS_jobs,id:$list.id"#}{#foreach from=$sub_jobs item=s_list#}
	  <option value="{#$s_list.id#}" {#if $s_list.id==$category.parentid#}selected="selected"{#/if#}>├─{#$s_list.categoryname#}</option>
	  {#/foreach#}
	{#/foreach#}
	
	</select>
	</td>
 </tr>
  <tr>
    <td width="120" align="right">名称:</td>
    <td><input name="categoryname" type="text" class="input_text_200"  value="{#$category.categoryname#}"/></td>
  </tr>
   <tr>
    <td width="120" align="right">排序:</td>
    <td><input name="category_order" type="text" class="input_text_200"  value="{#$category.category_order#}"/></td>
  </tr>
  <tr>
    <td width="120" align="right">范例:</td>
    <td><textarea name="content" cols="70" rows="7" style="font-size:12px;"/>{#$category.content#}</textarea><br />
<span style="color:#666666">注：只三级分类添加范例即可</span>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td width="120"> </td>
    <td>
	<input name="id" type="hidden" value="{#$category.id#}" />
	<input type="submit" name="addsave" value="保存" class="admin_submit" />
		  <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location='?act=jobs'"/>
	
	</td>
  </tr>
</table>
 </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>