{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="mail/admin_mail_nav.htm"#}
  <div class="clear"></div>
</div>
	<div class="toptip">
	<h2>提示：</h2>
		<p>你可以用HTML美化邮件内容模板。</p>
		</div>
	<div class="toptit">邮件发送规则</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
       <tr>
        <td height="30" style="font-size:12px;padding-left:20px;">
		<form action="admin_mail.php?act=email_config_save" method="post"   name="form1" id="form1">
		<table width="242" border="0" cellspacing="7" cellpadding="1" style=" margin-bottom:3px;" class="link_lan">
            <tr>
              <td width="137" align="right">注册会员：</td>
              <td width="80"><a href="?act=mail_templates_edit&templates_name=set_reg&thisname=注册会员">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">申请职位：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_applyjobs&thisname=申请职位">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">邀请面试：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_invite&thisname=邀请面试">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">新增订单：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_order&thisname=新增订单">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">付款成功：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_payment&thisname=付款成功">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">修改密码：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_editpwd&thisname=修改密码">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">职位审核通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_jobsallow&thisname=职位审核通过">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">职位审核未通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_jobsnotallow&thisname=职位审核未通过">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">营业执照审核通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_licenseallow&thisname=营业执照审核通过">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">营业执照审核未通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_licensenotallow&thisname=营业执照审核未通过">[编辑模板]</a></td>
            </tr>
            
            <tr>
              <td align="right">开通电子地图：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_addmap&thisname=开通电子地图">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">简历审核通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_resumeallow&thisname=简历审核通过">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">简历审核未通过：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_resumenotallow&thisname=简历审核未通过">[编辑模板]</a></td>
            </tr>			
            <tr>
              <td height="55" align="right">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
		  </form>		  </td>
      </tr>
    </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>