{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="mail/admin_mail_nav.htm"#}
  <div class="clear"></div>
</div>
	<div class="toptip">
	<h2>ヒント：</h2>
		<p>あなたは、hTML形式の電子メールコンテンツテンプレートを美化することができます。</P>
		</div>
	<div class="toptit">メール送信のルール</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
       <tr>
        <td height="30" style="font-size:12px;padding-left:20px;">
		<form action="admin_mail.php?act=email_config_save" method="post"   name="form1" id="form1">
		<table width="242" border="0" cellspacing="7" cellpadding="1" style=" margin-bottom:3px;" class="link_lan">
            <tr>
              <td width="137" align="right">登録メンバー：</td>
              <td width="80"><a href=“?act=mail_templates_edit&templates_name=set_reg&thisname=会員登録”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">職位申請：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_applyjobs&thisname=職位申請”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">面接を招待：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_invite&thisname =面接の招待。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">新規受注：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_order&thisname =新規受注。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">お支払い成功。</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_payment&thisname=支払い成功">[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">パスワードを変更します：</td>
              <td><hREF = “？法= mail_templates_edit＆templates_name = set_editpwd＆thisname =パスワードの変更”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ジョブの承認：</td>
              <td><hREF = “？法= mail_templates_edit＆templates_name = set_jobsallow＆thisname =ジョブの承認”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">職位審査未通過：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_jobsnotallow&thisname=ポスト監査に合格しませんでした。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスの承認：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_licenseallow&thisname= =ビジネスライセンスの承認。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスのレビューに失敗しました：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_licensenotallow&thisname=ビジネスライセンス監査に合格しませんでした。”>[编辑模板]</a></td>
            </tr>
            
            <tr>
              <td align="right">電子地図を開通する</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_addmap&thisname= =電子地図開始。”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">履歴審査通過</td>
              <td><hREF = “?act= mail_templates_edit＆templates_name = set_resumeallow＆thisname =履歴書の承認”>[编辑模板]</a></td>
            </tr>
            <tr>
              <td align="right">履歴書審査未通過：</td>
              <td><a href="?act=mail_templates_edit&templates_name=set_resumenotallow&thisname=履歴書審査未通過”>[编辑模板]</a></td>
            </tr>			
            <tr>
              <td height="55" align="right">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
		  </form>		  </td>
      </tr>
    </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
