{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="mail/admin_mail_nav.htm"#}
  <div class="clear"></div>
</div>
	<div class="toptip">
	<h2>ヒント：</h2>
	  <p>電子メール通知を設定あまりにも多くのプロジェクトは、システムリソースを消費します。<br />
	  </p>
		</div>
	<div class="toptit">メール送信のルール</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
       <tr>
        <td height="30" style="font-size:12px;padding-left:20px;">
		<form action="admin_mail.php?act=email_rule_save" method="post"   name="form1" id="form1">
		{#$inputtoken#}
		<table width="700" border="0" cellspacing="7" cellpadding="1" style=" margin-bottom:3px;" class="link_lan">
            <tr>
              <td width="137" align="right">登録メンバー：</td>
              <td width="150">
			  <label>
                <input name="set_reg" type="radio" value="1"  {#if $mailconfig.set_reg=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                  <input type="radio" name="set_reg" value="0"  {#if $mailconfig.set_reg=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（登録したメンバーは、成功した時にメール通知を送信するために）</td>
            </tr>
            <tr>
              <td align="right">職位申請：</td>
              <td>
			   <label>
                <input name="set_applyjobs" type="radio" value="1"  {#if $mailconfig.set_applyjobs=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                  <input type="radio" name="set_applyjobs" value="0"  {#if $mailconfig.set_applyjobs=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（個人、会社に通知するかどうかを、ジョブに適用しました）</td>
            </tr>
            <tr>
              <td align="right">面接を招待：</td>
              <td>
			  <label>
                <input name="set_invite" type="radio" value="1"  {#if $mailconfig.set_invite=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_invite" type="radio"  value="0"  {#if $mailconfig.set_invite=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">(個人面接は招待企業が個人に通知する場合）</td>
            </tr>
            <tr>
              <td align="right">新規受注：</td>
              <td>
			    <label>
                <input name="set_order" type="radio" value="1"  {#if $mailconfig.set_order=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_order" type="radio"  value="0"  {#if $mailconfig.set_order=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（会員注文は電子メール通知必要かどうか）</td>
            </tr>
            <tr>
              <td align="right">お支払い成功。</td>
              <td>
			   <label>
                <input name="set_payment" type="radio" value="1"  {#if $mailconfig.set_payment=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_payment" type="radio"  value="0"  {#if $mailconfig.set_payment=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（お支払いを完了するとメールの通知が必要かどうか）</td>
            </tr>
            <tr>
              <td align="right">パスワードを変更します：</td>
              <td>
			  <label>
                <input name="set_editpwd" type="radio" value="1"  {#if $mailconfig.set_editpwd=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_editpwd" type="radio"  value="0"  {#if $mailconfig.set_editpwd=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（ユーザーがパスワードを変更する場合にはEメール通知）</td>
            </tr>
            <tr>
              <td align="right">ジョブの承認：</td>
              <td>
			    <label>
                <input name="set_jobsallow" type="radio" value="1"  {#if $mailconfig.set_jobsallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_jobsallow" type="radio"  value="0"  {#if $mailconfig.set_jobsallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（職務審査通過のメール知らせが必要かどうか）</td>
            </tr>
            <tr>
              <td align="right">職位審査未通過：</td>
              <td>
			    <label>
                <input name="set_jobsnotallow" type="radio" value="1"  {#if $mailconfig.set_jobsnotallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_jobsnotallow" type="radio"  value="0"  {#if $mailconfig.set_jobsnotallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（職位審査未通過の知らせ）</td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスの承認：</td>
              <td>
			  <label>
                <input name="set_licenseallow" type="radio" value="1"  {#if $mailconfig.set_licenseallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_licenseallow" type="radio"  value="0"  {#if $mailconfig.set_licenseallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">(電子メールでのビジネスライセンス監査通知するかどうか）</td>
            </tr>
            <tr>
              <td align="right">ビジネスライセンスのレビューに失敗しました：</td>
              <td>
			    <label>
                <input name="set_licensenotallow" type="radio" value="1"  {#if $mailconfig.set_licensenotallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_licensenotallow" type="radio"  value="0"  {#if $mailconfig.set_licensenotallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（ビジネスライセンスの審査は、電子メールで通知するかどうか）</td>
            </tr>
         
            <tr>
              <td align="right">電子地図を開通する</td>
              <td> <label>
                <input name="set_addmap" type="radio" value="1"  {#if $mailconfig.set_addmap=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_addmap" type="radio"  value="0"  {#if $mailconfig.set_addmap=="0"#} checked="checked" {#/if#} />
              不通知</label></td>
              <td  style="color:#999999">（ビジネスマップ場合に電子メール通知を開きました）</td>
            </tr>
            <tr>
              <td align="right">履歴審査通過</td>
              <td>
			  <label>
                <input name="set_resumeallow" type="radio" value="1"  {#if $mailconfig.set_resumeallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_resumeallow" type="radio"  value="0"  {#if $mailconfig.set_resumeallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">（電子メールによる通知かどうか審査を再開）</td>
            </tr>
            <tr>
              <td align="right">履歴書審査未通過：</td>
              <td>
			    <label>
                <input name="set_resumenotallow" type="radio" value="1"  {#if $mailconfig.set_resumenotallow=="1"#} checked="checked" {#/if#}/>
                通知</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input name="set_resumenotallow" type="radio"  value="0"  {#if $mailconfig.set_resumenotallow=="0"#} checked="checked" {#/if#} />
              不通知</label>			  </td>
              <td  style="color:#999999">(個人履歴書審査未通過を知らせるかどうか）</td>
            </tr>
            <tr>
              <td align="right">&nbsp;</td>
              <td height="55"><span style="font-size:14px;">
                <input name="save" type="submit" class="admin_submit"    value="保存修改"/>
              </span></td>
              <td>&nbsp;</td>
            </tr>
          </table>
		  </form>		  </td>
      </tr>
    </table>
  
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
