<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>モバイルチャンネル -  {#$HIGHWAY.site_name#} </title>
<link rel="shortcut icon" href="{#$HIGHWAY.site_dir#}favicon.ico" />
<meta name="author" content="海威人材" />
<meta name="copyright" content="highwayns.com" />
<link rel="stylesheet" href="{#$HIGHWAY.site_template#}css/mobile.css" />
<script src="{#$HIGHWAY.site_template#}js/jquery.js"></script>
</head>
<body>
	<div id="mobile-header">
		<div class="container clearfix">
			<div class="m-logo f-left"><a class="f-left" href="{#$HIGHWAY.site_dir#}"><img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.web_logo#}" alt="{#$HIGHWAY.site_name#}" width="261" height="70" border="0" /></a><a href="{#$HIGHWAY.site_dir#}" class="back-index f-left"></a></div>
			<ul class="mobile-nav f-right">
				<li{#if $smarty.get.type=='' || $smarty.get.type=='touch'#} class="active"{#/if#}><a href="?type=touch">触屏版</a></li>
				<li class="last{#if $smarty.get.type=='weixin'#} active{#/if#}"><a href="?type=weixin">微信版</a></li>
			</ul>
		</div>
	</div>
	{#if $smarty.get.type=='' || $smarty.get.type=='touch'#}
	<!--touch-->
	<div id="banner-block">
		<div class="banner-wrap wap">
			<div class="container">
				<div class="wpage-img"><img src="{#$HIGHWAY.site_template#}images/mobile/wap-banner.jpg" alt="" /></div>
				<div class="a-text-wrap">
					<h1>タッチスクリーン版、大量仕事を手にいれる</h1>
					<h2>モバイルブラウザはURLを入力します</h2>
					<div class="wap-input">{#$HIGHWAY.wap_domain#}</div>
					<div class="wap-code">
						<img src="{#$HIGHWAY.site_dir#}plus/url_qrcode.php?url={#$HIGHWAY.wap_domain#}" alt="二维码" width="118" height="118" />
						<p>すぐにオープンスイープ</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-main">
		<div class="m-row wap">
			<div class="container clearfix">
				<div class="row-left-text f-left">
					<h2>通用モデル</h2>
					<p>ダウンロードする必要のない、プラットフォームの制約がない、タッチできる<br />手机就能上网找工作！机会不再稍纵即逝，<br />すぐタッチできる</P>
				</div>
				<div class="row-right-box f-right">
					<div class="more-phone"><img src="{#$HIGHWAY.site_template#}images/mobile/wap-img1.jpg" alt="" /></div>
				</div>
			</div>
		</div>
		<div class="m-row wap odd">
			<div class="container clearfix">
				<div class="row-left-phone f-left">
					<div class="wap-phone-block"><img src="{#$HIGHWAY.site_template#}images/mobile/wap-img2.jpg" alt="" /></div>
				</div>
				<div class="row-right-text f-right">
					<h2>機能は割引しません</h2>
					<p>ロスレス移植PCは、すべてのコア機能を終了し、シンプルだが単純ではない<BR />单！简历管理？求职应聘？均可随时随地、<br />簡単に解決する！</P>
				</div>
			</div>
		</div>
		<div class="m-row wap">
			<div class="container clearfix">
				<div class="row-left-text f-left">
					<h2>ジョブ管理</h2>
					<p>完全な就職管理センター、いつでも見られる<br />申请、收藏记录、收到的面试邀请等，工<br />チャンスをつかみ把握する。</P>
				</div>
				<div class="row-right-box f-right">
					<div class="phone-block ios-phone">
						<div class="app-img"><img src="{#$HIGHWAY.site_template#}images/mobile/wap-img3.jpg" alt="" /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-row wap odd">
			<div class="container clearfix">
				<div class="row-left-phone f-left">
					<div class="wap-phone-block"><img src="{#$HIGHWAY.site_template#}images/mobile/wap-img4.jpg" alt="" /><div class="wap-sp-block"></div></div>
					
				</div>
				<div class="row-right-text f-right">
					<h2>大量のポスト</h2>
					<p>大量仕事を検索する！<br />按关键字、行业、工作年限、地区多重组合，<br />正確な検索ジョブ。</P>
				</div>
			</div>
		</div>
	</div>
	<!--touch-->
	{#elseif $smarty.get.type=='weixin'#}
	<!--weixin-->
	<div id="banner-block">
		<div class="banner-wrap wechat">
			<div class="container">
				<div class="chatpage-img"><img src="{#$HIGHWAY.site_template#}images/mobile/wechat-banner.jpg" alt="" /></div>
				<div class="a-text-wrap">
					<div class="weimg-box clearfix">
						<div class="wechat-icon f-left"></div>
						<div class="wechat-code-box f-right"><img src="{#$HIGHWAY.upfiles_dir#}{#$HIGHWAY.weixin_img#}" alt=“QRコード” width="100" height="100" /></div>
					</div>
					<h4>wechat”QRコード”で仕事を探す</h4>
					<div class="wechat-sreach">公衆番号を検索します：<B>{#$HIGHWAY.weixin_mpnumber#}</b> または<b>{#$HIGHWAY.weixin_mpname#}</b></div>
					<p>最新の募集、緊急募集、更新して、即時面接招待を受け取る…… <br />从此不再错过任何工作机会</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-main">
		<div class="wechat-top-title">
			<div class="container clearfix">
				<h2>マイクロチャネル公共番号をバインドする方法</h2>
			</div>
		</div>
		<div class="m-row weixin odd">
			<div class="container clearfix">
				<div class="wechat-left-text f-left">
					<h3>01</h3>
					<p>QRコードをスキャンして、いいねをクリックしたら簡単な募集。大量<br/>职位，随时随地任您搜！</p>
				</div>
				<div class="wechat-right-img f-right">
					<div class="wechat-phone"><img src="{#$HIGHWAY.site_template#}images/mobile/wechat-img1.jpg" alt="" /></div>
					<div class="wechat-enlarge enlarge1"></div>
				</div>
			</div>
		</div>
		<div class="m-row weixin">
			<div class="container clearfix">
				<div class="wechat-left-img f-left">
					<div class="wechat-phone"><img src="{#$HIGHWAY.site_template#}images/mobile/wechat-img2.jpg" alt="" /></div>
					<div class="wechat-enlarge enlarge2"></div>
				</div>
				<div class="wechat-right-text f-right">
					<h3>02</h3>
					<p>気に入り後にメッセージをポップアップ表示されます、<br /をクリック>绑定账号。</p>
				</div>
			</div>
		</div>
		<div class="m-row weixin odd">
			<div class="container clearfix">
				<div class="wechat-left-text f-left">
					<h3>03</h3>
					<p>あなたの口座番号とパスワードのプラットフォームを入力し、もはや心配する必要はありません<br />心错过任何求职动态了！</p>
				</div>
				<div class="wechat-right-img f-right">
					<div class="wechat-phone"><img src="{#$HIGHWAY.site_template#}images/mobile/wechat-img3.jpg" alt="" /></div>
					<div class="wechat-enlarge enlarge3"></div>
				</div>
			</div>
		</div>
	</div>
	<!--weixin-->
	{#/if#}
<div id="footer">
	<p>住所：{#$HIGHWAY.address#}電話：{#$HIGHWAY.bootom_tel#}レコードのサイト：{#$HIGHWAY.icp#} {#$HIGHWAY.statistics#} </P>
	<p>{#$HIGHWAY.site_name#}   Powered by   <a href="http://highwayns.com/" target="_blank">highwayns v{#$HIGHWAY.version#}</a>   著作権所有|偽造禁止</P>
	<p>{#$HIGHWAY.bottom_other#}</p>
</div>
</body>
</html>
