{#include file="sys/admin_header.htm"#}
<script type="text/javascript" charset="gbk" src="ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="gbk" src="ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="gbk" src="ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
	showmenu("#type_id_cn","#menu1","#type_id");
	$("#FormData").validate({
    rules:
    {
      title:"required",
      type_id:"required",
      content:"required"
    },
    messages:
    {
      title: 
      {
        required: "请输入标题"
      },
      type_id: 
      {
        required: "请选择分类"
      },
      content: 
      {
        required: "请输入内容"
      }
    },
    errorPlacement: function(error, element)
    {
      if ( element.is(":radio") )
      error.appendTo( element.parent().next().next() );
      else if ( element.is(":checkbox") )
      error.appendTo ( element.next());
      else
      error.appendTo(element.parent());
    }
    // <span style="color:#FF3300; font-weight:bold">*</span>
  });
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="article/admin_article_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptit">修改新闻</div>
  <form action="?act=editsave" method="post" enctype="multipart/form-data" name="FormData" id="FormData" >
  {#$inputtoken#}
    <table width="100%" border="0" cellpadding="3" cellspacing="0"  class="admin_table">
      <tr>
        <td width="70" align="right"  style=" border-top:0px"><span style="color:#FF3300; font-weight:bold">*</span>新闻标题：</td>
        <td width="400" style=" border-top:0px"><input name="title" id="title" type="text"  class="input_text_400"  value="{#$edit_article.title#}"/></td>
        <td style=" border-top:0px">
		<div class="color_layer">	
		<div id="color_box" onclick="color_box_display()" ></div><input type="hidden" name="tit_color" id="tit_color" >
		{#include file="sys/admin_select_color.htm"#}
		</div>
		
		</td>
      </tr>
      <tr>
        <td align="right" ><span style="color:#FF3300; font-weight:bold">*</span>新闻分类：</td>
        <td colspan="2" >		
		<div>		
		<input type="text" value="{#foreach from=$article_category item=list#}{#if $edit_article.type_id==$list.id#}{#$list.categoryname#}{#/if#}{#/foreach#}"  readonly="readonly" name="type_id_cn" id="type_id_cn" class="input_text_200 input_text_selsect"/>
		<input name="type_id" id="type_id" type="hidden" value="{#$edit_article.type_id#}" />
		<div id="menu1" class="menu">
			<ul>	
			{#foreach from=$article_category item=list#}		
			<li id="{#$list.id#}" title="{#$list.categoryname#}" >{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
		  </td>
      </tr>
	  <tr>
        <td align="right" >缩&nbsp;&nbsp;略&nbsp;&nbsp;图：</td>
        <td colspan="2" >
		{#if $edit_article.Small_img#}
		<a href="{#$thumb_dir#}{#$edit_article.Small_img#}" target="_blank" >
		<img src="{#$thumb_dir#}{#$edit_article.Small_img#}" border="0" />
		 </a>
		 <a href="?act=del_img&id={#$edit_article.id#}&img={#$edit_article.Small_img#}&{#$urltoken#}" style="color: #006600">
		 [删除重新上传]
		 </a>
		 {#else#}
		<input type="file" name="Small_img"    onKeyDown="alert('请点击右侧“浏览”选择您电脑上的图片！');return false"   style="height:21px; width:210px; border:1px #999999 solid" />
		{#/if#}
		</td>
      </tr>
    </table>
    <table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100" >
          <script id="editor" name="content" type="text/plain" style="width:700px;height:300px;">{#$edit_article.content#}</script>
          <script type="text/javascript">
              var ue = UE.getEditor('editor');
          </script>
        </td>
      </tr>
      <tr>
        <td height="50" align="center" >
		<input name="id" type="hidden" value="{#$edit_article.id#}" />
		<input type="submit" name="Submit" value="确定提交" class="admin_submit"   />

          <input type="reset" name="Submit2" value="重置表单" class="admin_submit"   /></td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="5" cellspacing="0" class="admin_table">
      <tr>
        <td width="120" align="right" >是否显示：</td>
        <td width="200" >
<label><input name="is_display" type="radio" value="1" checked="checked"  {#if $edit_article.is_display=="1"#}checked="checked"  {#/if#}/>显示</label>
<label><input type="radio" name="is_display" value="0" {#if $edit_article.is_display=="0"#}checked="checked"  {#/if#}/> 不显示</label>

</td>
        <td width="120" align="right" >文章排序：</td>
        <td ><input name="article_order" type="text"  class="input_text_150" id="article_order" style="width:50px;" maxlength="8" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))" value="{#$edit_article.article_order#}"/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;数字越大越靠前</span></td>
        <td width="250" >&nbsp;</td>
      </tr>
      <tr>
        <td align="right" >作者：</td>
        <td ><input name="author" type="text" class="input_text_150" id="author" value="{#$edit_article.author#}" maxlength="20"/></td>
        <td align="right" >标题加粗：</td>
        <td ><input name="tit_b" type="checkbox" id="tit_b" value="1"  {#if $edit_article.tit_b=="1"#}checked="checked"  {#/if#}/>
        加粗</td>
        <td >&nbsp;</td>
      </tr>
	  <tr>
        <td align="right" >来源：</td>
        <td ><input name="source" type="text" class="input_text_150" id="source" maxlength="50" value="{#$edit_article.source#}"/></td>
        <td align="right" >外部链接：</td>
        <td ><input name="is_url" type="text" class="input_text_150" id="is_url" value="{#$edit_article.is_url#}" maxlength="100"/></td>
	    <td >&nbsp;</td>
	  </tr>
	  <tr>
        <td align="right" >文章属性：</td>
        <td colspan="4" >
		{#qishi_news_property set="列表名:property"#}
		{#foreach from=$property item=list#}
		<label><input name="focos" type="radio" value="{#$list.id#}" {#if $edit_article.focos==$list.id#}checked="checked" {#/if#}/>
		{#$list.categoryname#}  </label>&nbsp;&nbsp;&nbsp; 
		{#/foreach#}
		
	 </td>
      </tr>
      <tr>
        <td align="right" > 
      
        keywords：</td>
        <td colspan="4" ><input name="seo_keywords" type="text" class="input_text_400" id="keywords" value="{#$edit_article.seo_keywords#}" maxlength="30"   /></td>
      </tr>
      <tr>
        <td align="right" valign="top" >description：</td>
        <td colspan="4" ><textarea name="seo_description" class="input_textarea_400" id="description">{#$edit_article.seo_description#}</textarea></td>
      </tr>
    </table>
  </form>
</div>
{#if $edit_article.tit_color#}
<script type="text/javascript" >
var rgb="{#$edit_article.tit_color#}";
document.FormData.tit_color.value= rgb;
document.getElementById('tit_color').style.background=rgb;
document.getElementById('color_box').style.background=rgb;
</script>
{#/if#}
{#include file="sys/admin_footer.htm"#}
</body>
</html>