<div class="topnav">
<a href="admin_article.php?act=newslist" {#if $act=='newslist'#}class="select"{#/if#}><u>ニュース一覧</u></a>
<a href="admin_article.php?act=news_add" {#if $act=='news_add'#}class="select"{#/if#}><u>ユース追加</u></a> 
<a href="?act=category" {#if $act=="category" || $act=="category_add" ||  $act=="edit_category"#}class="select"{#/if#}><u>ニュース分類</u></a>
<a href="?act=property" {#if $act=="property" || $act=="property_add" || $act=="edit_property"#}class="select"{#/if#}><u>ニュース属性</u></a>
<div class="clear"></div>
</div>
