{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
	<div class="pagetit">
		<div class="ptit"> {#$pageheader#}</div>
		{#include file="company/admin_company_nav.htm"#}
	  <div class="clear"></div>
	</div>
	<div class="toptip">
		<h2>报表说明：</h2>
		<p>
			系统根据不同的运营模式，获取该模式下的营业额报表！
		</p>
	</div>

	  <div class="seltpye_x">
			<div class="left">选择时间</div>	
			<div class="right">
			<a href="{#"pie_type:1"|qishi_parse_url#}" {#if $smarty.get.pie_type=="1" || $smarty.get.pie_type==""#}class="select"{#/if#}>月份饼图</a>
			<a href="{#"pie_type:2"|qishi_parse_url#}" {#if $smarty.get.pie_type=="2"#}class="select"{#/if#}>季度饼图</a>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
	  </div> 
	<script language="JavaScript" src="js/FusionCharts.js"></script>
	<div id="chartdiv"  > 
			FusionCharts. 
	</div>
	<script type="text/javascript">
			   var chart = new FusionCharts("statement/Pie2D.swf", "ChartId", "500", "500");
			   chart.setDataURL("statement/meal_log_pie.xml");		   
			   chart.render("chartdiv");
	</script>
</div>
  </div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>