{#include file="sys/admin_header.htm"#}
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function()
{
	showmenu("#nature_cn","#menu1","#nature");
	showmenu("#trade_cn","#menu2","#trade");
	showmenulayer("#district_cn","#menu3","#district","#sdistrict","",QS_city);
	showmenu("#scale_cn","#menu4","#scale");	
        jQuery.validator.addMethod("isPhoneNumber", function(value, element) {   
            var tel = /^((0\d{2,3}-[2-9][0-9]{6,7})|(0\d{2,3}[2-9][0-9]{6,7})|([2-9][0-9]{6,7})|(1[35847]\d{9}))$/;
            return this.optional(element) || (tel.test(value));
        }, "请正确填写联系电话");
      $("#Form1").validate({
            rules:{
                  companyname:{
                        required: true
                  },
                  nature:{
                        required: true
                  },
                  trade:{
                        required: true
                  },
                  district:{
                        required: true
                  },
                  scale:{
                        required: true
                  },
                  contact:{
                        required: true
                  },
                  telephone:{
                        required:true,
                        isPhoneNumber:true,
                  },
                  email:{
                        email:true,
                        required:true
                  },
                  address:{
                        required: true
                  },
                  contents:{
                        required: true
                  },
            },
            messages: {
                  companyname: {
                        required: jQuery.format("请输入公司名称")
                  },
                  nature: {
                        required: jQuery.format("请选择企业性质")
                  },
                  trade: {
                        required: jQuery.format("请选择所属行业")
                  },
                  district: {
                        required: jQuery.format("请选择所在地区")
                  },
                  scale: {
                        required: jQuery.format("请选择公司规模")
                  },
                  contact: {
                        required:("请填写联系人"),
                  },
                  telephone: {
                        required: jQuery.format("请填写联系电话"),
                        isPhoneNumber: jQuery.format("请正确填写手机号码"),
                  },
                  email: {
                        required: jQuery.format("请填写电子邮箱"),
                        email: jQuery.format("请正确填写电子邮箱"),
                  },
                  address: {
                        required:("请填写通讯地址"),
                  },
                  contents: {
                        required:("请填写公司介绍"),
                  },
            }
      });
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptit">修改企业资料 - <span style="color:#0066CC">{#$company_profile.companyname#}</span></div>
<form id="Form1" name="Form1" method="post" action="?act=company_profile_save" >
{#$inputtoken#}
<table width="100%" border="0" cellpadding="4" cellspacing="0"   >
<tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">所属会员：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed">
{#$company_profile.user.username#}
		 </td>
      </tr>
	  <tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">添加时间：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed">
		  {#$company_profile.addtime|date_format:"%Y-%m-%d"#}
		 </td>
        </tr>
		<tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">添加方式：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed">
		  {#if $company_profile.robot == "0"#}人工{#/if#}
		{#if $company_profile.robot == "1"#}采集{#/if#}
		 </td>
        </tr>
		<tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">营业执照：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed" class="link_lan">
		  {#if $company_profile.certificate_img#}
		  <a href="{#$certificate_dir#}{#$company_profile.certificate_img#}" target="_blank" title="点击查看"> 已上传</a>		 
		  {#else#}
		  未上传
		  {#/if#}
		 </td>
        </tr>
        <tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"> 认证状态：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed">
		  <label><input name="audit"  type="radio" value="1" {#if $company_profile.audit eq "1"#}checked="checked"{#/if#} />认证通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <label><input name="audit"  type="radio" value="2" {#if $company_profile.audit eq "2"#}checked="checked"{#/if#} />等待认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <label><input name="audit"  type="radio" value="3" {#if $company_profile.audit eq "3"#}checked="checked"{#/if#} />认证未通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   <label><input name="audit"  type="radio" value="0" {#if $company_profile.audit eq "0"#}checked="checked"{#/if#} />未认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </td>
        </tr>
		
  <tr>
    <td width="110" height="30" align="right"   style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>公司名称：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed"><input name="companyname" type="text" class="input_text_200" id="companyname" maxlength="30"  style="width:350px;" value="{#$company_profile.companyname#}" /></td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>企业性质：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<div>
	{#qishi_get_classify set="类型:QS_company_type,列表名:li"#}
		<input type="text" value="{#$company_profile.nature_cn|default:"请选择"#}"  readonly="readonly" name="nature_cn" id="nature_cn" class="input_text_200 input_text_selsect"/>
		<input name="nature" id="nature" type="hidden" value="{#$company_profile.nature#}" />
		<div id="menu1" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
		  
		 </td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold;">*</span>所属行业：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<div>
	{#qishi_get_classify set="类型:QS_trade,列表名:li"#}
		<input type="text" value="{#$company_profile.trade_cn|default:"请选择"#}"  readonly="readonly" name="trade_cn" id="trade_cn" class="input_text_200 input_text_selsect"/>
		<input name="trade" id="trade" type="hidden" value="{#$company_profile.trade#}" />
		<div id="menu2" class="dmenu shadow">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	
	 </td>
  </tr>
  <tr>
    <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>所在地区：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<div>
		<input type="text" value="{#$company_profile.district_cn|default:"请选择"#}"  readonly="readonly" name="district_cn" id="district_cn" class="input_text_200 input_text_selsect"/>
		<input name="district" id="district" type="hidden" value="{#$company_profile.district#}" />
		<input name="sdistrict" id="sdistrict" type="hidden" value="{#$company_profile.sdistrict#}" />
		<div id="menu3" class="dmenu shadow">
			<ul>
			{#qishi_get_classify set="列表名:c_province,类型:QS_district,id:0"#}
			{#foreach from=$c_province item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		<div id="menu3_s" class="dmenu shadow" style="display:none"></div>
		  </div>
 
	</td>
  </tr>
  <tr>
    <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>公司规模：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<div>
	{#qishi_get_classify set="类型:QS_scale,列表名:li"#}
		<input type="text" value="{#$company_profile.scale_cn|default:"请选择"#}"  readonly="readonly" name="scale_cn" id="scale_cn" class="input_text_200 input_text_selsect"/>
		<input name="scale" id="scale" type="hidden" value="{#$company_profile.scale#}" />
		<div id="menu4" class="menu">
			<ul>
			{#foreach from=$li item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		  </div>
	 </td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">注册资金：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed"><input name="registered" type="text" class="input_text_200" id="registered" maxlength="5" value="{#$company_profile.registered#}"  style="width:80px;" onKeyUp="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>
      万
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>
        <input name="currency" type="radio" value="人民币"  {#if $company_profile.currency=="" || $company_profile.currency == "人民币"#} checked="checked"{#/if#} />
        人民币</label>
      &nbsp;&nbsp;&nbsp;
      <label>
        <input type="radio" name="currency" value="美元" {#if $company_profile.currency eq "美元"#} checked="checked"{#/if#}/>
        美元</label>    </td>
  </tr>
		
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联 系 人：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<input name="contact" type="text" class="input_text_200" id="contact" maxlength="25" value="{#$company_profile.contact#}"/>
    <label><input name="contact_show"  type="checkbox" value="1" {#if $company_profile.contact_show=="1"#}checked="checked"{#/if#} />联系人在职位详细页中显示
	</td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联系电话：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<input name="telephone" type="text" class="input_text_200" id="telephone" maxlength="25" value="{#$company_profile.telephone#}"/>
    <label><input name="telephone_show"  type="checkbox" value="1" {#if $company_profile.telephone_show=="1"#}checked="checked"{#/if#} />联系电话在职位详细页中显示
	</td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联系邮箱：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<input name="email" type="text" class="input_text_200" id="email" maxlength="25" value="{#$company_profile.email#}"/>
    <label><input name="email_show"  type="checkbox" value="1" {#if $company_profile.email_show=="1"#}checked="checked"{#/if#} />联系邮箱在职位详细页中显示
	</td>
  </tr>
  <tr>
    <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">公司网址：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed"><input name="website" type="text" class="input_text_200" id="website" maxlength="80" value="{#$company_profile.website#}"/></td>
  </tr>
  <tr>
    <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>通讯地址：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed">
	<input name="address" type="text" class="input_text_200" id="address" maxlength="80"  style="width:447px;" value="{#$company_profile.address#}"/>
    <label><input name="address_show"  type="checkbox" value="1" {#if $company_profile.address_show=="1"#}checked="checked"{#/if#} />联系地址在职位详细页中显示
	</td>
  </tr>

  <tr>
    <td align="right" valign="top"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span> 公司介绍：</td>
    <td  style=" border-bottom:1px #CCCCCC dashed"><textarea name="contents" class="company_mb_textarea" id="introduction" style="width:450px; height:150px;"onpropertychange="if(this.value.length&gt;2000){this.value=this.value.slice(0,2000)}">{#$company_profile.contents#}</textarea>
        <br />
        <div style="line-height:30px; height:30px;"> <span style="color:#333333">请将字数控制在2000字以内进行填写</span></div></td>
  </tr>
  <tr>
            <td height="30" align="right"   >&nbsp;</td>
            <td height="120"   >
              <input type="hidden" name="id"  value="{#$company_profile.id#}" />
			  <input type="hidden" name="cuid"  value="{#$company_profile.uid#}" />
			  <input type="hidden" name="url"  value="{#$url#}" />
              <input name="submit3" type="submit" class="admin_submit"    value="保存修改"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location.href='{#$url#}'"/>
            </span></td>
          </tr>
  </table>
  </form>
  	
{#if $comaudit#}	
<form id="Form2" name="Form2" method="post" action="?act=del_auditreason">
<div class="toptit">企业审核日志</div>
		<table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  >
		{#foreach from=$comaudit item=list#}
		<tr>
          <td height="30" width="180" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
		  <label>
			  <input type="checkbox" name="a_id[]" value="{#$list.id#}">
			  <span style="font-weight:bold">{#$list.addtime|date_format:"%Y-%m-%d %H:%M:%S"#}</span> 
		  <label>
		  </td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
		  	{#$list.reason#}
		  </td>
        </tr>
		{#/foreach#}
		<tr>
            <td height="30" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">&nbsp;</td>
            <td height="120" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed"><span style="font-size:14px;">
              <input name="submit3" type="submit" class="admin_submit"    value="删除所选"/> 
              <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location.href='{#$url#}'"/>
            </span></td>
          </tr>
  </table>
 </form>
 {#/if#}
		
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>