<div class="topnav">
<a href="?act=company_list" {#if $navlabel=='company_list' || $navlabel==''#}class="select"{#/if#}><u>すべて企業</u></a>
{#if $HIGHWAY.operation_mode=='1'#}  
<a href="?act=meal_log&mode=1" {#if $navlabel=='meal_log'#}class="select"{#/if#}><u>コース開通記録</u></a>
{#elseif $HIGHWAY.operation_mode=='2'||$HIGHWAY.operation_mode=='3'#}  
<a href="?act=meal_members" {#if $navlabel=='meal_members'#}class="select"{#/if#}><u>コース購入会員</u></a>
<a href="?act=meal_log&mode=2" {#if $navlabel=='meal_log'#}class="select"{#/if#}><u>コース開通と変更記録</u></a>
{#/if#}
<a href="?act=meal_log_pie" {#if $navlabel=='meal_log_pie'#}class="select"{#/if#}><u>営業レポート</u></a>
<div class="clear"></div>
</div>
