{#include file="sys/admin_header.htm"#}
<script type="text/javascript" src="js/jquery.userinfotip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#ButAudit").QSdialog({
	DialogTitle:"请选择",
	DialogContent:"#AuditSet",
	DialogContentType:"id",
	DialogAddObj:"#OpAudit",	
	DialogAddType:"html"	
	});
	$("#Butdelay").QSdialog({
	DialogTitle:"系统提示",
	DialogContent:"#delayset",
	DialogContentType:"id",
	DialogAddObj:"#Opdelay",	
	DialogAddType:"html"	
	});
	//点击批量删除	
	$("#ButDlete").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&delete=true");
			$("form[name=form1]").submit()
		}
	});
	//刷新
	$("#Butrefresh").click(function(){
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&refresh=ok");
			$("form[name=form1]").submit()
	});
	
	//纵向列表排序
	$(".listod .txt").each(function(i){
	var li=$(this).children(".select");
	var htm="<a href=\""+li.attr("href")+"\" class=\""+li.attr("class")+"\">"+li.text()+"</a>";
	li.detach();
	$(this).prepend(htm);
	});
	
		
	$("#fail").click(function(){
		$("#reason").show();
	});
	$("#success").click(function(){
		$("#reason").hide();
	});
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>
有效职位是指：审核通过,有效期未到期,服务未到期,正常招聘的职位。反之为无效职位<br />
</p>
</div>


<div class="seltpye_y">

	<div class="tit link_lan">
	<strong>求人の掲載</strong><span>（{#$totaljob#}記事を見つけました）</span>
	<a href="?">[既定値に戻します]</a >
	<div class="pli link_bk"><u>每页显示：</u>
	<a href="{#"perpage:10"|highway_parse_url#}" {#if $smarty.get.perpage=="10"#}class="select"{#/if#}>10</a>
	<a href="{#"perpage:20"|highway_parse_url#}" {#if $smarty.get.perpage=="20"#}class="select"{#/if#}>20</a>
	<a href="{#"perpage:30"|highway_parse_url#}" {#if $smarty.get.perpage=="30"#}class="select"{#/if#}>30</a>
	<a href="{#"perpage:60"|highway_parse_url#}" {#if $smarty.get.perpage=="60"#}class="select"{#/if#}>60</a>
	<div class="clear"></div>
	</div>
	</div>	
    <div class="list">
	  <div class="t">アクティブ</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"jobtype:1"|highway_parse_url#}" {#if $smarty.get.jobtype=="1"#}class="select"{#/if#}>効果的なポストの<span>({#$total.0#})</span></a>
		<a href="{#"jobtype:2"|highway_parse_url#}" {#if $smarty.get.jobtype=="2"#}class="select"{#/if#}>無効なポストの<span>({#$total.1#})</span></a>
	  </div>
    </div>
	  {#if $smarty.get.jobtype=="2"#}
	<div class="list">
	  <div class="t">監査ステータス</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"audit:"|highway_parse_url#}" {#if $smarty.get.audit==""#}class="select"{#/if#}>制限なし</a>
		<a href="{#"audit:1"|highway_parse_url#}" {#if $smarty.get.audit=="1"#}class="select"{#/if#}>承認の<span>({#$total.2#})</span></a>
		<a href="{#"audit:2"|highway_parse_url#}" {#if $smarty.get.audit=="2"#}class="select"{#/if#}>審査待ち<span>({#$total.3#})</span></a>
		<a href="{#"audit:3"|highway_parse_url#}" {#if $smarty.get.audit=="3"#}class="select"{#/if#}>承認されていません<span>({#$total.4#})</span></a>
	  </div>
    	</div>
    	<div class="list listod">
	  <div class="t">無効な理由</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"invalid:"|highway_parse_url#}" {#if $smarty.get.invalid==""#}class="select"{#/if#}>制限なし</a>
		<a href="{#"invalid:1"|highway_parse_url#}" {#if $smarty.get.invalid=="1"#}class="select"{#/if#}>位置</a>
		<a href="{#"invalid:2"|highway_parse_url#}" {#if $smarty.get.invalid=="2"#}class="select"{#/if#}>パッケージ</a>
		<a href="{#"invalid:3"|highway_parse_url#}" {#if $smarty.get.invalid=="3"#}class="select"{#/if#}>仕事停止</a>
		<a href="{#"invalid:4"|highway_parse_url#}" {#if $smarty.get.invalid=="4"#}class="select"{#/if#}>非承認</a>
	  </div>
    	</div>
	  {#/if#} 
 	 
 	 
 	<div class="list listod" > 
	  <div class="t">有効期限</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"deadline:"|highway_parse_url#}" {#if $smarty.get.deadline ==""#}class="select"{#/if#}>制限なし</a>
		{#if $smarty.get.jobtype=="2"#}		
		<a href="{#"deadline:1"|highway_parse_url#}" {#if $smarty.get.deadline =="1"#}class="select"{#/if#}>期限切れ</a>
		<a href="{#"deadline:2"|highway_parse_url#}" {#if $smarty.get.deadline =="2"#}class="select"{#/if#}>期限が切れていない</a>
		{#/if#}
		<a href="{#"deadline:3"|highway_parse_url#}" {#if $smarty.get.deadline =="3"#}class="select"{#/if#}>3日以内に</a>
		<a href="{#"deadline:7"|highway_parse_url#}" {#if $smarty.get.deadline =="7"#}class="select"{#/if#}>一週以内</a>
		<a href="{#"deadline:30"|highway_parse_url#}" {#if $smarty.get.deadline =="30"#}class="select"{#/if#}>一月内</a>
	  </div>
    </div>
	
	<div class="list listod" >
	  <div class="t">プロモーションタイプ</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"promote:"|highway_parse_url#}" {#if $smarty.get.promote==""#}class="select"{#/if#}>制限なし</a>
		<a href="{#"promote:-1"|highway_parse_url#}" {#if $smarty.get.promote=="-1"#}class="select"{#/if#}>プロモーション情報はありません</a>
		{#foreach from=$cat item=li#}
		<a href="{#"promote:"|cat:$li.cat_id|highway_parse_url#}" {#if $smarty.get.promote==$li.cat_id#}class="select"{#/if#}>{#$li.cat_name#}</a>
		{#/foreach#}
	  </div>
    </div>
	
	 
	
	<div class="list" >
	  <div class="t">タイムの追加</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"addsettr:"|highway_parse_url#}" {#if $smarty.get.addsettr==""#}class="select"{#/if#}>制限なし</a>
		<a href="{#"addsettr:3"|highway_parse_url#}" {#if $smarty.get.addsettr=="3"#}class="select"{#/if#}>3日以内に</a>
		<a href="{#"addsettr:7"|highway_parse_url#}" {#if $smarty.get.addsettr=="7"#}class="select"{#/if#}>一週以内</a>
		<a href="{#"addsettr:30"|highway_parse_url#}" {#if $smarty.get.addsettr=="30"#}class="select"{#/if#}>一月内</a>
	  </div>
    </div>
	
	<div class="list" >
	  <div class="t">タイム更新</div>	  
	  <div class="txt link_lan">
	 	<a href="{#"settr:"|highway_parse_url#}" {#if $smarty.get.settr==""#}class="select"{#/if#}>制限なし</a>
		<a href="{#"settr:3"|highway_parse_url#}" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>3日以内に</a>
		<a href="{#"settr:7"|highway_parse_url#}" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>一週以内</a>
		<a href="{#"settr:30"|highway_parse_url#}" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>一月内</a>
	  </div>
    </div>
	
	
	
	<div class="clear"></div>
</div>



  
  <form id="form1" name="form1" method="post" action="?act=jobs_perform">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td   class="admin_list_tit admin_list_first">
      <label id="chkAll"><input type=“checkbox” name=“ “ title=“全部選択/逆選択” id=“chk”/>职位名称</label></td>
      <td  class="admin_list_tit">会社掲載</td>
	  <td align="center"  width="10%" class="admin_list_tit">監査ステータス</td>
	  <td align="center" width="5%" class="admin_list_tit">ソース</td>
	  <td align="center"  width="8%" class="admin_list_tit">時間を追加します</td>
      <td align="center" width="8%"  class="admin_list_tit">有効期限</td>
      <td align="center" width="8%"  class="admin_list_tit">タイム更新</td>
	    <td align="center" width="4%" class="admin_list_tit">クリック</td>
	    <td align="center" width="9%" class="admin_list_tit">履歴書を受け取ります</td>
      
      <td    width="100" align="center"  class="admin_list_tit">操作</td>
	
    </tr>
	{#foreach from=$jobs item=list#}
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="y_id[]" type="checkbox" id="y_id" value="{#$list.id#}"  />		
		 <a href="{#$list.jobs_url#}" target="_blank"{#if $list.deadline<$smarty.now || $list.display == "2"#}style="color:#999999"{#/if#}  >{#$list.jobs_name#}</a>		 
		 {#if $list.emergency == "1"#}&nbsp;<span style="color: #FF6600">[緊急募集] </span>{#/if#}
		{#if $list.recommend == "1"#}&nbsp;<span style="color: #339900">[推奨] </span>{#/if#}
		{#if $list.stick == "1"#}&nbsp;<span style="color: #FF3399">[トップ設置] </span>{#/if#}
		{#if $list.highlight != ""#}&nbsp;<span style="color: #6633CC">[変色]</span>{#/if#}
		{#if $list.display == "2"#}&nbsp;<span style="color: #999999">[停止済み]< </span>{#/if#}		
	    </td>
        <td class="admin_list">
		<a href="{#$list.company_url#}" target="_blank" style="color: #000000" title="{#$list.companyname#}">{#$list.companyname#}</a>
		</td>
		 <td class="admin_list" align="center">
		{#if $list.audit == "1"#}
		<span style="color: #009900">承認</span>	
		{#elseif $list.audit == "2"#}
		<span style="color:#FF0000">審査待ち</span>
		{#elseif $list.audit == "3"#}
		审核未通过
		{#/if#}
		</td>
		<td class="admin_list"align="center" >
				{#if $list.robot eq "0"#}人工{#/if#}
		{#if $list.robot eq "1"#}采集{#/if#}
		</td>
		<td class="admin_list" align="center" >
		{#$list.addtime|date_format:"%Y-%m-%d"#}
		</td>
        <td class="admin_list" align="center" >
		{#if $list.deadline>$smarty.now#}
		{#$list.deadline|date_format:"%Y-%m-%d"#}
		{#else#}
			<span style="color:#FF6600">期限が切れている</span>
		{#/if#}
		</td>
       <td class="admin_list" align="center" >
		{#$list.refreshtime|date_format:"%m-%d %H:%M"#}
		</td>
		  <td class="admin_list" align="center" >
		{#$list.click#}
		</td>
		  <td class="admin_list" align="center" >
		{#$list.get_resume#}
		</td>
        <td class="admin_list" align="center" >	
		<a href="admin_memberslog.php?uid={#$list.uid#}">日誌</a>
		&nbsp;	
		<a href="?act=edit_jobs&id={#$list.id#}">変更</a> 
		&nbsp;
		<a href="?act=management&id={#$list.uid#}"  target="_blank"  class="userinfo"  id="{#$list.uid#}">管理</a> 
		</td>
      </tr>
      {#/foreach#}   
  </table>
  <span id="OpAudit"></span>
  <span id="Opdelay"></span>
  </form>
	{#if !$list#}
	<div class="admin_list_no_info">メッセージなし！</div>
	{#/if#}
	<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
          <input name="ButAudit" type="button" class="admin_submit" id="ButAudit"    value="审核"  />
		  <input type="button" name="Butrefresh"  id="Butrefresh" value="刷新" class="admin_submit"/>
		<input type="button" name="ButDlete"  id="ButDlete" value="删除" class="admin_submit"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?act=jobs">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"职位名"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="职位名">ポジション名</li>
														<li id="2" title="公司名">会社名</li>
														<li id="3" title="职位ID">ジョブID</li>
														<li id="4" title="公司ID">企業ID</li>
														<li id="5" title="会员ID">会員ID</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="jobs" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		  <script type="text/javascript">$(document).ready(function(){showmenu("#key_type_cn","#sehmenu","#key_type");});	</script>
	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
<div style="display:none" id="AuditSet">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
    <tr>
      <td width="20" height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选职位置为：</strong></td>
    </tr>
		
	      <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input name="audit" type="radio" value="1" checked="checked"  id="success" />
                      审核通过</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="radio" name="audit" value="3"  id="fail"/>
                       审核未通过</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="checkbox" name="pms_notice" value="1"  checked="checked"/>
					  站内信通知
                       </label></td>
    </tr>
	<tr style="display:none" id="reason">
      <td width="40" height="25" >理由：</td>
      <td>
         <textarea name="reason" id="reason" cols="50" style="font-size:12px"></textarea>            
      </td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td>
	  <input type="submit" name="set_audit" value="确定" class="admin_submit"/>
 </td>
    </tr>
  </table>
  </div>   
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
