{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptit">添加顾问</div>
  <form id="form1" name="form1" method="post" action="?act=consultant_add_save" enctype="multipart/form-data">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    <tr>
      <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">姓名：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"> <input name="name" type="text" class="input_text_200" id="name" maxlength="25" value=""/> </td>
    </tr>
    <tr>
      <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">照片：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed" ><input name="pic" type="file" style="width:200px; height:22px; border:1px #7797A8 solid; font-size:12px;" id="pic" value=""/></td>
    </tr>
    <tr>
      <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">QQ：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed" ><input name="qq" type="text" class="input_text_200" id="qq" maxlength="15" value=""/></td>
    </tr>
		
    <tr>
      <td height="30" align="right"  >&nbsp;</td>
      <td height="60"  ><span style="font-size:14px;">
        <input name="submit3" type="submit" class="admin_submit"    value="添加"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location.href='?act=consultant'"/>
      </span></td>
    </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>