{#include file="sys/admin_header.htm"#}

<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>ヒント：</h2>
	<p>あなたはノートを追加することにより、順序を区別することができます。</P>
  </div>
<div class="toptit">表示順序</div>
<form id="Form1" name="Form1" method="post" action="?act=order_notes_save&id={#$payment.id#}">
{#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  >
      <tr>
      <td width="160" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">支払い状況：</td>
      <td style=" border-bottom:1px #CCCCCC dashed"> {#if $payment.is_paid=="1"#}<span style="color: #FF6600">待付款...</span>{#/if#}{#if $payment.is_paid=="2"#}<span style="color: #009900">已完成{#/if#}</span></td>
    </tr>
    <tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">会員チャージのアプリケーション：</td>
      <td style=" border-bottom:1px #CCCCCC dashed"> {#$payment.payment_username.username#} </td>
    </tr>
    <tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">支払うべき金額：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >￥<span style="color:#0033CC; font-size:20px;">{#$payment.amount#}</span> 元</td>
    </tr>
	    <tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">オーダ説明：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" ><span style="color:#0033CC">{#$payment.description#}</span></td>
    </tr>
		    <tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">お支払い方法：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >{#$payment.payment_name#}</td>
    </tr>
	<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">注文番号：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >{#$payment.oid#}<input type="hidden" name="oid"  value="{#$payment.oid#}" /></td>
    </tr>
		<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">申請時間：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >{#$payment.addtime|date_format:"%Y-%m-%d   %H:%M"#}</td>
    </tr>
		<tr>
		<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">チャージ実行時間：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >{#$payment.payment_time|date_format:"%Y-%m-%d   %H:%M"#}</td>
    </tr>
		<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">メモを追加：</td>
      <td style=" border-bottom:1px #CCCCCC dashed" >
	  <textarea name="notes" style="width:300px; height:50px; font-size:12px; line-height:180%" onpropertychange="if(this.value.length>120){this.value=this.value.slice(0,120)}">{#$payment.notes#}</textarea>
	   </td>
    </tr>
    <tr>
      <td height="30" align="right" >&nbsp;</td>
      <td height="80" ><span style="font-size:14px;">
        <input type="hidden" name="url"  value="{#$url#}" /><br />
        <input name="submit3" type="submit" class="admin_submit"    value="修改备注"/>
        <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location.href='{#$url#}'"/>
      </span></td>
    </tr>
  </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>
